﻿<div class="modal fade" id="modalAddUpdateSection" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Section  </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="txtEmail">Section Name</label>
                    <input name="Email" class="form-control" id="txtEmail" placeholder="Enter Section name" ng-model="sectionAddUpdateModel.SectionName">
                </div>
                <div  class="modal-footer">

                    <a ng-hide="showUpdateSectionButton" style="cursor:pointer;" ng-click="addNewSection()"  class="edit-btn">Add Section</a>
                    <a ng-show="showUpdateSectionButton" style="cursor:pointer;" ng-click="updateSection()" class="edit-btn">Update Section</a>
                    <a  data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>

                </div>
            </div>
        </div>
    </div>
</div>
