﻿
<div class="modal fade" id="modalAssigneeEdit" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="assigneeEditForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Assignee for <span ng-bind="todoDescriptionObject.Name"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtFirstName">Assignee</label>
                        <!--<selectize placeholder='Pick Assignee...' options='projectMembersObject' config="assigneeConfig" ng-model="assigneeAddUpdateModel.AssigneeId" ng-disabled='disable'></selectize>-->
                        <select id="ddlEditNewAssignee" required ng-class="{inputError:assigneeEditForm.assignee.$dirty && assigneeEditForm.assignee.$invalid}" class="form-control" name="assignee" ng-model="assigneeAddUpdateModel.AssigneeId">
                            <option value="">--- Select Section ---</option>
                            <option ng-selected="m.Value==assigneeAddUpdateModel.AssigneeId" ng-repeat="m in projectMembersObject" value="{{m.Value}}">{{m.Text}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <span class="pull-left" ng-bind="ChangePasswordMessage" style="color:red;"></span>
                    <a href="" ng-click="AssigneeManagement.updateAssignee(assigneeEditForm.assignee.$invalid,assigneeEditForm)" class="edit-btn">Update Assignee</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

                </div>
            </div>
        </form>
    </div>
</div>
