﻿<div class="modal fade" id="modalAttachFile" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Attach File  </h4>

            </div>
            <div class="modal-body">

                <div class="form-group">
                    <div class="row">

                        <div class="col-lg-3">
                            <div style="cursor:pointer;text-align:center;margin-bottom:5px;" class="fileUpload "> <img width="40" height="40" src="../../assets/img/source/computer.png" /><input type="file" class="upload" ng-file-select="AttachmentManagement.attachFileFromLocal($files)" multiple></div>
                            <div style="text-align:center;">From Local</div>
                        </div>

                        <div class="col-lg-3">

                            <div style="cursor: pointer; text-align: center; margin-bottom: 5px;" lk-google-picker googlepicker-todo-info="todoInfo" ><img width="40" height="40" src="../../assets/img/source/google-drive.png" /></div>
                            <div style="text-align:center;">From Google Drive</div>
                        
                        </div>
                        <div class="col-lg-3">

                            <div style="cursor: pointer; text-align: center; margin-bottom: 5px;" drop-box-picker  dbpicker-todo-info="todoInfo"><img width="40" height="40" src="../../assets/img/source/drop-box.png" /></div>
                            <div style="text-align:center;">From DropBox</div>

                        </div>
                        <div class="col-lg-3">

                            <div style="cursor: pointer; text-align: center; margin-bottom: 5px;" box-picker boxpicker-todo-info="todoInfo" ><img width="40" height="40" src="../../assets/img/source/box-icon.png"  /></div>
                            <div style="text-align:center;">From Box</div>


                        </div>

                    </div>
                    

                </div>
                <div class="modal-footer">

                    <a href="" data-dismiss="modal" class="edit-btn">Close</a>

                </div>
            </div>
        </div>
    </div>

</div>

