﻿<div class="modal fade" id="modalFollowerEdit" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Followers for <span ng-bind="todoDescriptionObject.Name"></span></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtFirstName">Followers</label>

                        <div isteven-multi-select
                             input-model="newModel"
                             output-model="output"
                             button-label="icon Text"
                             item-label="icon Text"
                             tick-property="false">
                            <!--selection-mode="single"-->
                        </div>
                        <!--<selectize options='projectMembersObject' config="followerConfig" ng-model="followerAddUpdateModel.followers" ng-disabled='disable'></selectize>-->
                    </div>
                </div>
                <div class="modal-footer">
                    <span class="pull-left" ng-bind="ChangePasswordMessage" style="color:red;"></span>
                    <a href="" ng-click="FollowerManagement.updateFollower()" class="edit-btn">Save Changes</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
