﻿<div class="modal fade" id="modalClientFeedback" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Feedback </h4>
                </div>
                <div class="modal-body">


                    <div class="form-group">
                        <label for="txtEmail">Feedback</label>
                        <textarea name="teamName" class="form-control" placeholder="Enter Feedback " ng-model="clientFeedbackAddUpdateModel.feedback" required></textarea>
                    </div>


                    <div class="form-group">
                        <label for="txtEmail" style="display:block;">Rating</label>
                        <rating ng-model="clientFeedbackAddUpdateModel.rating" max="max" readonly="isReadonly" on-hover="ClientFeedbackManagement.hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></rating>
                        <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly">{{percent}}%</span>
                     </div>
                </div>
                <div class="modal-footer">

                    <a href="" ng-click="ClientFeedbackManagement.save()" class="edit-btn">Save Feedback</a>

                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


