﻿

<div class="modal fade" id="modalPaymentDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Payment Detail Options</h4>
            </div>

            <form name="PaymentDetailForm" novalidate class="css-form">
                <div class="modal-body">

                    <div class="list-group" ng-repeat="item in allCardsForPaymentDetailObject.AllCards">
                        <div class="list-group-item">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="cursor:pointer;" ng-click="clearAllCheckBoxes(item.Id)">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:center;vertical-align:middle;">
                                    <input style="visibility:visible;margin-left:10px;margin-top:50%;cursor:pointer;" ng-change="clearAllCheckBoxes(item.Id)" type="checkbox" ng-model="item.IsSelected">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="info-head">
                                        Name : <a><span ng-bind-html="item.CardName"></span></a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="pull-left" style="margin-top:10px;">
                                        Description :  <span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.CardDescription"> </span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="pull-right" style="margin-top:10px;">
                                        Card-Number :<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.CreditCardNumber"> </span> 
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!allCardsForPaymentDetailObject.AllCards.length" class="list-group-item">
                            No Record Found.
                        </div>
                    </div>

                </div>
                
                <div class="modal-footer">
                    <a href="" ng-click="selectPaymentDetail(allCardsForPaymentDetailObject.InvoiceId, allCardsForPaymentDetailObject.index)" class="edit-btn">Select Payment Detail</a>
                    <a ng-if="sectionName != 'UserSubscription'" data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                    <a ng-if="sectionName == 'UserSubscription'"style="cursor:pointer;border-radius: 4px !important;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
                </div>

            </form>


        </div>
    </div>
</div>






