﻿<style>
    .form-group label {
    color:black;
    }
</style>

<div class="modal fade" id="modalProjectAddUpdateForGlobal" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="projectAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Project </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail" >Project Name</label>
                        <input name="projectName" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectName.$dirty && projectAddUpdateForm.projectName.$invalid}" placeholder="Enter Project Name" ng-model="projectAddUpdateModel.projectName" required>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Project Description</label>
                        <textarea name="projectDescription" ng-class="{inputError:projectAddUpdateForm.projectDescription.$dirty && projectAddUpdateForm.projectDescription.$invalid}" placeholder="Enter Project description" class="form-control" ng-model="projectAddUpdateModel.projectDescription" required></textarea>
                    </div>

                    <div class="form-group" ng-if="RoleForGlobal == 1">
                        <label for="txtEmail">Estimated Hours</label>
                        <input name="projectHours" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectHours.$dirty && projectAddUpdateForm.projectHours.$invalid}" placeholder="Enter Estimated Hours For Project" ng-model="projectAddUpdateModel.projectHours" required>
                    </div>

                    <div class="form-group" ng-if="RoleForGlobal == 1" >
                        <label for="txtEmail">Estimated Budget (in $)</label>
                        <input name="projectBudget" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectBudget.$dirty && projectAddUpdateForm.projectBudget.$invalid}" placeholder="Enter Estimated Hours For Budget" ng-model="projectAddUpdateModel.projectBudget" required>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Access Level</label>
                        <!--<input name="projectBudget" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectBudget.$dirty && projectAddUpdateForm.projectBudget.$invalid}" placeholder="Enter Estimated Hours For Budget" ng-model="projectAddUpdateModel.projectBudget" required>-->

                        <table>
                            <tr ng-repeat="access in allAccessLevelFromGlobal">
                                <td>
                                    <span style="color:black;"> {{ access.name }} </span> 
                                </td>
                                <td>
                                    <input style="visibility:visible;margin-left:10px;" ng-change="clearAllCheckBoxesFromGlobal(access.id)" type="checkbox" ng-model="access.selected">
                                </td>
                            </tr>
                        </table>

                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Project Members</label>
                        <selectize options='myProjectMember.projectMembers' config="projectMembersConfig" ng-model="projectAddUpdateModel.projectMembers" ng-disabled='disable'></selectize>
                        <!--<div>
                            <div ng-repeat="item in myProjectMember.projectMembers">
                                <label>
                                    <input type="checkbox"
                                           name="item.Value"
                                           value="{{item.Value}}"
                                           ng-checked="projectAddUpdateModel.projectMembers.indexOf(item) > -1"
                                           ng-click="toggleSelection(item.Value)"
                                           style="display:block;visibility:visible;" />
                                    <span>{{item.Text}}</span>
                                </label>
                            </div>

                        </div>-->
                    </div>

                </div>
                <div class="modal-footer">

                    <a ng-hide="projectButton" href="" ng-click="addNewProjectFromGlobal(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, $event ,projectAddUpdateForm)" class="edit-btn">Add Project</a>
                    <!--<a ng-show="projectButton" href="" ng-click="updateProject(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid)" class="edit-btn">Update Project</a>-->
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
