﻿
<style>
    .profilelink {
        padding-right:10px;
    }
</style>


<div class="modal fade" id="modalProjectMembers" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                <h4 class="modal-title" style="color:white;margin-left:10px;display:inline;" id="modalProjectLabel"> Project Members</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">

                    <div class="row">
                        <div class="col-lg-12">

                            <div class="info-box-space" ng-repeat="item in projectMembersObject">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div class="profile-pic pull-left"><img ng-src="{{imgURL}}{{item.MemberProfilePhoto}}" /></div>
                                        <div class="info-head"><i class="fa fa-user"></i> Name : &nbsp;<span ng-bind="item.MemberName"></span></div>
                                        <div><i class="fa fa-envelope"></i> Email : &nbsp; <span ng-bind="item.MemberEmail"></span></div>
                                        <div><i class="fa fa-phone"></i> Phone No : &nbsp; <span ng-bind="item.MemberPhoneNo"></span></div>
                                        <div><i class="fa fa-flag"></i> Role : &nbsp; <span ng-bind="item.MemberDesignation"></span></div>
                                        
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                      
                                        <div  style="margin-top:27px;cursor:pointer;" class="pull-right" ng-class="UserId == item.MemberUserId ? 'profilelink' :''">
                                            <span id="span_profilelink" data-nodrag ng-if="UserId == item.MemberUserId" class="label label-success process-label" style="cursor:default;">You</span>
                                            <a ng-if="UserId != item.MemberUserId" href="#" class="edit-btn"  ng-href="#/user/profile/{{item.MemberUserId}}" target="_blank" >View Profile</a>
                                        </div>
                                    </div>
                                </div>


                                <div class="clearfix"></div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                
                <a  data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
            </div>
        </div>
    </div>
</div>