﻿<div class="modal fade" id="modalSectionManagement" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Section Management </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-9">
                    </div>
                        <div class="col-lg-3">
                            <a ng-click="showAddUpdateSectionModal()" style="cursor:pointer;" class="edit-btn pull-right">Add New Section</a>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="task_div">

                            <ul>
                                <li ng-repeat="item in Sections">
                                    <div class="images pull-left"><img ng-src="{{imgURL}}{{item.SectionCreator}}" alt=""></div>
                                    <p class="pull-left" ng-bind="item.SectionName"></p>

                                    <a  ng-click="editSection(item,$index);" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-pencil"></i></a>
                                    <a  ng-click="deleteSection(item.Id,$index)" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-trash-o"></i></a>
                                    <div class="clearfix"></div>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>