﻿

<div class="modal fade" id="modalStripePayment" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Invoice Payment</h4>
            </div>



            <form novalidate class="css-form" method="POST" id="payment-form">
                <div class="modal-body">

                    <span ng-if="userCardDetail != null" class="payment-errors">Please Submit Payment to approve the invoice</span>

                    <div class="row" style="margin-top:10px;" ng-if="userCardDetail != null">
                        <div class="col-lg-12">
                            <div class="col-lg-10">
                                <label> <strong>  Detailed Invoice is as follows :  </strong> </label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <strong>  Freelancer Invoice :  </strong>
                            </div>
                            <div class="col-lg-3">
                                $ <a href=""> {{userCardDetail.FreelancerInvoiceAmount}} <span ng-if="userCardDetail.FreelancerInvoiceAmount == null"> 0 </span></a>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <strong>  Stripe Fees :  </strong>
                            </div>
                            <div class="col-lg-3">
                                $ <a href=""> {{userCardDetail.StripeFees}} <span ng-if="userCardDetail.StripeFees == null"> 0 </span></a>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <strong>  Tighten Charges :  </strong>
                            </div>
                            <div class="col-lg-8">
                                $ <a href=""> {{userCardDetail.TightenCharges}} <span ng-if="userCardDetail.TightenCharges == null"> 0 </span></a>
                                <span style="margin-left:20PX;"> (5% OF Freelancer Invoice Amount)</span>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-3">
                                <strong>  Net Amount :  </strong>
                            </div>
                            <div class="col-lg-3">
                                $ <a href=""> {{userCardDetail.NetAmountForAdmin}} <span ng-if="userCardDetail.NetAmountForAdmin == null"> 0 </span></a>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:15px;color:gray;font-size:16px;margin-bottom:30px;" ng-if="userCardDetail == null">
                        <div class="col-lg-12">
                            <label> There is no payment method associated. Click <a href="#/payment/detail">here </a> to add payment method. </label>
                        </div>
                    </div>


                    <div style="display:none;">
                        <div class="form-group">
                            <label for="txtEmail">Card Number</label>
                            <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="Enter Card Number" maxlength="20" data-stripe="number" ng-model="userCardDetail.Card">
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-12" style="padding:0 0 0 0 !important;">
                                <label for="txtEmail">Expiration (MM/YY)</label>
                            </div>
                            <div class="col-md-5" style="padding:0 0 0 0 !important;">
                                <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="MM" maxlength="2" data-stripe="exp_month" ng-model="userCardDetail.Month">
                            </div>
                            <div class="col-md-1">
                                <span> / </span>
                            </div>
                            <div class="col-md-5" style="padding:0 0 0 0 !important;">
                                <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="YY" maxlength="2" data-stripe="exp_year" ng-model="userCardDetail.Year">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="txtEmail">CVC</label>
                            <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="Enter CVC Number" maxlength="4" data-stripe="cvc" ng-model="userCardDetail.Cvv">
                        </div>
                    </div>

                    <div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a ng-if="userCardDetail != null"  href="" ng-click="approveInvoice()" class="edit-btn">Approve and Submit Payment</a>

                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>






