﻿
<div class="modal fade" id="modalTeamUsers" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #53a1dc">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h6 class="modal-title" style="color:white;" id="modalProjectLabel" ng-bind="teamName"></h6>
            </div>
            <div class="modal-body">
                <form id="frmUser" role="form" class="css-form">
                    <div class="form-group" style="font-size:12px;margin-bottom:2px;border-bottom:1px solid silver;" ng-repeat="item in TeamUsers">
                        <a popover="{{item.email}}" popover-trigger="mouseenter" ng-hide=" item.display" class="anchor users" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)">
                        </a>
                        <img popover="{{item.email}}" popover-trigger="mouseenter" title="{{(item.firstName)+' '+(item.lastName)}}" style="border-radius:4px; padding:3px 0;" ng-show="item.display" ng-src="{{item.profilePhoto}}">
                        <span style="color:grey;" ng-bind="item.firstName+' '+item.lastName"></span>
                        <a style="margin-left:20px;" class="anchor" ng-bind="item.email"></a>
                        <span class="pull-right">
                            <span ng-show="item.creator" style="font-weight:bold;color:seagreen;">Admin</span>
                            <span ng-hide="item.creator" class="glyphicon glyphicon-remove" style="color: #C6260E;cursor:pointer;" ng-click="ConfirmDeleteTeamUser(item.email,item.id)"></span>
                        </span>
                    </div>
                    <div style=" margin-top: 20px !important;">
                        <span style="font-size: 12px !important; color: #3399FF; font-weight: bold;">Add New Users in Team</span>
                        <span>
                            <input style="width: 218px; text-align: center; background: #E1E1DD;" class="pull-right input-group" type="text" placeholder="Search User with Email" ng-model="txtemail.email" />
                        </span>
                    </div>
                    <div class="form-group" style="font-size:12px;border:1px solid silver;padding:10px;overflow-y:auto;width:100%;">
                        <span ng-repeat="item in NonTeamUsers | filter:txtemail.email" style="padding: 0 5px; line-height: 26px; border: 1px solid silver; margin-left: 4px; margin-top: 5px; background: #E1E1E1; display: inline-block;">

                            <a popover="{{item.email}}" popover-trigger="mouseenter" ng-hide=" item.display" class="anchor users" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)">
                            </a>
                            <img popover="{{item.email}}" popover-trigger="mouseenter" title="{{(item.firstName)+' '+(item.lastName)}}" style="border-radius:4px; padding:3px 0;" ng-show="item.display" ng-src="{{item.profilePhoto}}">
                            <span style="cursor: pointer; color: #027536;" title="Add {{item.email}} to team" ng-click="ConfirmAddNewTeamUser(item.email,item.userId)" class="glyphicon glyphicon-plus"></span>
                        </span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span style="color:red; float:left;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
