﻿
<style>
    .dropdown {
        position: relative !important;
        display: inline-block;
    }

    .dropdown-content {
        display: none !important;
        position: absolute !important;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 99;
    }

        .dropdown-content a {
            color: black;
            margin-right: 0;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #3facff;
                color: #fff;
            }


    .dropdown:hover .dropdown-content {
        display: block !important;
        margin-top: -35%;
        left: 90%;
    }

    .dropdown-content .popover-content {
        padding: 0px !important;
    }

    .dropdown-menu {
        margin-left: -175px !important;
    }
</style>


<div class="modal fade" id="modalToDoDescriptionForKanban" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Todo  </h4>
            </div>
            <div class="modal-body">





                <div class="row">
                    <div class="col-lg-12">
                        <span ng-if="!toggleDescriptionObjectTodoName" id="Todo_NameForKanban" ng-click="editDescriptionObjectTodoName()" style="font-size:23px;"> {{todoDescriptionObject.Name}} </span>
                        <span ng-if="!toggleDescriptionObjectTodoName && (todoDescriptionObject.Name == null || todoDescriptionObject.Name == '')" ng-click="editDescriptionObjectTodoName()" style="font-size:23px;color:lightgray;"> New Task </span>
                        <textarea ng-if="toggleDescriptionObjectTodoName" id="TodoNameForKanban" ng-model="todoDescriptionObject.Name" ng-change="nameChangeInTodoDescriptionObject()" class="form-control" style="resize:none;min-height:20px;font-size:23px;" ng-blur="updateTodoName($event,todoDescriptionObject.TodoId,todoDescriptionObject.Name)"> </textarea>

                        <div class="description" style="margin-top:20px;">
                            <h1 ng-click="editDescriptionObjectTodoDescription()">Description</h1>
                            <span ng-if="!toggleDescriptionObjectTodoDescription" ng-click="editDescriptionObjectTodoDescription()"> {{todoDescriptionObject.Description}} </span>
                            <span ng-if="!toggleDescriptionObjectTodoDescription && (todoDescriptionObject.Description == '' || todoDescriptionObject.Description == null)" ng-click="editDescriptionObjectTodoDescription()"> No Description Found</span>
                            <textarea ng-if="toggleDescriptionObjectTodoDescription" id="TodoDescriptionForKanban" ng-model="todoDescriptionObject.Description" style="resize:none;min-height:20px;" ng-blur="saveTodoDescription(todoDescriptionObject.TodoId,todoDescriptionObject.Description)"> </textarea>
                            <!--<div ng-show="!todoDescriptionObject.Description.length">No description has been added</div>-->
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-6">
                        <div class="status_div" >
                            <!--<h3 ng-bind="todoDescriptionObject.Name"></h3>-->

                           

                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                    <!--<button ng-hide="myTodoUpdate" ng-click="editTodo(todoDescriptionObject,sectionIndex,todoIndex);" class="btn btn-group-xs"><i class="fa fa-edit"></i> &nbsp;Edit</button>
                                    <button ng-show="myTodoUpdate" ng-click="editMyTodo(todoDescriptionObject,sectionIndex,todoIndex);" class="btn btn-group-xs"><i class="fa fa-edit"></i> &nbsp;Edit</button>-->
                                    <!--<button class="btn btn-group-xs" ng-click="AssigneeManagement.showAssigneeEditModal()"> Assignee</button>-->

                                    <span ng-if="IsUserAllowed">
                                        <button class="btn btn-group-xs" ng-if="!todoDescriptionObject.InProgress && !todoDescriptionObject.IsDone" ng-click="startProgress(todoDescriptionObject,sectionIndex,todoIndex);">Start Progress</button>
                                        <button class="btn btn-group-xs" ng-if="todoDescriptionObject.InProgress && !todoDescriptionObject.IsDone" ng-click="stopProgress(todoDescriptionObject,sectionIndex,todoIndex);">Stop Progress</button>
                                        <button class="btn btn-group-xs" ng-if="!todoDescriptionObject.IsDone" ng-click="isDone(todoDescriptionObject,sectionIndex,todoIndex);">Done</button>
                                        <button class="btn btn-group-xs" ng-if="todoDescriptionObject.IsDone" ng-click="reOpenTodoAndStartProgress(todoDescriptionObject);">Reopen Todo and Start Progress</button>
                                    </span>
                                    <!--<button class="btn btn-group-xs">More</button>
                                    <button class="btn btn-group-xs" ng-if="!todoDescriptionObject.IsDone">Log</button>
                                    <button class="btn btn-group-xs" ng-click="ClientFeedbackManagement.showClientFeedbackModal(true,0,todoDescriptionObject.TodoId)">Feedback</button>-->
                                </div>

                            </div>
                            <div style="border-bottom: 1px solid #fff;margin-top:10px;"></div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width:25%;">Status</label>
                                    <label ng-if="todoDescriptionObject.IsDone==true" class="pull-left"><span class="pull-left">:&nbsp;</span> Complete</label>
                                    <label ng-if="todoDescriptionObject.InProgress==true" class="pull-left"><span class="pull-left">:&nbsp;</span> In Progress</label>
                                    <label ng-if="todoDescriptionObject.InProgress==false && todoDescriptionObject.IsDone==false" class="pull-left"><span class="pull-left">:&nbsp;</span> Pending</label>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width:25%;">Team</label>
                                    <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.TeamName"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width:25%;">Project</label>
                                    <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.ProjectName"></span></p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width:25%;">Section</label>
                                    <p class="pull-left"><span class="pull-left">:&nbsp;</span><span ng-bind="todoDescriptionObject.SectionName"></span></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width: 25%;">Assignee</label>
                                    <div class="dropdown pull-left">
                                        <div ng-mouseover="showAssigneeEditModal()" class="member-pic pull-left" ng-if="todoDescriptionObject.AssigneeId==null">
                                            <img title="Not Assigned" ng-src="{{imgURL}}Uploads/Default/profile.png" style="cursor:default;">
                                        </div>
                                        <div ng-mouseover="showAssigneeEditModal()" class="member-pic pull-left" ng-if="todoDescriptionObject.AssigneeId!=null">
                                            <img title="{{todoDescriptionObject.AssigneeName}}" ng-src="{{imgURL}}{{todoDescriptionObject.AssigneeProfilePhoto}}" style="cursor:default;">
                                        </div>
                                        <div class="dropdown-content">
                                            <div class="popover right" style="display: block; ">
                                                <div class="arrow"></div>
                                                <div class="popover-content" style="width:230px;">
                                                    <select id="ddlEditNewAssignee" class="form-control" style="margin :5px;width:90%;" name="assignee" ng-change="updateAssignee()" ng-model="assigneeAddUpdateModel.AssigneeId">
                                                        <option value="">Select Assignee</option>
                                                        <option ng-selected="m.Value==assigneeAddUpdateModel.AssigneeId" ng-repeat="m in projectMembersObject" value="{{m.Value}}">{{m.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>


                                <!--<div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                    <p class="pull-left" style="margin-top:-10px;">
                                        <div class="member-pic pull-left" >
                                            <img title="{{todoDescriptionObject.ReporterName}}" ng-src="{{imgURL}}{{todoDescriptionObject.ReporterProfilePhoto}}" style="cursor:default;">
                                        </div>
                                    </p>
                                </div>-->

                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="width: 25%;">Reporter</label>
                                    <div class="dropdown pull-left">
                                        <div ng-mouseover="showReporterEditModal()" class="member-pic pull-left" ng-if="todoDescriptionObject.ReporterId==null">
                                            <img title="Not Assigned" ng-src="{{imgURL}}Uploads/Default/profile.png" style="cursor:default;">
                                        </div>
                                        <div ng-mouseover="showReporterEditModal()" class="member-pic pull-left" ng-if="todoDescriptionObject.ReporterId!=null">
                                            <img title="{{todoDescriptionObject.ReporterName}}" ng-src="{{imgURL}}{{todoDescriptionObject.ReporterProfilePhoto}}" style="cursor:default;">
                                        </div>
                                        <div class="dropdown-content">
                                            <div class="popover right" style="display: block; ">
                                                <div class="arrow"></div>
                                                <div class="popover-content" style="width:230px;">
                                                    <select id="ddlReporter" class="form-control" style="margin :5px;width:90%;" name="Reporter" ng-change="updateReporter()" ng-model="reporterAddUpdateModel.ReporterId">
                                                        <option value=""> Select Reporter </option>
                                                        <option ng-selected="m.Value==todoAddUpdateModel.ReporterId" ng-repeat="m in projectMembersObject" value="{{m.Value}}">{{m.Text}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #fff;margin-top:10px;margin-bottom:10px;"></div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <label class="pull-left" style="width:23%;">Due Date </label>

                                    <p class="pull-left" style="width:70%;">
                                        <span class="pull-left">:&nbsp;</span>
                                        <span ng-if="todoDescriptionObject.DeadlineDate!=null" ng-bind="todoDescriptionObject.DeadlineDate|date:'MM-dd yyyy'"></span>
                                        <span ng-if="todoDescriptionObject.DeadlineDate==null">No Due Date Added</span> &nbsp;
                                        <!--<a href="" ng-click="open1();" ><i class="fa fa-edit"></i></a>-->
                                        <a href="" id="todDeadlineDate" init-date="init" style="width:80%;margin-left:15px;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                           ng-model="todoDescriptionObject.DeadlineDate" is-open="popup1.opened" min-date="minDate" max-date="''" ng-disabled="true"
                                           ng-change="deadlineDateChanged(todoDescriptionObject.TodoId,todoDescriptionObject.DeadlineDate)" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <label class="pull-left" style="width:23%;">Created Date </label>
                                    <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.CreatedDate|date:'h:mm a MM-dd-yyyy'"></span></p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <label class="pull-left" style="width:23%;">Last Updated </label>
                                    <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.ModifiedDate|date:'h:mm a MM-dd-yyyy'"></span></p>
                                </div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #fff;margin-top:10px;"></div>
                                <div class="col-lg-12">
                                    <h4>Todo Hours</h4>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="">Estimated Time </label>
                                    <p class="pull-left">
                                        <span class="pull-left">:&nbsp;</span>
                                        <span ng-show="toggleEstimatedTime">{{todoDescriptionObject.EstimatedTime  || '0m' }}</span>
                                        <input ng-show="!toggleEstimatedTime" style="width:90%;" type="text" class="form-control" name="EstimatedTime" ng-model="todoDescriptionObject.EstimatedTime" ng-keypress="estimatedTimeKeyPress($event)" ng-blur="toggleEstimatedTime = !toggleEstimatedTime;saveEstimatedTime(todoDescriptionObject.TodoId, todoDescriptionObject.EstimatedTime)" />
                                        <span style="margin-left:10px;" ng-show="!toggleEstimatedTime">(eg. 4d 12h 10m)</span>
                                        <!--<input type="text" class="form-control" ng-model="todoAddUpdateModel.EstimatedTime" ng-keypress="estimatedTimeKeyPress($event)" /> <span>(eg. 4d 12h 10m)</span>-->
                                        <a ng-show="toggleEstimatedTime" href="" style="margin-left:20px;" ng-click="toggleEstimatedTime = !toggleEstimatedTime;editEstimatedTime()"><i class="fa fa-edit"></i></a>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                                    <label class="pull-left" style="">Logged Time </label>
                                    <p class="pull-left">
                                        <span class="pull-left">:&nbsp;</span>
                                        <span ng-style="LoggedTimeStyle" ng-if="todoDescriptionObject.LoggedTime!=null" ng-model="todoDescriptionObject.LoggedTime">{{todoDescriptionObject.LoggedTime}}</span>
                                        <span ng-if="todoDescriptionObject.LoggedTime==null" ng-model="todoDescriptionObject.LoggedTime">0m</span>
                                    </p>
                                </div>

                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #fff;margin-top:10px;"></div>
                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                    <span style="font-size:18px;">  Task Type  </span>
                                    <a ng-show="toggleTaskType" href="" style="margin-left:30px;" ng-click="toggleTaskType = !toggleTaskType;editTaskType()"><i class="fa fa-edit"></i></a>
                                    <a ng-show="!toggleTaskType" href="" style="margin-left:30px;" ng-click="toggleTaskType = !toggleTaskType;"><i class="fa fa-undo" aria-hidden="true"></i></a>

                                    <div class="col-lg-12" ng-show="toggleTaskType">
                                        <span ng-repeat="item in TodoTagsObject" class="label label-primary" style="padding:10px 10px 10px 10px; margin:10px 10px 10px 10px;float:left;"> {{item.Text}}</span>
                                        <span ng-if="TodoTagsObject.length < 1 || TodoTagsObject == null">No Task Type Added</span> &nbsp;

                                    </div>

                                    <div ng-show="!toggleTaskType" class="ngInputTag">
                                        <tags-input ng-model="TodoTagsObject"
                                                    display-property="Text"
                                                    placeholder="Add a Tag"
                                                    replace-spaces-with-dashes="false"
                                                    min-length="1"
                                                    add-from-autocomplete-only="true"
                                                    ng-blur="toggleTaskType = !toggleTaskType;saveTaskType(todoDescriptionObject.TodoId,TodoTagsObject)"
                                                    name="TaskType"
                                                    template="tag-template">
                                            <auto-complete source="Tags.AllTaskTypes"
                                                           min-length="0"
                                                           load-on-focus="true"
                                                           load-on-empty="true"
                                                           max-results-to-show="32"
                                                           template="autocomplete-template">
                                            </auto-complete>
                                        </tags-input>

                                        <script type="text/ng-template" id="tag-template">
                                            <div class="tag-template">
                                                <div class="right-panel">
                                                    <span>{{$getDisplayText()}}</span>
                                                    <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                                </div>
                                            </div>
                                        </script>
                                        <script type="text/ng-template" id="autocomplete-template">
                                            <div class="autocomplete-template">
                                                <div class="right-panel">
                                                    <span ng-bind-html="$highlight($getDisplayText())"></span>
                                                    <span>({{data.Description}})</span>
                                                </div>
                                            </div>
                                        </script>
                                    </div>


                                </div>

                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #fff;margin-top:10px;"></div>
                                <div class="col-lg-12">
                                    <label>Followers</label>
                                </div>
                                <div class="col-lg-12">
                                    <div class="follower_div">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="dropdown pull-left" ng-repeat="item in followersObject">
                                                    <div class="member-pic pull-left">
                                                        <img title="{{item.FollowerName}}" ng-src="{{imgURL}}{{item.FollowerProfilePhoto}}">
                                                    </div>
                                                    <div class="dropdown-content">
                                                        <div class="popover right" style="display: block; ">
                                                            <div class="arrow"></div>
                                                            <div class="popover-content">
                                                                <a class="btn" ng-href="#/user/profile/{{item.Value}}" target="_blank">
                                                                    <i class="fa fa-user " style="margin-right:5px;float:left;"></i>View Profile
                                                                </a>
                                                                <a class="btn" ng-click="sendUserMessage(item.Value)">
                                                                    <i class="fa fa-envelope" style="margin-right:5px;float:left;"></i>Message
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>



                                                <div class="dropdown pull-left">
                                                    <div ng-mouseover="showFollowerEditModal(followersObject)" ng-if="UserRole != 3" class="member-pic pull-left">
                                                        <img src="assets/img/plus_btn.png" alt="">
                                                    </div>
                                                    <div class="dropdown-content" style="width:100%;">
                                                        <div class="popover right" style="display: block;width:100%; ">
                                                            <div class="arrow"></div>
                                                            <div class="popover-content" style="width:250px;">
                                                                <div on-item-click="updateFollower()" isteven-multi-select
                                                                     input-model="newModel"
                                                                     output-model="output"
                                                                     button-label="icon Text"
                                                                     item-label="icon Text"
                                                                     tick-property="false">
                                                                    <!--selection-mode="single"-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>

                                                </div>



                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">

                        <div class="col-lg-12">
                            <div class="col-lg-6"></div>
                            <div class="col-lg-6">
                                <a class="attach_file_btn pull-right" ng-click="AttachmentManagement.showAttachFileModal()" style="cursor:pointer;">
                                    <i class="fa fa-paperclip"></i> &nbsp; Attach File
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="col-lg-12" style="overflow-y:auto ;height:430px;">

                            <div class="tab_div">
                                <div data-example-id="collapse-accordionForKanban" class="bs-example">
                                    <div aria-multiselectable="true" role="tablist" id="accordionForKanban" class="panel-group">
                                        <div class="panel panel-default">
                                            <div id="headingOneForKanban" role="tab" class="panel-heading">
                                                <h4 class="panel-title" ng-click="accordionClick('Attachments')">
                                                    <a aria-controls="collapseOneForKanban" aria-expanded="false" data-target="#collapseOneForKanban" data-parent="#accordionForKanban" data-toggle="collapse" role="button"
                                                       style="cursor:pointer;" class="collapsed pull-left">Attachments<i class="pull-right" ng-class="openedAccordion=='Attachments'?'fa fa-angle-up':'fa fa-angle-down'"></i></a>
                                                    <span class="clearfix"></span>
                                                </h4>
                                            </div>
                                            <div aria-labelledby="headingOne" role="tabpanel" class="panel-collapse collapse" id="collapseOneForKanban" aria-expanded="false">
                                                <div class="panel-body">
                                                    <ul class="ulprojects" ng-repeat="item in attachmentsObject">
                                                        <li style="font-size:11px;">
                                                            <div class="dropdown">
                                                                <div class="pull-left">
                                                                    <img title="{{item.FirstName+' '+item.LastName}}" style="cursor:pointer;border-radius:50%;display:inline;margin-right:10px;" height="25" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}">
                                                                </div>

                                                                <div class="dropdown-content">
                                                                    <div class="popover right" style="display: block; ">
                                                                        <div class="arrow"></div>
                                                                        <div class="popover-content">
                                                                            <a class="btn" ng-href="#/user/profile/{{item.CreatorUserId}}" target="_blank">
                                                                                <i class="fa fa-user " style="margin-right:5px;float:left;"></i>View Profile
                                                                            </a>
                                                                            <a class="btn" ng-click="sendUserMessage(item.CreatorUserId)">
                                                                                <i class="fa fa-envelope" style="margin-right:5px;float:left;"></i>Message
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>

                                                            <a title="{{item.OriginalName}}" style="margin-left:5px;margin-right:5px;" ng-href="{{imgURL}}{{item.Path}}" target="_blank" ng-bind="item.OriginalName | limitTo : 44"></a>
                                                            <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}">
                                                            <div ng-hide="item.Display" ng-click="AttachmentManagement.deleteAttachment(item.Id,$index,todoDescriptionObject)" class="pull-right">
                                                                <i style="font-size:14px;color:gray;" class="fa fa-remove"></i>
                                                            </div>
                                                            <div class="pull-right">  <span style="font-size:10px;color:grey;" ng-bind="item.CreatedDate|date:'h:mm a MM-dd-yyyy'"></span></div>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li ng-show="!attachmentsObject.length">No Attachments !</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div id="headingTwoForKanban" role="tab" class="panel-heading">
                                                <h4 class="panel-title" ng-click="accordionClick('History')">
                                                    <a aria-controls="collapseTwoForKanban" aria-expanded="false" data-target="#collapseTwoForKanban" data-parent="#accordionForKanban" data-toggle="collapse" role="button"
                                                       style="cursor:pointer;" class="collapsed pull-left">History<i class="pull-right" ng-class="openedAccordion=='History'?'fa fa-angle-up':'fa fa-angle-down'"></i></a>
                                                    <span class="clearfix"></span>
                                                </h4>
                                            </div>
                                            <div aria-labelledby="headingTwoForKanban" role="tabpanel" class="panel-collapse collapse" id="collapseTwoForKanban" aria-expanded="false">
                                                <div class="panel-body">
                                                    <ul>
                                                        <li ng-repeat="item in todoNotificationObject">
                                                            <div class="dropdown">
                                                                <div class="member-pic pull-left">
                                                                    <img title="{{item.CreatorName}}" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}">

                                                                </div>
                                                                <div class="dropdown-content">
                                                                    <div class="popover right" style="display: block; ">
                                                                        <div class="arrow"></div>
                                                                        <div class="popover-content">
                                                                            <a class="btn" ng-href="#/user/profile/{{item.CreatorUserId}}" target="_blank">
                                                                                <i class="fa fa-user " style="margin-right:5px;float:left;"></i>View Profile
                                                                            </a>
                                                                            <a class="btn" ng-click="sendUserMessage(item.CreatorUserId)">
                                                                                <i class="fa fa-envelope" style="margin-right:5px;float:left;"></i>Message
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <!--<div class="popover1" style="display">
                                                <a href="#" class="edit-btn" ng-href="#/user/profile/{{item.CreatorUserId}}" target="_blank">View Profile</a>
                                                <a href="" class="edit-btn" ng-click="sendUserMessage(item.CreatorUserId)">Message</a>
                                            </div>-->
                                                            </div>


                                                            <a style="margin-left:5px;color:grey;" href="" ng-bind="item.CreatorName+' '+item.Description+' '"></a>
                                                            <i ng-if="item.Type==2" class="fa fa-file"></i>
                                                            <a ng-if="item.Type==2" target="_blank" href="{{imgURL}}{{item.FilePath}}" ng-bind-html="item.ConcernedSectionName"></a>
                                                            <i ng-if="item.Type==3" class="fa fa-user"></i>  <a ng-if="item.Type==3" target="_blank" href="" ng-bind-html="item.FollowerName"></a>

                                                            <!--@*<div class="pull-left">
                                            <p ng-bind-html="item.CreatorName+' '+item.Description"></p>
                                            <a ng-if="item.Type==2" target="_blank" href="{{item.FilePath}}" ng-bind="item.ConcernedSectionName"></a>
                                        </div>*@-->
                                                            <!--<div-->
                                                            <div class="pull-right" style="font-size: 10px; color: grey;display:block;margin-top:4px;" ng-bind="item.CreatedDate|date:'h:mm a MM-dd-yyyy'">

                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li ng-show="!todoNotificationObject.length">No History !</li>
                                                    </ul>

                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="panel panel-default">
                        <div id="headingTwo" role="tab" class="panel-heading">
                            <h4 class="panel-title">
                                <a aria-controls="collapseFour" aria-expanded="false" data-target="#collapseFour" data-parent="#accordion" data-toggle="collapse" role="button"
                                   style="cursor:pointer;" class="collapsed pull-left">Work Log<i class="fa fa-angle-down pull-right"></i></a>
                                <span class="clearfix"></span>
                            </h4>
                        </div>
                        <div aria-labelledby="headingTwo" role="tabpanel" class="panel-collapse collapse" id="collapseFour" aria-expanded="false">
                            <div class="panel-body"> Here Work Log will come. </div>
                        </div>
                    </div>-->
                                        <div class="panel panel-default">
                                            <div id="headingThreeForKanban" role="tab" class="panel-heading">
                                                <h4 class="panel-title" ng-click="accordionClick('Comments')">
                                                    <a aria-controls="collapseThreeForKanban" aria-expanded="false" data-target="#collapseThreeForKanban" data-parent="#accordionForKanban" data-toggle="collapse" role="button"
                                                       style="cursor:pointer;" class="pull-left">Comments<i class="pull-right" ng-class="openedAccordion=='Comments'?'fa fa-angle-up':'fa fa-angle-down'"></i></a>
                                                    <span class="clearfix"></span>
                                                </h4>
                                            </div>
                                            <div aria-labelledby="headingThreeForKanban" role="tabpanel" class="panel-collapse collapse in" id="collapseThreeForKanban">
                                                <div class="panel-body">

                                                    <ul ng-repeat="item in todocomments" ng-init="item.ConfirmDeleteCommentStatus">
                                                        <li>
                                                            <div class="member-pic pull-left"><img title="{{item.CreatedBy}}" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}"></div>
                                                            <p class="pull-left" ng-bind-html="item.Description"></p>
                                                            <div class="pull-right" style="font-size: 10px; color: grey;" ng-bind="item.CreatedDate|date:'h:mm a MM-dd-yyyy'"> </div>
                                                            <div class="clearfix"></div>
                                                        </li>
                                                    </ul>
                                                    <ul>
                                                        <li ng-show="!todocomments.length">No Comments !</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="coments_add" style="margin-bottom:10px;">
                                <div style="position: relative;display:flex;">
                                    <span class="input pull-left" data-text="Leave a comment here" tabindex="-1" id="txtCommentsForKanban" ondrop="return false;" style="background:
                                                  white; display: inline-block; height: 51px; width: 81%; border: 1px solid grey; overflow-x: hidden; overflow-y: auto;font-size:12px;"
                                          ng-keyup="ShowUsersorAttachmentsForTagging($event)" ng-keydown="TabKeyPressEvent($event)" ng-bind-html="wholedivcontent"
                                          ng-model="txtCommentsForKanban" contenteditable="true">
                                    </span>

                                    <a class="add_btn pull-left" ng-click="saveToDoComment()" style="cursor:pointer;margin-top:10px;height: 35px;">Add</a>



                                    <div ng-show="showassigneesearch" style="position: absolute; height: 250px; overflow-y: auto; z-index: 10000; width: 100%; bottom:0px;
                                     border: 8px solid #D4D0C8;border-radius:2px; background: white;">
                                        <div>Project Members </div>
                                        <div style="position:relative;margin-top:10px;">
                                            <span class="commentFilesUsers" ng-class="{firstUserInComment: $first}"
                                                  ng-repeat="item in filteredUsers= (projectMembersObject| filter:searchassigneefortagging)"
                                                  ng-click="AddUserInComment(item.MemberUserId,item.MemberName,item.lastName,item.MemberEmail)">
                                                <!--ng-click="AddUserInComment(item.userId,item.firstName,item.lastName,item.email)">-->
                                                <img title="{{(item.MemberName)}}" style="border-radius:50%;margin-left:6px;" height="25" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                                                <span style="margin: 20px 0px 20px 20px; vertical-align: central;"
                                                      ng-bind-html="item.MemberName | searchfilter:searchassigneefortagging"></span>
                                                <span style="margin-right:3px;">(</span>
                                                <span style="margin:20px 0px 20px 0px;vertical-align:central;"
                                                      ng-bind-html="item.MemberEmail | searchfilter:searchassigneefortagging"></span>
                                                <span style="margin-left:3px;">)</span>
                                            </span>
                                        </div>
                                        <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredUsers.length">No Members Found</span>
                                    </div>



                                    <div ng-show="showattachmentsearch" style="position: absolute; height: 250px; overflow-y: auto; z-index: 10000; width: 100%; bottom:0px;
                                    border: 8px solid #D4D0C8;border-radius:2px; background: white;">
                                        <div style="width: 100%;position:absolute;z-index:10; background: #543059;margin-bottom:10px;height:20px;">
                                            <span tooltip="All Images" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='AllFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='AllFiles'}" class="ImageOptionsComment">
                                                ALL <span ng-show="selectedCommentTab=='AllFiles'" style="font-size:10px;" ng-bind="' ( '+filteredFiles.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='AllFiles'" style="font-size:10px;" ng-bind="' ( '+AllAttachmentsForComment.length+' )'"></span>
                                            </span>
                                            <span tooltip="Gif Images" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='GifFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='GifFiles'}" class="ImageOptionsComment">
                                                GIPHY <span ng-show="selectedCommentTab=='GifFiles'" style="font-size:10px;"
                                                            ng-bind="' ( '+filteredGifImages.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='GifFiles'" style="font-size:10px;" ng-bind="' ( '+GiphyImages.length+' )'"></span>
                                            </span>
                                            <span tooltip="Local Files" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='LocalFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='LocalFiles'}" class="ImageOptionsComment">
                                                LOCAL <span ng-show="selectedCommentTab=='LocalFiles'" style="font-size:10px;" ng-bind="' ( '+filteredLocalFiles.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='LocalFiles'" style="font-size:10px;" ng-bind="' ( '+LocalAttachmentsForComment.length+' )'"></span>
                                            </span>
                                            <span tooltip="Google Drive Files" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='GoogleDriveFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='GoogleDriveFiles'}" class="ImageOptionsComment">
                                                GOOGLEDRIVE <span ng-show="selectedCommentTab=='GoogleDriveFiles'" style="font-size:10px;"
                                                                  ng-bind="' ( '+filteredGoogleDriveFiles.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='GoogleDriveFiles'" style="font-size:10px;"
                                                      ng-bind="' ( '+GoogleDriveAttachmentsForComment.length+' )'"></span>
                                            </span>
                                            <span tooltip="Dropbox Files" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='DropBoxFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='DropBoxFiles'}" class="ImageOptionsComment">
                                                DROPBOX <span ng-show="selectedCommentTab=='DropBoxFiles'" style="font-size:10px;"
                                                              ng-bind="' ( '+filteredDropBoxFiles.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='DropBoxFiles'" style="font-size:10px;" ng-bind="' ( '+DropBoxAttachmentsForComment.length+' )'"></span>
                                            </span>
                                            <span tooltip="Box Files" tooltip-trigger="mouseenter" ng-click="selectedCommentTab='BoxFiles'"
                                                  ng-class="{selectedImageTypeInComment: selectedCommentTab=='BoxFiles'}" class="ImageOptionsComment">
                                                BOX <span ng-show="selectedCommentTab=='BoxFiles'" style="font-size:10px;" ng-bind="' ( '+filteredBoxFiles.length+' )'"></span>
                                                <span ng-hide="selectedCommentTab=='BoxFiles'" style="font-size:10px;" ng-bind="' ( '+BoxAttachmentsForComment.length+' )'"></span>
                                            </span>
                                        </div>
                                        <div style="position:relative;margin-top:20px;">

                                            <span ng-show="selectedCommentTab=='AllFiles'" ng-class="{firstImageInComment: $first}" class="commentFilesUsers"
                                                  ng-repeat="item in filteredFiles=( attachmentsObject | filter:{originalName:searchattachmentfortagging})"
                                                  ng-click="AddFileInComment(item.Name,item.OriginalName,item.Path)">
                                                <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}" style="margin-left:5px;margin-right:5px;">
                                                <span style="margin:20px;vertical-align:central;" ng-bind-html="item.OriginalName| searchfilter:searchattachmentfortagging"></span>
                                            </span>
                                            <span>
                                                <table width="100%" ng-show="selectedCommentTab=='GifFiles'">
                                                    <tr>
                                                        <td width="60%" valign="top">
                                                            <div class="commentFilesUsers" ng-class="{firstImageInComment: $first}"
                                                                 ng-click="AddGifFileInComment(item.Name,item.Url)" style="margin-bottom:5px;"
                                                                 ng-repeat="item in filteredGifImages=(GiphyImages | filter:{name:searchGiffortagging})">
                                                                <img ng-src="{{imgURL}}{{item.Url}}" height="30" width="30" />
                                                                <span style="margin-left:10px;" ng-bind-html="item.Name| searchfilter:searchGiffortagging"></span>
                                                            </div>
                                                        </td>
                                                        <td align="center" width="40%" valign="top">
                                                            <div ng-show="$first" style="margin-bottom:10px;" ng-repeat="item in filteredGifImages">
                                                                <div ng-bind="item.Name"></div>
                                                                <img ng-src="{{imgURL}}{{item.Url}}" height="150" width="150" />
                                                            </div>
                                                        </td>

                                                    </tr>
                                                </table>
                                            </span>



                                            <!--ng-repeat="item in filteredLocalFiles=( attachmentsObject | filter:{originalName:searchLocalfortagging,sourceImage: '../../assets/img/source/computer.png'})"-->
                                            <span ng-show="selectedCommentTab=='LocalFiles'" ng-class="{firstImageInComment: $first}" class="commentFilesUsers"
                                                  ng-repeat="item in attachmentsObject"
                                                  ng-click="AddFileInComment(item.Name,item.OriginalName,item.Path)">
                                                <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}" style="margin-left:5px;margin-right:5px;">
                                                <span style="margin:20px;vertical-align:central;" ng-bind-html="item.OriginalName| searchfilter:searchLocalfortagging"></span>
                                            </span>

                                            <span ng-show="selectedCommentTab=='GoogleDriveFiles'" ng-class="{firstImageInComment: $first}" class="commentFilesUsers"
                                                  ng-repeat="item in filteredGoogleDriveFiles=( attachmentsObject | filter:{originalName:searchGoogleDrivefortagging,sourceImage: '../../assets/img/source/logo-drive.png'})"
                                                  ng-click="AddFileInComment(item.Name,item.OriginalName,item.Path)">
                                                <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}" style="margin-left:5px;margin-right:5px;">
                                                <span style="margin:20px;vertical-align:central;" ng-bind-html="item.OriginalName| searchfilter:searchGoogleDrivefortagging"></span>
                                            </span>

                                            <span ng-show="selectedCommentTab=='DropBoxFiles'" ng-class="{firstImageInComment: $first}" class="commentFilesUsers"
                                                  ng-repeat="item in filteredDropBoxFiles=( attachmentsObject | filter:{originalName:searchDropBoxfortagging,sourceImage: '../../assets/img/source/drop-box.png'})"
                                                  ng-click="AddFileInComment(item.Name,item.OriginalName,item.Path)">
                                                <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}" style="margin-left:5px;margin-right:5px;">
                                                <span style="margin:20px;vertical-align:central;" ng-bind-html="item.OriginalName| searchfilter:searchDropBoxfortagging"></span>
                                            </span>

                                            <span ng-show="selectedCommentTab=='BoxFiles'" ng-class="{firstImageInComment: $first}" class="commentFilesUsers"
                                                  ng-repeat="item in filteredBoxFiles=( attachmentsObject | filter:{originalName:searchBoxfortagging,sourceImage: '../../assets/img/source/box-icon.png'})"
                                                  ng-click="AddFileInComment(item.Name,item.OriginalName,item.Path)">
                                                <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}" style="margin-left:5px;margin-right:5px;">
                                                <span style="margin:20px;vertical-align:central;" ng-bind-html="item.OriginalName| searchfilter:searchBoxfortagging"></span>
                                            </span>
                                        </div>
                                        <span ng-show="selectedCommentTab=='AllFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredFiles.length">No Files Found</span>
                                        </span>
                                        <span ng-show="selectedCommentTab=='GifFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredGifImages.length">No Files Found</span>
                                        </span>
                                        <span ng-show="selectedCommentTab=='LocalFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!attachmentsObject.length">No Files Found</span>
                                        </span>
                                        <span ng-show="selectedCommentTab=='GoogleDriveFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredGoogleDriveFiles.length">No Files Found</span>
                                        </span>
                                        <span ng-show="selectedCommentTab=='DropBoxFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredDropBoxFiles.length">No Files Found</span>
                                        </span>
                                        <span ng-show="selectedCommentTab=='BoxFiles'">
                                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredBoxFiles.length">No Files Found</span>
                                        </span>
                                    </div>

                                </div>

                                <div ng-show="showattachmentsearch" class="glyphicon glyphicon-remove-circle"
                                     style="z-index: 10000; position: absolute; top: 180px;color:black;left:391px;cursor:pointer;" ng-click="hideCommentBox()"></div>
                                <div ng-show="showassigneesearch" class="glyphicon glyphicon-remove-circle"
                                     style="z-index: 10000; position: absolute; top: 189px; color: black; left: 384px; cursor: pointer;" ng-click="hideCommentBox()"></div>
                            </div>

                        </div>

                    </div>



                </div>
















                <div class="modal-footer">
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </div>
        </div>
    </div>
</div>
