﻿
<style>
    body {
        background: rgba(0, 0, 0, 0) url("/assets/img/login-bg.jpg") no-repeat scroll 0 0;
        background-size: cover;
    }

    .customFont {
        font-size: 12px;
        font-family: "Segoe UI Light";
    }

    .invoiceTable {
        width: 100%;
        border: 1px solid gray;
    }

        .invoiceTable thead th {
            background-color: #3facff;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            padding: 10px;
            color: #fff;
        }

            .invoiceTable thead th:not(:last-child), .invoiceTable tbody td:not(:last-child) {
                border-right: 1px solid gray;
            }

        .invoiceTable tbody td {
            text-align: center;
            background-color: #fff;
            padding: 10px;
        }

            .invoiceTable tbody td img.userProfile {
                border-radius: 50px;
                margin-right: 20px;
            }

        .invoiceTable tfoot td {
            background: rgba(0, 0, 0, 0) url("/assets/img/top-bar-bg.png") repeat scroll 0 0;
            font-weight: bold;
            font-size: 14px;
            text-align: center;
            padding: 10px;
            color: #fff;
        }
</style>

<div id="invoicePackage" style="position:relative;display:none;" ng-cloak class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'col-lg-12 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div class="container" style="width: 600px;">
        <div class="register-logo">
            <div>
                <img src="/assets/img/logo.png" />
            </div>
            <!--by Rakesh-->
            <div class="clearfix"></div>
        </div>
     
           <form role="form" name="PaymentInfo" novalidate method="POST" id="payment-form"> 
               <span class="payment-errors"></span>

            <div class="well reg-page-bg modal-body" style="margin: 0;border-bottom-right-radius: 0;border-bottom-left-radius: 0;">

                <div id="PaymentBox">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                        <div ng-hide="IsCardInfoExist">
                            <input required name="CreditCard" ng-model="PaymentData.CreditCard" ng-class="{inputError:PaymentInfo.CreditCard.$dirty && PaymentInfo.CreditCard.$invalid} "
                                   data-stripe="number" ng-change="changeCardType()" type="text" class="form-control" placeholder="Enter Credit Card Number" />
                        </div>
                        
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                        <div ng-hide="IsCardInfoExist">
                            <select class="form-control" style="width:49%;margin-right:2%" name="ExpiryMonth" ng-model="PaymentData.ExpiryMonth"
                                    data-stripe="exp_month" ng-class="{inputError:PaymentInfo.ExpiryMonth.$dirty && PaymentInfo.ExpiryMonth.$invalid}" 
                                    required>
                                <option value="">Expiry Month</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                            <select class="form-control" style="width:49%;border-radius: 4px;" name="ExpiryYear" ng-model="PaymentData.ExpiryYear" 
                                    data-stripe="exp_year"  required 
                                    ng-class="{inputError:PaymentInfo.ExpiryYear.$dirty && PaymentInfo.ExpiryYear.$invalid}" >
                                <option value="">Expiry Year</option>
                                <option ng-repeat="year in getYearsList(7)" value="{{year}}">{{year}}</option>
                            </select>
                        </div>
                        
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                        <input required name="CvvNumber" data-stripe="cvc" ng-model="PaymentData.CvvNumber" ng-class="{inputError:PaymentInfo.CvvNumber.$dirty && PaymentInfo.CvvNumber.$invalid}" 
                               type="text" class="form-control" placeholder="Enter CVV Number" />
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-credit-card"></i></span>
                        <div ng-hide="IsCardInfoExist">
                            <input required name="CardName" ng-model="PaymentData.CardName" ng-class="{inputError:PaymentInfo.CardName.$dirty && PaymentInfo.CardName.$invalid}" type="text" class="form-control" placeholder="Enter Card Name" />
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="well reg-page-bg modal-footer" style="border-top-right-radius: 0;border-top-left-radius: 0;">
                <div style="float:left">
                    <i ng-class="cardType" style="font-size: 35px;"></i>
                </div>
                <div class="input-group" style="display: inline-flex;margin-right: 20px;margin-top: 15px;">
                    <input ng-model="PaymentData.AllowReckringPayment" type="checkbox" name="check" style="visibility: visible;margin-top: 2px;margin-right: 5px;" id="Reckring">
                    <label for="Reckring">Recurring payment</label>
                </div>
                <div style="float: right;margin-top: 10px;display: flex;">
                    <button ng-click="PayNow($event,PaymentInfo)" type="submit" class="btn register-btn  customFont">
                        Pay Now
                    </button>
                    <a style="cursor:pointer;border-radius: 4px;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    
    </div>
</div>


<div class="modal" id="modalInvoicePackage" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("/assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Payment</h4>
            </div>
            <form novalidate class="css-form" method="POST" id="payment-form1">

                <div class="modal-body">
                    <span class="payment-errors">Please Submit Payment to Upgrae the subscription</span>

                    <div style="display:none;">
                        <div class="form-group">
                            <label for="txtEmail">Card Number</label>
                            <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="Enter Card Number" maxlength="20" data-stripe="number" ng-model="userCardDetail.Card">
                        </div>

                        <div class="form-group col-md-12">
                            <div class="col-md-12" style="padding:0 0 0 0 !important;">
                                <label for="txtEmail">Expiration (MM/YY)</label>
                            </div>
                            <div class="col-md-5" style="padding:0 0 0 0 !important;">
                                <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="MM" maxlength="2" data-stripe="exp_month" ng-model="userCardDetail.Month">
                            </div>
                            <div class="col-md-1">
                                <span> / </span>
                            </div>
                            <div class="col-md-5" style="padding:0 0 0 0 !important;">
                                <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="YY" maxlength="2" data-stripe="exp_year" ng-model="userCardDetail.Year">
                            </div>
                        </div>


                        <div class="form-group">
                            <label for="txtEmail">CVC</label>
                            <input class="form-control" ng-class="{inputError:isTeamNameDirty && teamAddUpdateForm.teamName.$invalid}" placeholder="Enter CVC Number" maxlength="4" data-stripe="cvc" ng-model="userCardDetail.Cvv">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div style="float:left">
                        <i ng-class="cardType" style="font-size: 35px;"></i>
                    </div>
                    <div class="input-group" style="display: inline-flex;margin-right: 20px;margin-top: 15px;">
                        <input ng-model="PaymentData.AllowReckringPayment" type="checkbox" name="check" style="visibility: visible;margin-top: 2px;margin-right: 5px;" id="Reckring">
                        <label for="Reckring">Recurring payment</label>
                    </div>
                    <div style="float: right;margin-top: 10px;display: flex;">

                        <button ng-click="modalPayNow($event,PaymentInfo)" type="submit" class="btn register-btn  customFont">
                            Pay Now
                        </button>
                        <a style="cursor:pointer;border-radius: 4px;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="divThankYou" style="position:relative;display:none;" ng-cloak class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'col-lg-12 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div class="container" style="width: 600px;">
        <div class="register-logo">
            <div>
                <img src="/assets/img/logo.png" />
            </div>
            <!--by Rakesh-->
            <div class="clearfix"></div>
        </div>
        <div class="well reg-page-bg">
            <h3 class="page-head">Thank you</h3>
            <div style="display: inline-block;margin-top: 25px;width: 100%;text-align: center;">
                Thanks for the Subscription. Your transction id is {{transctionId}}.
            </div>
            <div style="display: inline-block;margin-top: 25px;width: 100%;text-align: center;">
                <a href="" ng-click="goToDashBoard()" class="edit-btn">DashBoard</a>

            </div>
        </div>
    </div>
</div>

<div id="modalUpgradePackage" style="display:none;" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog"  style="z-index:999">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("/assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> <span ng-if="isPackageUpgrade"> Upgrade</span> Subscription Package </h4>
            </div>
            <div class="modal-body">

                <div class="center-block">
                    <span ng-if="isPackageUpgrade">
                        Your 30 day trial subscription is been Expired. Please Upgrade Package to continue service.
                    </span>
                    <span ng-if="!isPackageUpgrade">
                       Please select a Package to continue service.
                    </span>
                </div>
                <div class="list-group" ng-repeat="item in AllPackageObject">
                    <div class="list-group-item">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="cursor:pointer;" ng-click="clearAllCheckBoxesUpgradePackage(item.Id)">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:center;vertical-align:middle;">
                                <input style="visibility:visible;margin-left:10px;margin-top:50%;cursor:pointer;" ng-change="clearAllCheckBoxesUpgradePackage(item.Id)" type="checkbox" ng-model="item.IsActive">
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <div class="info-head">
                                    Package : <a><span ng-bind-html="item.Name"></span></a>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pull-left" style="margin-top:10px;">
                                    Description :  <span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.Description"> </span>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="pull-right" style="margin-top:10px;">
                                    $<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.Price"> </span> per User *
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div ng-if="!AllPackageObject.length" class="list-group-item">
                        No Packages Found.
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <a href="" ng-click="upgradePackage()" ng-if="!isPackageUpgrade" class="edit-btn">Select Package</a>
                <a href="" ng-click="upgradePackage()" ng-if="isPackageUpgrade" class="edit-btn">Upgrade Package</a>
                <a style="cursor:pointer;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div id="modalCalculatePackageCost" style="display:none" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("/assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <!--<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>-->
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Selected Package Cost</h4>
            </div>
            <div class="modal-body">
                <!--<table class="invoiceTable">
                    <thead>
                        <tr>
                            <th>Users</th>
                            <th>Price Per User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in PackageCostPerUser">
                            <td>
                                <span style="color: #777; font-weight: bold; text-align:justify;">
                                    <img class="userProfile" width="50" height="50" ng-src="{{item.ProfilePhoto}}" alt="" />{{item.UserName}}
                                </span>
                            </td>
                            <td>$<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.PricePerUser"></span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td>Total</td>
                            <td>${{Total}}</td>
                        </tr>
                    </tfoot>
                </table>-->
                <table class="invoiceTable">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Users</th>
                            <th>Price Per User</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in CalculatePackageCost">
                            <td><span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.Item"></span></td>
                            <td><span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.UsersCount"></span></td>
                            <td>$<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.PricePerUser"></span></td>
                            <td>$<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.SubTotal"></span></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>Total</td>
                            <td>${{Total}}</td>
                        </tr>
                    </tfoot>
                </table>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="proceedToPayment()" class="edit-btn">Proceed to Payment</a>
                <a style="cursor:pointer;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
            </div>
        </div>
    </div>
</div>




<div class="modal" id="modalPaymentDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("/assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Payment Detail Options</h4>
            </div>
            
            <form name="PaymentDetailForm" novalidate class="css-form">
                <div class="modal-body">

                    <div class="list-group" ng-repeat="item in allCardsForPaymentDetailObject.AllCards">
                        <div class="list-group-item">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="cursor:pointer;" ng-click="clearAllCheckBoxes(item.Id)">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="text-align:center;vertical-align:middle;">
                                    <input style="visibility:visible;margin-left:10px;margin-top:50%;cursor:pointer;" ng-change="clearAllCheckBoxes(item.Id)" type="checkbox" ng-model="item.IsSelected">
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                    <div class="info-head">
                                        Name : <a><span ng-bind-html="item.CardName"></span></a>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="pull-left" style="margin-top:10px;">
                                        Description :  <span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.CardDescription"> </span>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="pull-right" style="margin-top:10px;">
                                        Card-Number :<span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.CreditCardNumber"> </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!allCardsForPaymentDetailObject.AllCards.length" class="list-group-item">
                            No Record Found.
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <a href="" ng-click="selectPaymentDetail(allCardsForPaymentDetailObject.InvoiceId, allCardsForPaymentDetailObject.index)" class="edit-btn">Select Payment Detail</a>
                    <a style="cursor:pointer;border-radius: 4px !important;" ng-click="cancelUpgradePackage()" class="edit-btn">Cancel</a>
                </div>

            </form>


        </div>
    </div>
</div>





<!--<div ng-include="'views/modal/PaymentDetailModal.html'"></div>-->