﻿<div style="position:relative;padding: 0 20px 10px;" id="divEventDescriptionSection" >

    <div class="row overview">
        <div class="col-lg-12">
            <div class="status_div">
                <h3 ng-bind="eventDescriptionObject.title"></h3>
                <div class="row event-detail">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Url</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span> <a target="_blank" href="{{eventDescriptionObject.url}}" ng-bind="eventDescriptionObject.url"></a> <span ng-if="!eventDescriptionObject.url.length">No Url Added</span> </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Is it All Day Event?</label>
                        <p class="pull-left" style="width:auto;" ng-if="eventDescriptionObject.allDay"><span class="pull-left">:&nbsp;</span>Yes </p>
                        <p class="pull-left" style="width:auto;" ng-if="!eventDescriptionObject.allDay"><span class="pull-left">:&nbsp;</span>No </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-if="eventDescriptionObject.allDay && eventDescriptionObject.end==null">
                        <label class="pull-left" style="width:32%">Event Date</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span><span ng-bind="eventDescriptionObject.start|date:'MM-dd-yyyy'"></span> </p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-if="eventDescriptionObject.allDay && eventDescriptionObject.end!=null">
                        <label class="pull-left" style="width:32%">Event Start Date</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span><span ng-bind="eventDescriptionObject.start|date:'MM-dd-yyyy'"></span> </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-if="eventDescriptionObject.allDay && eventDescriptionObject.end!=null">
                        <label class="pull-left" style="width:32%">Event End Date</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span> <span ng-bind="eventDescriptionObject.end|date:'MM-dd-yyyy'"></span> </p>
                    </div>



                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-if="!eventDescriptionObject.allDay">
                        <label class="pull-left" style="width:32%">Event Start Date</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span><span ng-bind="eventDescriptionObject.start|date:'h:mm a MM-dd-yyyy'"></span> </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" ng-if="!eventDescriptionObject.allDay">
                        <label class="pull-left" style="width:32%">Event End Date</label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span> <span ng-bind="eventDescriptionObject.end|date:'h:mm a MM-dd-yyyy'"></span> </p>
                    </div>

                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Created Date </label>
                        <p class="pull-left" style="width:auto;"><span class="pull-left">:&nbsp;</span> <span ng-bind="eventDescriptionObject.createdDate|date:'h:mm a MM-dd-yyyy'"></span></p>
                    </div>


                    <div class="col-lg-12">
                        <label style="width: 32%; margin: 6px 0px;" class="pull-left">Event Creator</label>
                        <div class="member-pic pull-left"><img ng-src="{{imgURL}}{{eventDescriptionObject.creatorProfilePhoto}}"></div>
                        <div class="pull-left" style="margin: 8px 0px 0px 5px;" ng-bind="eventDescriptionObject.creatorName"></div>
                    </div>

                    <div class="col-lg-12">
                        <div class="description">
                            <h1>Description</h1>
                            <div ng-bind-html="eventDescriptionObject.description"></div>
                            <div ng-show="!eventDescriptionObject.description.length">No description has been added</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

