﻿
<div id="divProjectDescriptionSection">

    <div class="row overview">
        <div class="col-lg-12">

            <div class="status_div">
                <h3 ng-bind="projectDescriptionObject.ProjectName"></h3>
                <div class="row event-detail">

                    <div class="col-lg-12">
                        <div class="description">
                            <h1>Description</h1>
                            <div ng-bind-html="projectDescriptionObject.ProjectDescription"></div>
                            <div ng-show="!projectDescriptionObject.ProjectDescription.length">No description has been added</div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="description">
                            <div>
                                <h1> Estimated Hours : </h1>
                                <div ng-bind-html="projectDescriptionObject.projectHours"></div>
                                <!--<div ng-show="projectDescriptionObject.projectHours==0">Progress is not started yet for this todo</div>-->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="description">
                            <div>
                                <h1> Estimated Budget : </h1>
                                <div ng-bind-html="projectDescriptionObject.projectBudget"></div>
                                <!--<div ng-show="projectDescriptionObject.projectBudget==0">Progress is not started yet for this todo</div>-->
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <label>Project Members</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="follower_div">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">

                                    <div class="member-pic pull-left" ng-repeat="item in projectDescriptionObject.ProjectMembers">
                                      
                                        <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}"ng-click="goToCreatorProfileFromSidepanel(item.MemberUserId)">
                                    </div>
                                    
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>


