﻿<div id="divProjectOverview">
    <span style="font-size:medium">  Project Overview:</span>
    <fieldset>
        <legend style="text-align:center;margin-bottom:0px;font-size:17px ! important;font-weight:bold;color:darkred;" ng-bind="projectName"></legend>
    </fieldset>

    Description:<span style="margin-left:10px;font-weight:bold;font-size:12px;" ng-bind="projectDescription"></span>
    <br />
    Total Todos:<span style="margin-left:10px;font-weight:bold;font-size:12px;" ng-bind="TotalTodosCount"></span>
    <br />
    Completed Todos:<span style="margin-left:10px;font-weight:bold;font-size:12px;" ng-bind="CompletedTodosCount"></span>
    <br />
    InProgress Todos:<span style="margin-left:10px;font-weight:bold;font-size:12px;" ng-bind="InProgressTodosCount"></span>
    <br />
    Pending Todos:<span style="margin-left:10px;font-weight:bold;font-size:12px;" ng-bind="PendingTodosCount"></span>

</div>
