﻿
<div id="divTeamDescriptionSection">
    <div class="row overview">
        <div class="col-lg-12">
            <div class="status_div">
                <h3 ng-bind="teamDescriptionObject.TeamName"></h3>
                <div class="row event-detail">
                    <div class="col-lg-12">
                        <div class="description">
                            <h1>Description</h1>
                            <div ng-bind-html="teamDescriptionObject.TeamDescription"></div>
                            <div ng-show="!teamDescriptionObject.TeamDescription.length">No description has been added</div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <div class="description">
                            <h1>Team Budget</h1>
                            <div> $ {{teamDescriptionObject.TeamBudget}}</div>
                            <div ng-show="teamDescriptionObject.TeamBudget == null"> $ 0</div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <label>Team Members</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="follower_div">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                    <div class="member-pic pull-left" ng-repeat="item in teamDescriptionObject.TeamMembers">
                                        <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
