﻿
<div id="divTodoDescriptionSectionForNotification">
    <div class="row overview">
        <div class="col-lg-12">
            <div class="status_div">

                <div class="row event-detail">

                    <div ng-repeat="item in todoDescriptionObject">
                        <h3 ng-bind="item.TodoName"></h3>

                        <div class="col-lg-12">
                            <div class="description">
                                <div>
                                    <h1>Description : </h1>
                                    <div ng-bind-html="item.TodoDescription"></div>
                                    <div ng-show="!item.TodoDescription.length">No description has been added</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="description">
                                <div>
                                    <h1>Total Logged Hours : </h1>
                                    <div ng-bind-html="item.LoggedTime"></div>
                                    <div ng-show="!item.LoggedTime.length">Progress is not started yet for this todo</div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="description">
                                <div>
                            
                                    <h1>Assigned By : </h1>
                                    <div class="member-pic pull-left">
                                        <img title="{{item.AssignedBy.AssignedByName}}" ng-src="{{imgURL}}{{item.AssignedBy.AssignedByProfilePic}}" ng-click="goToCreatorProfileFromSidepanel(item.AssignedBy.AssignedByUserId)">
                                    </div>
                                      </div>
                                <div class="clear"></div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="description">
                                <div>
                                    <h1>Assigned To : </h1>
                                    <div class="member-pic pull-left" >
                                        <img title="{{item.AssignedTo.AssignedToName}}" ng-src="{{imgURL}}{{item.AssignedTo.AssignedToProfilePic}}" ng-click="goToCreatorProfileFromSidepanel(item.AssignedTo.AssignedToUserId)">
                                    </div>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            <div class="description">
                                <div>
                                    <h1> Followers : </h1>
                                    <div class="member-pic pull-left" ng-repeat="Followers in item.Followers">
                                        <img title="{{Followers.FollowersName}}" ng-src="{{imgURL}}{{Followers.ProfilePic}}" ng-click="goToCreatorProfileFromSidepanel(Followers.FollowersUserId) ">
                                    </div>
                                </div>
                                <div class="clear"></div>
                     
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
