﻿<div id="divUserFeedbackDescriptionSection">
    
    <div class="row overview">
        <div class="col-lg-12">
            <div class="status_div">
                <h3 ng-bind="userFeedbackDescriptionObject.Title"></h3>
                <div class="row event-detail">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Priority</label>
                        <p class="pull-left" style="width:auto;">
                            <span class="pull-left">:&nbsp;</span>
                            <a ng-if="userFeedbackDescriptionObject.Priority==1">High Priority</a>
                            <a ng-if="userFeedbackDescriptionObject.Priority==2">Medium Priority</a>
                            <a ng-if="userFeedbackDescriptionObject.Priority==3">Low Priority</a>
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Is private</label>
                        <p class="pull-left" style="width:auto;" ng-bind="userFeedbackDescriptionObject.IsPrivate"><span class="pull-left">:&nbsp;</span> </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                        <label class="pull-left" style="width:32%">Created Date </label>
                        <!--<p class="pull-left" style="width:auto;" ng-bind="userFeedbackDescriptionObject.CreatedDate | date:'h:mm:ss a MMMM-dd-yyyy'">-->
                        <p class="pull-left" style="width:auto;" ng-bind="userFeedbackDescriptionObject.CreatedDate | date:'MM-dd-yyyy'">
                            <span class="pull-left">:&nbsp;</span>
                        </p>
                    </div>

                    <div class="col-lg-12">
                        <label style="width: 32%; margin: 6px 0px;" class="pull-left">Feedback Creator</label>
                        <div class="member-pic pull-left"><img ng-src="{{imgURL}}{{userFeedbackDescriptionObject.CreatorProfilePhoto}}" title="{{userFeedbackDescriptionObject.CreatorName}}" ></div>
                        <!--<div class="pull-left" style="margin: 8px 0px 0px 5px;" ng-bind="userFeedbackDescriptionObject.CreatorName"></div>-->
                    </div>
                    <div class="col-lg-12">
                        <div class="description">
                            <h1>Description</h1>
                            <div ng-bind-html="userFeedbackDescriptionObject.Description"></div>
                            <div ng-show="!userFeedbackDescriptionObject.Description.length">No description has been added</div>
                        </div>
                    </div>

                    <div class="col-lg-12">
                        <label>Voters</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="follower_div">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                    <div class="member-pic pull-left" ng-repeat="item in userFeedbackDescriptionObject.Voters">
                                        <img title="{{item.VoterName}}" ng-src="{{imgURL}}{{item.VoterProfilePhoto}}">
                                    </div>
                                    <div ng-if="!userFeedbackDescriptionObject.Voters.length">
                                        No Voters Found
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Comments</label>
                    </div>
                    <div class="col-lg-12">
                        <div class="follower_div">
                            <div class="row">
                                <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                    <div class="panel-body" style="padding:0px;">

                                        <ul ng-repeat="item in userFeedbackCommentsObject" style="cursor:default;">
                                            <li style="cursor:default;">
                                                <div class="member-pic pull-left" style="cursor:pointer;" ng-click="showOtherUserProfile(item.CreatorUserId)">
                                                    <img title="{{item.CreatorName}}" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}">
                                                </div>
                                                <p class="pull-left" ng-bind="item.Comment">{{item.Comment}}</p>
                                                <span class="pull-right" ng-bind="item.CreatedDate|date:'h:mm a MM-dd-yyyy'"></span>
                                                <div class="clearfix"></div>
                                            </li>
                                        </ul>
                                        <ul style="cursor:default;">
                                            <li ng-show="!userFeedbackCommentsObject.length" style="cursor:default;" >No Comments !</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="coments_add col-lg-12">

                        <input ng-model="UserFeedbackComment.Comment" class="input pull-left" ng-keydown="TabKeyPressEvent($event, userFeedbackDescriptionObject.UserFeedbackId)" style="margin-left:20px;width:70%" placeholder="Leave a comment here" />
                        <a class="add_btn pull-left" style="cursor:pointer" ng-click="UserFeedbackManagement.saveCommentUserFeedback(userFeedbackDescriptionObject.UserFeedbackId)">Add</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

