﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .RejectbyVendor {
        background-color: red !important;
        width: 10px;
    }

    .AcceptByVendor {
        background-color: green !important;
        width: 10px;
    }

    .NotActtionbyVendor {
        background-color: grey !important;
        width: 10px;
    }

    .tblProjecttoQuote thead:first-child {
        background-color: #3facff;
    }

        .tblProjecttoQuote thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }

    table tr th {
        background: #337ab7;
        color: white;
        text-align: left;
        vertical-align: center;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divProjecttoQuoteAdminProfile">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> My Projects  </span></h3>
            <div class="clearfix"></div>
        </div>

        <div class="row" style="margin-top: 12px">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">

                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                    <input type="text" class="form-control" ng-model="ProjectNameFilter" placeholder="Search by project name"
                           ng-cut="cutSearchProjectVendorGeneraluser()" auto-complete="autoCompleteOptionVendorGeneralUser"
                           ng-keydown="searchProjectByNameVendorGeneralUser(ProjectNameFilter,$event)" />
                </div>


                <div class="col-lg-3 col-md-2 col-sm-2 col-xs-2">
                    <input name="IsDone" type="checkbox" style="visibility:visible;display:inline-block" ng-model="isOnGoingChecked" ng-change="onGoingProjectChange(isOnGoingChecked)">
                    <label>Ongoing Projects</label>
                </div>

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <input name="IsDone" type="checkbox" style="visibility:visible;display:inline-block" ng-model="isCompleteChecked" ng-change="completedProjectChange(isCompleteChecked)">
                    <label>completed projects</label>
                </div>



                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <input name="IsDone" type="checkbox" style="visibility:visible;display:inline-block" ng-model="isAllProjectChecked" ng-change="allProjectClick(isAllProjectChecked)">
                    <label>All projects </label>
                </div>

            </div>


        </div>
        <div style="margin-top:30px;">

            <div class="table-responsive">

                <div>
                    <table class="table table-striped table-hover table-bordered table-condensed" ">
                        <!--class="display nowrap" style="text-align:center datatable="ng" id="table_id"-->
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project Name</th>
                                <th>Project started Date</th>
                                <th>Hours allotted </th>
                                <th> Hours spent </th>
                                <th>Role Allotted </th>
                                <th>Supervisor </th>
                                <th>Rating </th>
                                <th colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vendorGeneraluserProfileMyProjectList">
                                <td>{{$index+1}}</td>
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.ProjectStartDate  == 'null' ? "----" : item.ProjectStartDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.HoursAllotted}}</td>
                                <td>{{item.HoursSpent}}</td>
                                <td>{{item.RoleAllotted}}</td>
                                <td>{{item.VendorPoc}}</td>
                                <td>{{item.Rating}}</td>
                                <td>
                                    <a ng-click="workDiaryVendorGeneralUserModal(item.ProjectId)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>Work diary</span></a>
                                </td>
                                <td>
                                    <a href="#/vendorgeneralProfile/awardedproject/viewdetail/{{item.ProjectId}}" item.ProjectId" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View Detail</span></a>
                                </td>
                            </tr>
                        </tbody>
                        <!--<tr style="text-align:center" ng-if="getProjectTOQuoteList.length ==0">
                            <td colspan="12">No Record Found</td>
                        </tr>-->
                    </table>

                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vendorGeneraluserProfileMyProjectList.length > 0">
                    <div class="form-group pull-left page-size form-inline">

                        <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                    </div>

                    <div class="pull-right">
                        <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                    class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                        </pagination>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<div ng-include="'views/VendorGeneralProfile/Modal/WorkDairyModal.html'">
</div>
