﻿

<div class="modal fade" id="modalAddNewRisk" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddNewRiskform" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Manage Risk </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtRisk">Risk Title</label>
                        <input name="riskTitle" class="form-control" ng-class="{inputError:AddNewRiskform.riskTitle.$dirty && AddNewRiskform.riskTitle.$invalid}" 
                               placeholder="Enter Risk Title" ng-model="riskModel.RiskTitle" tabindex="1" required>
                    </div>

                    
                    

                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea name="Description"  ng-class="{inputError: AddNewRiskform.Description.$dirty && AddNewRiskform.Description.$invalid}"
                                  placeholder="Enter Description" class="form-control" ng-model="riskModel.Description" tabindex="2" required></textarea>
                        
                    </div>
                 
                    <div class="form-group">
                        <label for="repeatSelect">Severity</label>
                        <select name="severity" id="Severity-{{$index}}"
                                ng-class="{inputError: AddNewRiskform.severity.$dirty && AddNewRiskform.severity.$invalid}"
                                 class="form-control"
                                ng-model="riskModel.Severity"
                                ng-options="option.Text for option in mySeverityList track by option.Value"
                                tabindex="3" required>
                            <option value="">---Select severity---</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="repeatSelect">Status</label>
                        <select name="status" id="Status-{{$index}}"
                                ng-class="{inputError: AddNewRiskform.status.$dirty && AddNewRiskform.status.$invalid}"
                                 class="form-control"
                                ng-model="riskModel.Status"
                                ng-options="option.Text for option in myStatusList track by option.Value"
                                tabindex="r" required>
                            <option value="">---Select status---</option>
                        </select>
                    </div>

                    </div>
                <div class="modal-footer">
                    <a  style="cursor:pointer;" ng-if="!editRiskbuttonShow" ng-click="addNewRisk(AddNewRiskform.riskTitle.$invalid,AddNewRiskform.severity.$invalid,AddNewRiskform.status.$invalid,AddNewRiskform,riskModel)" class="edit-btn" tabindex="4">Add New Risk</a>
                    <a style="cursor:pointer;" ng-if="editRiskbuttonShow" ng-click="updateRisk(AddNewRiskform.riskTitle.$invalid,AddNewRiskform.severity.$invalid,AddNewRiskform.status.$invalid,AddNewRiskform,riskModel)" class="edit-btn" tabindex="4">Update Risk</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

