﻿

<div class="modal fade" id="modalAddNewPhase" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddNewPhaseform" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Phase </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtPhase">Phase Name</label>
                        <input name="PhaseName" class="form-control" ng-class="{inputError:AddNewPhaseform.PhaseName.$dirty && AddNewPhaseform.PhaseName.$invalid}" 
                               placeholder="Enter Phase Name" ng-model="Phase.Name" tabindex="1" required>
                    </div>

                    <div class="form-group">
                        <label for="txtBudget">Budget(in $)</label>
                        <input name="Budget" ng-keypress="isNumber($event)" placeholder="Enter Budget" class="form-control" ng-model="Phase.Budget" tabindex="2" required>
              
                    </div>
                    

                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea name="Description"  ng-class="{inputError: AddNewPhaseform.Description.$dirty && AddNewPhaseform.Description.$invalid}"
                                  placeholder="Enter Description" class="form-control" ng-model="Phase.Description" tabindex="3" required></textarea>
                        
                    </div>
                 
                    <div class="form-group col-lg-6">
                        <label for="txtEmail"> Upload Phase Document (If any)</label>

                        <p ng-repeat="img in PhaseDocumentAttachedView track by $index">
                           
                            {{img.name}}
                            {{$index}}
                            <a class="pull-right" href="" ng-if="PhaseDocumentAttached == null &&
                                PhaseDocumentAttached != undefined" style=""></a>
                         
                            <a href="" ng-click="removePhaseAttachments($index)" class="fa fa-times" aria-hidden="true"></a>                  
                        </p>
                        <label ng-if="phaseList.PreviousAttachments.length"> No Attachments Found  </label>
                        <input type="file" multiple name="{{PhaseDocumentAttached.name}}" 
                               title="" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar"
                          
                               ng-file-select="selectFileForDocumentPhase1($files,$index)" class="uploadProfilePic" />
                     
                       </div>

                    </div>
                <div class="modal-footer">
                    <a  style="cursor:pointer;" ng-click="addNewPhase(Phase)" class="edit-btn" tabindex="4">Add New Phase</a>
                   
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

