﻿
<style>
    .Milstonebodysize {
        max-height: 800px;
    }

    /*#modalAddNewMileStone {
        margin-left: -440px;
    }*/

    .modal-dialog {
        width: auto !important;
    }

    .modal-content {
        margin-left: auto;
        margin-right: auto;
    }
</style>



<div class="modal fade" id="modalAddNewComment" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize">
        <div class="modal-content" style="width:1245px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Manage Comment - In {{riskTitleONComment}}</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div id="riskComment" class="row" ng-show="hideShowRiskComment">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group pheadertop"><div class="pheader">Add a Risk Comment</div></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                                <div>
                                    <form name="AddNewRiskComment" novalidate class="margin-top-10px">
                                        <div class="form-group">
                                            <label for="txtPhase">Risk Title</label>
                                            <input name="riskTitle" class="form-control" 
                                                   maxlength="250" ng-model="riskTitleONComment" tabindex="1" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Description</label>
                                            <textarea rows="6" cols="20" name="description" class="form-control" maxlength="500"
                                                      ng-model="descriptionOnComment" tabindex="2" readonly="readonly"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Severity</label>
                                            <input name="severity" class="form-control" ng-model="severityOnComment"
                                                   maxlength="50" tabindex="3" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Status</label>
                                            <input name="status" class="form-control" ng-model="statusOnComment"
                                                   maxlength="50" tabindex="4" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Comment</label>
                                            <textarea rows="6" cols="20" name="comment" placeholder="Enter comment" class="form-control" maxlength="500"
                                                      ng-model="riskCommentModal.Comment" tabindex="5" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <a ng-if="!editRiskCommentbuttonShow" style="cursor:pointer;" ng-click="addNewComment(AddNewRiskComment.comment.$invalid,AddNewRiskComment,riskCommentModal)" class="edit-btn" tabindex="4">Add New Comment</a>
                                            <a ng-if="editRiskCommentbuttonShow" style="cursor:pointer;" ng-click="updateComment(AddNewRiskComment.comment.$invalid,AddNewRiskComment,riskCommentModal)" class="edit-btn" tabindex="5">Update Comment</a>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group pheadertop"><div class="pheader">Existing Comments</div></div>
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>User Name</th>
                                        <th>Created on</th>
                                        <th>Comment</th>
                                        <th ng-hide="ProjectIsEdit" >Action</th>

                                    </tr>
                                </thead>
                                <tr ng-if="AddNewProjectModel.RiskList[RiskIndexForComment].RiskComments.length ==0">
                                    <td colspan="4" class="text-align-center">No Record Found</td>
                                </tr>
                                <!--Phasa------------------------------------------------------------------>

                                <tr ng-repeat-start="item in AddNewProjectModel.RiskList[RiskIndexForComment].RiskComments">

                                    <td>{{item.UserName}}</td>
                                    <td>{{item.Createdon}}</td>
                                    <td>{{item.Comment}}</td>
                                    <td ng-hide="ProjectIsEdit">
                                        <a style="cursor:pointer;" ng-click="editComment($index,item)" class="edit-btn displaytablecell" tabindex="6">Edit Comment </a><br />
                                        <div class="clearfix"></div>
                                        <a style="cursor:pointer;" ng-click="deleteConfirmComment($index,item)" class="edit-btn displaytablecell" tabindex="7">Delete Comment</a><br />

                                    </td>

                                </tr>
                                <tr ng-repeat-end>
                                    <!--<td colspan="3"><label class="fontingrind">Description :</label> {{item.Description}}</td>-->
                                </tr>


                            </table>

                        </div>


                    </div>
                </section>
            </div>
            <div class="modal-footer">

                <a href="" data-dismiss="modal" class="edit-btn">Back To Risk</a>

            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------Edit-milestne-popUp------------------------------------------------------------------------------------->

<div class="modal fade" id="modalEditAndAddNewRiskComment" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize">
        <div class="modal-content" style="width:1245px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Manage Comment - In {{riskTitleONComment}}</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div id="riskComment" class="row" ng-show="hideShowRiskComment">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-hide="ProjectIsEdit">
                            <div class="form-group pheadertop"><div class="pheader">Add a Risk Comment</div></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                                <div>
                                    <form name="EditNewMilestone" novalidate class="margin-top-10px">
                                        <div class="form-group">
                                            <label for="txtPhase">Risk Title</label>
                                            <input name="riskTitle" class="form-control" 
                                                   maxlength="250" ng-model="riskTitleONComment" tabindex="1" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Description</label>
                                            <textarea rows="6" cols="20" name="description" class="form-control" maxlength="500"
                                                      ng-model="descriptionOnComment" tabindex="2" readonly="readonly"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Severity</label>
                                            <input name="severity" class="form-control" ng-model="severityOnComment"
                                                   maxlength="50" tabindex="3" readonly="readonly">
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Status</label>
                                            <input name="status" class="form-control" ng-model="statusOnComment"
                                                   maxlength="50" tabindex="4" readonly>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Comment</label>
                                            <textarea rows="6" cols="20" name="comment" placeholder="Enter comment" class="form-control" maxlength="500"
                                                      ng-model="riskCommentModal.Comment" tabindex="5" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <a ng-if="!editRiskCommentbuttonShow" style="cursor:pointer;" ng-click="addNewComment(AddNewRiskComment.comment.$invalid,AddNewRiskComment,riskCommentModal)" class="edit-btn" tabindex="4">Add New Comment</a>
                                            <a ng-if="editRiskCommentbuttonShow" style="cursor:pointer;" ng-click="updateComment(AddNewRiskComment.comment.$invalid,AddNewRiskComment,riskCommentModal)" class="edit-btn" tabindex="5">Update Comment</a>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group pheadertop"><div class="pheader">Existing Comments</div></div>
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>User Name</th>
                                        <th>Created on</th>
                                        <th>Comment</th>
                                        <th  ng-hide="ProjectIsEdit">Action</th>

                                    </tr>
                                </thead>
                                <tr ng-if="AddNewProjectModel.RiskList[RiskIndexForComment].RiskComments.length ==0">
                                    <td colspan="4" class="text-align-center">No Record Found</td>
                                </tr>
                                <!--Phasa------------------------------------------------------------------>

                                <tr ng-repeat-start="item in AddNewProjectModel.RiskList[RiskIndexForComment].RiskComments">

                                    <td>{{item.UserName}}</td>
                                    <td>{{item.Createdon | date:'MM/dd/yyyy'}}</td>
                                    <td>{{item.Comment}}</td>
                                    <td ng-hide="ProjectIsEdit">
                                        <a style="cursor:pointer;" ng-click="editComment($index,item)" class="edit-btn displaytablecell" tabindex="6">Edit Comment </a><br />
                                        <div class="clearfix"></div>
                                        <a style="cursor:pointer;" ng-click="deleteConfirmComment($index,item)" class="edit-btn displaytablecell" tabindex="7">Delete Comment</a><br />

                                    </td>
                          
                                </tr>
                                <tr ng-repeat-end>
                                    <!--<td colspan="3"><label class="fontingrind">Description :</label> {{item.Description}}</td>-->
                                </tr>


                            </table>

                        </div>


                    </div>
                </section>
            </div>
            <div class="modal-footer">

                <a href="" data-dismiss="modal" class="edit-btn">Back To Risk</a>

            </div>
        </div>
    </div>
</div>