﻿
<style>
    .project-disabled {
    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>




<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divAddUpdateProjectSection">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Manage Project <span ng-if="projectPhase == 'Send Offer'"> - Preview</span> </span></h3>
            <!--<h3 ng-if="showProjectWithFreelancers" class="pull-left"><span> <i class="fa fa-cog"></i> Manage Project - Invite Freelancers  </span></h3>-->
            <div class="clearfix"></div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form name="projectAddUpdateForm">

                    <div ng-if="projectPhase == 'Add Project'">

                        <div class="form-group">
                            <label for="txtEmail">Project Name</label>
                            <input name="projectName" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectName.$dirty && projectAddUpdateForm.projectName.$invalid}" placeholder="Enter Project Name" maxlength="50" ng-model="projectAddUpdateModel.projectName" required>
                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Project Description</label>
                            <textarea name="projectDescription" ng-class="{inputError:projectAddUpdateForm.projectDescription.$dirty && projectAddUpdateForm.projectDescription.$invalid}" placeholder="Enter Project description" maxlength="500" class="form-control" ng-model="projectAddUpdateModel.projectDescription" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Estimated Hours (in hours)</label>
                            <input name="projectHours" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectHours.$dirty && projectAddUpdateForm.projectHours.$invalid}" ng-keypress="isNumber($event)" placeholder="Enter Estimated Hours For Project" ng-model="projectAddUpdateModel.projectHours" required>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Estimated Budget (in $)</label>
                            <input name="projectBudget" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectBudget.$dirty && projectAddUpdateForm.projectBudget.$invalid}" 
                                   ng-keypress="isNumber($event)" placeholder="Enter Estimated Hours For Budget" ng-model="projectAddUpdateModel.projectBudget" required>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Access Level</label>

                            <table>
                                <tr ng-repeat="access in allAccessLevel">
                                    <td>
                                        {{ access.name }}
                                    </td>
                                    <td>
                                        <input style="visibility:visible;margin-left:10px;" ng-change="clearAllCheckBoxes(access.id)" type="checkbox" ng-model="access.selected">
                                    </td>
                                </tr>
                            </table>

                        </div>

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="txtEmail"> Upload Project Document (If any)</label>    <a href="" ng-if="projectAddUpdateModel.ProjectAttachments != undefined" style="margin-left:20px;">
                                 <i ng-click="refreshProjectAttachments()" class="fa fa-refresh" aria-hidden="true" title="Refresh"></i> </a>
                                <input type="file" name="ProjectAttachments" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar" 
                                       title="" ng-file-select="selectFileForProjectAttachent($files)" multiple  class="uploadProfilePic" />
                            </div>

                            <div class="form-group col-lg-6" ng-if="projectMode == 'edit'">
                                <label for="txtEmail"> <i class="fa fa-paperclip" aria-hidden="true"></i> Attachments </label>
                                <p ng-if="projectAddUpdateModel.ActualFileName != null" for="txtEmail"> 
                                    {{projectAddUpdateModel.ActualFileName}}  
                                    <!--<a target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{projectAddUpdateModel.FileName}}" download="{{projectAddUpdateModel.FileName}}" title="Download this file"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i>--> 

                                    <a title="Download this file" ng-click="downloadProjectDocument(projectAddUpdateModel)"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i>

                                    </a>   <a href="" title="Delete file" ng-click="deleteAttachmentFileFromProject(projectAddUpdateModel)"> <i class="fa fa-trash-o" aria-hidden="true" style="margin-left:20px;cursor:pointer;"></i> </a> </p>
                                <p ng-if="projectAddUpdateModel.ActualFileName == null"> No Attachments Found </p>
                                <!--<a href="" title="Delete file" ng-click="downloadAttachmentFileFromProject(projectAddUpdateModel)"> download </a>--> 
                            </div>
                        </div>

                        <div class="form-group" ng-if="showAttachmentDescription">
                            <label for="txtEmail"> Attachment Description  </label>
                            <input name="AttachmentDescription" class="form-control" ng-class="{inputError:projectAddUpdateForm.AttachmentDescription.$dirty && projectAddUpdateForm.AttachmentDescription.$invalid}" placeholder="Enter Description For Uploaded File" maxlength="500" ng-model="projectAddUpdateModel.AttachmentDescription" required>
                        </div>


                        <div class="form-group">
                            <label for="txtFirstName">Project Members (Internal Users)</label>
                            <selectize options='myProjectMember.projectMembers' config="projectMembersConfig" ng-model="projectAddUpdateModel.projectMembers" ng-disabled='disable'>

                            </selectize>
                        </div>

       

                        <div class="form-group">
                            <label for="txtFirstName"> List Of Internal Users : </label>
                            <div class="table-responsive" ng-if="internalUserDetails.length > 0">
                                <table class="table table-striped table-hover table-bordered table-condensed" style="margin-bottom:50px;">
                                    <thead>
                                        <tr>
                                            <th> <strong> Name </strong>   </th>
                                            <th> <strong> Role </strong>  </th>
                                            <th> <strong> Status  </strong>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="IntrnlUsr in internalUserDetails">
                                            <td>
                                                <div data-nodrag class="images pull-left member-pic"><img ng-src="{{imgURL}}{{IntrnlUsr.ProfilePhoto}}" alt="" style="cursor:default;"></div>
                                                <label style="margin-left:20px;">{{IntrnlUsr.FirstName}} </label>
                                            </td>
                                            <td>
                                                <select class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required
                                                        ng-options="role.RoleId as role.Name for role in RoleObject"
                                                        ng-model="IntrnlUsr.RoleId">
                                                    <option selected="selected" value="">--- Select User Role ---</option>
                                                </select>
                                            </td>
                                            <td> {{IntrnlUsr.Status}} </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group" ng-if="internalUserDetails.length == 0">
                                No Internal User Selected
                            </div>
                        </div>


                        <div class="form-group">
                            <input style="visibility:visible;" type="checkbox" ng-model="addFreelancer" ng-change="addFreelancerChange(addFreelancer)">
                            <label for="txtEmail" style="margin-left:10px;margin-bottom:10px;cursor:pointer;" ng-click="manageFreelancerCheckboxChange(addFreelancer)"> Manage Freelancers </label>
                        </div>


                        <div ng-show="addFreelancer">

                            <div class="form-group">
                                <label for="txtFirstName">Project Members (Freelancers Only)</label>
                                <selectize options='myProjectMember.freelancersOnly' config="freelancersConfig" ng-model="projectAddUpdateModel.freelancersMembers" ng-disabled='disable'></selectize>
                            </div>


                            <div class="form-group">
                                <label for="txtFirstName"> List Of Freelancers : </label>
                            </div>
                            <div class="form-group table-responsive" ng-if="freelancerDetails.length > 0">
                                <table class="table table-striped table-hover table-bordered table-condensed" style="margin-bottom:50px;">
                                    <thead>
                                        <tr>
                                            <th> <strong> Name </strong>   </th>
                                            <th> <strong> Profile Rate ($)  </strong>  </th>
                                            <th> <strong> Offered Price ($) </strong>  </th>
                                            <th> <strong> Role </strong>  </th>
                                            <th> <strong> Document </strong>   </th>
                                            <th> <strong> Status  </strong>  </th>
                                            <th> <strong> Notes  </strong>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="freelancer in freelancerDetails">
                                            <td>
                                                <div data-nodrag class="images pull-left member-pic"><img ng-src="{{imgURL}}{{freelancer.FreelancerProfilePhoto}}" alt="" style="cursor:default;"></div>
                                                <label style="margin-left:20px;">{{freelancer.FreelancerName}} </label>
                                            </td>
                                            <td>{{freelancer.FreelancerProfileRate}}</td>
                                            <td>
                                                <input name="FreelancerOfferedPrice" ng-if="!freelancer.IsInvitationSent" class="form-control" ng-keypress="isNumber($event)" placeholder="Enter Project Name" ng-model="freelancer.FreelancerOfferedPrice">
                                                <label ng-if="freelancer.IsInvitationSent"> {{freelancer.FreelancerOfferedPrice}}  </label>
                                            </td>
                                            <td>
                                                <!--{{freelancer.FreelancerRole}}-->
                                                <select ng-if="freelancer.IsInvitationSent" class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" disabled="disabled"
                                                        ng-options="role.RoleId as role.Name for role in RoleObjectForFreelancer" ng-model="freelancer.FreelancerRoleId">
                                                    <option selected="selected" value="">--- Select User Role ---</option>
                                                </select>

                                                <select ng-if="!freelancer.IsInvitationSent" class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required
                                                        ng-options="role.RoleId as role.Name for role in RoleObjectForFreelancer" ng-model="freelancer.FreelancerRoleId">
                                                    <option selected="selected" value="">--- Select User Role ---</option>
                                                </select>

                                            </td>
                                            freelancer.PreviousAttachments {{freelancer.PreviousAttachments}}
                                            <td>
                                                <p ng-repeat="img in freelancer.PreviousAttachments">
                                                    {{img.ActualFileName}}
                                                    <a class="pull-right" href="" ng-if="freelancer.ActualFileName == null && freelancer.Attachments != undefined" style=""> 
                                                    <i ng-click="removeFreelancerAttachments($index,$parent.$parent.$index)" class="fa fa-times" aria-hidden="true"></i> </a>
                                                    <!--<a ng-if="freelancer.IsInvitationSent == true" target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{img.FileName}}" download="{{img.FileName}}" title="Download this file"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a>--> 
                                                    <a ng-if="freelancer.IsInvitationSent == true" ng-click="downloadFreelancerAttachments(img)" title="Download this file"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a> 
                                                </p>
                                                <label ng-if="freelancer.IsInvitationSent && !freelancer.PreviousAttachments.length"> No Attachments Found  </label>
                                                <input type="file" multiple name="{{freelancer.FreelancerUserId}}" ng-if="!freelancer.IsInvitationSent" title="" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar" 
                                                       ng-file-select="selectFileForFreelancersAttachent($files,$index,freelancer.FreelancerUserId)" class="uploadProfilePic" />
                                            </td>
                                            <td> {{freelancer.Status}} </td>
                                            <td>
                                                <span ng-if="freelancer.IsInvitationSent">  {{freelancer.FreelancerResponsibilities}}  </span>
                                                <a ng-if="!freelancer.IsInvitationSent" ng-click="manageNotes(freelancer)" style="cursor:pointer;margin-top:20px !important;" class="edit-btn"> Notes </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="form-group" ng-if="freelancerDetails.length == 0" style="margin-bottom:20px;">
                                No Freelancers Selected
                            </div>

                        </div>


                    </div>

                    <div ng-if="projectPhase == 'Send Offer'">

                        <div class="col-lg-12">
                            <div class="col-lg-6 form-group">
                                <label for="txtEmail"> Project Name : <a style="cursor:default;" href=""> {{projectAddUpdateModel.projectName}} </a> </label>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="txtEmail"> Estimated Hours (in hours) : <a style="cursor:default;" href=""> {{projectAddUpdateModel.projectHours}} </a> </label>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-6 form-group">
                                <label for="txtEmail"> Project Description : <a style="cursor:default;" href=""> {{projectAddUpdateModel.projectDescription}} </a> </label>
                            </div>
                            <div class="col-lg-6 form-group">
                                <label for="txtEmail">Estimated Budget (in $) : <a style="cursor:default;" href=""> {{projectAddUpdateModel.projectBudget}} </a> </label>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-6 form-group">
                                <div ng-if="projectId == 0">
                                    <label> Project Document  : </label>
                                    <a style="cursor:default;" href="" ng-if="projectAddUpdateModel.ProjectAttachments[0].name != undefined">  {{projectAddUpdateModel.ProjectAttachments[0].name}} </a>
                                    <a style="cursor:default;" href="" ng-if="projectAddUpdateModel.ProjectAttachments[0].name == undefined"> No Attachments Found </a>
                                </div>

                                <div for="txtFirstName" ng-if="projectId > 0">
                                    <label> Project Document  :  </label>
                                    <a style="cursor:default;" href="" ng-if="projectAddUpdateModel.ActualFileName != null" for="txtEmail"> {{projectAddUpdateModel.ActualFileName}}   </a>
                                    <a style="cursor:default;" href="" ng-if="projectAddUpdateModel.ActualFileName == null"> No Attachments Found </a>
                                </div>


                            </div>
                            <div class="col-lg-6 form-group">
                                <div ng-if="projectId == 0 && projectAddUpdateModel.ProjectAttachments[0].name != undefined">
                                    <label for="txtFirstName"> Attachment Description : <a style="cursor:default;" href=""> {{projectAddUpdateModel.AttachmentDescription}} </a>   </label>
                                </div>

                                <div ng-if="projectId > 0 && projectAddUpdateModel.ActualFileName != null">
                                    <label for="txtFirstName"> Attachment Description : <a style="cursor:default;" href=""> {{projectAddUpdateModel.AttachmentDescription}} </a>   </label>
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-12 form-group">
                                <label for="txtEmail">Access Level : <a href="" style="cursor:default;"> {{accessProfileName}} </a> </label>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-12 form-group table-responsive">
                                <label for="txtFirstName"> <strong> List Of Internal Users : </strong> </label>
                                <table ng-if="internalUserDetails.length > 0" class="table table-striped table-hover table-bordered table-condensed" style="margin-bottom:50px;">
                                    <thead>
                                        <tr>
                                            <th> <strong> Name </strong>   </th>
                                            <th> <strong> Role </strong>  </th>
                                            <th> <strong> Status  </strong>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="IntrnlUsr in internalUserDetails">
                                            <td>
                                                <div data-nodrag class="images pull-left member-pic"><img ng-src="{{imgURL}}{{IntrnlUsr.ProfilePhoto}}" alt="" style="cursor:default;"></div>
                                                <label style="margin-left:20px;">{{IntrnlUsr.FirstName}} </label>
                                            </td>
                                            <td>
                                                <select class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}"
                                                        ng-options="role.RoleId as role.Name for role in RoleObject" disabled="disabled"
                                                        ng-model="IntrnlUsr.RoleId">
                                                    <option selected="selected" value="">--- Select User Role ---</option>
                                                </select>
                                            </td>
                                            <td> {{IntrnlUsr.Status}} </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div ng-if="internalUserDetails.length == 0">
                                    No Internal Users Selected
                                </div>

                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-12 form-group table-responsive">
                                <label for="txtFirstName"> List Of Freelancers : </label>
                                <table ng-if="freelancerDetails.length > 0" class="table table-striped table-hover table-bordered table-condensed" style="margin-bottom:50px;">
                                    <thead>
                                        <tr>
                                            <th> <strong> Name </strong>   </th>
                                            <th> <strong> Profile Rate ($)  </strong>  </th>
                                            <th> <strong> Offered Price ($) </strong>  </th>
                                            <th> <strong> Role </strong>  </th>
                                            <th> <strong> Document </strong>   </th>
                                            <th> <strong> Status  </strong>  </th>
                                            <th> <strong> Notes  </strong>  </th>
                                            <th>  </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="freelancer in freelancerDetails">
                                            <td>
                                                <div data-nodrag class="images pull-left member-pic"><img ng-src="{{imgURL}}{{freelancer.FreelancerProfilePhoto}}" alt="" style="cursor:default;"></div>
                                                <label style="margin-left:20px;">{{freelancer.FreelancerName}} </label>
                                            </td>
                                            <td>{{freelancer.FreelancerProfileRate}}</td>
                                            <td>
                                                <label> {{freelancer.FreelancerOfferedPrice}}  </label>
                                            </td>
                                            <td>
                                                <!--{{freelancer.FreelancerRole}}-->
                                                <select class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}"
                                                        ng-options="role.RoleId as role.Name for role in RoleObject" disabled="disabled"
                                                        ng-model="freelancer.FreelancerRoleId">
                                                    <option selected="selected" value="">--- Select User Role ---</option>
                                                </select>
                                            </td>
                                            <td>
                                                <p ng-repeat="img in freelancer.PreviousAttachments">
                                                    <i class="fa fa-circle" style="margin-right:10px;margin-left:10px;" aria-hidden="true"></i> {{img.ActualFileName}}
                                                </p>
                                                <p ng-if="!freelancer.PreviousAttachments.length">
                                                    No Attachments Found
                                                </p>
                                            </td>
                                            <td> {{freelancer.Status}} </td>
                                            <td>  {{freelancer.FreelancerResponsibilities}}    </td>
                                            <td>  <a href="" ng-click="viewJobOffer(freelancer)"> View job offer</a>    </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <div ng-if="freelancerDetails.length == 0" style="margin-bottom:20px;">
                                    No Freelancers Selected
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="clear"></div>
                    <div class="form-group">
                        <!--<a ng-show="addFreelancer" href="" ng-click="addFreelancer=!addFreelancer;nextBtnClick(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, $event ,projectAddUpdateForm)" class="edit-btn"> Next </a>-->
                        <!--<a ng-show="showProjectWithFreelancers" href="" ng-click="addFreelancer=!addFreelancer;backBtnClick()" class="edit-btn"> Back </a>-->
                        <a ng-if="projectPhase == 'Add Project'" href="" ng-click="clickNext(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, projectAddUpdateForm.projectHours.$invalid, projectAddUpdateForm.projectBudget.$invalid, $event ,projectAddUpdateForm)" class="edit-btn"> Next </a>
                        <a ng-if="projectPhase == 'Send Offer'" href="" ng-click="clickBack()" class="edit-btn"> Back </a>
                        <a ng-if="projectPhase == 'Send Offer'" ng-show="projectButton == false" href="" ng-click="addNewProject(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, $event ,projectAddUpdateForm)" class="edit-btn"> <span ng-if="freelancerDetails.length == 0 || freelancerDetails.length == null"> Create Project </span>  <span ng-if="freelancerDetails.length > 0"> Send Offer </span>  </a>
                        <a ng-if="projectPhase == 'Send Offer'" ng-show="projectButton ==true" href="" ng-click="updateProject(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid,projectAddUpdateForm)" class="edit-btn">  <span ng-if="freelancerDetails.length == 0 || freelancerDetails.length == null"> Update Project </span>  <span ng-if="freelancerDetails.length > 0"> Update Offer </span>  </a>
                        <a ng-click="cancelAddUpdateProject()" style="cursor:pointer;" class="edit-btn">Cancel</a>
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>




<div ng-include="'views/project/FreelancerNotes.html'"></div>
<div ng-include="'views/Freelancer/JobOfferModal.html'"></div>
