﻿

<div class="modal fade" id="modalConfirmDeletePhase" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">

            <div class="modal-content" style="width:450px">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"></h4>
                </div>
                <div class="modal-body">
 
                    <p style="font-size: medium">Are you sure you want to delete this phase ?  </p>

                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer;" value="{{index}}" ng-click="deletePhase()" class="edit-btn" tabindex="4">Delete</a>

                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
  
    </div>
</div>


<div class="modal fade" id="modalConfirmDeleteMilestone" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddNewMileStoneform" novalidate>
            <div class="modal-content" style="width:450px">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> </h4>
                </div>
                <div class="modal-body">
                    <p style="font-size: medium">Are you sure you want to delete this milestone ?  </p>

                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer;" value="{{index}}" ng-click="deleteMilestone()" class="edit-btn" tabindex="4">Delete</a>

                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>



<div class="modal fade" id="modalConfirmDeleteVendor" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:450px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">POC </h4>
            </div>
            <div class="modal-body">
                <p style="font-size: medium">Are you sure you want to delete this POC ?  </p>
            </div>
            <div class="modal-footer">
                <a style="cursor:pointer;" value="{{index}}" ng-click="removeVendor()" class="edit-btn" tabindex="4">Delete</a>

                <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="modalConfirmAcceptRejectQuote" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px;height: 256px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">{{ReasonHead}} </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    
                    <textarea style="height:100px" rows="2" cols="15" name="projectDescription" 
                              placeholder="Write a message...." maxlength="1000" class="form-control" ng-model="item.RejectOrAccept" required>
                        
                    </textarea>
                </div>
            </div>
            <div class="modal-footer">
                
                <a href=""  class="edit-btn" ng-click="saveReasonAcceptOrReject(item)" tabindex="6">Save</a>
                <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="modalConfirmDeleteRisk" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content" style="width:450px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"></h4>
            </div>
            <div class="modal-body">

                <p style="font-size: medium">Are you sure you want to delete this risk ?  </p>

            </div>
            <div class="modal-footer">
                <a style="cursor:pointer;" value="{{index}}" ng-click="deleteRisk()" class="edit-btn" tabindex="4">Delete</a>

                <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalConfirmDeleteComment" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddNewCommentform" novalidate>
            <div class="modal-content" style="width:450px">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> </h4>
                </div>
                <div class="modal-body">
                    <p style="font-size: medium">Are you sure you want to delete this risk comment ?  </p>

                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer;" value="{{index}}" ng-click="deleteRiskComment()" class="edit-btn" tabindex="4">Delete</a>

                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
