﻿

<div class="modal fade" id="modalFreelancerNotes" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="freelancerNotesForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Notes For Freelancers </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtFirstName">Note</label>
                        <textarea name="Notes" id="Notes"  ng-class="{inputError:freelancerNotesForm.Notes.$dirty && freelancerNotesForm.Notes.$invalid}" placeholder="Enter Note For Freelancer" class="form-control" ng-model="selectedFrlncr.FreelancerNotes" ></textarea>
                    </div>
                     
                </div>
                <div class="modal-footer">
                    <a  ng-if="!selectedFrlncr.IsInvitationSent" href="" ng-click="setNotes(selectedFrlncr)" class="edit-btn"> <span ng-if="noteTypeIsSet"> Add Note </span>  <span ng-if="!noteTypeIsSet"> Change Note </span>  </a>
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
