﻿

<div class="modal fade" id="modalConfirmDeletePhase" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                
            </div>

            <form name="manageProjectsWithFreelancerForm" novalidate class="css-form">

                <div class="modal-body">
                     <p>Do you want to Delete this Phase ?</p>     
                </div>
                <div class="modal-footer">
                    <a href="" ng-click="deletePhase()" class="edit-btn">Delete</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>


            </form>

        </div>
    </div>
</div>
