﻿
<style>
    .Milstonebodysize {
        max-height: 800px;
    }

    /*#modalAddNewMileStone {
        margin-left: -440px;
    }*/

    .modal-dialog {
        width: auto !important;
    }

    .modal-content {
        margin-left: auto;
        margin-right: auto;
    }
</style>



<div class="modal fade" id="modalAddNewMileStone" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize">
        <div class="modal-content" style="width:1245px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Manage Milestone - In {{phaseNameONMile}}</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div id="phaseMilestone" class="row" ng-show="hideShowPhaseMile">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                            <div class="form-group pheadertop"><div class="pheader">Add a Milestone</div></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                                <div>
                                    <form name="AddNewMilestone" novalidate class="margin-top-10px">
                                        <div class="form-group">
                                            <label for="txtPhase">Milestone Name</label>
                                            <input name="milestoneName" class="form-control" ng-class="{inputError:AddNewMilestone.milestoneName.$dirty && AddNewMilestone.milestoneName.$invalid}"
                                                   maxlength="50" placeholder="Enter milestone name" ng-model="milestoneModal.name" tabindex="1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Description</label>
                                            <textarea rows="6" cols="20" name="description" placeholder="Enter description" class="form-control" maxlength="500"
                                                      ng-model="milestoneModal.description" tabindex="2" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Budget(in $)</label>
                                            <input name="budget" ng-keypress="isNumber($event)" placeholder="Enter budget" class="form-control" ng-model="milestoneModal.budget"
                                                   maxlength="6" tabindex="3" required>
                                        </div>

                                        <div class="form-group">
                                            <a ng-if="!editMilestonebuttonShow" style="cursor:pointer;" ng-click="addNewMilestone(AddNewMilestone.milestoneName.$invalid,AddNewMilestone,milestoneModal)" class="edit-btn" tabindex="4">Add New Milstone</a>
                                            <a ng-if="editMilestonebuttonShow" style="cursor:pointer;" ng-click="updateMilestone(AddNewMilestone.milestoneName.$invalid,AddNewMilestone,milestoneModal)" class="edit-btn" tabindex="5">Update Milstone</a>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group pheadertop"><div class="pheader">Existing Milestones</div></div>
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Milstone Name</th>
                                        <th>Created on</th>
                                        <th>Budget (in $)</th>
                                        <th ng-hide="ProjectIsEdit" >Action</th>

                                    </tr>
                                </thead>
                                <tr ng-if="AddNewProjectModel.PhaseList[PhaseIndexForMilestone].MileStone.length ==0">
                                    <td colspan="4" class="text-align-center">No Record Found</td>
                                </tr>
                                <!--Phasa------------------------------------------------------------------>

                                <tr ng-repeat-start="item in AddNewProjectModel.PhaseList[PhaseIndexForMilestone].MileStone">

                                    <td>{{item.Name}}</td>
                                    <td>{{item.CreateOn}}</td>
                                    <td>{{item.Budget}}</td>
                                    <td ng-hide="ProjectIsEdit"  rowspan="2">
                                        <a style="cursor:pointer;" ng-click="editMilesonte($index,item)" class="edit-btn displaytablecell" tabindex="6">Edit Milestone </a><br />
                                        <div class="clearfix"></div>
                                        <a style="cursor:pointer;" ng-click="deleteConfirmMilestone($index,item)" class="edit-btn displaytablecell" tabindex="7">Delete Milestone</a><br />

                                    </td>

                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="3"><label class="fontingrind">Description :</label> {{item.Description}}</td>
                                </tr>


                            </table>

                        </div>


                    </div>
                </section>
            </div>
            <div class="modal-footer">

                <a href="" data-dismiss="modal" class="edit-btn">Back To Phase</a>

            </div>
        </div>
    </div>
</div>

<!--------------------------------------------------Edit-milestne-popUp------------------------------------------------------------------------------------->

<div class="modal fade" id="modalEditAndAddNewMileStone" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize">
        <div class="modal-content" style="width:1245px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Manage Milestone - In {{phaseNameONMile}}</h4>
            </div>
            <div class="modal-body">
                <section>
                    <div id="phaseMilestone" class="row" ng-show="hideShowPhaseMile">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-hide="ProjectIsEdit">
                            <div class="form-group pheadertop"><div class="pheader">Add a Milestone</div></div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                                <div>
                                    <form name="EditNewMilestone" novalidate class="margin-top-10px">
                                        <div class="form-group">
                                            <label for="txtPhase">Milestone Name</label>
                                            <input name="milestoneName" class="form-control" ng-class="{inputError:EditNewMilestone.milestoneName.$dirty && EditNewMilestone.milestoneName.$invalid}"
                                                   maxlength="50" placeholder="Enter milestone name" ng-model="milestoneModal.name" tabindex="1" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtDescription">Description</label>
                                            <textarea rows="6" cols="20" name="description" placeholder="Enter description" class="form-control" maxlength="500"
                                                      ng-model="milestoneModal.description" tabindex="2" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <label for="txtBudget">Budget(in $)</label>
                                            <input name="budget" ng-keypress="isNumber($event)" placeholder="Enter budget" class="form-control" ng-model="milestoneModal.budget"
                                                   maxlength="6" tabindex="3" required>
                                        </div>

                                        <div class="form-group">
                                            <a ng-if="!editMilestonebuttonShow" style="cursor:pointer;" ng-click="addNewMilestoneEditProject(EditNewMilestone.milestoneName.$invalid,EditNewMilestone,milestoneModal)" class="edit-btn" tabindex="4">Add New Milstone</a>
                                            <a ng-if="editMilestonebuttonShow" style="cursor:pointer;" ng-click="updateMilestoneEditProject(EditNewMilestone.milestoneName.$invalid,EditNewMilestone,milestoneModal)" class="edit-btn" tabindex="5">Update Milstone</a>


                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                            <div class="form-group pheadertop"><div class="pheader">Existing Milestones</div></div>
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Milstone Name</th>
                                        <th>Created on</th>
                                        <th>Budget (in $)</th>
                                        <th  ng-hide="ProjectIsEdit" rowspan="2">Action</th>

                                    </tr>
                                </thead>
                                <tr ng-if="AddNewProjectModel.PhaseList[PhaseIndexForMilestone].MileStone.length ==0">
                                    <td colspan="4" class="text-align-center">No Record Found</td>
                                </tr>
                                <!--Phasa------------------------------------------------------------------>

                                <tr ng-repeat-start="item in AddNewProjectModel.PhaseList[PhaseIndexForMilestone].MileStone">

                                    <td>{{item.Name}}</td>
                                    <td>{{item.Createdon | date:'MM/dd/yyyy'}}</td>
                                    <td>{{item.Budget | number: 2}}</td>
                                    <td ng-hide="ProjectIsEdit" rowspan="2">
                                        <a style="cursor:pointer;" ng-click="editMilesonte($index,item)" class="edit-btn displaytablecell" tabindex="6">Edit Milestone </a><br />
                                        <div class="clearfix"></div>
                                        <a style="cursor:pointer;" ng-click="deleteConfirmMilestone($index,item)" class="edit-btn displaytablecell" tabindex="7">Delete Milestone</a><br />

                                    </td>
                          
                                </tr>
                                <tr ng-repeat-end>
                                    <td colspan="3"><label class="fontingrind">Description :</label> {{item.Description}}</td>
                                </tr>


                            </table>

                        </div>


                    </div>
                </section>
            </div>
            <div class="modal-footer">

                <a href="" data-dismiss="modal" class="edit-btn">Back To Phase</a>

            </div>
        </div>
    </div>
</div>