﻿
<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }
    .grayBack{
        background-color: #f9f9f9 !important;
    }
    .fontingrind{
    font-weight:bold !important;
    margin-right: 10px !important;
    font-size: inherit !important;

    }
    .tdwidth{
        width:25px !important;

    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
    #modalAddNewRisk
    {
        width:60%; 
        margin-left:20%;
    }
</style>
<!--wizard CSS-->
<style>
    ul#wizardStatus {
        list-style: none;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

        ul#wizardStatus li {
            background-color: #d9d9ce;
            color: #3d4c4f;
            display: inline-block;
            margin: 0;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 100px 0px 50px;
            position: relative;
            width: 24.7%;
             font-size: large;
        }

            ul#wizardStatus li:first-child {
                padding-left: 40px;
                -webkit-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            ul#wizardStatus li:last-child {
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            ul#wizardStatus li:after,
            ul#wizardStatus li:before {
                background-color: #d9d9ce;
                content: "";
                display: block;
                position: absolute;
            }

            ul#wizardStatus li:after {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border-right: 3px solid white;
                border-top: 3px solid white;
                height: 33px;
                right: -16px;
                top: 4px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(44deg);
                width: 35px;
                z-index: 5;
            }

            ul#wizardStatus li:before {
                height: 40px;
                right: 3px;
                width: 20px;
                z-index: 6;
            }

            ul#wizardStatus li:last-child:after,
            ul#wizardStatus li:last-child:before {
                display: none;
            }

            ul#wizardStatus li.current {
                background-color: #0597c5;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }

                ul#wizardStatus li.current:after,
                ul#wizardStatus li.current:before {
                    background-color: #0597c5;
                }

            ul#wizardStatus li.completed {
                background-color: #ccc;
                color: #fff;
            }

                ul#wizardStatus li.completed:after,
                ul#wizardStatus li.completed:before {
                    background-color: #ccc;
                }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="createNewProject">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Manage Projects:- <span>{{AddNewProjectModel.projectName}}</span> </span></h3>



            <div class="clearfix"></div>
        </div>
        <div id="projectStep" style="margin-bottom:10px;">
            <ul id="wizardStatus">
                <li ng-class="myFirstCurrent">Basic Detail</li>
                <li ng-class="mySecondcCurrent">Manage Risks</li>
                <li ng-class="myThirdCurrent">Phase/Milestone</li>
                <li ng-class="myForthCurrent">Choose POCs</li>
            </ul>

        </div>
        <!--Basic Project detail block-->
        <section>
            <div class="row" ng-show="hideProjectInfo">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group pheadertop"><div class="pheader">Add a Project</div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <form name="NewProjectToVendorForm1" class="margin-top-10px">
                            <div class="form-group">
                                <label for="txtProject">Project Name</label>
                                <input name="projectName" class="form-control" ng-class="{inputError:NewProjectToVendorForm1.projectName.$dirty && NewProjectToVendorForm1.projectName.$invalid}"
                                       placeholder="Enter project name" maxlength="50" required ng-model="AddNewProjectModel.projectName" tabindex="1">
                            </div>



                            <div class="form-group">
                                <label for="txtstartdate">Start Date</label>
                                <p class="input-group" style="margin:0px">
                                    <input id="from" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                           ng-model="AddNewProjectModel.projectStartDate" tabindex="2" is-open="popup.opened1" min-date="mindate" datepicker-options="dateOptions"
                                           ng-required="true"
                                           close-text="Close"
                                           name="projectStartDate"
                                           placeholder="Enter project start date" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>


                            <div class="form-group">
                                <label for="txtstartdate">End Date</label>
                                <p class="input-group" style="margin:0px">
                                    <input id="To" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                           ng-model="AddNewProjectModel.projectEndDate" tabindex="3" is-open="popup.opened2" min-date="mindate1" max-date="today" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="projectEndDate"
                                           placeholder="Enter project end date" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>


                            <div class="form-group">
                                <label for="txtEmail">Estimated Budget (in $)</label>
                                <input name="projectBudget" class="form-control"
                                       ng-keypress="isNumber($event)" placeholder="Enter estimated  budget" ng-model="AddNewProjectModel.projectBudget" maxlength="12"
                                       tabindex="4" required>
                            </div>
                            <div class="form-group">
                                <label for="txtFirstName">Project Description</label>
                                <textarea rows="5" cols="20" name="projectDescription"
                                          placeholder="Enter project description" maxlength="1000" class="form-control" ng-model="AddNewProjectModel.projectDescription" tabindex="5" required></textarea>
                            </div>



                            <div class="form-group">
                                <label for="txtEmail"> upload project document (if any)</label>
                                <p ng-repeat="img in AddNewProjectModel.ProjectDocument track by $index">
                                    {{img.name}}
                                    {{$index+1}}
                                    <a class="pull-right" href="" ng-if="AddNewProjectModel.ProjectDocument == null &&
                                             AddNewProjectModel.ProjectDocument != undefined" style=""></a>
                                    <a href="" ng-click="removeProjectAttachments($index)" class="fa fa-times" aria-hidden="true"></a>
                                </p>

                                <input type="file" multiple name="{{img.name}}" id="ProjectDocument"
                                       title="" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar"
                                       ng-file-select="selectFileForProject($files,$index)" tabindex="6" class="uploadProfilePic" />
                            </div>

                            <div ng-if="CustomDirectiveReady">
                                <custom-Control-render-directive name1="CustomcontrolList" ng-model="customcontrolmodel"></custom-Control-render-directive>
                            </div>

                            <div class="form-group " style="float:right">

                                <a href="" ng-click="nextFromProjectWiz(NewProjectToVendorForm1.projectName.$invalid,NewProjectToVendorForm1,AddNewProjectModel)" tabindex="7" class="edit-btn" style="width: 200px;display: inline-block;">Next</a>
                            </div>
                            <div class="clear"></div>
                        </form>

                    </div>

                </div>
            </div>
        </section>

        <!--Risk detail block-->
        <section>
            <div class="row" ng-show="hideShowRisk" id="ManageRisk">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group pheadertop"><div class="pheader">Add Risk</div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <form name="NewProjectToVendorForm1" class="margin-top-10px">
                           
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <a href="javascript:void(0)" ng-click="OpenRiskModal()" class="edit-btn pull-right" style="width:auto;">Add New Risk</a>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group pheadertop"><div class="pheader">Existing Risks</div></div>
                                    <table class="table table-striped table-hover table-bordered table-condensed">
                                        <thead>
                                            <tr style="font:bold;background-color:#3facff">
                                                <th>Risk title</th>
                                                <th>Risk added on</th>
                                                <th>Severity</th>
                                                <th>Status</th>
                                                <th>Comments</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>

                                        <!--Phasa------------------------------------------------------------------>
                                        <tr ng-repeat-start="item in AddNewProjectModel.RiskList">
                                            <td class="grayBack" style="width:520px"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 14px"></span>{{item.RiskTitle}}</td>
                                            <td class="grayBack tdwidth ">{{item.Createdon}}</td>
                                            <td class="grayBack tdwidth">{{item.Severity}}</td>
                                            <td class="grayBack">{{item.Status}}</td>
                                            <td class="grayBack">{{item.RiskComments.length}}</td>
                                            <td class="grayBack">
                                                <a style="cursor:pointer;" ng-click="editRisk($index,item)" class="edit-btn displaytablecell" tabindex="15">Edit Risk </a><br />
                                                <a style="cursor:pointer;" ng-click="deleteRiskConfirm($index,item)" class="edit-btn displaytablecell" tabindex="16">Delete Risk</a><br />
                                                <a style="cursor:pointer;" ng-click="openRiskComment($index,item)" class="edit-btn displaytablecell" tabindex="17">Add Comment</a><br />
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end>

                                            

                                        </tr>

                                        <tr ng-if="AddNewProjectModel.PhaseList.length == 0">
                                            <td colspan="6" class="text-align-center">No Record Found</td>
                                        </tr>
                                    </table>
                                </div>















                                <div class="form-group " style="float:right">

                                    <a href="" ng-click="previousFromRisktoProject()" tabindex="18" class="edit-btn">Previous</a>
                                    <a href="" ng-click="nextFromRiskToPhase()" tabindex="19" class="edit-btn">Next</a>
                                </div>
                                <div class="clear"></div>
</form>

                    </div>

                </div>
            </div>
        </section>
        <!--this is the phase and milestone block-->
        <section>
            <div id="phaseMilestone" class="row" ng-show="hideShowPhaseMile">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group pheadertop"><div class="pheader">Add a Phase</div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <div>
                            <form name="Phaseform" novalidate class="margin-top-10px">

                                <div class="form-group">
                                    <label for="txtProject">Phase Name</label>
                                    <input name="phaseName" class="form-control" ng-class="{inputError:Phaseform.phaseName.$dirty && Phaseform.phaseName.$invalid}"
                                           placeholder="Enter Phase name" maxlength="50" ng-model="phaseModel.name" tabindex="8" required>
                                </div>

                                <div class="form-group">
                                    <label for="txtDescription">Description</label>
                                    <textarea rows="6" cols="20" name="description" placeholder="Enter description" class="form-control" maxlength="500"
                                              ng-model="phaseModel.description" tabindex="9" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="txtBudget">Budget(in $)</label>
                                    <input name="budget" placeholder="Enter budget" class="form-control"
                                           ng-keypress="isNumber($event)" ng-model="phaseModel.budget" maxlength="8" tabindex="10">
                                </div>
                                <div class="form-group">
                                    <label for="txtEmail"> Upload Phase Document (If any)</label>

                                    <p ng-repeat="img in PhaseDocumentAttachedView track by $index">
                                        {{img.name}}
                                        <!--{{$index+1}}-->
                                        <a class="pull-right" href="" ng-if="PhaseDocumentAttached == null && PhaseDocumentAttached != undefined" style=""></a>
                                        <a href="" ng-click="removePhaseAttachments($index)" class="fa fa-times" aria-hidden="true" tabindex="11"></a>
                                    </p>

                                    <input type="file" multiple name="{{PhaseDocumentAttached.name}}" id="fileInput"
                                           title="" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar"
                                           ng-file-select="selectFileForDocumentPhase1($files)" class="uploadProfilePic" tabindex="12" />
                                </div>
                                <div class="form-group">
                                    <a ng-if="!editPhasebuttonShow" style="cursor:pointer;" ng-click="addNewPhase(Phaseform.phaseName.$invalid,Phaseform,phaseModel)" class="edit-btn" tabindex="13">Add New Phase</a>
                                    <a ng-if="editPhasebuttonShow" style="cursor:pointer;" ng-click="updatePhase(Phaseform.phaseName.$invalid,Phaseform,phaseModel)" class="edit-btn" tabindex="14">Update Phase</a>
                                    <a href="" class="edit-btn">Cancel</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="form-group pheadertop"><div class="pheader">Existing Phases</div></div>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr style="font:bold;background-color:#3facff">
                                <th>Phase Name</th>
                                <th>Created on</th>
                                <th>Milestones</th>
                                <th>Budget (in $)</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <!--Phasa------------------------------------------------------------------>
                        <tr ng-repeat-start="item in AddNewProjectModel.PhaseList">
                            <td class="grayBack" style="width:520px"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 14px"></span>{{item.Name}}</td>
                            <td class="grayBack tdwidth ">{{item.CreateOn}}</td>
                            <td class="grayBack tdwidth">{{item.MileStone.length}}</td>
                            <td class="grayBack">{{item.Budget}}</td>
                            <td class="grayBack" rowspan="3">
                                <a style="cursor:pointer;" ng-click="editPhase($index,item)" class="edit-btn displaytablecell" tabindex="15">Edit Phase </a><br />
                                <a style="cursor:pointer;" ng-click="deletePhaseConfirm($index,item)" class="edit-btn displaytablecell" tabindex="16">Delete Phase</a><br />
                                <a style="cursor:pointer;" ng-click="openMilestone($index,item)" class="edit-btn displaytablecell" tabindex="17">Add Milestone</a><br />
                            </td>
                        </tr>
                        <tr>
                            <td class="whiteBack" colspan="4"><span class="fontingrind">Description :</span>{{item.Description}}</td>
                        </tr>
                        <tr ng-repeat-end>

                            <td class="whiteBack" colspan="4" fontingrind>

                                Document Attached :
                                <div ng-repeat="img in item.PhaseDocumentsName">
                                    {{img.name}}

                                </div>

                            </td>

                        </tr>

                        <tr ng-if="AddNewProjectModel.PhaseList.length == 0">
                            <td colspan="5" class="text-align-center">No Record Found</td>
                        </tr>
                    </table>
                </div>
                <div style="margin-left:861px">
                    <a href="" ng-click="previousFromPhaseToRisk()" tabindex="18" class="edit-btn">Previous</a>
                    <a href="" ng-click="nextFromPhaseToVendor()" tabindex="19" class="edit-btn">Next</a>
                </div>

            </div>
        </section>

        <!--this is the choose vendor Section block-->
        <section>
            <div id="VenodorInfoDrop" class="row" ng-show="hideShowVendorInfo">
                <div class="col-lg-19 col-md-9 col-sm-9 col-xs-9">
                    <div class="form-group pheadertop"><div class="pheader">Select the POC for the quote</div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <div class="col-xs-10 col-md-10">
                            <form name="AddVendorForm" novalidate class="margin-top-10px">
                                <div class="form-group">

                                    <select name="mySelect" id="selectCompanyAcc" class="dropdown100"
                                            ng-options="option.Name for option in AddNewProjectModel.CompanyAccList  | filter: { IsAdded: false } "
                                            ng-model="selectedOption" ng-change="changeAccount(selectedOption)" tabindex="21">
                                        <option value="">------------------------------------Please select Account-------------------------------</option>
                                    </select>
                                    <select name="mySelect" id="selectVendor" class="dropdown100"
                                            ng-options="option.Name for option in AddNewProjectModel.VendorPOCList  | filter: { IsAdded: false } "
                                            ng-model="selectedOption" ng-change="changeVendor(selectedOption)" tabindex="22">
                                        <option value="">------------------------------------Please select POC-------------------------------</option>
                                    </select>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered table-condensed" style="margin-bottom:50px;">
                                            <thead>
                                                <tr>
                                                    <th> <strong> POC </strong>   </th>
                                                    <th> <strong> Invited on </strong>  </th>
                                                    <th><strong>Email</strong></th>
                                                    <th> <strong> status  </strong>  </th>
                                                    <th><strong>Action</strong></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="item in AddNewProjectModel.VendorList | filter: { IsAdded: true }">
                                                    <td style="width: 167px">{{item.Name}}</td>
                                                    <td>{{item.CreatedDate |  date:'MM/dd/yyyy'}}</td>
                                                    <td>{{item.EmailAddress}}</td>
                                                    <td>{{item.Status}} </td>
                                                    <td><a href="" ng-click="openModalRemoveVendor($index)" class="edit-btn displaytablecell">Delete</a></td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                    <div style="margin-top: 16px;display: inline-flex;float: right;">
                        <a style="cursor:pointer;width: 180px;" href="" ng-click="previousFromVendortoProject()" class="edit-btn">Previous</a>
                        <a style="cursor:pointer;width: 180px;" ng-click="SavenewProject(AddNewProjectModel,0)" class="edit-btn" tabindex="4">Save</a>
                        <a style="cursor:pointer;width: 180px;" ng-click="SavenewProject(AddNewProjectModel,1)" class="edit-btn" tabindex="4">Save and Send for quote </a>
                    </div>
                </div>

            </div>
        </section>




    </div>
</div>


<div ng-include="'views/project/AddNewPhase.html'"></div>
<div ng-include="'views/project/AddNewRisk.html'"></div>
<div ng-include="'views/project/MileStone.html'"></div>
<div ng-include="'views/project/AddNewComment.html'"></div>
<div ng-include="'views/project/ConfirmPopup.html'"></div>
