﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }


    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .tblAwardList thead:first-child {
        background-color: #3facff;
    }

        .tblAwardList thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>
<style>
    .completeProject {
        background-color: green !important;
        width: 8px !important;
        cursor: pointer !important;
    }

    .workinProgressProject {
        width: 8px !important;
        background-color: orange !important;
        cursor: pointer !important;
    }

    .removefromProject {
        width: 8px !important;
        background-color: red !important;
        cursor: pointer !important;
    }

    .hrActouHour80 {
        height: 6px !important;
        background-color: green !important;
        width: 115px !important;
        color: green;
    }

    .hrActouHourBetwenn80to100 {
        height: 6px !important;
        background-color: gold !important;
        width: 115px !important;
        color: gold;
    }

    .hrActouHourAbove100 {
        height: 6px !important;
        background-color: red !important;
        color: red;
        width: 115px !important;
    }
</style>
<style>
    input[type=checkbox] {
        visibility: visible !important;
    }
</style>



<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="ProjectAwardDetail" style="margin-left:13px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> My Projects  </span></h3>
            <div class="clearfix"></div>
        </div>

        <div class="row" style="margin-top: 12px">

            <div class="col-lg-3">

                <input type="text" class="form-control" ng-model="searchAwarededProjectName" placeholder="Search by project name"
                       ng-cut="cutSearchAwardedProjectByProjectName()"
                       auto-complete="autoCompleteOptions" ng-keydown="searchAwarededProjectNameEmpty(searchAwarededProjectName,$event)" />


            </div>

            <div class="col-lg-3">
                <div class="sorting-span pull-left" style="width:110px">Company</div>
                <div class="sorting-selection" style="width: 120px">
                    <select ng-model="projectAwardedToVendorModal" ng-options="item.Name for item in vendorDropList" ng-change="filterAwardedProjectByVendor(projectAwardedToVendorModal)"></select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection" style="width: 134px">
                    <select ng-model="filterPerformanceModal" ng-options="item.Status for item in performanceStatusList" ng-change="filterVendorPerformance(filterPerformanceModal)"></select>
                </div>
            </div>


            <div class="col-lg-3">
                <span style="margin-top: 5px;font-size: 14px">show me projects where invoice are pending : </span>

                <input type="checkbox" ng-model="unpaidInvoice" ng-click="showUpdaidVendorInvoice(unpaidInvoice)">
            </div>


        </div>

        <div style="margin-top:30px;">


            <div class="table-responsive">

                <div>
                    <table class="table table-striped table-hover table-bordered table-condensed tblAwardList">
                        <thead>
                            <tr style="width:100%">


                                <th style="width:3%">#</th>
                                <th>Project</th>
                                <th>Company</th>
                                <th style="width:7%">Project Start Date</th>
                                <th style="width:10%">Hours (Estimated/Actual) </th>
                                <th>Cost (Estimated/Actual)</th>
                                <th style="width:10%">Action</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in projectAwardedList">

                            <td style="width:70px">{{$index+1}}</td>
                            <td style="width: 215px;font-weight: bolder">{{item.ProjectName}}</td>
                            <td style="width: 215px">{{item.CompanyName}}</td>
                            <td style="width: 100px">{{item.CreatedDate == 'null' ? "----" : item.CreatedDate | date:'MM/dd/yyyy'}}</td>

                            <td style="width: 115px">{{item.Hours }}/{{item.ActualHours}} <hr ng-class="(item.ActualHours/item.Hours) < .80 ? 'hrActouHour80' : (item.ActualHours/item.Hours > 1) ? 'hrActouHourAbove100' : 'hrActouHourBetwenn80to100'"></td>
                            <td style="width: 115px">{{item.Budget }}/{{item.ActualBudget}}<lable ng-if="item.CountInvoice > 0" title="{{item.CountInvoice}} Invoices are pending" style="margin-left: 9px;cursor:pointer">,($)</lable></td>
                            <td style="width:100px">
                                <a href="#/project/summarydetail/{{item.Id}}/{{item.VendorId}}" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View details</span></a>
                            </td>
                        </tr>
                        <tr style="text-align:center" ng-if="projectAwardedList.length ==0">
                            <td colspan="12">No Record Found</td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>

        <div ng-if="!projectAwardedList.length ==0">
            <div class="form-group pull-left page-size form-inline">
                <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
            </div>



            <div class="pull-right">
                <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                            class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                </pagination>

            </div>
        </div>

    </div>
    <!--</div>-->
</div>

