﻿<style>
    .modal-dialog{
    width: 700px !important;

    }



</style>

<style>
    .FontProject{
        font-size:small;
        font-weight:bold;
        font-size: inherit
    }

   
</style>
<div class="modal fade" id="modalProjectandVendorDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Detail</h4>
            </div>
            <form name="addNewUserForm" novalidate class="css-form">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" style="width:50%"><a href="#ProjectDetailtab" aria-controls="ProjectDetailtab" role="tab" data-toggle="tab">Project</a></li>
                    <li role="presentation" style="width:50%"><a href="#Vendortab" aria-controls="Vendortab" role="tab" data-toggle="tab">Vendor</a></li>
                </ul>
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="ProjectDetailtab">
                        <div class="modal-body">
                            <div>
                                <h1 class="FontProject">Project Name</h1>
                                <label>{{ProjectAndVendorDetailData.ProjectName}}</label>

                                <h1 class="FontProject">Project Description</h1>
                                <label>{{ProjectAndVendorDetailData.ProjectDescription}}</label>

                                <h1 class="FontProject" >Estimated Hours (in hours)</h1>
                                <label>{{ProjectAndVendorDetailData.ProjectHours}}</label>

                                <h1 class="FontProject">Estimated Budget (in $)</h1>
                                <label>{{ProjectAndVendorDetailData.ProjectBudget}}</label>

                                <h1 class="FontProject" >File Name</h1>
                                <label>{{ProjectAndVendorDetailData.ActualFileName}}</label>

                                <!--<h1 class="FontProject"> Downlaod Link</h1>
                                <a href="#{{ProjectAndVendorDetailData.FilePath}}"></a>-->
                 
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive" style="margin-top:50px;">

                                        <table class="table table-striped table-hover table-bordered table-condensed">
                                            <thead>

                                                <tr style="font:bold;background-color:#3facff">
                                                    <th></th>
                                                    <th>Phase Name</th>
                                                    <th>Budget</th>
                                                    <th>Description</th>
                                                    <th>No of Milestones</th>
                                                    <th>Document Attached</th>
                                              

                                                </tr>
                                            </thead>

                                            <tr ng-repeat-start="item in ProjectAndVendorDetailData.PhaseList track by $index ">
                                                <td ng-click="showMileforPhase()  "><div ng-show="item.MileStone.length > 0 " class="fa fa-angle-double-right" style="font-size:18px;background-color:#3facff"></div></td>
                                                <td>{{item.Name}}</td>
                                                <td>{{item.Budget}}</td>
                                                <td>{{item.Description}}</td>
                                                <td>{{item.MileStone.length}}</td>
                                                <td></td>
                                              
                                            </tr>

                                            <tr ng-repeat-end>

                                                <td colspan="9">
                                                    <table class="table table-striped table-bordered table-condensed">
                                                        <tr ng-if="item.MileStone.length > 0">
                                                            <th>Milestone Name</th>
                                                            <th>Estimate Hours</th>
                                                            <th>Description</th>
                                                            
                                                        </tr>

                                                        <tr ng-repeat="subrow in item.MileStone">
                                                            <td>{{subrow.Name}}</td>
                                                            <td>{{subrow.EstimatedHours}}</td>
                                                            <td>{{subrow.Description}}</td>
                                                           
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>



                                            <tr ng-if="AddNewProjectModel.PhaseList == 0">
                                                <td colspan="12">No Record Found</td>
                                            </tr>
                                        </table>

                                    </div>


                                </div>
                            </div>
                        </div>
                   
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Vendortab">
                        <div class="modal-body">
                                
                            <table class="table table-striped table-hover table-bordered table-condensed">
                               <thead>

                                    <tr style="font:bold;background-color:#3facff">
                                        
                                        <th>Vendor company Name</th>
                                        <th>Vendor Name</th>
                                        <th>No of Project with Vendor</th>
                                        <th>Email Address</th>
                                        <th>Phone NO</th>
                                    
                            


                                    </tr>
                                </thead>


                                <tr ng-repeat="item in ProjectAndVendorDetailData.VendorList track by $index ">
                                    
                                    <td>{{item.CompanyName}}</td>
                                    <td>{{item.Name}}</td>
                                    <td>{{item.PorjectCount}}</td>
                                    <td>{{item.EmaiAddress}}</td>
                                    <td>{{item.PhoneNO}}</td>

                                </tr>


                                <tr ng-if="ProjectAndVendorDetailData.VendorList.PhaseList == 0">
                                    <td colspan="12">No Record Found</td>
                                </tr>
                            </table>




                            <div class="form-group">
            
                            </div>

                       </div>
                
                    </div>
                </div>
                <!-- End Tab panes -->
            </form>
        </div>
    </div>
</div>
