﻿<style>
    .displaytablecell {
        display: table-cell;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divProjectListingForCompany">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Projects Detail </span></h3>
            <div class="clearfix"></div>
            <div class="" style="padding-top:5px;">

                <div class="clearfix"></div>
            </div>
        </div>
        <div>&nbsp;</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#/add/newproject" class="edit-btn pull-right" style="width:auto;">Add New Project</a>
            <div class="clearfix"></div>
        </div>
        <div class="row" style="margin-top: 12px">

            <div class="col-lg-3">

                <input type="text" class="form-control" ng-model="searchQuotedProjectName" placeholder="Search by project name"
                       ng-cut="cutSearchQuotedProjectByProjectName()"
                       auto-complete="autoCompleteOptions" ng-keydown="searchQuotedProjectNameEmpty(searchQuotedProjectName,$event)" />



            </div>
            <div class="col-lg-1">
                <label style="font-size:22px">Or</label>

            </div>

            <div class="col-lg-5">
                <div class="sorting-span pull-left">Quotes Received</div>
                <div class="sorting-selection">
                    <select ng-model="qouteReceivedDropModal" ng-options="item.Status for item in qouteReceivedDropList" ng-change="FilterByQuotedReceived(qouteReceivedDropModal)"></select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">

                    <table class="table table-striped table-hover table-bordered table-condensed" style="margin-top:-35px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Project Name</th>
                                <th>Estimate Budget</th>
                                <th>No. of Vendor(s) invited</th>
                                <th>Number of Quotes Received</th>
                                <th>View/Edit Project</th>
                                <th>View Quotes</th>


                            </tr>
                        </thead>

                        <tr ng-repeat="item in quotedProjectListRes">

                            <td>{{$index+1}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.EstimatedBudget}}</td>
                            <td>{{item.VendorCount}}</td>
                            <td>{{item.QuotationCount}}</td>
                            <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" href="#/edit/project/{{item.ProjectId}}">Project Detail</a></td>
                            <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="ViewProjectQuote(item.ProjectId)">View Quote(s)</a></td>
                        </tr>
                        <tr ng-if="quotedProjectListRes.length == 0">
                            <td colspan="12" style="text-align: center;">No Record Found</td>
                        </tr>
                    </table>

                </div>

                <div ng-if="!quotedProjectListRes.length == 0">
                    <div class="form-group pull-left page-size form-inline">
                        <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>

                    </div>

                    <div class="pull-right">
                        <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                    class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                        </pagination>

                    </div>
                </div>


            </div>


        </div>

    </div>
</div>


<div ng-include="'views/project/QuotesFromVendorsReceivedListPopup.html'"></div>

