﻿
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divProjectFeedback">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Manage  <span ng-if="projectObject.ProjectName != null || projectObject.ProjectName != null"> {{projectObject.ProjectName}}'s </span>  Detail & Feedback</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              
                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <div class="panel panel-default">
                            <div class="panel-heading team-list-head">
                                Detail      
                                <span class="pull-right" ng-if="RoleId < 3 && !projectObject.ProjectCompleted">
                                    <a href="" ng-click="markAsComplete()" class="edit-btn"> Mark As Complete</a>  
                                </span>   
                                <span class="pull-right" ng-if="projectObject.ProjectCompleted">
                                    <a href="" disabled="disabled" class="edit-btn" style="cursor:default;" title="Project is marked as completed"> Completed</a>  
                                </span>      
                             </div>
                            <div class="list-group" style="font-size:14px;">
                                <!--<div class="list-group-item">-->
                                <div class="col-lg-6">
                                    <p class="list-group-item-text">  Estimated Hours : {{projectObject.ProjectEstimatedHours}}  </p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="list-group-item-text"> Spent Hours : {{projectObject.ProjectSpentHours}}  </p>
                                </div>

                                <div class="col-lg-6">
                                    <p class="list-group-item-text"> Estimated Budget : $ {{projectObject.ProjectEstimatedBudget}}  </p>
                                </div>
                                <div class="col-lg-6">
                                    <p class="list-group-item-text"> Spent Budget : $ {{projectObject.ProjectSpentBudget}} </p>
                                </div>

                                <div class="col-lg-12">
                                    <p class="list-group-item-text"> Description : {{projectObject.ProjectDescription}}  </p>
                                </div>

                                <div class="col-lg-6">
                                    <p class="list-group-item-text">  Remarks : {{projectObject.ProjectRemarks}}  </p>
                                </div>

                                <div class="col-lg-6" ng-if="RoleId < 3">
                                    <textarea name="ProjectRemarks" placeholder="Enter Your Project Remarks" rows="2" cols="50" class="form-control" ng-model="projectObject.ProjectRemarks" required></textarea>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                </div>
                                <div ng-if="RoleId < 3" class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top:20px;margin-bottom:10px;">
                                    <a href="" ng-click="saveProjectRemarks()" class="edit-btn">Save Remarks</a>
                                    <a href="" ng-click="cancelProjectRemarks()" style="cursor:pointer;" class="edit-btn">Cancel</a>
                                </div>

                            <!--</div>-->
                        </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading team-list-head">Feedback</div>
                            <div class="list-group">
                                <div ng-repeat="project in projectObject.ProjectMembers" class="list-group-item">
                                    <div class="col-lg-5">

                                        <span class="pull-left" style="margin-top:20px;margin-right:20px;">  <i ng-class="project.IsFreelancer ? 'fa fa-expand' : 'fa fa-compress' " aria-hidden="true"></i>   </span>
                                        <div class="profile-pic pull-left">
                                            <img ng-click="showOtherUserProfile(project.MemberUserId)" style="cursor:pointer;" ng-src="{{imgURL}}{{project.MemberProfilePhoto}}" alt="{{project.MemberName}}" title="{{project.MemberName}}" >
                                        </div>
                                        <div class="images pull-left">
                                            <h4 ng-bind-html="project.MemberName" class="list-group-item-heading">  </h4>
                                            <p class="list-group-item-text">  {{project.MemberRole}} </p>
                                        </div>
                                    </div>
                                    
                                    <div class="col-lg-3">
                                        <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.MemberSpentHours"> Spent Hours: {{project.MemberSpentHours}}</p>
                                        <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.MemberEarnedMoney"> Earned Money: $ <span ng-if="!project.IsFreelancer"> 0 </span>  <span ng-if="project.IsFreelancer"> {{project.MemberEarnedMoney}} </span> </p>
                                    </div>

                                    <div class="col-lg-4">
                                        <textarea ng-if="!projectObject.ProjectCompleted && project.IsFeedbackAllowed" name="feedback" placeholder="Enter Your Feedback" rows="2" cols="50" class="form-control"  ng-model="project.MemberFeedback" required></textarea>
                                        <textarea ng-if="projectObject.ProjectCompleted || !project.IsFeedbackAllowed" name="feedback" placeholder="Enter Your Feedback" rows="2" cols="50" class="form-control" ng-model="project.MemberFeedback" required disabled="disabled"></textarea>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>

                            </div>

                        </div>



                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
                            <a href="" ng-if="!projectObject.ProjectCompleted" ng-click="addUpdateFeedback()" class="edit-btn">Submit</a>
                            <a href="" ng-if="!projectObject.ProjectCompleted" ng-click="cancelFeedback()" style="cursor:pointer;" class="edit-btn">Cancel</a>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</div>



