﻿
<div class="modal fade" id="modalProjectAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="projectAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Project </h4>
                </div>
                <div class="modal-body">

                    <div ng-show="!showProjectWithFreelancers">

                        <div class="form-group">
                            <label for="txtEmail">Project Name</label>
                            <input name="projectName" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectName.$dirty && projectAddUpdateForm.projectName.$invalid}" placeholder="Enter Project Name" ng-model="projectAddUpdateModel.projectName" required>
                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Project Description</label>
                            <textarea name="projectDescription" ng-class="{inputError:projectAddUpdateForm.projectDescription.$dirty && projectAddUpdateForm.projectDescription.$invalid}" placeholder="Enter Project description" class="form-control" ng-model="projectAddUpdateModel.projectDescription" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Estimated Hours (in hours)</label>
                            <input name="projectHours" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectHours.$dirty && projectAddUpdateForm.projectHours.$invalid}" placeholder="Enter Estimated Hours For Project" ng-model="projectAddUpdateModel.projectHours" required>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Estimated Budget (in $)</label>
                            <input name="projectBudget" class="form-control" ng-class="{inputError:projectAddUpdateForm.projectBudget.$dirty && projectAddUpdateForm.projectBudget.$invalid}" 
                            placeholder="Enter Estimated Hours For Budget" ng-model="projectAddUpdateModel.projectBudget" required>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Access Level</label>

                            <table>
                                <tr ng-repeat="access in allAccessLevel">
                                    <td>
                                        {{ access.name }}
                                    </td>
                                    <td>
                                        <input style="visibility:visible;margin-left:10px;" ng-change="clearAllCheckBoxes(access.id)" type="checkbox" ng-model="access.selected">
                                    </td>
                                </tr>
                            </table>

                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Project Members</label>
                            <selectize options='myProjectMember.projectMembers' config="projectMembersConfig"
                                        ng-model="projectAddUpdateModel.projectMembers" ng-disabled='disable'></selectize>
                        </div>
                 
                        <!--<div class="form-group">
                            <label for="txtEmail"> Freelancer Rate  (in $)</label>
                            <input name="FreelancerRate" class="form-control" ng-class="{inputError:projectAddUpdateForm.FreelancerRate.$dirty && projectAddUpdateForm.FreelancerRate.$invalid}" placeholder="Enter Rate For Freelancer" ng-model="projectAddUpdateModel.FreelancerRate" required>
                        </div>-->

                        <div class="row">
                            <div class="form-group col-lg-6">
                                <label for="txtEmail"> Upload Project Document (If any)</label>
                                <input type="file" title="" ng-file-select="selectFileForProjectAttachent($files)" class="uploadProfilePic" />
                            </div>

                            <div class="form-group col-lg-6" ng-if="projectMode == 'edit'">
                                <label for="txtEmail"> <i class="fa fa-paperclip" aria-hidden="true"></i> Attachments </label>
                                <p ng-if="projectAddUpdateModel.ActualFileName != null" for="txtEmail"> {{projectAddUpdateModel.ActualFileName}}  <a target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{projectAddUpdateModel.FileName}}" download="{{projectAddUpdateModel.FileName}}" title="Download this file"> <i  class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a>   <a  href="" title="Delete file" ng-click="deleteAttachmentFileFromProject(projectAddUpdateModel)"> <i class="fa fa-trash-o" aria-hidden="true" style="margin-left:20px;cursor:pointer;"></i> </a> </p>
                                <p ng-if="projectAddUpdateModel.ActualFileName == null" > No Attachments Found </p>
                                

                            </div>

                        </div>

                        <div class="form-group" ng-if="showAttachmentDescription">
                            <label for="txtEmail"> Attachment Description  </label>
                            <input name="AttachmentDescription" class="form-control" ng-class="{inputError:projectAddUpdateForm.AttachmentDescription.$dirty && projectAddUpdateForm.AttachmentDescription.$invalid}" placeholder="Enter Description For Uploaded File" ng-model="projectAddUpdateModel.AttachmentDescription" required>
                        </div>

                        <div class="form-group">
                            <input style="visibility:visible;" type="checkbox" ng-model="addFreelancer">
                            <label for="txtEmail" style="margin-left:10px;margin-bottom:10px;"> Manage Freelancers </label>
                        </div>

                        <!--<div class="form-group">
                            <label for="txtEmail"> Freelancer Responsibilities  </label>
                            <input name="FreelancerResponsibilities" class="form-control" ng-class="{inputError:projectAddUpdateForm.FreelancerResponsibilities.$dirty && projectAddUpdateForm.FreelancerResponsibilities.$invalid}" placeholder="Enter Freelancer's Responsibilities" ng-model="projectAddUpdateModel.FreelancerResponsibilities" required>
                        </div>-->

                    </div>


                    <div ng-show="showProjectWithFreelancers">

                        <div class="form-group">
                            <label for="txtFirstName">Project Members</label>
                            <selectize options='myProjectMember.freelancersOnly' config="freelancersConfig" ng-model="projectAddUpdateModel.freelancersMembers" ng-disabled='disable'></selectize>
                        </div>


                        <div class="form-group">
                            <label for="txtFirstName"> List Of Freelancers : </label>
                        </div>
                        <div class="form-group table-responsive" ng-if="freelancerDetails.length > 0">
                            <table class="table table-bordered" style="margin-bottom:50px;">
                                <thead>
                                    <tr>
                                        <th>  Name   </th>
                                        <th>  Profile Rate ($)  </th>
                                        <th>  Offered Price ($)  </th>
                                        <th>  Role  </th>
                                        <th>  Document   </th>
                                        <th>  Status   </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="freelancer in freelancerDetails">
                                        <td>{{freelancer.FreelancerName}}</td>
                                        <td>{{freelancer.FreelancerProfileRate}}</td>
                                        <td> <input name="FreelancerOfferedPrice" ng-if="!freelancer.IsInvitationSent" class="form-control" ng-keypress="isNumber($event)" placeholder="Enter Project Name" ng-model="freelancer.FreelancerOfferedPrice">  
                                            <label ng-if="freelancer.IsInvitationSent" > {{freelancer.FreelancerOfferedPrice}}  </label> 
                                        </td>
                                        <td>{{freelancer.FreelancerRole}}</td>
                                        <td> <input type="file" ng-if="freelancer.ActualFileName == null" title="" ng-file-select="selectFileForFreelancersAttachent($files,$index)" class="uploadProfilePic" /> 
                                            <p ng-if="freelancer.ActualFileName != null" for="txtEmail"> {{freelancer.ActualFileName}}  <a target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{freelancer.FileName}}" download="{{freelancer.FileName}}"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a> </p>

                                        </td>
                                        <td> {{freelancer.Status}} </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group" ng-if="freelancerDetails.length == 0">
                            No Freelancers Selected
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <a ng-show="addFreelancer" href="" ng-click="addFreelancer=!addFreelancer;nextBtnClick(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, $event ,projectAddUpdateForm)" class="edit-btn"> Next </a>
                    <a ng-show="showProjectWithFreelancers" href="" ng-click="addFreelancer=!addFreelancer;backBtnClick()" class="edit-btn"> Back </a>
                    <a ng-if="!addFreelancer" ng-show="projectButton == false && addFreelancer == false" href="" ng-click="addNewProject(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid, $event ,projectAddUpdateForm)" class="edit-btn">Add Project</a>
                    <a ng-if="!addFreelancer" ng-show="projectButton ==true && addFreelancer == false" href="" ng-click="updateProject(projectAddUpdateForm.projectName.$invalid,projectAddUpdateForm.projectDescription.$invalid,projectAddUpdateForm)" class="edit-btn">Update Project</a>
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
