﻿
<style>
    .linkDisabled {
  cursor: not-allowed;
  pointer-events: none;
  color: grey;
}

</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divProjectManagementSection">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Manage {{teamNameForTitle}} Projects</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-3" ng-if="isFreelancer">
                        <div class="sorting-span pull-left">Company</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedCompanymodel" ng-change="selectedCompanyChanged(selectedCompanymodel)">
                                <option value="0"> --Select All-- </option>
                                <option value="1" ng-selected="" ></option>
                                <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompanymodel==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3" ng-if="isFreelancer">
                        <div class="sorting-span pull-left">Team</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedTeam" ng-change="selectedTeamChanged(selectedTeam)">
                                <option value="0"> "--Select All--" </option>
                                <option ng-repeat="item in TeamsObjectForFreelancer" ng-selected="selectedTeam==item.TeamId" value="{{item.TeamId}}">{{item.TeamName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Project" ng-model="inputSearchProject" class="project-search form-control" />
                    </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="Permission.CanAddNewProject || teamName == 'My Personal'">
                            <a class="edit-btn pull-right" style="width:auto;cursor:pointer;" ng-click="showProjectAddUpdateModal()">Add New Project</a>
                            <div class="clearfix"></div>
                        </div>

                    <div class="clearfix"></div>
                </div>

                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="list-group">
                            <div ng-repeat="project in filteredUserOwnedProjectsObject=(UserOwnedProjectsObject | filter:inputSearchProject)" class="list-group-item">
                                <div class="pull-left">
                                    <h4 ng-bind-html="project.ProjectName |searchfilter:inputSearchProject" class="list-group-item-heading">  </h4> 
                                    <p class="list-group-item-text"> (<a href=""> {{project.TeamName}}  </a>) </p>
                                    <p ng-bind-html="project.ProjectDescription|searchfilter:inputSearchProject" class="list-group-item-text"> </p>
                                    <div class="pro-mem">
                                        <div ng-repeat="member in project.ProjectMembers" class="pull-left" ng-click="showOtherUserProfile(member.MemberUserId)">
                                            <div class="team-m-pic"><img title="{{member.MemberName}}" ng-src="{{imgURL}}{{member.MemberProfilePhoto}}"></div>
                                        </div>
                                        <div ng-if="!project.ProjectMembers.length" class="pull-left">
                                            No Project Members found.

                                        </div>
                                        
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    
                                    <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.projectHours">Estimated Hours: {{project.projectHours}} h</p>
                                    <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.projectBudget">Estimated Budget: $ {{project.projectBudget}} </p>
                                    <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.TotalSpentHours">Spent Hours: {{project.TotalSpentHours}}</p>
                                    <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.TotalSpentMoney">Spent Money: $ {{project.TotalSpentMoney}} </p>
                                    


                                    <!--<a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer;background-color:deepskyblue;" ng-if="Permission.CanAddNewProject" ng-click="projectComplete(project.ProjectId)">Feedback & Complete</a>-->
                                    
                                    <a class="edit-btn" style="cursor:pointer;" ng-if="teamName != 'My Personal'" ng-click="projectFeedback(project.ProjectId)">Feedback</a>
                                    <a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer" ng-if="Permission.CanUpdateProject || teamName == 'My Personal'" ng-click="editProject(project)">Edit</a>
                                    <a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer" ng-if="Permission.CanAddNewProject || teamName == 'My Personal'" ng-click="deleteProject(project.ProjectId,$index)">Delete</a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div ng-if="!filteredUserOwnedProjectsObject.length" class="list-group-item">
                                No Projects Found.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</div>




<div ng-include="'views/project/ProjectAddUpdateModal.html'"></div>

<div ng-include="'views/project/ManageProjectsWithFreelancerModal.html'"></div>