﻿<style>
    .modal-dialog {
       width: 65% !important;
    }
</style>

<style>
    .FontProject {
        font-size: small;
        font-weight: bold;
        font-size: inherit;
    }
</style>
<div class="modal fade" id="modalViewProjectQuotes" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Quotes from Vendors </h4>
            </div>
          
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="ProjectDetailtab">
                        <div class="modal-body">
                               <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="table-responsive" style="margin-top:50px;">
                                        <table class="table table-striped table-hover table-bordered table-condensed">
                                            <thead>

                                                <tr style="font:bold;background-color:#3facff">
                                                    <th>Vendor Name</th>
                                                    <th>Quote sent on</th>
                                                    <th>Total Efforts(in Hrs)</th>
                                                    <th>Total Cost(in $)</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            
                                            <tr ng-repeat="item in getQuotedSubmitbyVendor ">
                                                <td>{{item.Name}}</td>
                                                <td>{{item.CreatedDate | date:'MM/dd/yyyy'}}</td>
                                                <td>{{item.TotalHours}}</td>
                                                <td>{{item.TotalBudget}}</td>
                             
                                                <td><a class="edit-btn displaytablecell" href="#/acceptReject/quotation/{{item.ProjectId}}/{{item.VendorId}}" class="edit-btn" >View Quote</a></td>

                                            </tr>
                                            <tr ng-if="getQuotedSubmitbyVendor.length == 0">
                                                <td  style="text-align: center" colspan="12">No Record Found</td>
                                            </tr>
                                        </table>

                                    </div>


                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">

                        <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

                    </div>
               </div>
                <!-- End Tab panes -->
        
        </div>
    </div>
</div>
