﻿<!--THIS STYLE IS FOR TAGS    -->
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>

<style>
    .dropdown {
        position: relative !important;
        display: inline-block;
    }

    .dropdown-content {
        display: none !important;
        position: absolute !important;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 99;
    }

        .dropdown-content a {
            color: black;
            margin-right: 0;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #3facff;
                color: #fff;
            }


    .dropdown:hover .dropdown-content {
        display: block !important;
        margin-top: -35%;
        left: 90%;
    }

    .dropdown-content .popover-content {
        padding: 0px !important;
    }

    .dropdown-menu {
        margin-left: -175px !important;
    }
</style>


<!--THIS STYLE IS FOR TAGS END HERE   -->
<style>
    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .commanFont {
        font-size: 15px;
    }
</style>


<div class="modal fade" id="ExistingInternalUserVendorAdminProfileModal" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Internal User Detail</h4>
            </div>
            <form name="InternalUserForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="profile-pic pull-left"><img ng-src="{{imgURL}}{{ExistingInternalUsersModel.ProfilePhoto}}" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <label>*</label><label>First Name:</label>
                                </div>
                                <div>
                                    <input type="text" ng-model="ExistingInternalUsersModel.FirstName" required/>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <label>*</label><label>Last Name:</label>
                                </div>
                                <div>
                                    <input type="text" ng-model="ExistingInternalUsersModel.LastName" required/>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div><label for="txtEmail">Email:</label></div>
                                <div><label class="commanFont">{{ExistingInternalUsersModel.Email}} </label></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div><label for="txtEmail">Rating :</label></div>
                                <div>
                                    <ng-rate-it ng-model="ExistingInternalUsersModel.Rating"
                                                min="0"
                                                max="5"
                                                step="Double"
                                                star-width="16"
                                                star-height="16"
                                                read-only="ExistingInternalUsersModel.IsRated"
                                                rated="Function(rating)"
                                                reset="Function(rating)">
                                    </ng-rate-it>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <!--<label>*</label><label>Job Profile :</label>-->
                                    <label>*</label><label>Job Title :</label>
                                </div>
                                <div>
                                    <select id="selectEditDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                            ng-model="jobProfileModal" ng-change="setJobProfileModal(jobProfileModal)"
                                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId"
                                            tabindex="5" required>
                                        <!--<option value="">---Select job profile---</option>-->
                                        <option value="">---Select job title---</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div ng-if="!openSaveRoleTags">
                                    <label>*</label><label for="repeatSelect">Roles :</label>
                                    <input name="txtRole" class="form-control" ng-focus="editRoleTags()" placeholder="Pick roles" tabindex="4">
                                    <div class="info-area roleTags">
                                        <div ng-include="'views/vendor/RoleTags.html'"></div>
                                    </div>
                                </div>
                                <div ng-if="openSaveRoleTags">
                                    <label>*</label> <label for="repeatSelect">Roles :</label>

                                    <div class="info-area">
                                        <div class="ngInputTag">
                                            <tags-input id="RoleTags" ng-model="Tags.Roles"
                                                        display-property="Name"
                                                        placeholder="Pick roles"
                                                        min-tags="0"
                                                        max-tags="3"
                                                        min-length="1"
                                                        replace-spaces-with-dashes="false"
                                                        add-from-autocomplete-only="true"
                                                        template="tag-template"
                                                        ng-focus="editRoleTags()" required>
                                                <auto-complete source="getUserRoleList"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="autocomplete-template">
                                                </auto-complete>
                                            </tags-input>
                                            <script type="text/ng-template" id="tag-template">
                                                <div class="tag-template">

                                                    <div class="right-panel">
                                                        <span>{{$getDisplayText()}}</span>
                                                        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                                    </div>
                                                </div>
                                            </script>

                                            <script type="text/ng-template" id="autocomplete-template">
                                                <div class="autocomplete-template">

                                                    <div class="right-panel">
                                                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                                                        <span>({{data.Description}})</span>
                                                    </div>
                                                </div>
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <div class="form-group">

                                <div><label>Password :</label></div>
                                <div>
                                    <input type="{{inputType}}" id="internaluserspassword" name="internaluserspassword" ng-model="ExistingInternalUsersModel.Password" /><br />
                                    <label><input type="checkbox" name="show-hide" ng-click="changeType()" /><label for="show-hide">Show password</label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label>
                                    <input type="radio" id="internalusers-yes" checked="checked" name="internalusers" ng-checked="ExistingInternalUsersModel.IsActive=='true'"
                                           ng-value="true" ng-model="ExistingInternalUsersModel.IsActive" />Active
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label>
                                    <input type="radio" id="internalusers-no" ng-value="false" name="internalusers" ng-checked="ExistingInternalUsersModel.IsActive=='false'"
                                           ng-model="ExistingInternalUsersModel.IsActive" />Inactive
                                </label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <label>
                                    <input type="radio" id="internalusersactive-yes" checked="checked" name="internalusersactive" ng-checked="'ExistingInternalUsersModel.Indefinitely==true'"
                                           ng-model="ExistingInternalUsersModel.Indefinitely" ng-value="true" ng-click="radioIndefinatly('Indefinitely',ExistingInternalUsersModel)" />Indefinitely
                                </label>

                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <label>
                                    <input type="radio" id="internalusersactive-no" name="internalusersactive" ng-checked="'ExistingInternalUsersModel.Indefinitely==false'"
                                           ng-model="ExistingInternalUsersModel.Indefinitely" ng-value="false" ng-click="radioIndefinatly('Validuntil', ExistingInternalUsersModel)" />Valid until
                                </label>

                                <div>
                                    <div class="col-md-12">
                                        <p class="input-group" style="margin:0 0 30px">
                                            <input id="internaluserstoStartDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                                   ng-model="ExistingInternalUsersModel.ValidUntilDate" is-open="popup2.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions"
                                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="DOB" placeholder="Enter Date Of Birth"
                                                   ng-class="{inputError:InternalUserForm.DOB.$dirty && InternalUserForm.DOB.$invalid}" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" style="border:none;">
                        
                        <!--<a href="" data-dismiss="modal" ng-click="SaveExistingUser(ExistingInternalUsersModel.VendorId,ExistingInternalUsersModel.Password)" class="edit-btn">Save</a>-->
                        <a href="" data-dismiss="modal" ng-click="UpdateExistingInternalUsers(NewUserForm.FirstName.$invalid,NewUserForm.LastName.$invalid,
                                NewUserForm.Email.$invalid,NewUserForm,ExistingInternalUsersModel)" class="edit-btn">Save</a>
                        <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>