﻿
<style>
    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .commanFont {
        font-size: 15px;
    }
</style>


<div class="modal fade" id="ExistingUserVendorAdminProfileModal_Id" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> User Detail</h4>
            </div>
            <form name="InvoicePreviewForm" novalidate class="css-form">
                <div class="modal-body" >
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div class="profile-pic pull-left"><img ng-src="{{imgURL}}{{ExistingUserModel.ProfilePhoto}}" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <label>*</label><label>First Name:</label>
                                </div>
                                <div>
                                    <input type="text" ng-model="ExistingUserModel.FirstName" />
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <label>*</label><label>Last Name:</label>
                                </div>
                                <div>
                                    <input type="text" ng-model="ExistingUserModel.LastName" />
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                            </div>
                        </div>-->

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" >
                            <div class="form-group">
                                <div><label for="txtEmail">Email:</label></div>
                                <div><label class="commanFont">{{ExistingUserModel.Email}} </label></div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div><label for="txtEmail">Rating :</label></div>
                                <div>
                                    <ng-rate-it ng-model="ExistingUserModel.Rating"
                                                min="0"
                                                max="5"
                                                step="Double"
                                                star-width="16"
                                                star-height="16"
                                                read-only="ExistingUserModel.IsRated"
                                                rated="Function(rating)"
                                                reset="Function(rating)">
                                    </ng-rate-it>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <div>
                                    <label>*</label><label  >Role :</label>
                                </div>
                                <div>
                                    <select name="mySelect" id="selectVendor" class="dropdown100"
                                            ng-options="option.RoleName for option in vendorAdminProfileExistingUserRoleList  track by option.RoleId"
                                            ng-model="RoleModel" ng-change="changeExistingUserRole(RoleModel)" tabindex="5" style="height: 38px">
                                        <option value="">-----------------Please select-------------</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">

                            <div class="form-group">

                                <div><label>*</label><label>Password :</label></div> 
                                <div>
                                    <input type="{{inputType}}" id="pwd" name="pwd" ng-model="ExistingUserModel.Password" /><br />
                                    <label ><input type="checkbox" name="show-hide" ng-click="changeType()" /><label for="show-hide">Show password</label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label>
                                <input type="radio" id="activestatus-yes" checked="checked" name="activestatus" ng-checked="ExistingUserModel.IsActive=='true'" 
                                       ng-value="true" ng-model="ExistingUserModel.IsActive" />Active</label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <label>
                                <input type="radio" id="activestatus-no" ng-value="false" name="activestatus" ng-checked="ExistingUserModel.IsActive=='false'" 
                                       ng-model="ExistingUserModel.IsActive"  />Inactive</label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <label>
                                <input type="radio" id="active-yes" checked="checked" name="active" ng-checked="'ExistingUserModel.Indefinitely==true'" 
                                       ng-model="ExistingUserModel.Indefinitely" ng-value="true" ng-click="radioIndefinatly('Indefinitely',ExistingUserModel)"/>Indefinitely</label>
                               
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <label>
                                <input type="radio" id="active-no" name="active" ng-checked="'ExistingUserModel.Indefinitely==false'"  
                                       ng-model="ExistingUserModel.Indefinitely" ng-value="false" ng-click="radioIndefinatly('Validuntil', ExistingUserModel)" />Valid until</label>
                               
                                <div>
                                    <div class="col-md-12">
                                        <p class="input-group" style="margin:0 0 30px">
                                            <input id="todStartDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                                   ng-model="ExistingUserModel.ValidUntilDate" is-open="popup2.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions"
                                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="DOB" placeholder="Enter Date Of Birth"
                                                   ng-class="{inputError:InvoicePreviewForm.DOB.$dirty && InvoicePreviewForm.DOB.$invalid}" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>

                        <div class="modal-footer" style="border:none;">
                            <!--<a href="" data-dismiss="modal" ng-click="SaveExistingUser(ExistingUserModel.VendorId,ExistingUserModel.Password)" class="edit-btn">Save</a>-->
                            <a href="" data-dismiss="modal" ng-click="SaveExistingUser(ExistingUserModel)" class="edit-btn">Save</a>
                            <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>