﻿<!--Invoice preview  on invoice listing screen------------------------------------------->
<style>
    .commanFont {
        font-size: 15px;
    }
</style>


<div class="modal fade" id="ResourceVendorAdminProfileModal_Id" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">{{resourceVendorAdminProfileList.FirstName}} {{resourceVendorAdminProfileList.LastName}} 's Detail</h4>
            </div>
            <form name="ResourceForm" novalidate class="css-form">
                <div class="modal-body">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">First Name : </label>
                                <div class="form-group">

                                    <div class="profile-pic pull-left"><img  ng-src="{{imgURL}}{{resourceVendorAdminProfileList.profilePhoto}}" /></div>
                                    <label class="commanFont">{{resourceVendorAdminProfileList.FirstName}}</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">Email :</label>
                                <div class="form-group">
                                    <label class="commanFont">{{resourceVendorAdminProfileList.Email}}</label>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">Last Name :</label>
                                <div class="form-group">
                                    <label class="commanFont">{{resourceVendorAdminProfileList.LastName}}</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">Statistics :</label>
                                <div class="form-group">
                                    <label class="commanFont"> Total hours :-  {{resourceVendorAdminProfileList.HorsWorked}}</label>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">Profile : </label>
                                <div class="form-group">
                                    <label class="commanFont">{{resourceVendorAdminProfileList.Profile}}</label>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label for="txtName">Rating :</label>
                                <div class="form-group">

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <div>
                                            <ng-rate-it ng-model="resourceVendorAdminProfileList.Rating"
                                                        min="0"
                                                        max="5"
                                                        step="Double"
                                                        star-width="16"
                                                        star-height="16"
                                                        read-only="isRated"
                                                        rated="Function(rating)"
                                                        reset="Function(rating)">
                                            </ng-rate-it>

                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        
                            <table class="table table-striped table-hover table-bordered table-condensed tblAwardList">
                                <thead>
                                    <tr style="width:100%">

                                        <th>Project</th>
                                        <th>Role</th>
                                        <th>Hours</th>
                                        <th style="width:10%">Rating</th>
                                        <th>Status</th>
                       
                                    </tr>
                                </thead>

                                <tr ng-repeat="item in resourceVendorAdminProfileList.VendorProjectList">

                                    <td>{{item.ProjectName}}</td>
                                    <td>{{item.RoleName}}</td>
                                    <td>{{item.Hours}}</td>
                                    <td><ng-rate-it ng-model="item.Rating"
                                                    min="0"
                                                    max="5"
                                                    step="Double"
                                                    star-width="16"
                                                    star-height="16"
                                                    read-only="isRated"
                                                    rated="Function(rating)"
                                                    reset="Function(rating)">
                                        </ng-rate-it>
                                    </td>
                                    <td>{{item.IsComplete == 0  ? 'Not Started': item.IsComplete == 1 ? 'Work-in-progress' : item.IsComplete == 2 ? 'Hold' : Completed }}</td>
                                    
                                </tr>
                                <tr style="text-align:center" ng-if="resourceVendorAdminProfileList.VendorProjectList.length ==0">
                                    <td colspan="6">No Record Found</td>
                                </tr>
                            </table>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Role : </label> <label class="commanFont">General User</label>

                                <!--<select name="RoleSelect" id="selectVendor" class="dropdown100"
                                        ng-class="{inputError:ResourceForm.RoleSelect.$dirty && ResourceForm.RoleSelect.$invalid}"  required
                                        ng-options="option.RoleName for option in resourceVendorAdminProfileList.RoleList  track by option.RoleId"
                                        ng-model="RoleModel" ng-change="changeRoleResourceInviteVendor(RoleModel)" tabindex="5" style="height: 38px">
                                    <option value="">-----------------Please select-------------</option>
                                </select>-->
                            </div>

                        </div>
                    </div>
                </div>

                <div class="modal-footer">

                    <a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="inviteResourceAsVendor(ResourceForm,ResourceForm.RoleSelect.$invalid,resourceVendorAdminProfileList.Email)">Invite </a>
                    <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                </div>

            </form>
        </div>
    </div>
</div>
