﻿



<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        width: 100%;
        /*border: 1px solid #ccc;*/
        margin: 0 10px 10px 0;
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float : right;

        border-radius: 15px ;
        border: 1px solid #bab3b3;
        padding-left: 20px; 
        /*width: 200px;
        height: 150px;*/ 
    }
     
    .left {
        float : left;

        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color :  #e5e5e5;
        padding-left: 20px; 
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divAdminInvitation">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Sent Invitations </span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>



        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Invitation" ng-model="inputSearchInvitation" class="project-search form-control" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <!--<a href="" class="pull-right" style="font-size:17px;"><i class="fa fa-cog"></i></a>-->
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="row">
                    <div class="col-lg-12">

                        <div class="form-group" ng-if="AllSentRequest.length>0">

                            <!--<div ng-repeat="item in AllSentRequest | filter:inputSearchInvitation" style="margin-bottom:20px; ">

                            <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">

                                <div class="pull-left " style="width:2px; padding:2px;height:75px;margin-right:10px;" ng-class="{'gray-border': (item.IskeyActive == true && item.IsAccepted == false), 'green-border': (item.IskeyActive == false && item.IsAccepted == true), 'red-border': (item.IskeyActive == false && item.IsRejected == true)}"> </div>

                                <div class="pull-left" style="margin-top:5px;">
                                    <p style="margin: 0 0 2px ;font-size:medium"> Name/Email-Id: &nbsp;&nbsp;<strong> <span ng-bind-html="item.FreelancerEmail+' '|searchfilter:inputSearchInvitation"></span> </strong> </p>
                                    <label>On Project:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.ProjectName}}"> {{item.ProjectName}}  </a></label>
                                </div>
                                <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                    <p style="margin: 0 0 2px;font-size:medium">Invited by:&nbsp;&nbsp;<strong> <span ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInvitation"></span> </strong></p>
                                    <label>On Role:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.RoleName}}"> {{item.RoleName}}  </a></label>
                                </div>
                                <div class="pull-right" style="margin-top:10px;">
                                    <a class="edit-btn" ng-click="getMessage(item)" style="width:auto;cursor:pointer;"> Message </a>
                                </div>
                                <div class="pull-right" style="margin-top:10px;">
                                    <a class="edit-btn" style="width:auto;cursor:pointer;">Detials</a>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </div>-->



                            <div ng-repeat="item in AllSentRequest | filter:inputSearchInvitation" title="" class="repeated-item">
                                <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">
                                    <div class="pull-left" style="width:2px; padding:2px;height:50px;" ng-class="{'gray-border': (item.IskeyActive == true && item.IsAccepted == false), 'green-border': (item.IskeyActive == false && item.IsAccepted == true), 'red-border': (item.IskeyActive == false && item.IsRejected == true)}"></div>

                                    <div ng-if="item.FreelancerProfilePhoto != null" ng-click="showOtherUserProfile(item.FreelancerUserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                        <img ng-src="{{imgURL}}/Uploads/Profile/Thumbnail/{{item.FreelancerProfilePhoto}}" alt='ng-bind="item.FreelancerEmail"' style="cursor:default;">
                                    </div>
                                    <div ng-if="item.FreelancerProfilePhoto == null" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                        <img ng-src="{{imgURL}}Uploads/Default/profile.png" alt='ng-bind="item.FreelancerEmail"' style="cursor:default;">
                                    </div>

                                    <div class="pull-left" style="margin-left:10px;">
                                        <p style="margin:0px ;font-weight:bold;font-size:medium">  Name/Email-Id: &nbsp;&nbsp;<strong> <span ng-bind-html="item.FreelancerEmail+' '|searchfilter:inputSearchInvitation"></span> </strong> </p>
                                        <label ng-if="item.ProjectName != null">On Project:&nbsp;&nbsp;<a style="font-size:13px;" title="Task Description : {{item.ProjectName == null ? 'no project' : item.ProjectName}}" ng-class="item.ProjectName == null ? 'no-project' : 'project'"> {{item.ProjectName == null ? 'no project' : item.ProjectName  }}   </a></label>
                                        <a ng-if="item.ProjectName == null" style="font-size:13px;font-style:italic" title="Organization's Invitation"> Organization's Invitation   </a>
                                    </div>

                                    <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                        <p style="margin:0px ;font-weight:bold;font-size:medium">  Invited by:&nbsp;&nbsp;<strong> <span ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInvitation"></span> </strong></p>
                                        <label>Allotted Role:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.RoleName}}"> {{item.RoleName}}  </a></label>
                                    </div>

                                    <a ng-if="item.ProjectName != null" ng-click="getMessage(item)" class="pull-right" style="cursor:pointer; margin-right:5px;margin-top:10px;">
                                        View job offer
                                    </a>


                                    <div class="clearfix"></div>
                                </div>
                            </div>


                        </div>


                    </div>
                </div>

                <div class="info-box-space" ng-if="AllSentRequest.length==0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                        <div class="info-head">No Record Found.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>


            </div>

        </div>
        <div class="form-group pull-left page-size form-inline">

            <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
        </div>

        <div class="pull-right">
            <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
            </pagination>

        </div>

    </div>

</div>



 
<div ng-include="'views/Freelancer/JobOfferModal.html'"></div>