﻿

<div class="modal fade" id="InvoiceDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Invoice Detail </h4>
            </div>
            <form name="invoiceDetailForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtRejection">Details of Invoice</label>
                        
                        <div ng-repeat="item in InvoiceDetailList" style="margin-bottom:20px; margin-top: 5px; background-color:#f3f3f3;">

                            <div class="pull-left">
                                <p style="margin:0px ;font-weight:bold;font-size:medium" ng-bind="item.TodoName"></p>
                                <a style="font-size:13px;cursor:pointer" ng-bind="item.TodoDescription" title="Task Description : {{item.TodoDescription}}">  </a>
                            </div>



                            <div class="pull-right" style="margin-right:10px;" > 
                                <p style="margin:0px ;font-weight:bold;font-size:medium"> To Date  </p>
                                <a style="font-size:13px;" ng-model="ToDateForDetails"> {{item.ToDate | date:'longDate'}}   </a>
                            </div>

                            <div class="pull-right" style="margin-right:10px;">
                                <p style="margin:0px ;font-weight:bold;font-size:medium"> From Date  </p>
                                <a style="font-size:13px;" ng-model="FromDateForDetails">{{item.FromDate | date:'longDate'}}  </a>
                            </div>

                            <p class="pull-right label label-warning process-label" style="margin-right:10px">Amount: {{item.Amount}}</p>
                            <p class="pull-right label label-warning process-label" style="margin-right:10px">Hours: {{item.hours}}</p>


                            <div class="clearfix"></div>

                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
