﻿<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divInvoiceManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invoice </span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-3">
                <div class="sorting-span pull-left">FreeLancer</div>
                <div class="sorting-selection">
                    <select ng-model="selectedFreelancer" ng-options="item.UserId as item.NameWithEmail for item in Freelancer" ng-change="FilterInvoiceByFreelancer(selectedFreelancer)">
                        <option value=""> Select All </option>
                        <!--<option ng-repeat="item in Freelancer" value="{{item.UserId}}">{{item.NameWithEmail}}</option>-->
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>

                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="fromDate" is-open="popup1.opened" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="toDate" is-open="popup2.opened" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" value="search" ng-click="searchResult()" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Outstanding Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th>Status</th>-->
                                <th>Invoice Id</th>
                                <!--<th>Forward/Received</th>-->
                                <th>From</th>
                                <th>Invoice Date</th>
                                <th>Message</th>
                                <th>Rate (in $)</th>
                                <th>Hours</th>
                                <th>Amount</th>
                                <th>Approval Status</th>
                                <!--<th>Detail</th>-->
                                <th ng-if="Permission.CanApproveInvoice == true">#</th>
                                <th>Forward</th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_NotPaid">
                            <!--<td>
                                <p class="label label-danger process-label" style="margin-right:10px;cursor:pointer;">Not Paid</p>
                            </td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true">Forwarded</p>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false">Received</p>
                                <br />
                                <p class="label label-primary process-label" ng-if="item.IsActiveInvoiceForward==true && item.IsInvoiceForward==false">Active</p>
                            </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <!--<td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;margin-top:10px !important;" ng-click="showInvoiceDetail(item.Id,-1)">View Details</a>
                            </td>-->
                            <td> <span ng-if="item.InvoiceApprovedStatus"> Approved </span>  <span ng-if="!item.InvoiceApprovedStatus"> Not-Approved </span>  </td>
                            <td ng-if="Permission.CanApproveInvoice == true">
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.Id,$index,item)"> Review </a>
                                <!--<a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="approveInvoice(item.Id,$index)" ng-if="item.InvoiceApprovedStatus== false">Approve Invoice</a>-->
                                <!--<a class="edit-btn" style="width:auto;background-color:darkgray;" ng-if="item.InvoiceApprovedStatus== true">Already Reviewed </a>-->
                            </td>
                            <td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showforwardInvoice(item.Id)">Forward Invoice</a>
                            </td>
                        </tr>
                        <tr ng-if="Invoice.list_NotPaid.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{ getTotalAmountForNotPaidInvoice() | number:2 }}</td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="Invoice.list_NotPaid.length == 0">
                            <td colspan="12">No Record Found</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Paid Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th>Status</th>-->
                                <th>Invoice Id</th>
                                <!--<th>Forward/Received</th>-->
                                <th>From</th>
                                <th>Invoice Date</th>
                                <th>Message</th>
                                <th>Rate (in $)</th>
                                <th>Hours</th>
                                <th>Amount</th>
                                <!--<th>Detail</th>-->
                                <th>Detail</th>
                                <th> Paid By </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_Paid">
                            <!--<td>
                                <p class="label label-success process-label" style="margin-right:10px;cursor:pointer;">Paid</p>
                            </td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true">Forwarded</p>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false">Received</p>
                                <br />
                                <p class="label label-primary process-label" ng-if="item.IsActiveInvoiceForward==true && item.IsInvoiceForward==false">Active</p>
                            </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <!--<td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.Id,-1)">View Details</a>
                            </td>-->
                            <td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.Id,$index,item)"> View Details </a>
                                <!--<a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="approveInvoice(item.Id,$index,item.InvoiceApprovedStatus)" ng-if="item.InvoiceApprovedStatus== false"> Review </a>
                                <a class="edit-btn" style="width:auto;cursor:pointer;background-color:darkgray;" ng-if="item.InvoiceApprovedStatus== true">Already Reviewed</a>-->
                            </td>
                            <!--<td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showforwardInvoice(item.Id)">Forward Invoice</a>
                            </td>-->
                            <td>
                                <div ng-if="item.PaidByUserDetail != null" ng-click="showOtherUserProfile(item.PaidByUserDetail.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.PaidByUserDetail.UserProfilePic}}" alt='ng-bind="item.PaidByUserDetail.UserName"' title="{{item.PaidByUserDetail.UserName}}">
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="Invoice.list_Paid.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{ getTotalAmountForPaidInvoice() | number:2  }}</td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="Invoice.list_Paid.length == 0">
                            <td colspan="11">No Record Found</td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Rejected Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th>Status</th>-->
                                <th>Invoice Id</th>
                                <!--<th>Forward/Received</th>-->
                                <th>From</th>
                                <th>Invoice Date</th>
                                <th>Message</th>
                                <th>Rate (in $)</th>
                                <th>Hours</th>
                                <th>Amount</th>
                                <!--<th>Detail</th>-->
                                <th>Detail</th>
                                <th> Rejected By </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_Rejected">
                            <!--<td>
                                <p class="label label-success process-label" style="margin-right:10px;cursor:pointer;">Paid</p>
                            </td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true">Forwarded</p>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false">Received</p>
                                <br />
                                <p class="label label-primary process-label" ng-if="item.IsActiveInvoiceForward==true && item.IsInvoiceForward==false">Active</p>
                            </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <!--<td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.Id,-1)">View Details</a>
                            </td>-->
                            <td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.Id,$index,item)"> View Details </a>
                                <!--<a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="approveInvoice(item.Id,$index,item.InvoiceApprovedStatus)" ng-if="item.InvoiceApprovedStatus== false"> Review </a>
                                <a class="edit-btn" style="width:auto;cursor:pointer;background-color:darkgray;" ng-if="item.InvoiceApprovedStatus== true">Already Reviewed</a>-->
                            </td>
                            <!--<td>
                                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showforwardInvoice(item.Id)">Forward Invoice</a>
                            </td>-->
                            <td>
                                <div ng-if="item.RejectedByUserDetail != null" ng-click="showOtherUserProfile(item.RejectedByUserDetail.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.RejectedByUserDetail.UserProfilePic}}" alt='ng-bind="item.RejectedByUserDetail.UserName"' title="{{item.RejectedByUserDetail.UserName}}">
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="Invoice.list_Rejected.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: </td>
                            <td>{{ getTotalAmountForPaidInvoice() | number:2  }}</td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                        </tr>
                        <tr ng-if="Invoice.list_Rejected.length == 0">
                            <td colspan="11">No Record Found</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-include="'views/todo/ShowInvoicePreview.html'"></div>
<div ng-include="'views/Invoice/ForwardInvoice.html'"></div>
<div ng-include="'views/Modal/PaymentDetailModal.html'"></div>
<div ng-include="'views/Modal/StripePaymentModal.html'"></div>

<div ng-include="'views/Modal/InvoiceRejectModal.html'"></div>