﻿<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divTodoManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Todo Approval</span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-3">
                <div class="sorting-span pull-left">User</div>
                <div class="sorting-selection">
                    <select ng-model="selectedAssignee" ng-options="item as item.Name for item in Assignees  | unique: 'Value'">
                        <option value="" >All</option>
                    </select>
                </div>
                <!--{{selectedAssignee}}-->
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>
                <!--<div class="sorting-selection">


                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="fromDate" is-open="popup1.opened" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="toDate" is-open="popup2.opened" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" value="search" ng-click="searchResult()" />
            </div>
        </div>
        <!--<div class="row">
            <div class="col-lg-12">
                <div class="icon_bar">
                    <ul>
                        <li><a ng-click="showTodosInListView()"><i class="fa fa-list button_gray"></i>List View</a></li>
                        <li><a ng-click="showTodosInKanBanView()"><i class="fa fa-barcode button_gray"></i>Kanban</a></li>
                        <li><a ng-click="AttachmentManagement.showProjectAttachments(projectDescriptionObject)"><i class="fa fa-files-o button_gray"></i>Files</a></li>
                        <li class="pull-right"><a ng-click="showSectionManagementModal()"><i class="fa fa-edit button_gray"></i>Section</a></li>
                        <li class="pull-right"><a ng-click="showTodoAddUpdateModal()"><i class="fa fa-plus button_gray"></i>Todo</a></li>
                        <li class="pull-right">
                            <a ng-click="ClientFeedbackManagement.showClientFeedbackModal(false,projectDescriptionObject.projectId,0)">
                                <i class="fa fa-plus button_gray"></i>Feedback
                            </a>
                        </li>
                        <li class="pull-right"><a ng-click="stopInProgressTodo()"><i class="fa fa-plus button_gray"></i>Stop Progress</a></li>
                    </ul>
                </div>
            </div>
        </div>-->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--{{groupedTodoList}}-->
                <div class="form-group" ng-if="TodosList.length>0">
                    <!--ng-class="getColor(todo.ApprovedBy,todo.IsApproved)">-->
                    <div ng-repeat="(key, value) in groupedTodoList" style="margin-bottom:20px; ">
                        <div style="font-size:large;">{{ key }}</div>
                        <hr style="border:1px solid #f3f3f3" />
                        <div ng-repeat="(parentIndex,todo) in value" title="" class="repeated-item">
                            <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">
                                <div class="pull-left" style="width:2px; padding:2px;height:50px;" ng-class="{'gray-border': (todo.ApprovedBy==null), 'green-border': (todo.ApprovedBy!=null &&todo.IsApproved), 'red-border': (todo.ApprovedBy!=null &&!todo.IsApproved)}"></div>
                                <div ng-click="showOtherUserProfile(todo.AssigneeId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{todo.AssigneeProfilePhoto}}" alt="ng-bind=" todo.AssigneeName"">

                                </div>
                                <div class="pull-left">

                                    <!--class="pull-left"
                                    class="pull-left "-->
                                    <p style="margin:0px ;font-weight:bold;font-size:medium" ng-bind="todo.AssigneeName"></p>

                                    <a style="font-size:13px;cursor:pointer" ng-bind="todo.Name" title="Task Description : {{todo.Description}}">  </a>

                                </div>
                                <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label"
                                   style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                    <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                </a>
                                <a ng-click="showRejectPopUp(key,parentIndex,todo,false)" ng-class="{'red-button': todo.ApprovedBy!=null && todo.IsApproved==false}" title="Reject this todo"
                                   class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px" ng-if="!(todo.ApprovedBy!=null && todo.IsApproved==false)">
                                    <i class="fa fa-close"></i>
                                </a>
                                <a ng-class="{'red-button': todo.ApprovedBy!=null && todo.IsApproved==false}"
                                   class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px"
                                   ng-if="(todo.ApprovedBy!=null && todo.IsApproved==false)">
                                    <i class="fa fa-close"></i>
                                </a>


                                <a ng-click="approveTodo(key,parentIndex,todo,true);" ng-class="{'green-button': (todo.ApprovedBy!=null &&todo.IsApproved)}" title="Approve this todo"
                                   class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px" ng-if="!(todo.ApprovedBy!=null &&todo.IsApproved)">
                                    <i class="fa fa-check-circle"></i>
                                </a>
                                <a ng-class="{'green-button': (todo.ApprovedBy!=null &&todo.IsApproved)}"
                                   class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px" ng-if="(todo.ApprovedBy!=null &&todo.IsApproved)">
                                    <i class="fa fa-check-circle"></i>
                                </a>

                                <p class="pull-right label label-success process-label" style="margin-right:10px" ng-bind="todo.TodoType"></p>
                                <p class="pull-right label label-warning process-label" style="margin-right:10px" ng-model="todo.LoggedTime">Logged Time:{{todo.LoggedTime}} </p>
                                <p class="pull-right label label-warning process-label" style="margin-right:10px" ng-model="todo.EstimatedTime">Estimated Time: {{todo.EstimatedTime}}</p>

                                <div class="clearfix"></div>
                            </div>
                            <table style="width:99%;margin:0px 10px 10px;background-color:#f3f3f3; text-align:center" ng-show="toggle" ng-if="!todo.IsApproved && todo.Reason && todo.ApprovedBy!=null ">
                                <thead><tr><td style="width:10%;background-color:red">Reason: </td><td style="width:80%;color:red;text-align:left;font-size:medium; font-weight:bolder;padding-left:10px;">{{todo.Reason}}</td></tr></thead>
                            </table>
                            <table style="width:99%;margin:0px 10px 10px;background-color:#f3f3f3" ng-show="toggle">
                                <tr><!--<td></td>--><td>Logged Time</td> <td>Start Date</td><td>Stop Date</td><td>Automatic/ Manual</td></tr>
                                <tr ng-repeat="logDetail in todo.TodoDetails">
                                    <!--<td>
                                        <label>
                                            <input type="checkbox" ng-model="logDetail.Id" style="visibility:visible; margin-left:10px" ng-checked="checked" value="logDetail.Id" />
                                        </label>
                                    </td>-->

                                    <td>{{ConvertMinutesToTimeString(logDetail.Duration)}}</td>
                                    <td>{{logDetail.StartDateTime| date:'yyyy-MM-dd HH:mm:ss '}}</td>
                                    <td>{{logDetail.StopDateTime| date:'yyyy-MM-dd HH:mm:ss '}}</td>
                                    <td>{{logDetail.IsAutomaticLogged==true?'Automatic':'Manual'}}</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <!--<li ng-class="{li_selected: todo.TodoId==selectedTodo}" ng-repeat="(key, todo) in groupedTodoList" style="margin-top:10px;margin-bottom:5px; background-color:#f3f3f3" title="{{todo.Description}}"  >
                        <div style="cursor:pointer;" >

                            <div ng-click="showOtherUserProfile(todo.AssigneeId)" class="images pull-left" style="margin-right:10px">
                                <img ng-src="{{imgURL}}{{todo.AssigneeProfilePhoto}}" alt="">
                            </div>
                            <p class="pull-left " ng-click="showTodoDescriptionSection(todo,nodeIndex,$index)"  ng-bind="todo.Name"></p>


                            <a ng-click="deleteTodo(todo.TodoId,nodeIndex,$index)" class="pull-right right_arrwo_gary_1 label" style="font-size:20px;color:red;margin-right:10px">
                                <i class="fa fa-close"></i>
                            </a>
                            <a ng-click="editTodo(todo,nodeIndex,$index);" class="pull-right right_arrwo_gary_1 label" style="font-size:20px;color:green;margin-right:10px">
                            <i  class="fa fa-check-circle"></i>
                            </a>
                            <p class="pull-right label label-success process-label" style="margin-right:10px" ng-click="showTodoDescriptionSection(todo,nodeIndex,$index)" ng-bind="todo.TodoType"></p>

                            <div class="clearfix"></div>
                        </div>
                    </li>-->

                </div>
                <div class="form-group" ng-if="TodosList.length==0">
                    No Record Found
                </div>
            </div>

        </div>
    </div>

</div>



<div ng-include="'views/admin/TodoRejectModal.html'"></div>