﻿<div class="modal fade" id="modalTodoReject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Todo Rejection Reason</h4>
            </div>
            <form name="addUpdateTodoForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtRejection">Reason of rejection</label>
                        <textarea required name="Reason" class="form-control" placeholder="Reason" ng-model="Reject.Reason"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" ng-hide="todoUpdateButton" ng-click="rejectTodo()" class="edit-btn">Reject Todo</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
