﻿
<div class="modal fade " id="VendorInvoicePreviewForCompanyProfileModal" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Invoice Preivew</h4>
            </div>
     
            <form name="InvoicePreviewForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <tr>
                                <td>
                                    <div class="images pull-left profile-pic" style="margin-right:10px; margin-top:5px;cursor:pointer;height:56px;">
                                 <img ng-src="{{imgURL}}{{vedorInvoicePaidOutstandRejectPreview.CompanyLogo}}" alt="previewInvoiceModal.CompanyProfilePic.CompanyUserName">
                                    </div>
                                </td>
                                <td>
                                    Invoice
                                  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Invoice : {{vedorInvoicePaidOutstandRejectPreview.InvoiceNumber}}
                                </td>
                                <td>
                                    To : {{vedorInvoicePaidOutstandRejectPreview.Name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Date Issued : {{vedorInvoicePaidOutstandRejectPreview.InvoiceDate | date : 'MM/dd/yyyy' }}
                                </td>
                                <td>
                                    From(Company/User) : {{vedorInvoicePaidOutstandRejectPreview.VendorCompanyName}} / {{vedorInvoicePaidOutstandRejectPreview.VendorUserName}}
                                </td>
                            </tr>
                   
                 
                        </table>
     
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 table-responsive" style="margin-bottom: 17px" ng-if="vedorInvoicePaidOutstandRejectPreview.InvoiceForResourceList.length > 0">
                            <table class="table table table-striped table-hover table-bordered table-condensed">
                                <tr>
                                    <th>#</th>
                                    <th>Resource</th>
                                    <th>Hours spend</th>
                                    <th>Rate</th>
                                    <th>Amount (in $)</th>
                                </tr>

                                <tr ng-repeat="item in vedorInvoicePaidOutstandRejectPreview.InvoiceForResourceList">
                                    <td style="width:5%">{{$index+1}}</td>
                                    <td style="width:30%">{{item.Name}}</td>
                                    <td style="width:20%">{{item.Hours}}</td>
                                    <td style="width:20%"><label>{{item.Rate}}</label></td>
                                    <td style="width:20%"><label>{{item.Hours *item.Rate}}</label></td>

                                </tr>

                            </table>
                        </div>




                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px" ng-if="vedorInvoicePaidOutstandRejectPreview.InvoiceToExtraResourceList.length > 0">
                            <table class="table table table-striped table-hover table-bordered table-condensed">
                                <tr class="tableheadfont">
                                    <td>#</td>
                                    <td colspan="5">Resource/Expense</td>
                                    <td>Amount</td>
                                </tr>

                                <tr ng-repeat="item in vedorInvoicePaidOutstandRejectPreview.InvoiceToExtraResourceList">
                                    <td style="width:5%">{{$index+1}}</td>
                                    <td colspan="5" style="width:80%">
                                        <textarea rows="2" cols="5" readonly
                                                  maxlength="500" class="form-control" ng-model="item.Description" required></textarea>
                                    </td>
                                    <td style="width:10%">
                                        <label>{{item.Amount}}</label>

                                    </td>

                                </tr>

                            </table>


                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px" ng-if="vedorInvoicePaidOutstandRejectPreview.InvoiceToMilestoneList.length > 0">
                            <table class="table table table-striped table-hover table-bordered table-condensed">
                                <tr>
                                    <th>#</th>
                                    <th>WorkLog Title</th>
                                    <th>Hours spend</th>

                                </tr>

                                <tr ng-repeat="item in vedorInvoicePaidOutstandRejectPreview.InvoiceToMilestoneList">
                                    <td style="width:25%">{{$index+1}}</td>
                                    <td style="width:33%">{{item.Name}}</td>
                                    <td style="width:33%">{{item.Hours}}</td>

                                </tr>

                            </table>

                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <tr>

                                <td>Total Hours: {{vedorInvoicePaidOutstandRejectPreview.TotalHours}}</td>
                                <td>Total Amount: $ {{vedorInvoicePaidOutstandRejectPreview.TotalAmount}}</td>
                            </tr>
                            <tr><td colspan="2">Message : </td></tr>
                            <tr>
                                <td colspan="2">
                                    <textarea cols="10" ng-disabled="true" ng-model="vedorInvoicePaidOutstandRejectPreview.Message" style="width: 100%;height: 100px;" tabindex="5" required></textarea>
                                </td>
                            </tr>
                            <tr ng-if="vedorInvoicePaidOutstandRejectPreview.IsRejected"><td colspan="2">Rejection Reason : </td></tr>
                            <tr ng-if="vedorInvoicePaidOutstandRejectPreview.IsRejected">
                                <td colspan="2">
                                    <textarea cols="10" rows="2" ng-disabled="true" ng-model="vedorInvoicePaidOutstandRejectPreview.RejectReason" style="width: 100%;height: 50px;" tabindex="6" required></textarea>
                                </td>

                            </tr>



                        </table>
                    </div>
                </div>

                <div class="modal-footer" ng-if="!vedorInvoicePaidOutstandRejectPreview.IsRejected && !vedorInvoicePaidOutstandRejectPreview.IsPaid">
                    <a href=""   ng-if="!vedorInvoicePaidOutstandRejectPreview.InvoiceApprovedStatus"  ng-click="approveVendorInvoice(vedorInvoicePaidOutstandRejectPreview.Id)" class="edit-btn"> Approve </a>
                    <a href=""   ng-if="!vedorInvoicePaidOutstandRejectPreview.InvoiceApprovedStatus" ng-click="rejectVendorInvoice(vedorInvoicePaidOutstandRejectPreview.Id)" class="edit-btn">Reject</a>
                    <a href=""  ng-if="!vedorInvoicePaidOutstandRejectPreview.InvoiceApprovedStatus"  ng-click="selectVendorPaymentDetail(vedorInvoicePaidOutstandRejectPreview.Id)" class="edit-btn"> <span >  Approve and Pay  </span> </a>
                    <a href=""  ng-if="vedorInvoicePaidOutstandRejectPreview.InvoiceApprovedStatus"  ng-click="selectVendorPaymentDetail(vedorInvoicePaidOutstandRejectPreview.Id)" class="edit-btn"> <span>  Pay  </span> </a>
                    <a href=""   data-dismiss="modal" class="edit-btn">Close</a>
                </div>
                <div class="modal-footer" ng-if="vedorInvoicePaidOutstandRejectPreview.IsPaid">
                    <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                </div>
                <div class="modal-footer" ng-if="vedorInvoicePaidOutstandRejectPreview.IsRejected">
                    <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>



