﻿<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }

    .displaytablecell {
        display: table-cell;
    }

    #milestoneProjectAwardedForCompanyProfileModal .modal-dialog {
        width: 60% !important;
    }

    #VendorInvoicePreviewForCompanyProfileModal .modal-dialog {
        width: 60% !important;
    }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divInvoiceManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invoice </span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Vendors</div>
                <div class="sorting-selection">
                    <select ng-model="selectedVendor" ng-options="item.VendorCompanyId as item.Name for item in invoiceVendorList" ng-change="FilterInvoiceByVendor(selectedVendor)">
                        <option value=""> Select All </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>

                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="filterVendorInvocieModal.fromDate" is-open="popup.opened1" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="filterVendorInvocieModal.toDate" is-open="popup.opened2" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" value="search" ng-click="SearchVendorInvoiceCompanyProfile()" />
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h2>Outstanding Invoice</h2>
            <div class="table-responsive" style="margin-top:25px;">
                <table class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                        <tr>

                            <th> Invoice No </th>
                            <th> Project </th>
                            <td> From </td>
                            <th> Invoice Date </th>
                            <th> Raised By (POCs) </th>
                            <th> Hours </th>
                            <th> Amount (in $) </th>
                            <th>#</th>


                        </tr>
                    </thead>
                    <tr ng-repeat="item in VendorinvoiceListOutstanding">
                        <!--| filter: {IsPaid: false } | filter: {IsRejected: false }-->

                        <td>{{item.InvoiceNumber}}</td>
                        <td>{{item.ProjectName}}</td>
                        <td>{{item.CompanyName}}</td>
                        <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                        <td>{{item.VendorName}}</td>
                        <td>{{item.TotalHours}}</td>
                        <td>{{item.TotalAmount}}</td>
                        <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="showVendorInvoicePreviewInCompany(item.Id)">Preview</a></td>


                    <tr ng-if="TotalOutstandingAmount > 0">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{ TotalOutstandingAmount }} </td>
                        <td></td>

                    </tr>
                    <tr ng-if="TotalOutstandingAmount == 0">
                        <td colspan="8" style="text-align: center">  No Record Found  </td>
                    </tr>
                </table>
            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="VendorinvoiceListOutstanding.length > 0">
                <div class="form-group pull-left page-size form-inline ">
                    <select style="width: 68px;height: 25px" ng-model="PageSizeOutstanding" ng-options="item.PageSizeOutstanding for item in pagesizeListOutstanding" ng-change="changePageSize(PageSizeOutstanding,'Outstanding')"></select>
                </div>
                <div class="pull-right">
                    <pagination total-items="totalCountOutstanding" ng-change="pageChanged(pageIndexOutstanding,'Outstanding')" items-per-page="pageSizeSelectedOutstanding" direction-links="true" ng-model="pageIndexOutstanding" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>
                </div>
            </div>
            <div class="table-responsive" style="margin-top:25px;">
                <h2>Paid Invoice</h2>
                <table class="table table-striped table-hover table-bordered  table-condensed">
                    <thead>
                        <tr>

                            <th> Invoice No </th>
                            <th> Project </th>
                            <td> From </td>
                            <th> Invoice Date </th>
                            <th> Raised By (POCs) </th>
                            <th> Hours </th>
                            <th> Amount (in $) </th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in VendorinvoiceListPaid">
                        <!--| filter: {IsPaid: true }-->

                        <td>{{item.InvoiceNumber}}</td>
                        <td>{{item.ProjectName}}</td>
                        <td>{{item.CompanyName}}</td>
                        <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                        <td>{{item.VendorName}}</td>
                        <td>{{item.TotalHours}}</td>
                        <td>{{item.TotalAmount}}</td>
                        <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="showVendorInvoicePreviewInCompany(item.Id)">Preview</a></td>

                    </tr>
                    <tr ng-if="TotalPaidAmount > 0">


                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:</td>
                        <td> {{ TotalPaidAmount }} </td>
                        <td></td>

                    </tr>
                    <tr ng-if="TotalPaidAmount == 0">
                        <td colspan="8" style="text-align: center">  No Record Found  </td>
                    </tr>
                </table>

            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="VendorinvoiceListPaid.length > 0">
                <div class="form-group pull-left page-size form-inline">
                    <select style="width: 68px;height: 25px" ng-model="PageSizePaid" ng-options="item.PageSizePaid for item in pagesizeListPaid" ng-change="changePageSize(PageSizePaid,'Paid')"></select>
                </div>
                <div class="pull-right">
                    <pagination total-items="totalCountPaid" ng-change="pageChanged(pageIndexPaid,'Paid')" items-per-page="pageSizeSelectedPaid" direction-links="true" ng-model="pageIndexPaid" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>
                </div>
            </div>
            <div class="table-responsive" style="margin-top:25px;">
                <h2>Rejected Invoice</h2>
                <table class="table table-striped table-hover table-bordered table-condensed">
                    <thead>
                        <tr>

                            <th> Invoice No </th>
                            <th> Project </th>
                            <td> From </td>
                            <th> Invoice Date </th>
                            <th> Raised By (POCs) </th>
                            <th> Hours </th>
                            <th> Amount (in $) </th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tr ng-repeat="item in VendorinvoiceListRejected">
                        <!--| filter: {IsRejected : true}-->

                        <td>{{item.InvoiceNumber}}</td>
                        <td>{{item.ProjectName}}</td>
                        <td>{{item.CompanyName}}</td>
                        <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                        <td>{{item.VendorName}}</td>
                        <td>{{item.TotalHours}}</td>
                        <td>{{item.TotalAmount}}</td>
                        <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="showVendorInvoicePreviewInCompany(item.Id)">Preview</a></td>

                    </tr>
                    <tr ng-if="TotalRejectedAmount > 0">

                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>Total:  </td>
                        <td>{{ TotalRejectedAmount }}</td>
                        <td></td>
                    </tr>
                    <tr ng-if="TotalRejectedAmount == 0">
                        <td colspan="8" style="text-align: center">  No Record Found  </td>
                    </tr>
                </table>

            </div>
            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="VendorinvoiceListRejected.length > 0">
                <div class="form-group pull-left page-size form-inline">
                    <select style="width: 68px;height: 25px" ng-model="PageSizeRejected" ng-options="item.PageSizeRejected for item in pagesizeListRejected" ng-change="changePageSize(PageSizeRejected,'Rejected')"></select>
                </div>
                <div class="pull-right">
                    <pagination total-items="totalCountRejected" ng-change="pageChanged(pageIndexRejected,'Rejected')" items-per-page="pageSizeSelectedRejected" direction-links="true" ng-model="pageIndexRejected" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'views/admin/VendorInvoicePreivewForCompanyModal.html'"></div>
<div ng-include="'views/modal/InvoiceRejectModal.html'"></div>
<div ng-include="'Views/modal/StripePaymenVendorModal.html'"></div>

