﻿

<div class="modal fade" id="modalInternalPermission" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="internalPermissionForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Internal Permissions For {{internalPermissionsObject.MenuName}}</h4>
                </div>
                <div class="modal-body">
                    
                    <div ng-repeat="PermissionItem in internalPermissionsObject" style="color:#474747;margin-top:10px;padding-top:10px;">

                        <div style="background-color: #e5e5e5;">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="color:#474747;margin-top:10px;padding-top:10px;">
                                <span class="pull-left info-head"  style="font-size:18px;">  {{PermissionItem.PermissionName}} : &nbsp; </span>
                                <div class="pull-right;" style="float:right;">
                                    <label class="switch pull-right;">
                                        <input type="checkbox" ng-model="PermissionItem.IsPermissionActive">
                                        <div class="slider round"></div>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>



                </div>
                <div class="modal-footer" style="margin-top:20px;">
                    <a style="cursor:pointer;" ng-click="saveInternalPermissions()" class="edit-btn">Save Permissions</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

