﻿<!--THIS STYLE IS FOR Toggle Button  -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 40%;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divManageRole">

        <div class="heading-name">
            <!--<h3 class="pull-left"><span><i class="fa fa-th-users"></i> Manage Role / Job Profile  </span></h3>-->
            <h3 class="pull-left"><span><i class="fa fa-th-users"></i> Manage Role / Job Title  </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <!--<input placeholder="Search Role / Job Profile" ng-model="inputSearchRole" class="project-search form-control" />-->
                        <input placeholder="Search Role / Job Title" ng-model="inputSearchRole" class="project-search form-control" />
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <!--<a class="edit-btn pull-right" style="width:auto;cursor:pointer;" ng-click="showRoleAddUpdateModal()">Add New Role / Job Profile</a>-->
                        <a class="edit-btn pull-right" style="width:auto;cursor:pointer;" ng-click="showRoleAddUpdateModal()">Add New Role / Job Title</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="panel panel-default">
                            <!--<div class="panel-heading team-list-head">Roles/Job Profiles</div>-->
                            <div class="panel-heading team-list-head">Roles/Job Titles</div>
                            <div class="list-group">
                                <div ng-repeat="role in CompanyRoleObject | filter: inputSearchRole" class="list-group-item">
                                    <div class="pull-left">
                                        <h4 class="list-group-item-heading"> <a href="" ng-bind-html="role.RoleName  |searchfilter:inputSearchRole"> </a> </h4>
                                        <p class="list-group-item-text">Description : {{role.RoleDescription}} </p>
                                        <p class="list-group-item-text">Status : {{role.isActive == true ? 'Active' : 'In Active'}} </p>
                                        <p class="list-group-item-text" data-ng-if=" role.Type == '1' ">
                                            Type : Role
                                        </p>
                                        <!--<p class="list-group-item-text" data-ng-if=" role.Type == '2' ">
                                            Type : Job Profile
                                        </p>-->
                                        <p class="list-group-item-text" data-ng-if=" role.Type= ='2' ">
                                            Type : Job Title
                                        </p>
                                        <!--<p class="list-group-item-text" data-ng-if=" role.Type == '3' ">
                                            Type : Role and Job Profile 
                                        </p>-->
                                        <p class="list-group-item-text" data-ng-if=" role.Type= ='3' ">
                                            Type : Role and Job Title
                                        </p>
                                    </div>
                                    <div class="pull-right">
                                        <a class="edit-btn" ng-if="role.CompanyId != 0" ng-click="editRole(role)" style="cursor:pointer;">Edit</a>
                                        <a class="edit-btn" ng-if="role.CompanyId != 0" ng-click="deleteRole(role.RoleId,$index)" style="cursor:pointer;">Delete</a>
                                        <a class="edit-btn" ng-if="role.CompanyId != 0" ng-click="activeInactiveRole(role.RoleId)" style="cursor:pointer;">Active/Inactive</a>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="!CompanyRoleObject.length" class="list-group-item">
                                    No Roles Found.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>

</div>


<div ng-include="'views/role/RoleAddUpdateModal.html'"></div>

