﻿

<div class="modal fade" id="modalRoleAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="roleAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <!--<h4 class="modal-title" style="color:white;" id="modalProjectLabel">Add Role / Job Profile </h4>-->
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Add Role / Job Title </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtRoleName">Name</label>
                        <input name="RoleName" class="form-control" ng-class="{inputError:roleAddUpdateForm.RoleName.$dirty && roleAddUpdateForm.RoleName.$invalid}" placeholder="Enter Name" ng-model="roleAddUpdateModel.RoleName" tabindex="1" required>
                    </div>
                    <div class="form-group">
                        <label for="txtRoleDescription">Description</label>
                        <textarea name="RoleDescription" ng-class="{inputError: roleAddUpdateForm.RoleDescription.$dirty && roleAddUpdateForm.RoleDescription.$invalid}" placeholder="Enter description" class="form-control" ng-model="roleAddUpdateModel.RoleDescription" tabindex="2" required></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="rdbRoleType">Type</label>
                        <div ng-repeat="item in items" id="radio-{{item.label}}">
                            <input type="radio" name="type" ng-checked="item.checked" ng-change="handleRadioClick(item)" 
                                   ng-model="roleAddUpdateModel.Type" value="{{item.value}}">
                            <span>{{item.label}}</span>
                                

</div>

                    </div>
                    <div style="visibility:hidden" class="form-group">
                        <label for="txtRolePriority">Priority</label>
                        <input name="RolePriority" ng-keypress="isNumber($event)" value="0" ng-class="{inputError: roleAddUpdateForm.RolePriority.$dirty && roleAddUpdateForm.RolePriority.$invalid}" placeholder="Enter Role priority" class="form-control" ng-model="roleAddUpdateModel.RolePriority" tabindex="3" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <a ng-hide="roleButton" style="cursor:pointer;" ng-click="addNewRole(roleAddUpdateForm.RoleName.$invalid,roleAddUpdateForm.RoleDescription.$invalid,roleAddUpdateForm.RolePriority.$invalid,roleAddUpdateForm)" class="edit-btn" tabindex="4">Add</a>
                    <a ng-show="roleButton" style="cursor:pointer;" ng-click="updateRole(roleAddUpdateForm.RoleName.$invalid,roleAddUpdateForm.RoleDescription.$invalid,roleAddUpdateForm.RolePriority.$invalid,roleAddUpdateForm)" class="edit-btn" tabindex="5">Update</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

