﻿<!--THIS STYLE IS FOR Toggle Button  -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 40%;
        }
</style>

<style>
    .show-drilldown a {
        display: block;
    }

    .show-drilldown label {
        margin-right: 0;
    }

    .hide-drilldown a {
        display: none;
    }

    .hide-drilldown label {
        margin-right: 60px;
    }
    .hide-drilldown-parent a {
        display: none;
    }
    /*.hide-drilldown-parent label {
        margin-right: 60px !important;
    }*/
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divCustomizeRole">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Role Permissions </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-4">
                        <div class="sorting-span pull-left">Role</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedRoleModel" ng-change="selectedRoleChanged(selectedRoleModel)">
                                <option value="0" > --Select Role-- </option>
                                <option ng-repeat="item in RoleObject" ng-selected="selectedRoleModel == item.RoleId" value="{{item.RoleId}}">{{item.RoleName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="list-group">


                            <div ng-repeat="PermissionItem in customizePermissionObject | filter: { ParentId : 0 }" class="user-designation" style="padding:0 !important;">

                                <div style="margin-top:5px;margin-right:17px;">
                                    <div class="pull-left info-head" style="font-size:23px;margin-top:5px;margin-left:10px;">
                                        <p style="margin: 0 0 2px ;font-size:medium"> <strong> <span ng-bind-html="PermissionItem.MenuName"></span> </strong> </p>
                                    </div>
                                    <div class="pull-right" style="margin-top:10px;" ng-class="PermissionItem.IsInternalPermissionPresent  ? 'show-drilldown' : 'hide-drilldown-parent'">
                                        <label class="switch pull-right;">
                                            <input type="checkbox" ng-change="menuChange(PermissionItem)" ng-model="PermissionItem.IsActive">
                                            <div class="slider round"></div>
                                        </label>
                                    </div>

                                    <div class="clearfix"></div>
                                </div>


                                <div style="margin-bottom:20px;">

                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-11">

                                        <div ng-repeat="PermissionItemSubMenu in customizeObject = (customizePermissionObject | filter: { ParentId : PermissionItem.MenuId } : true)" style="margin-bottom: 10px;background-color:#f3f3f3;">
                                            <!--<div>-->
                                            <div class="pull-left" style="margin-top:5px;">

                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-3">
                                                            <p style="margin: 0 0 2px ;font-size:medium">
                                                                <strong> <span ng-bind-html="PermissionItemSubMenu.MenuName"></span> </strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <span ng-bind-html="PermissionItemSubMenu.MenuDescription"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-top:10px;" ng-class="PermissionItemSubMenu.IsInternalPermissionPresent  ? 'show-drilldown' : 'hide-drilldown'">
                                                <label class="switch pull-right;">
                                                    <input type="checkbox" ng-change="subMenuChange(PermissionItemSubMenu,PermissionItem)" ng-model="PermissionItemSubMenu.IsActive">
                                                    <div class="slider round"></div>
                                                </label>

                                                <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label"
                                                   style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                                    <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                                </a>

                                            </div>
                                            <!--</div>-->

                                            <div ng-show="toggle" style="margin-bottom:10px;padding:0">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-11">
                                                    <div ng-repeat="InternalPerm in PermissionItemSubMenu.InternalPermissions" style="margin-top:10px;padding-top:10px;" class="user-designation">

                                                        <div style="background-color: #e5e5e5;">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;padding-top:10px;">
                                                                <span class="pull-left info-head" style="color:black;">  {{InternalPerm.PermissionName}}  &nbsp; </span>
                                                                <div class="pull-right;" style="float:right;">
                                                                    <label class="switch pull-right;">
                                                                        <input type="checkbox" ng-click="InternalPerm.IsPermissionActive = !InternalPerm.IsPermissionActive;clickInternalPermission(InternalPerm)" ng-model="InternalPerm.IsPermissionActive">
                                                                        <div class="slider round"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="clearfix"></div>
                                        </div>


                                        <div ng-if="!customizeObject.length" style="margin-bottom: 10px;background-color:#f3f3f3;">
                                            <div class="pull-left" style="margin-top:5px;margin-left:10px;">
                                                <div class="row" style="padding:0 !important">
                                                    <div class="col-lg-12" style="padding:0 !important">
                                                        <div class="col-lg-3">
                                                            <p style="margin: 0 0 2px ;font-size:medium">
                                                                <strong> <span ng-bind-html="PermissionItem.MenuName"></span> </strong>
                                                            </p>
                                                        </div>
                                                        <div class="col-lg-9">
                                                            <span ng-bind-html="PermissionItem.MenuDescription"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-right" style="margin-top:10px;" ng-class="PermissionItem.IsInternalPermissionPresent  ? 'show-drilldown' : 'hide-drilldown'">
                                                <label class="switch pull-right;">
                                                    <input type="checkbox" ng-model="PermissionItem.IsActive">
                                                    <div class="slider round"></div>
                                                </label>

                                                <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label"
                                                   style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                                    <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                                </a>

                                            </div>

                                            <div ng-show="toggle" style="margin-bottom:10px;padding:0">
                                                <div class="col-lg-1"></div>
                                                <div class="col-lg-11">
                                                    <div ng-repeat="InternalPerm in PermissionItem.InternalPermissions" style="margin-top:10px;padding-top:10px;" class="user-designation">

                                                        <div style="background-color: #e5e5e5;">
                                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px;padding-top:10px;color:black;">
                                                                <span class="pull-left info-head" style="color:black;">  {{InternalPerm.PermissionName}}  &nbsp; </span>
                                                                <div class="pull-right;" style="float:right;">
                                                                    <label class="switch pull-right;">
                                                                        <input type="checkbox" ng-click="InternalPerm.IsPermissionActive = !InternalPerm.IsPermissionActive;clickInternalPermission(InternalPerm)" ng-model="InternalPerm.IsPermissionActive">
                                                                        <div class="slider round"></div>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="clearfix"></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>

                                    </div>
                                </div>





                                <div class="clearfix"></div>
                            </div>


                            <div ng-if="customizePermissionObject.length && selectedRoleModel != 0" style="margin-top:30px;">
                                <a href="" ng-click="savePermissions()" class="edit-btn">Save Permissions</a>
                            </div>


                            <div ng-if="!customizePermissionObject.length" class="list-group-item">
                                No Record Found.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</div>


