﻿

<div class="row">
    <div class="col-lg-12 mid-part">


        <div class="panel panel-default dashboard-inner-box">
            <div class="panel-heading">
                Number Of Completed Todo 
                <div class="pull-right">
                    <span class="box-control">

                        <a href="" style="background-color:white;" ng-click="getCompletedTodoCount()" title="Refresh">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>

                        <a href="" style="background-color:white;" ng-click="completedTodoDetailClose()" title="Close">
                            <i class="fa fa-times"></i>
                        </a>

                    </span>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="panel-body" style="font-size:25px;text-align:center; ">
                
                <a href="" style="background-color:white;" ng-click="showCompletedTodoDetail()" title="Show Detail">
                    {{completedTodoObject.length}}
                </a>

            </div>

        </div>

    </div>
</div>



<div ng-include="'views/loaders/GlobalLoaders.html'"></div>
<div ng-include="'scripts/directives/todoCountDirective/todoDetailModal.html'"></div>