﻿<style>
    .AcceptedInvitation {
        width: 10px;
        background-color: green;
    }

    .RejectedInvitation {
        width: 10px;
        background-color: red;
    }

    .PendingInvitation {
        width: 10px;
        background-color: brown;
    }

    .tblInvitation thead:first-child {
        background-color: #3facff;
    }

        .tblInvitation thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divVendorInvitation" style="margin-left:15px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invitation </span></h3>
            <div class="clearfix"></div>
            <div class="" style="padding-top:5px;">

                <div class="clearfix"></div>
            </div>
        </div>
        <div>&nbsp;</div>
        <div class="row" style="margin-top: 12px">
            

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-4">
                    <div class="sorting-span pull-left">Company</div>
                    <div class="sorting-selection">
                        <select ng-model="CompanyDropModal" ng-options="item.Name for item in CompanyDropList" ng-change="FilterInvitationsByCompanyAdminProfile(CompanyDropModal)">
                            </select>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="sorting-span pull-left">Status</div>
                    <div class="sorting-selection">
                        <select ng-model="selectStatusModal" ng-options="item as item.status for item in myVendorstatusList" ng-change="FilterInvitationByStatusAdminProfile(selectStatusModal)"></select>

                    </div>

                </div>

                
                <div class="col-lg-4">
                    <div class="sorting-span pull-left">POCs</div>
                    <div class="sorting-selection">
                        <select ng-model="POCsModal" ng-options="item as item.Name for item in CompanyPOCsList" ng-change="FilterInvitationPOCsAdminProfile(POCsModal)"></select>

                    </div>
                </div>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">

                    <div>

                        <table class="table table-striped table-hover table-bordered table-condensed tblInvitation">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>company Name</th>
                                    <th>Invited On</th>
                                    <th>POCs</th>
                                    <th>Status</th>

                                </tr>
                            </thead>

                            <tr ng-repeat="item in invitaionToVendorRespList">
                                <td ng-if="item.IsApproved == null" style="width: 10px;background-color: grey;"></td>
                                <td ng-if="item.IsApproved == true" style="width: 10px;background-color: green;"></td>
                                <td ng-if="item.IsApproved == false" style="width: 10px;background-color: red;"></td>
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.InvitationDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.VendorName}}</td>
                                <td> {{item.IsApproved == true  ? 'Accepted': item.IsApproved == false ? 'Rejected' : 'Pending'}}</td>
                        

                            </tr>
                            <tr ng-if="invitaionToVendorRespList.length == 0">
                                <td colspan="12" style="text-align: center">No Record Found</td>
                            </tr>
                        </table>

                    </div>

                </div>


            </div>
            <div class="form-group pull-left page-size form-inline">

                <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
            </div>

            <div class="pull-right">
                <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                            class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                </pagination>

            </div>

        </div>


    </div>
</div>










