﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .RejectbyVendor {
        background-color: red !important;
        width: 10px;
    }

    .AcceptByVendor {
        background-color: green !important;
        width: 10px;
    }

    .NotActtionbyVendor {
        background-color: grey !important;
        width: 10px;
    }

    .tblProjecttoQuote thead:first-child {
        background-color: #3facff;
    }

        .tblProjecttoQuote thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divProjecttoQuoteAdminProfile">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Projects to Quote  </span></h3>
            <div class="clearfix"></div>
        </div>

        <div class="row" style="margin-top: 12px">

            <div class="col-lg-3">
                <input type="text" class="form-control" ng-model="qouteSentToProjectNameModal" placeholder="Search by project name"
                       ng-cut="cutSearchProjectToQuoteProjectName()" auto-complete="autoCompleteOptionsVendorAdmin"
                       ng-keydown="searchProjectNameProjectToQuote(qouteSentToProjectNameModal,$event)" />

            </div>
            <div>

            </div>
     

            <div class="col-lg-3">
                <div class="sorting-span pull-left" style="width:67px;">Company</div>
                <div class="sorting-selection">
                    <select ng-model="CompanyDropModal" ng-options="item.Name for item in CompanyDropList" ng-change="FilterProjectToQouteByCompanyInVendorAdminProfile(CompanyDropModal)"></select>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left" style="width: 90px">Quote Status</div>
                <div class="sorting-selection" style="width: 170px">
                    <select ng-model="QouteSendStatusDropModal" ng-options="item.Status for item in QouteSendByVendorDropList" ng-change="FilterProjectToQouteByQuotedStatusInVendorAdminProfile(QouteSendStatusDropModal)"></select>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="sorting-span pull-left">POCs</div>
                <div class="sorting-selection">
                    <select ng-model="POCsModal" ng-options="item as item.Name for item in CompanyPOCsProjectToQouteList" ng-change="FilterProjectToQouteByPOCsInVendorAdminProfile(POCsModal)"></select>

                </div>
            </div>
        </div>
        <div style="margin-top:30px;">

            <div class="table-responsive">

                <div>
                    <table class="table table-striped table-hover table-bordered table-condensed tblProjecttoQuote">
                        <thead>
                            <tr>

                                <th></th>
                                <th>#</th>
                                <th></th>
                                <th>Project</th>
                                <th>Company</th>
                                <th>Quote Received on</th>
                                <th>POCs</th>
                                <th>Quote Sent on</th>
                                <th>Cost Proposed</th>
                                <th>Hours Proposed</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in getAdminProfileProjectTOQuoteList">

                            <td ng-class="item.IsApproved == null ?  'NotActtionbyVendor' :  item.IsApproved == true ? 'AcceptByVendor': 'RejectbyVendor'"
                                title="{{item.IsApproved == null ? 'Action pending from company ' : item.IsApproved == true ?  'your quote has been approved by company ' : 'your quote has been rejected by company' }}" style="cursor:pointer"></td>

                            <td style="width:70px">{{$index+1}}</td>
                            <td style="width: 17px">
                                <div ng-class="item.IsRejectedByVendor == null ? 'glyphicon glyphicon-time' : item.IsRejectedByVendor == true ?  'glyphicon glyphicon-remove' : 'glyphicon glyphicon-ok'"
                                     title="{{item.IsRejectedByVendor == null ? 'Quote is pending from your side ' : item.IsRejectedByVendor == true ?  'You rejected this project ' : 'Quote has been given from your side' }}" style="cursor:pointer"></div>
                            </td>
                            <td style="width: 215px">{{item.ProjectName}}</td>
                            <td style="width: 215px">{{item.CompanyName}}</td>
                            <td style="width: 115px">{{item.CreatedDate == 'null' ? "----" : item.CreatedDate | date:'MM/dd/yyyy'}}</td>
                            <td style="width: 115px">{{item.VendorName}}</td>
                            <td style="width: 100px">{{item.QuoteSenton | date:'MM/dd/yyyy'}}</td>
                            <td style="text-align-last: end;width: 115px">{{item.Budget == 0 ? "----" :item.Budget}}</td>
                            <td style="text-align-last: end;width: 115px">{{item.Hours ==0 ? "----":item.Hours}}</td>
                            <td style="width:100px">
                                <a href="#/vendoradminprofile/viewDetail/toquote/{{item.ProjectId}}/{{item.VendorId}}" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View details/Quote</span></a>
                            </td>
                        </tr>
                        <tr style="text-align:center" ng-if="getProjectTOQuoteList.length ==0">
                            <td colspan="12">No Record Found</td>
                        </tr>
                    </table>

                </div>

                <div class="form-group pull-left page-size form-inline">
                    <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                </div>

                <div class="pull-right">
                    <pagination total-items="totalCount" ng-change="pageChanged(pageIndex)" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>
                   
              
                </div>
            </div>
        </div>

        
    </div>
</div>