﻿<style>
    .hrActouHour80 {
        height: 6px !important;
        background-color: green !important;
        width: 115px !important;
        color: green;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hrActouHourBetwenn80to100 {
        height: 6px !important;
        background-color: gold !important;
        width: 115px !important;
        color: gold;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hrActouHourAbove100 {
        height: 6px !important;
        background-color: red !important;
        color: red;
        width: 115px !important;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .ProjectCommonFont {
        font-size: 15px;
    }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divProjectManagementSection">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Project Completion/Feedback</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">

                <label style="font-size: 20px;color: #3facff;">{{ProjectCompletionModal.ProjectName}}</label>
            </div>

        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="txtAlloted">Alloted To - </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.UserName}}</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="txtCompany">Company - </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.CompanyName}}</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label for="txtCompany">Project started on - </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.ProjectStartDate |  date:'MM/dd/yyyy'}}</label>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label>Quoted Hours for the Project :  </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.BudgetHours}}</label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label>Actual Hours spent on Project :  </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.ActualHours}}</label>
                </div>
            </div>


        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label>Estimated budget :  </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.BudgetAmount}}</label>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <label>Actual budget :  </label>
                    <label class="ProjectCommonFont">{{ProjectCompletionModal.ActualAmount}}</label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label for="txtstartdate">Enter Project Completion date : </label>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="form-group">
                    <p class="input-group" style="margin:0px">
                        <input ng-disabled="ProjectCompletionModal.IsComplete ==3" id="from" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                               ng-model="feedbackModal.projectCompletiontDate" tabindex="1" is-open="popup.opened" min-date="mindate" datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="Close"
                               name="ProjectCompletedate"
                               placeholder="Enter date" readonly />
                        <span class="input-group-btn">
                            <button ng-disabled="ProjectCompletionModal.IsComplete ==3" type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open()">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <div class="form-group">
                    <label ng-disabled="ProjectCompletionModal.IsComplete ==3" style="color:steelblue;cursor:pointer" ng-click="GetCurrentdate()">today is completion date </label>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <form name="NewProjectToVendorForm1" class="margin-top-10px">
                <div class="form-group">
                    <label for="txtProject" style="font-size:20px">Resource Details</label>
                    <div ng-repeat="item in ProjectCompletionModal.VendorResourceList">
                        <label style="color: #3facff">{{item.Name}}</label> <label>( {{item.Designation}} )</label>
                        <table class="table table-hover table-bordered table-condensed">

                            <tr>
                                <td>

                                    <label>Expected Hours : {{item.BudgetedHours}} Hrs</label>

                                </td>
                                <td><label style="margin-top: 4px;">Hours spent in actual : {{item.ActualHours}} Hrs</label></td>
                                <td style="cursor:pointer">
                                    <hr ng-class="(item.ActualHours/item.BudgetedHours) < .80 ? 'hrActouHour80' : (item.ActualHours/item.BudgetedHours) > 1 ? 'hrActouHourAbove100' : 'hrActouHourBetwenn80to100'"
                                        title="{{(item.ActualHours/item.BudgetedHours) < .80 ? 'work finished well before time ' : (item.ActualHours/item.BudgetedHours) > 1 ? 'work took more time then expected' : 'work finished just in time'}}" />
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <label>What do you want to say :</label>
                                </td>
                                <td>
                                    <label>Rating :</label><label style="margin-left: 15px">{{item.Rating}} </label>
                                    <div>
                                        <ng-rate-it ng-model="ExistingUserModel.Rating"
                                                    min="0"
                                                    max="5"
                                                    step="Double"
                                                    star-width="16"
                                                    star-height="16"
                                                    read-only="true"
                                                    rated="Function(rating)"
                                                    reset="Function(rating)">
                                        </ng-rate-it>

                                    </div>
                                </td>

                            </tr>
                            <tr>
                                <td colspan="3">
                                    <textarea ng-disabled="ProjectCompletionModal.IsComplete ==3" rows="5" cols="20" name="projectDescription" placeholder="Enter vendor resource feedback"
                                              maxlength="500" class="form-control" tabindex="2" required ng-model="item.Companyfeedback"></textarea>
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div>
                        <label for="txtProject" style="font-size:20px">Vendor Details : </label>
                        <div><label style="margin-left: 10px">{{ProjectCompletionModal.UserName}}</label></div>

                        <div class="profile-pic" style="margin-right:10px; margin-top:5px;height: 60px;">
                            <img style="height: 60px;" ng-src="{{imgURL}}{{ProjectCompletionModal.ProfilePic}}">


                        </div>

                        <div>
                            <label>Rating :</label><label style="margin-left: 15px">{{feedbackModal.rating}} </label>
                            <ng-rate-it ng-model="feedbackModal.rating"
                                        min="0"
                                        max="5"
                                        step="Double"
                                        star-width="16"
                                        star-height="16"
                                        read-only="isRated"
                                        rated="Function(rating)"
                                        reset="Function(rating)">
                            </ng-rate-it>


                        </div>




                        <div style="margin-top: 23px">
                            <label>What do you want to say :</label>
                            <textarea ng-disabled="ProjectCompletionModal.IsComplete ==3" rows="5" cols="20" name="projectDescription" placeholder="Enter vendor feedback"
                                      maxlength="500" class="form-control" ng-model="feedbackModal.vendorFeedback" tabindex="4" required></textarea>
                        </div>
                    </div>


                </div>
                <div style="margin-left:35%" ng-hide="ProjectCompletionModal.IsComplete ==3">
                    <a style="cursor:pointer;width: 180px;" ng-click="confirmationBeforSaveProject()" class="edit-btn" tabindex="4">Mark as Complete & Submit Feedback</a>
                    <a style="cursor:pointer;width: 180px;" ng-click="CompleteVendorProject()" class="edit-btn" tabindex="4">cancel</a>
                </div>
            </form>
        </div>

    </div>



</div>

<div class="modal fade" id="modalConfirmationCompleteProject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:450px">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"></h4>
            </div>
            <div class="modal-body">
                <p style="font-size: medium">You are about to mark this project as complete and the feedback will be sent to the vendor. Are you sure you want to proceed ?  </p>
            </div>

            <div class="modal-footer">
                <a style="cursor:pointer;" value="{{index}}" ng-click="saveCompletionVendorProject()" class="edit-btn" tabindex="4">Yes, Submit my feedback</a>

                <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">No</a>
            </div>
        </div>

    </div>
</div>

<!--<div ng-include="'views/project/ConfirmPopup.html'"></div>-->
