﻿<style>
    .verticalmembersmenu ul {
        list-style: none;
        border: 1px solid black;
    }
</style>
<style>
    .tdwidth {
        width: 25px !important;
    }

    .reg_name {
        max-width: 200px;
    }
</style>

<style>
    .linkDisabled {
        cursor: not-allowed;
        pointer-events: none;
        color: grey;
    }

    .linkEnable {
        cursor: pointer !important;
    }
</style>






<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divVendorInvitation">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Project : {{getProjectDetailForVendorQuoteList.Name}} </span></h3>
           <div class="clearfix"></div>
        </div>
        <!--<div>&nbsp;</div>-->
        <div class="" style="padding-top:5px;">
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div style="border: 2px solid dodgerblue; padding: 2px; width: 98%; margin-left: 6px; border-radius: 4px; " class="col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 5px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label for="txtProject" style="font-size: large">TOTAL EFFORTS (in hrs) :</label>
                        <input ng-disabled="getProjectDetailForVendorQuoteList.PhaseList.length > 0" name="projectName" style="display: inline-block;width: 50%;" class="form-control" maxlength="50" ng-model="getProjectDetailForVendorQuoteList.TotalHours"
                               tabindex="1" required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 5px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label for="txtProject" style="font-size: large">TOTAL COST (in $) :</label>
                        <input ng-disabled="getProjectDetailForVendorQuoteList.PhaseList.length > 0" name="projectName" style="display: inline-block;width: 50%;" class="form-control" tabindex="1" required ng-model="getProjectDetailForVendorQuoteList.TotalBudget">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding:5px;margin-left:5px;">
                <div class="tab-area" style="width:100%">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" style="width:33%;text-align:center;"><a href="#BasicDetailtab" aria-controls="ProjectDetailtab" role="tab" data-toggle="tab">Basic Details</a></li>
                        <li role="presentation" style="width:33%;text-align:center;"><a href="#PhaseMilestnetab" aria-controls="Vendortab" role="tab" data-toggle="tab">Phase/Milestones</a></li>
                        <li role="presentation" style="width:34%;text-align:center;"><a href="#Resoucetab" aria-controls="Vendortab" role="tab" data-toggle="tab">Resources</a></li>
                    </ul>
                </div>
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="BasicDetailtab">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="txtProjectStartDate" style="font-size: initial">Start Date : </label>
                                    <label ng-bind="formatDate(getProjectDetailForVendorQuoteList.ProjectStartDate) |  date:'MM/dd/yyyy'"></label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="txtEndDate" style="font-size: initial">End Date : </label>
                                    {{getProjectDetailForVendorQuoteList.ProjectEndDate |  date:'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" style="font-size: initial">Project Description :</label>
                            <textarea rows="5" cols="15" name="projectDescription" readonly
                                      placeholder="Enter project description" maxlength="1000" class="form-control" ng-model="getProjectDetailForVendorQuoteList.Description" tabindex="5" required></textarea>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label style="font-size: large">Associated Files / Documents</label><br />

                            <a  href="" ng-repeat="item in getProjectDetailForVendorQuoteList.ProjectDocumentList" style="margin-right: 15px" ng-click="downloadQuoteProjectForVendorAdminProfile(item.FilePath,item.FileName,item.ActualFileName)">{{$index+1}}.{{item.ActualFileName}}</a>
                            <div ng-if="getProjectDetailForVendorQuoteList.ProjectDocumentList.length ==0">No Attachment Fount</div>
                        </div>
                        <div ng-if="CustomDirectiveReady">
                            <custom-Control-render-directive name1="CustomcontrolList" isdisabled="ProjectIsEdit" disabled="ProjectIsEdit"
                                                             ischeckbox="ProjectIsEdit"
                                                             ischeckbox1="ProjectIsEdit"
                                                             ischeckbox2="ProjectIsEdit"
                                                             ng-model="customcontrolmodel">

                            </custom-Control-render-directive>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="PhaseMilestnetab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<div class="form-group pheadertop"><div class="pheader">Existing Phases</div></div>-->
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Phase Name</th>
                                        <th>Milestones</th>
                                        <th>Estimate Hours</th>
                                        <th>Estimate Cost(in $)</th>
                                    </tr>
                                </thead>

                                <!--Phasa------------------------------------------------------------------>
                                <tr ng-repeat-start="item in getProjectDetailForVendorQuoteList.PhaseList">
                                    <td class="grayBack" style="width:520px"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 14px"></span>{{item.Name}}</td>
                                    <td style="vertical-align:middle">
                                        <label>{{item.MileStone.length}}</label>
                                        <a style="cursor:pointer;" ng-click="modalMilestoneProjectToQuoteAdminProfile($index,item)" class="edit-btn displaytablecell" tabindex="15"> View</a>
                                    </td>
                                    <td class="grayBack"><input ng-disabled="!IsQuateSendForProject" name="projectName" placeholder="Enter estimated hours" style="display: inline-block;" ng-keypress="isNumber($event)" class="form-control" maxlength="6" ng-model="item.PhaseVendorHour" ng-blur="addHourCost($index,'p')" /></td>
                                    <td class="grayBack"><input ng-disabled="!IsQuateSendForProject" name="projectName" placeholder="Enter estimated cost" style="display: inline-block;" ng-keypress="isNumber($event)" class="form-control" maxlength="6" ng-model="item.PhaseVendorBudget" ng-blur="addBudgetCost($index,'p')" /></td>
                                </tr>
                                <tr>

                                    <td class="whiteBack" colspan="4">
                                        <div class="form-group">
                                            <label for="lblphaseDescription" style="font-size: initial">Phase Description :</label>
                                            <textarea rows="2" cols="15" name="projectDescription" readonly
                                                      placeholder="" maxlength="1000" class="form-control" ng-model="item.Description" tabindex="16" required></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat-end>

                                    <td class="whiteBack" colspan="4" fontingrind>

                                        <label for="lblphaseDocument" style="font-size: initial">Document Attached :</label> <br />
                                        <a  href="" ng-repeat="img in item.PhaseDocumentList" style="margin-right: 15px" ng-click="downloadQuoteProjectForVendorAdminProfile(img.FilePath,img.FileName,img.ActualFileName)">{{$index+1}}.{{img.ActualFileName}}</a>
                                        <label ng-if="item.PhaseDocumentList.length ==0">No Attachment Found</label>

                                    </td>

                                </tr>

                                <tr ng-if="AddNewProjectModel.PhaseList.length == 0">
                                    <td colspan="5" class="text-align-center">No Record Found</td>
                                </tr>
                            </table>
                        </div>


                    </div>
                    <div role="tabpanel" class="tab-pane" id="Resoucetab">
                        <div class="row">
                            <div ng-show="IsQuateSendForProject" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">

                                <form name="form-group">
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label for="repeatSelect">Role</label>
                                            <select name="mySelect" id="selectRoleId" style="width: 100%;" class="dropdown100 form-control"
                                                    ng-options="option.Name for option in getVendorResourceRoleList track by option.RoleId"
                                                    ng-model="roleModal" ng-change="changeVendor(roleModal)">
                                                <option value="">---Please select---</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group" for="txtProjectStartDate">
                                            <label>First Name</label>
                                            <input name="FirstName" placeholder="Enter first name" style="display: inline-block; display: inline-block; width: 100%;" class="form-control" maxlength="20" ng-model="resourceModal.firstName" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label style="margin-left: 4px;margin-left: 16px" for="txtProjectStartDate">Last Name</label>
                                            <input name="LastName" placeholder="Enter last name" style="display: inline-block;width: 100%;" class="form-control" maxlength="20" ng-model="resourceModal.lastname" />
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label for="txtProjectStartDate">Profile</label>
                                            <input name="Profile" placeholder="Enter profile" style="display: inline-block;width: 100%;" class="form-control" maxlength="150" ng-model="resourceModal.profile" />
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0">
                                            <div class="form-group">
                                                <label for="HourlyRate">Hourly Rate (in $)</label>
                                                <input name="EstimateHour" style="display: inline-block;display: inline-block;width: 84%;"
                                                       class="form-control" maxlength="6" ng-model="resourceModal.hourlyRate"
                                                       placeholder="Enter rate" ng-keypress="isNumber($event)" />

                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0;padding-right:0">
                                            <div class="form-group">

                                                <label for="HourlyRate">Expected Hours(in hrs)</label>
                                                <input name="EstimateHour" style="display: inline-block;display: inline-block;width: 100%;"
                                                       class="form-control" maxlength="6" ng-model="resourceModal.expectedHours"
                                                       placeholder="Enter  hours" ng-keypress="isNumber($event)" />

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                        <div class="form-group">
                                            <a ng-click="addResource(resourceModal)" class="edit-btn pull-right" style="width:auto; margin-top:23px;cursor:pointer">Add </a>

                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Role</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Profile</th>
                                        <th>Hourly Rate (in $)</th>
                                        <th>Expected Hours</th>
                                        <th ng-show="IsQuateSendForProject" ng-if="getProjectDetailForVendorQuoteList.ResourcesList.length > 0"></th>

                                    </tr>
                                </thead>

                                <!--Phasa------------------------------------------------------------------>
                                <tr ng-repeat="item in getProjectDetailForVendorQuoteList.ResourcesList">
                                    <td>{{item.DesignationName}}</td>
                                    <td>{{item.FirstName}}</td>
                                    <td>{{item.LastName}}</td>
                                    <td><a href="{{item.Profile}}" target="_blank">{{item.Profile}}</a></td>
                                    <td>{{item.HourlyRate}}</td>
                                    <td>{{item.ExpectedHours}}<label style="margin-left: 5px">({{item.PercentageFromTotal | number:2}}%)</label><i style="margin-left: 5px;color: #3facff;cursor:pointer" title="bifurcate these hours" class="fa fa-cog"></i> </td>
                                    <td ng-show="IsQuateSendForProject" ng-if="getProjectDetailForVendorQuoteList.ResourcesList.length > 0"><a ng-click="removeResource($index,item)" class="edit-btn pull-right" style="width:auto;cursor:pointer">Remove </a></td>
                                </tr>

                                <tr ng-if="getProjectDetailForVendorQuoteList.ResourcesList.length == 0">
                                    <td colspan="6" style="text-align-last: center">No Resource Added</td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="txtDescription">Overall Remark :</label>
                            <textarea rows="5" cols="15" name="projectDescription"
                                      placeholder="Enter remarks" maxlength="1000" readonly class="form-control" ng-model="getProjectDetailForVendorQuoteList.AllDescription" required></textarea>
                        </div>
               


                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div ng-include="'views/vendorAdminProfile/modal/MilestoneModal.html'"></div>