﻿    <style>
    .verticalmembersmenu ul {
        list-style: none;
        border: 1px solid black;
    }
</style>
<style>
    .tdwidth {
        width: 25px !important;
    }

    .reg_name {
        max-width: 200px;
    }
</style>



<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divVendorInvitation">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Project : {{projectAwardedViewDetailList.Name}} </span></h3>
            <div ng-if="projectAwardedViewDetailList.IsActive" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label ng-if="countUnpaidInvoice > 0" style="cursor:pointer" title="{{countUnpaidInvoice}} Invoices Pending" class="pull-right"><span class="glyphicon glyphicon-usd"></span></label>

                <a ng-if="projectAwardedViewDetailList.IsComplete == 3" href="#/vendoradminprofile/project/completionfeedback/{{projectAwardedViewDetailList.ProjectId}}/{{projectAwardedViewDetailList.VendorId}}" class="edit-btn pull-right" style="width:auto;">View Feedback</a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>

        </div>
        <!--<div>&nbsp;</div>-->
        <div class="" style="padding-top:5px;">
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div style="border: 2px solid dodgerblue; padding: 2px; width: 98%; margin-left: 6px; border-radius: 4px; " class="col-lg-12 col-sm-12 col-xs-12">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 5px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label for="txtProject" style="font-size: large">TOTAL EFFORTS (in hrs) :</label>
                        <input disabled name="projectName" style="display: inline-block;width: 50%;" class="form-control" maxlength="50" ng-model="projectAwardedViewDetailList.TotalHours"
                               tabindex="1" required>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-top: 5px;">
                    <div class="form-group" style="margin-bottom: 5px;">
                        <label for="txtProject" style="font-size: large">TOTAL COST (in $) :</label>
                        <input disabled name="projectName" style="display: inline-block;width: 50%;" class="form-control" tabindex="1" required ng-model="projectAwardedViewDetailList.TotalBudget">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="padding:5px;margin-left:5px;">
                <div class="tab-area" style="width:100%">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" style="width:20%;text-align:center;"><a href="#BasicDetailtab" aria-controls="ProjectDetailtab" role="tab" data-toggle="tab">Project Overview</a></li>
                        <li role="presentation" style="width:20%;text-align:center;"><a href="#PhaseMilestnetab" aria-controls="PhaseVendortab" role="tab" data-toggle="tab">Phase/Milestones</a></li>
                        <li role="presentation" style="width:20%;text-align:center;"><a href="#Resoucetab" aria-controls="ResouceVendortab" role="tab" data-toggle="tab">Resources</a></li>
                        <li role="presentation" style="width:20%;text-align:center"><a href="#ProjectInProgresstab" aria-controls="ProjectInProgresstab" role="tab" data-toggle="tab">Project Progress</a></li>
                        <li role="presentation" style="width:20%;text-align:center"><a href="#Invoicetab" aria-controls="InvoiceProgresstab" role="tab" data-toggle="tab">Invoice</a></li>
                    </ul>
                </div>
                <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="BasicDetailtab">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="txtProjectStartDate" style="font-size: initial">Start Date : </label>
                                    {{projectAwardedViewDetailList.ProjectStartDate |  date:'MM/dd/yyyy'}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <div class="form-group">
                                    <label for="txtEndDate" style="font-size: initial">End Date : </label>
                                    {{projectAwardedViewDetailList.ProjectEndDate |  date:'MM/dd/yyyy'}}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="txtDescription" style="font-size: initial">Project Description :</label>
                            <textarea rows="5" cols="15" name="projectDescription" readonly
                                      placeholder="Enter project description" maxlength="1000" class="form-control" ng-model="projectAwardedViewDetailList.Description" tabindex="5" required></textarea>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <label style="font-size: large">Associated Files / Documents</label><br />
                            <a href="" ng-repeat="item in projectAwardedViewDetailList.ProjectDocumentList" style="margin-right: 15px" ng-click="downloadProjectandAwardedForVendorAdminProfile(item.FilePath,item.FileName,item.ActualFileName)">{{$index+1}}.{{item.ActualFileName}}</a>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                            <div ng-repeat="item in projectAwardedViewDetailList.ResourcesList | filter:{ DesignationName: 'Project Manager'}">
                                <label style="font-size: large">Project Manager :</label>
                                <div><label>{{item.FirstName}}</label><label style="margin-left: 10px"> {{item.LastName}}</label></div>

                            </div>
                        </div>
                        <div ng-if="CustomDirectiveReady">
                            <custom-Control-render-directive name1="CustomcontrolList" isdisabled="ProjectIsEdit" disabled="ProjectIsEdit"
                                                             ischeckbox="ProjectIsEdit"
                                                             ischeckbox1="ProjectIsEdit"
                                                             ischeckbox2="ProjectIsEdit"
                                                             ng-model="customcontrolmodel">

                            </custom-Control-render-directive>
                        </div>


                    </div>

                    <div role="tabpanel" class="tab-pane" id="PhaseMilestnetab">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <!--<div class="form-group pheadertop"><div class="pheader">Existing Phases</div></div>-->
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Phase Name</th>
                                        <th>Milestones</th>
                                        <th>Estimate Hours</th>
                                        <th>Estimate Cost(in $)</th>
                                    </tr>
                                </thead>

                                <!--Phasa------------------------------------------------------------------>
                                <tr ng-repeat-start="item in projectAwardedViewDetailList.PhaseList">

                                    <td class="grayBack" style="width:520px"><span class="glyphicon glyphicon-arrow-right" style="margin-right: 14px"></span>{{item.Name}}</td>
                                    <td style="vertical-align:middle">
                                        <label>{{item.MileStone.length}}</label>
                                        <a style="cursor:pointer;" ng-click="modalMilestoneProjectAwardedScreen($index,item)" class="edit-btn displaytablecell" tabindex="15"> View</a>
                                    </td>
                                    <td class="grayBack"><input disabled style="display: inline-block;" ng-model="item.PhaseVendorHour" /></td>
                                    <td class="grayBack"><input disabled style="display: inline-block;" maxlength="6" ng-model="item.PhaseVendorBudget" /></td>
                                </tr>
                                <tr>

                                    <td class="whiteBack" colspan="4">
                                        <div class="form-group">
                                            <label for="lblphaseDescription" style="font-size: initial">Phase Description :</label>
                                            <textarea rows="2" cols="15" name="projectDescription" readonly
                                                      placeholder="" maxlength="1000" class="form-control" ng-model="item.Description" tabindex="16" required></textarea>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-repeat-end>

                                    <td class="whiteBack" colspan="4" fontingrind>

                                        <label for="lblphaseDocument" style="font-size: initial">Document Attached :</label> <br />
                                        <a href="" ng-repeat="img in item.PhaseDocumentList" style="margin-right: 15px" ng-click="downloadProjectandAwardedForVendorAdminProfile(img.FilePath,img.FileName,img.ActualFileName)">{{$index+1}}.{{img.ActualFileName}}</a>
                                        <label ng-if="item.PhaseDocumentList.length ==0">No Attachment Found</label>
                                    </td>
                                </tr>

                                <tr ng-if="AddNewProjectModel.PhaseList.length == 0">
                                    <td colspan="5" class="text-align-center">No Record Found</td>
                                </tr>
                            </table>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="Resoucetab">
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-striped table-hover table-bordered table-condensed">
                                <thead>
                                    <tr style="font:bold;background-color:#3facff">
                                        <th>Role</th>
                                        <th>First Name</th>
                                        <th>Last Name</th>
                                        <th>Profile</th>
                                        <th>Hourly Rate (in $)</th>
                                        <th>Expected Hours</th>


                                    </tr>
                                </thead>

                                <!--Phasa------------------------------------------------------------------>
                                <tr ng-repeat="item in projectAwardedViewDetailList.ResourcesList">
                                    <td>{{item.DesignationName}}</td>
                                    <td>{{item.FirstName}}</td>
                                    <td>{{item.LastName}}</td>
                                    <td><a href="{{item.Profile}}" target="_blank">{{item.Profile}}</a></td>
                                    <td>{{item.HourlyRate}}</td>
                                    <td>{{item.ExpectedHours}}</td>

                                </tr>

                                <tr ng-if="projectAwardedViewDetailList.ResourcesList.length == 0">
                                    <td colspan="6" style="text-align-last: center">No Resource Added</td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="txtDescription">Overall Remark :</label>
                            <textarea disabled rows="5" cols="15" name="projectDescription"
                                      placeholder="" maxlength="1000" class="form-control" ng-model="projectAwardedViewDetailList.AllDescription" required></textarea>
                        </div>
                    </div>


                    <div role="tabpanel" class="tab-pane " id="ProjectInProgresstab">


                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <table class="table table-striped table-hover table-bordered table-condensed">
                                    <tr rowspan="2">
                                        <td>
                                            Timeline : {{projectAwardedViewDetailList.VendorProjectProgressList[0].TotalHours == undefine ? 0 : projectAwardedViewDetailList.VendorProjectProgressList[0].TotalHours}}
                                            Hours are spent so far ( {{projectAwardedViewDetailList.VendorProjectProgressList[0].TotalPaidHour == undefine ? 0 :projectAwardedViewDetailList.VendorProjectProgressList[0].TotalPaidHour}} paid )
                                        </td>
                                    </tr>
                                    <tr rowspan="2">
                                        <td>Costing :  $ {{projectAwardedViewDetailList.VendorProjectProgressList[0].TotalCost == undefine ? 0 :projectAwardedViewDetailList.VendorProjectProgressList[0].TotalCost}} have been Paid </td>
                                    </tr>
                                    <tr><td colspan="4"></td></tr>

                                    <tr><td colspan="4">Resources Performacne</td></tr>
                                    <tr ng-repeat="item in projectAwardedViewDetailList.ResourcesList" ng-mouseenter="SpentHourshow(item.SpentHours)" ng-mouseleave="SpentHourhide(item.SpentHours)">
                                        <td style="width:35%">{{item.FirstName}} {{item.LastName}} ({{item.DesignationName}})</td>
                                        <td style="width:35%">
                                            {{item.SpentHours}} / {{item.ExpectedHours}}
                                        </td>
                                        <td style="width:30%">
                                            <div class="progress">

                                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{item.SpentHours >item.ExpectedHours ? 100 : 0 }}%" title="Work in Progress">
                                                </div>

                                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{(item.SpentHours / item.ExpectedHours * 100) }}%" title="Complete">
                                                    <div>{{(item.SpentHours / item.ExpectedHours * 100) | number : 2 }} %</div>
                                                </div>

                                                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:{{100-(item.SpentHours / item.ExpectedHours * 100)}}%" title="Work in Progress">
                                                    <div ng-if="item.SpentHours > 0">{{100-(item.SpentHours / item.ExpectedHours * 100) | number : 2}} %</div>
                                                    <div ng-if="item.SpentHours == 0">0 %</div>
                                                </div>



                                            </div>
                                        </td>

                                    </tr>

                                </table>


                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Invoicetab">
                        <div class="clearfix"></div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                            <div ng-repeat="item in projectAwardedViewDetailList.VendorProjectProgressList">
                                <table class="table table-striped table-hover table-bordered table-condensed">
                                    <tr><td colspan="3">Invoice : {{item.InvoiceNumber}} ( $ {{item.InvoiceCost}} ) </td></tr>
                                    <tr>
                                        <td style="width:33%"> Date : {{item.InvoiceDate |  date:'MM/dd/yyyy'}}</td>
                                        <td style="width:33%">Status : {{item.IsPaid == 1 ? 'Paid' : 'Pending'}}</td>
                                        <td style="width:33%">Hour invoiced : {{item.Hours}}</td>
                                    </tr>
                                    <tr ng-if="projectAwardedViewDetailList.VendorProjectProgressList.length == undefine">
                                        <td colspan="3">No Record Found</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>

<div ng-include="'views/vendorAdminProfile/modal/MilestoneProjectAwardedVendorProfile.html'"></div>


