﻿<!--THIS STYLE IS FOR Toggle Button  -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 40%;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divManageRole">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-users"></i> Manage Role  </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Role" ng-model="inputSearchRole" class="project-search form-control" />
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a class="edit-btn pull-right" style="width:auto;cursor:pointer;" ng-click="showRoleAddUpdateVendorAdminProfileModal()">Add New Role</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="panel panel-default">
                            <div class="panel-heading team-list-head">Roles</div>
                            <div class="list-group">
                                <div ng-repeat="role in VendorCompanyRoleList | filter: inputSearchRole" class="list-group-item">
                                    <div class="pull-left">
                                        <h4 class="list-group-item-heading"> <a href="" ng-bind-html="role.RoleName  |searchfilter:inputSearchRole"> </a> </h4>
                                        <p class="list-group-item-text">Description : {{role.RoleDescription}} </p>

                                    </div>
                                    <div class="pull-right">
                                        <a class="edit-btn" ng-if="role.CompanyId != 0" ng-click="editRole(role)" style="cursor:pointer;">Edit</a>
                                        <a class="edit-btn" ng-if="role.CompanyId != 0" ng-click="deleteRoleVendorAdminProfile(role.RoleId,$index)" style="cursor:pointer;">Delete</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div ng-if="!VendorCompanyRoleList.length" class="list-group-item">
                                    No Roles Found.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>

    </div>



    <div class="modal fade" id="deleteVendorProfileRoleconfirmModal" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form name="AddNewMileStoneform" novalidate>
                <div class="modal-content" style="width:450px">
                    <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> </h4>
                    </div>
                    <div class="modal-body">
                        <p style="font-size: medium">Are you sure you want to delete this role ?  </p>

                    </div>
                    <div class="modal-footer">
                        <a style="cursor:pointer;" ng-click="deleteRoleVendorAdminProfileYes(RoleId)" class="edit-btn" tabindex="4">Delete</a>
                        <a href="" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>


<div ng-include="'views/vendorAdminProfile/modal/RoleAddUpdateModalVendorAdminProfile.html'"></div>

