﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }


    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .tblAwardList thead:first-child {
        background-color: #3facff;
    }

        .tblAwardList thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>
<style>
    .completeProject {
        background-color: green !important;
        width: 8px !important;
        cursor: pointer !important;
    }

    .workinProgressProject {
        width: 8px !important;
        background-color: orange !important;
        cursor: pointer !important;
    }

    .removefromProject {
        width: 8px !important;
        background-color: red !important;
        cursor: pointer !important;
    }

    .hrActouHour80 {
        height: 6px !important;
        background-color: green !important;
        width: 115px !important;
        color: green;
    }

    .hrActouHourBetwenn80to100 {
        height: 6px !important;
        background-color: gold !important;
        width: 115px !important;
        color: gold;
    }

    .hrActouHourAbove100 {
        height: 6px !important;
        background-color: red !important;
        color: red;
        width: 115px !important;
    }
</style>

<style>
    input[type=checkbox] {
        visibility: visible !important;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="ManageUsersVendorAdminProfile" style="margin-left:13px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Manage Users</span></h3>
            <div class="clearfix"></div>
        </div>


        <div style="margin-top:30px;">
            <div class="table-responsive">
                <div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Existing Users (POCs)</h2>
                        <table class="table table-striped table-hover table-bordered table-condensed tblAwardList">
                            <thead>
                                <tr style="width:100%">
                                    <th>Name</th>
                                    <th>Join Date</th>
                                    <th>Email</th>
                                    <th style="width:7%">Rating</th>
                                    <th style="width:10%">Role </th>
                                    <th style="width:10%">Role ID </th>
                                    <th style="width:10%">Status</th>
                                    <th style="width:25%"></th>

                                </tr>
                            </thead>

                            <tr ng-repeat="item in vendorAdminProfileExistingUserList">
                                <td>{{item.VendorName}}</td>
                                <td>{{item.JoinDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Rating}}</td>
                                <td>{{item.RoleName}}</td>
                                <td>{{item.RoleId}}</td>
                                <td>{{item.IsActive == true ? "Active" : "Not Active"}}</td>
                                <td colspan="2">
                                    <a href="" ng-click="openExistingUserDetailVendorAdminProfileModal( $index,item,0 )" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View/Edit </span></a>
                                    <a href="" ng-click="activeInactiveUserVendorAdminProfile( item,0)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>Active/Inactive </span></a>
                                </td>


                            </tr>
                            <tr style="text-align:center" ng-if="vendorAdminProfileExistingUserList.length ==0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vendorAdminProfileExistingUserList.length > 0">
                        <div class="form-group pull-left page-size form-inline ">
                            <select style="width: 68px;height: 25px" ng-model="PageSizeUsers" ng-options="item.PageSizeUsers for item in pagesizeListUsers" ng-change="changePageSize(PageSizeUsers,'Users')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountUsers" ng-change="pageChanged(pageIndexUsers,'Users')" items-per-page="pageSizeSelectedUsers" direction-links="true" ng-model="pageIndexUsers" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Resources</h2>
                        <table class="table table-striped table-hover table-bordered table-condensed tblAwardList">
                            <thead>
                                <tr style="width:100%">

                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th style="width:10%">Action</th>

                                </tr>
                            </thead>

                            <tr ng-repeat="item in vendorAdminProfileExistingResourceList">

                                <td><a href="{{item.Profile}}" target="_blank">{{item.FirstName}}</a></td>
                                <td>{{item.LastName}}</td>
                                <td>{{item.Email}}</td>
                                <td><a href="" ng-click="openResourcerDetailVedorAdminProfileModal(item)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>Invite</span></a></td>

                            </tr>
                            <tr style="text-align:center" ng-if="vendorAdminProfileExistingResourceList.length ==0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vendorAdminProfileExistingResourceList.length > 0">
                        <div class="form-group pull-left page-size form-inline ">
                            <select style="width: 68px;height: 25px" ng-model="PageSizeResource" ng-options="item.PageSizeResource for item in pagesizeListResource" ng-change="changePageSize(PageSizeResource,'Resource')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountResource" ng-change="pageChanged(pageIndexResource,'Resource')" items-per-page="pageSizeSelectedResource" direction-links="true" ng-model="pageIndexResource" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h2>Existing Internal Users </h2>
                        <table class="table table-striped table-hover table-bordered table-condensed tblAwardList">
                            <thead>
                                <tr style="width:100%">
                                    <th style="width:15%">Name</th>
                                    <th style="width:10%">Join Date</th>
                                    <th>Email</th>
                                    <!--<th style="width:15%">Job Profile</th>-->
                                    <th style="width:15%">Job Title</th>
                                    <th style="width:5%">Status</th>
                                    <th style="width:25%"></th>

                                </tr>
                            </thead>

                            <tr ng-repeat="item in vendorAdminProfileExistingInternalUsersLists">
                                <td>{{item.Name}}</td>
                                <td>{{item.EmailConfirmationCodeCreatedDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.JobProfileName}}</td>
                                <td>{{item.IsActive == true ? "Active" : "Inactive"}}</td>
                                <td colspan="2">
                                    <a href="" ng-click="openExistingUserDetailVendorAdminProfileModal( $index,item ,1)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View/Edit </span></a>
                                    <a href="" ng-click="activeInactiveUserVendorAdminProfile( item,1)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>Active/Inactive </span></a>
                                </td>


                            </tr>
                            <tr style="text-align:center" ng-if="vendorAdminProfileExistingInternalUsersLists.length ==0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vendorAdminProfileExistingInternalUsersLists.length > 0">
                        <div class="form-group pull-left page-size form-inline ">
                            <select style="width: 68px;height: 25px" ng-model="PageSizeInternalUsers" ng-options="item.PageSizeInternalUsers for item in pagesizeListInternalUsers" ng-change="changePageSize(PageSizeInternalUsers,'InternalUsers')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountInternalUsers" ng-change="pageChanged(pageIndexInternalUsers,'InternalUsers')" items-per-page="pageSizeSelectedInternalUsers" direction-links="true" ng-model="pageIndexInternalUsers" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>

</div>



<div ng-include="'views/vendorAdminProfile/modal/ExistingUserVendorAdminProfileModal.html'"></div>
<div ng-include="'views/vendorAdminProfile/modal/ResourceUserVendorAdminProfileModal.html'"></div>
<div ng-include="'views/vendorAdminProfile/modal/ExistingInternalUsersVendorAdminProfileModal.html'"></div>




