﻿

<div class="row">
    <div class="col-lg-12 mid-part">

        <div class="panel panel-default dashboard-inner-box">
            <div class="panel-heading">
               {{title}}
                <div class="pull-right">
                    <span class="box-control">
                        
                        <a href="" style="background-color:white;" ng-click="getTopFiveTasks()" title="Refresh">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a>

                        <a href="" style="background-color:white;" ng-click="topFiveTasksDetailClose()" title="Close">
                            <i class="fa fa-times"></i>
                        </a>
                    </span>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body" >
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div ng-repeat="todo in topFiveTasksObject | filter:inputSearch" class="list-group-item">
                        <div class="pull-left">

                            <h4 ng-bind-html="todo.TaskName |searchfilter:inputSearch" class="list-group-item-heading"> </h4>
                            <p ng-bind-html="todo.TaskDescription|searchfilter:inputSearch" class="list-group-item-text"> </p>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div ng-if="!topFiveTasksObject.length" class="list-group-item">
                        No Task Found.
                    </div>

                </div>


            </div>
        </div>

    </div>
</div>



<div ng-include="'views/loaders/GlobalLoaders.html'"></div>
<!--<div ng-include="'scripts/directives/topFiveTasksDirective/topFiveTasksDetailModal.html'"></div>-->