﻿<div class="modal fade" id="modalSubTeamAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="teamAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Sub Team </h4>
                </div>
                <div class="modal-body">
                    <!--<div class="form-group">
                        <label for="txtTeamName">Team Name</label>
                        <select id="selectTeamId" style="width: 100%;" class="dropdown100 form-control"
                                ng-model="teamModal" ng-options="option.TeamName for option in getAllTeamList track by option.TeamId"
                                ng-change="getTeamMembersByTeamId(teamModal)" tabindex="1" required>
                            <option value="">---Please select---</option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <label for="txtSubTeam">Sub Team Name</label>
                        <input name="teamName" class="form-control" ng-class="{inputError:teamAddUpdateForm.teamName.$dirty && teamAddUpdateForm.teamName.$invalid}" placeholder="Enter Sub Team Name" ng-model="teamAddUpdateModel.teamName" required tabindex="2">
                    </div>

                    <div class="form-group">
                        <div ng-show="{{IsVisible}}" id="divMembers">
                            <div class="col-md-5">
                                <label for="chkTeamMembers">Sub Team Members</label>
                            </div>

                            <div class="col-md-5">
                                <label for="lblRoles">Sub Team Designation</label>
                            </div>
                            <div class="col-md-2">
                                <label for="rdbIsTeamLead">TeamLead</label>
                            </div>
                            <div style="overflow-y:scroll; height:100px;" class="col-md-12">
                                <div ng-repeat="item in myTeamMember.teamMembers">
                                    <div class="col-md-5">
                                        <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                                               ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.UserId}}'"
                                               ng-false-value="''" value="{{item.UserId}}" style="visibility:visible;" ng-click="toggleSelection(item,$index)">
                                        <span style="padding-bottom:5px">
                                            {{item.Name}}
                                        </span>
                                    </div>
                                    <div class="col-md-5" style="padding-bottom:5px">
                                        <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                                ng-model="designationgModalList[$index]"
                                                ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                                            <option value="">---Please select---</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="radio" id="rdbIsTeamLead" ng-model="item.radioSelected"
                                               value="{{item.UserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected" ng-click="toggleRadioSelection(item,$index)">
                                    </div>
                                </div>

                            </div>

                        </div>
                        </div>
                    <div class="form-group">
                        <label for="txtDescription">Team Description</label>
                        <textarea name="teamDescription" ng-class="{inputError:teamAddUpdateForm.teamDescription.$dirty && teamAddUpdateForm.teamDescription.$invalid}" placeholder="Enter Team description" class="form-control" ng-model="teamAddUpdateModel.teamDescription" required tabindex="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Team Budget</label>
                        <input name="teamBudget" class="form-control" ng-class="{inputError:teamAddUpdateForm.teamBudget.$dirty && teamAddUpdateForm.teamBudget.$invalid}" ng-keypress="isNumber($event)" placeholder="Enter Sub Team Budget" ng-model="teamAddUpdateModel.teamBudget" required tabindex="6">
                    </div>
                </div>
                <div class="modal-footer">
                    <a ng-hide="teamButton" style="cursor:pointer;" ng-click="addNewTeam(teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,teamAddUpdateForm,1)" class="edit-btn" tabindex="7">Add Sub Team</a>
                    <a ng-show="teamButton" style="cursor:pointer;" ng-click="updateTeam(teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,teamAddUpdateForm,1)" class="edit-btn" tabindex="8">Update Sub Team</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="7">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
