﻿<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divTeamFinancialManagerSection">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Team Budget Statistics</h2>
                    <div ng-repeat="item in teamFinancialManager" title="">
                        <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">
                            <div style="margin: 13px;" ng-class="item.Indicator==true?'pull-left Green smallCircle label':'pull-left Red smallCircle label'"><p></p></div>
                            <div class="pull-left label" style="color:black;padding: 15px;">
                                <p style="margin:0px ;font-weight:bold;font-size:medium" ng-bind="item.TeamName"></p>
                            </div>
                            <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label" style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                            </a>
                            
                            <div class="pull-right label" style="color:black;padding: 15px;">
                                <p style="margin:0px ;font-weight:bold;font-size:medium"> $ {{item.SpentBudget}} spent out of $ {{item.AllottedBudget}} ({{item.Percentage}}% spent)</p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <table class="table table-striped table-hover table-bordered table-condensed" style="width:99%;margin:0px 10px 10px;background-color:#f3f3f3;" ng-show="toggle">
                            <thead>
                                <tr>
                                    <th>Indicator</th>
                                    <th>Project Name</th>
                                    <th>Allotted Budget</th>
                                    <th>Spent Budget</th>
                                    <th>Percentage of total project budget</th>
                                    <th>Percentage of total team budget</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item2 in item.ProjectDetails">
                                    <td><div ng-class="item2.Indicator==true?'Green smallCircle':'Red smallCircle'"></div></td>
                                    <td>{{item2.ProjectName }}</td>
                                    <td> $ {{item2.AllottedBudget}}</td>
                                    <td> $ {{item2.SpentBudget}}</td>
                                    <td>{{item2.Percentage}}</td>
                                    <td>{{item2.PercentageFromTeam}}</td>

                                </tr>
                                <tr ng-if="item.ProjectDetails.length == undefined || item.ProjectDetails.length == 0">
                                    <td colspan="5">No Record Found</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div ng-if="!teamFinancialManager.length" class="list-group-item">
                        No Record Found.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>