﻿<style>
    .memberdiv{
        border:solid;
        height:250px;
        border-radius:15px;
        border-color:#5DADE2;
        margin:5px;
    }
</style>
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    showSideMenuRolewise .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

    .autocomplete-template .right-panel span:first-child {
        font-size: 16px;
    }

    .autocomplete-template .right-panel span:nth-child(2) {
        font-size: 14px;
        color: gray;
    }

    .autocomplete-template .right-panel span:last-child {
        display: block;
        font-size: 14px;
        font-style: italic;
    }
    .orgchart .node .edge { display: none; }
    .orgchart { background: white; }
    #chart-container .node .content {
        padding: 0px;
        margin: 0px;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div>
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-users"></i> Team {{TeamDetail.TeamName}}</span></h3>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row" style="margin-top: 12px;">
        <div class="col-lg-4  col-md-4 col-sm-4 col-xs-4"></div>
        <div  class="col-lg-1  col-md-1 col-sm-1 col-xs-1">
            <img src="{{TeamAdminDetail.MemberProfilePhoto}}" style="border-radius:50%;">

        </div>
        <div class="col-lg-6  col-md-6 col-sm-6 col-xs-6">
            <div>
                <label style="font-size:2em;font-weight:300">{{TeamAdminDetail.MemberName}}</label>
            </div>
            <div>
                <label style="color:#B8BFC2">{{TeamAdminDetail.DesignationName}}</label>
            </div>
        </div>
        <div class="col-lg-5  col-md-5 col-sm-5 col-xs-5 pull-right">
            <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showTeamAddUpdateModal()">Edit Team</a>
            <a style="cursor:pointer;" ng-click="createNestedTeam(teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,teamAddUpdateForm,0)" class="edit-btn disabledAnchorButton" tabindex="6">Create Nested Team</a>
            <a style="cursor:pointer;" ng-click="DeleteTeam()" class="edit-btn">Delete Team</a>
            <a style="cursor:pointer;" ng-click="BackToTeam()" class="edit-btn">Back To Team</a>
            <div class="clearfix"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin: 15px 0 0; font-weight: 500;">
            <h3 class="pull-left"><span>Team Description</span></h3>
            <div class="clearfix"></div>
            <div>{{TeamDetail.TeamDescription}}</div>
        </div>
        </div>
    <br />
    <div>
        <ul class="nav nav-pills nav-justified headermenu"><!--other classes are-> nav nav-pills, nav nav-tabs, nav nav-tabs nav-justified,-->
            <li class="{{IsTMActive}}"><a ng-click="ShowTeamMemberTab()">Team Members</a></li>
            <li class="{{IsPDActive}}"><a href="#">Projects Detail</a></li>
            <li class="{{IsFinActive}}"><a href="#">Finances</a></li>
            <li class="{{IsTTActive}}"><a ng-click="ShowNestedTeamTab()">Nested Teams</a></li>
        </ul>
    </div>
    <!--<div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="text-center">
                <a>Team Members</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="text-center">
                <a>Projects Detail</a>
            </div>
            </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="text-center">
                <a>Finances</a>
            </div>
            </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <div class="text-center">
                <a>Nested Teams</a>
            </div>
            </div>
        </div>-->
    <br />
    <br />
    <section>
        <div id="TeamMembersTab" class="row" ng-show="hideShowTeamMembers">
            <div class="row">
                <div class="span12">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" ng-repeat="obj in TeamMembersList">
                        <div class="memberdiv">
                            <div class="row">
                                <div class="col-lg-offset-9  col-md-offset-9 col-sm-offset-9 col-xs-offset-9" style="height:50px; margin-top:5px;"><a><b><span><i class="fa fa-ellipsis-h fa-lg"></i></span><span><i class="fa fa-bookmark-o fa-2x"></i></span></b></a></div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div style="height:150px; margin:15px;">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                                <img src="{{obj.MemberProfilePhoto}}" style="border-radius:50%;">
                                            </div>
                                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                                <div><label style="font-size:small;font-weight:300">{{obj.MemberName}}</label></div>
                                                <div>
                                                    <label style="color:#B8BFC2">{{obj.DesignationName}}</label>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div class="clearfix"></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height:50px">
                                    <!--<div class="row">
                                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                        <div><label style="font-size:small;font-weight:300"> Managing Teams: {{obj.NoOfTeamManage}}</label></div>

                                    </div>

                                </div>-->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            </div>
</section>
   
        <section>
            <div id="NestedTeamsTab" class="row" ng-show="hideShowNestedTeams">
                <div class="row" style="margin-top: 12px" ng-show="hideshowNestedTeamsTV">
                    <div class="col-md-12">
                        <div id="chart-container"></div>
                    </div>
                </div>
                <div class="row" style="margin-top: 12px" ng-hide="hideshowNestedTeamsTV">
                    <div class="col-md-12">
                        <center><div><strong>No Nested Team Found</strong></div></center>
                    </div>
                </div>
            </div>
        </section>
    
    </div>
<div ng-include="'views/team/TeamAddUpdateModal.html'"></div>