﻿
<style>
    .disabledAnchorButton {
        cursor: not-allowed;
    }
</style>
<!--THIS STYLE IS FOR tAGS start    -->
<style>

    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }showSideMenuRolewise

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>
<!--Style for tags ends-->
<!--style for remove button-->
<style>
.remove{
    background: #ccc;
    color: #C76868;
    font-weight: bold;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    padding: 2px 8px 5px;
    vertical-align: top;
    line-height: 100%;
}
</style>
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divTeamManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-users"></i> Manage Teams</span></h3>
            <div class="clearfix"></div>
        </div>
    </div>



    <div class="row" style="margin-top: 12px">
        <div class="col-md-12">
            <div class="col-md-10">
            </div>
            <div class="col-md-2 pull-right">
                <!-- ng-if="Permission.CanAddNewTeam == true" -->
                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showTeamAddUpdateModal()">Add New Team</a>
                <div class="clearfix"></div>

            </div>
        </div>

        <div class="col-md-12" style="margin-top: 12px">
            <div class="col-md-6">
                <div data-angular-treeview="true"
                     data-tree-id="TeamTree"
                     data-tree-model="CompanyTeamsInTreeViewList"
                     data-node-id="TeamId"
                     data-node-label="TeamName"
                     data-node-children="SubTeamList">
                </div>
            </div>
            <div class="col-md-6">
                <div ng-show="isTeamEditDivOpend">
                    <form name="teamAddUpdateForm" novalidate>
                        <div class="form-group">
                            <a style="cursor:pointer;" ng-click="EditTeamEnable()" class="edit-btn" tabindex="1" ng-show="IsEditShowBtn">Edit Team</a>
                            <a ng-disabled="IsEditTeam1 = true" style="cursor:pointer;" ng-click="updateAllLevelTeam(teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,teamAddUpdateForm,0)" class="edit-btn disabledAnchorButton" tabindex="6"  ng-show="!IsEditShowBtn">Update Team</a>
                            <a ng-disabled="IsEditTeam1 = true" style="cursor:pointer;" ng-click="createNestedTeam(teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,teamAddUpdateForm,0)" class="edit-btn disabledAnchorButton" tabindex="6">Create Nested Team</a>
                            <a style="cursor:pointer;" ng-click="DeleteTeam(teamAddUpdateModel.teamId)" class="edit-btn" ng-disabled="IsEditTeam" tabindex="6">Delete Team</a>
                            <a style="cursor:pointer;" ng-click="ViewTeamDetail(teamAddUpdateModel.teamId)" class="edit-btn" tabindex="7">View Detail</a>
                        </div>
                        <div class="form-group">
                            <label for="txtEmail">Team Name</label>
                            <input name="teamName" class="form-control" ng-class="{inputError:teamAddUpdateForm.teamName.$dirty && teamAddUpdateForm.teamName.$invalid}"
                                   placeholder="Enter Team Name" ng-model="teamAddUpdateModel.teamName" ng-disabled="!IsEditTeam" required tabindex="1">
                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Team Budget</label>
                            <input name="teamName" class="form-control" ng-class="{inputError:teamAddUpdateForm.teamBudget.$dirty && teamAddUpdateForm.teamBudget.$invalid}"
                                   placeholder="Enter Team Name" ng-model="teamAddUpdateModel.teamBudget" ng-disabled="!IsEditTeam" required tabindex="2">
                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Team Description</label>
                            <textarea name="teamDescription" ng-class="{inputError:teamAddUpdateForm.teamDescription.$dirty && teamAddUpdateForm.teamDescription.$invalid}" placeholder="Enter Team description" class="form-control"
                                      ng-model="teamAddUpdateModel.teamDescription" ng-disabled="!IsEditTeam" required tabindex="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="txtFirstName">Team Created Date</label>
                            <label>{{teamAddUpdateModel.teamCreateDate}}</label>
                        </div>
                        <div style="overflow-y:scroll; height:150px;" class="col-md-12">
                            <div ng-repeat="item in myTeamMember.teamMembers">

                                <div class="col-md-5">
                                    <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                                           ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.MemberUserId}}'"
                                           ng-false-value="false" value="{{item.MemberUserId}}" style="visibility:visible;" ng-click="toggleSelection(item,$index)"> {{item.MemberName}}


                                </div>

                                <div class="col-md-5" style="padding-bottom:5px">
                                    <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                            ng-model="designationgModalList[$index]"
                                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                                        <option value="">---Please select---</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="rdbIsTeamLeadSelected" ng-model="item.radioSelected"
                                           value="{{item.MemberUserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected" ng-click="memberToggleRadioSelection(item,$index)">


                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>

    </div>

</div>

<div ng-include="'views/team/TeamAddUpdateModal.html'"></div>
<div ng-include="'views/team/ChildTeamAddUpdateModal.html'"></div>
