﻿<div class="modal fade" id="modalTeamAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="teamAddForm">
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Team </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Team Name</label>
                        <input name="teamName" required class="form-control" ng-class="{inputError:showMsgs && teamAddForm.teamName.$error.required }" placeholder="Enter Team Name" ng-model="teamAddUpdateModel.teamName" tabindex="1" >
                       
                        <!--<span style="color:red;" ng-show="showMsgs && teamAddForm.teamName.$error.required">
                            Team Name is required 
                        </span>-->
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Team Description</label>
                        <textarea name="teamDescription" placeholder="Enter Team description" class="form-control" ng-model="teamAddUpdateModel.teamDescription" tabindex="2"></textarea>
                        <!--<span style="color:red;" ng-show="showMsgs && teamAddForm.teamDescription.$error.required">
                            Team designation is required
                        </span>-->
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Team Budget</label>
                        <input name="teamBudget" class="form-control" ng-class="{inputError:showMsgs && teamAddForm.teamBudget.$error.required}" ng-keypress="isNumber($event)" placeholder="Enter Team Budget" ng-model="teamAddUpdateModel.teamBudget" required tabindex="4">
                        <!--<span style="color:red;" ng-show="showMsgs && teamAddForm.teamBudget.$error.required">
                            Team budget is required
                        </span>-->
                    </div>
                    <div class="form-group">
                        <div ng-if="!openSaveRoleTags">
                            <label for="repeatSelect">Team Members</label>
                            <input name="txtTeamMembers" class="form-control" ng-focus="editTeamMembersTags()" placeholder="Pick team members"  ng-class="{inputError:showMsgs && teamAddForm.TeamMemberTags.$error.required}" tabindex="4">
                            <div class="info-area roleTags" style="display:none;">
                                <div ng-include="'views/team/TeamMembersTag.html'"></div>
                            </div>
                        </div>
                       
                        <div ng-if="openSaveRoleTags">
                            <label for="repeatSelect">Team Members</label>

                            <div class="info-area">
                                <div class="ngInputTag">
                                    <!--ng-focus="editTeamMembersTags()"-->
                                    <tags-input name="TeamMemberTags" id="TeamMemberTags" ng-model="AllInternalUsersForTeam"
                                                display-property="Name"
                                                placeholder="Pick team member"
                                                min-tags="1"
                                                min-length="1"
                                                replace-spaces-with-dashes="false"
                                                add-from-autocomplete-only="true"
                                                template="tag-template"
                                                
                                                on-tag-added="tagAdded($tag)"
                                                on-tag-removed="tagRemoved($tag)"
                                                required
                                                >
                                        <auto-complete source="UsersObject"
                                                       min-length="2"
                                                       load-on-focus="false"
                                                       load-on-empty="false"
                                                       max-results-to-show="32"
                                                       template="autocomplete-template">
                                        </auto-complete>
                                    </tags-input>
                                    <script type="text/ng-template" id="tag-template">
                                        <div class="tag-template">
                                            <div class="right-panel">
                                                <span>{{$getDisplayText()}}</span>
                                                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                            </div>
                                        </div>
                                    </script>

                                    <script type="text/ng-template" id="autocomplete-template">
                                        <div class="autocomplete-template">

                                            <div class="right-panel">
                                                <span ng-bind-html="$highlight($getDisplayText())"></span>
                                                <span>({{data.Name}})</span>
                                            </div>
                                        </div>
                                    </script>
                                </div>
                            </div>
                            
                        </div>
                        <!--<span style="color:red;" ng-show="showMsgs && teamAddForm.TeamMemberTags.$error.required">
                            Atleast one member is required in  a team
                        </span>-->
                    </div>
                    <div class="form-group">
                        <div style="overflow-y:scroll; height:130px;">
                            <div ng-repeat="item in columns">

                                <div class="col-md-5">
                                    <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                                           ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.UserId}}'"
                                           ng-false-value="''" value="{{item.UserId}}" style="visibility:visible;" ng-click="toggleSelection(item,$index)" disabled="disabled">
                                    <input type="text" name="columnName" ng-model="item.name" placeholder="User Name" required readonly="readonly">
                                </div>
                                <div class="col-md-5">
                                    <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                            ng-model="designationgModalList[$index]"
                                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                                        <option value="">---Please select---</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="rdbIsTeamLead-{{$index}}" ng-model="item.radioSelected"
                                           value="{{item.UserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected" ng-click="toggleRadioSelection(item,$index)">
                                    <button class="remove" ng-click="removeColumn($index)" style="display:none">x</button>
                                </div>
                            </div>
                            <button class="addfields" ng-click="addNewColumn()" style="display:none;">Add Column</button>

                        </div>

                    </div>

                    <!--<div class="form-group" style="display:none;">
                        <div class="col-md-5">
                            <label for="chkTeamMembers">Team Members</label>

                        </div>
                        <div class="col-md-5">
                            <label for="ddlJobProfiles">Job Profile</label>
                        </div>
                        <div class="col-md-2">
                            <label for="rdbIsTeamLead">TeamLead</label>
                        </div>
                        <div style="overflow-y:scroll; height:150px;" class="col-md-12">
                            <div ng-repeat="item in myTeamMember.teamMembers">

                                <div class="col-md-5">
                                    <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                                           ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.UserId}}'"
                                           ng-false-value="''" value="{{item.UserId}}" style="visibility:visible;" ng-click="toggleSelection(item,$index)"> {{item.Name}}

                                </div>
                                <div class="col-md-5" style="padding-bottom:5px">
                                    <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                            ng-model="designationgModalList[$index]"
                                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                                        <option value="">---Please select---</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="rdbIsTeamLead" ng-model="item.radioSelected"
                                           value="{{item.MemberUserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected" ng-click="toggleRadioSelection(item,$index)">
                                </div>
                            </div>
                        </div>


                    </div>-->

                </div>
                <div class="modal-footer">
                    <a ng-hide="teamButton" style="cursor:pointer;" ng-click="addNewTeam(teamAddForm.teamName.$invalid,teamAddForm.teamDescription.$invalid,teamAddForm.teamBudget.$invalid,teamAddForm,0,teamAddForm)" class="edit-btn" tabindex="5"  ng-disabled='teamAddForm.$invalid' required>Add Team</a>

                    <!--<a ng-hide="teamButton" style="cursor:pointer;" ng-click="updateTeam(teamAddForm.teamName.$invalid,teamAddForm.teamDescription.$invalid,teamAddForm.teamBudget.$invalid,teamAddForm,0)" class="edit-btn" tabindex="6">Update Team</a>-->
                    <a ng-show="teamButton" style="cursor:pointer;" ng-click="updateAllLevelTeam(teamAddForm.teamName.$invalid,teamAddForm.teamDescription.$invalid,teamAddForm.teamBudget.$invalid,teamAddForm,0)" class="edit-btn" tabindex="6" required>Update Team</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="7">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>


<!--------------------------------------------nestedTeam add  start---------------------------------------------------->
<div class="modal fade" id="modalTeamNestedAdd" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="teamAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Team </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Team Name</label>
                        <input name="teamName" class="form-control" ng-class="{inputError:showNestedMsgs && teamAddUpdateForm.teamName.$error.required}" placeholder="Enter Team Name" ng-model="NestedTeamAddUpdateModel.teamName" required tabindex="1">
                        
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Team Description</label>
                        <textarea name="teamDescription" placeholder="Enter Team description" class="form-control" ng-model="NestedTeamAddUpdateModel.teamDescription" tabindex="2"></textarea>
                    </div>
                    <!--<div class="form-group">
        <div class="col-md-5">
            <label for="chkTeamMembers">Team Members</label>

        </div>
        <div class="col-md-5">
            <label for="ddlJobProfiles">Job Profile</label>
        </div>
        <div class="col-md-2">
            <label for="rdbIsTeamLead">TeamLead</label>
        </div>
        <div style="overflow-y:scroll; height:150px;">
            <div ng-repeat="item in myTeamMember.teamMembers">

                <div class="col-md-5">
                    <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                           ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.MemberUserId}}'"
                           ng-false-value="false" value="{{item.MemberUserId}}" style="visibility:visible;" ng-click="toggleSelection(item,$index)"> {{item.MemberName}}


                </div>

                <div class="col-md-5" style="padding-bottom:5px">
                    <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                            ng-model="designationgModalList[$index]"
                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                        <option value="">---Please select---</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <input type="radio" id="rdbIsTeamLead" ng-model="item.radioSelected"
                           value="{{item.MemberUserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected"
                           ng-click="memberToggleRadioSelection(item,$index)">


                </div>
            </div>
        </div>


    </div>-->
                    <div class="form-group">
                        <div ng-if="!openSaveRoleTags">
                            <label for="repeatSelect">Team Members</label>
                            <input name="txtTeamMembers" class="form-control" ng-focus="editNestedTeamMembersTags()" placeholder="Pick team members" tabindex="4"  ng-class="{inputError: showNestedMsgs && teamAddUpdateForm.TeamMemberTags.$error.required}">
                            <div class="info-area roleTags" style="display:none;">
                                <div ng-include="'views/team/TeamMembersTag.html'"></div>
                            </div>
                        </div>
                        <div ng-if="openSaveRoleTags">
                            <label for="repeatSelect">Team Members</label>

                            <div class="info-area">
                                <div class="ngInputTag">
                                    <tags-input name="TeamMemberTags" id="TeamMemberTags" ng-model="AllInternalUsersForTeam"
                                                display-property="Name"
                                                placeholder="Pick team member"
                                                min-tags="1"
                                                min-length="1"
                                                replace-spaces-with-dashes="false"
                                                add-from-autocomplete-only="true"
                                                template="tag-template"
                                                ng-focus="editTeamMembersTags()"
                                                on-tag-added="tagAddedNested($tag)"
                                                on-tag-removed="tagRemovedNested($tag)"
                                                required
                                                >
                                        <auto-complete source="UsersObject"
                                                       min-length="2"
                                                       load-on-focus="false"
                                                       load-on-empty="false"
                                                       max-results-to-show="32"
                                                       template="autocomplete-template">
                                        </auto-complete>
                                    </tags-input>
                                    <script type="text/ng-template" id="tag-template">
                                        <div class="tag-template">
                                            <div class="right-panel">
                                                <span>{{$getDisplayText()}}</span>
                                                <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                            </div>
                                        </div>
                                    </script>

                                    <script type="text/ng-template" id="autocomplete-template">
                                        <div class="autocomplete-template">

                                            <div class="right-panel">
                                                <span ng-bind-html="$highlight($getDisplayText())"></span>
                                                <span>({{data.Name}})</span>
                                            </div>
                                        </div>
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div style="overflow-y:scroll; height:130px;">
                            <div ng-repeat="item in columns">

                                <div class="col-md-5">
                                    <input type="checkbox" id="item-{{$index}}" data-checklist-model="item.selected"
                                           ng-model="item.selected" data-checklist-value="item" ng-true-value="'{{item.UserId}}'"
                                           ng-false-value="''" value="{{item.UserId}}" style="visibility:visible;" ng-click="toggleSelectionNested(item,$index)" disabled="disabled">
                                    <input type="text" name="columnName" ng-model="item.name" placeholder="User Name" required readonly="readonly">
                                </div>
                                <div class="col-md-5">
                                    <select id="selectDesignationId-{{$index}}" style="width: 100%;" class="dropdown100 form-control"
                                            ng-model="designationgModalList[$index]"
                                            ng-options="option.Name for option in getAllDesignationList track by option.RoleId" tabindex="5" required>
                                        <option value="">---Please select---</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="radio" id="rdbIsTeamLead-{{$index}}" ng-model="item.radioSelected"
                                           value="{{item.UserId}}" name="rdbIsTeamLead" ng-checked="item.radioSelected" ng-click="toggleRadioSelectionNested(item,$index)">
                                    <button class="remove" ng-click="removeColumn($index)" style="display:none">x</button>
                                </div>
                            </div>
                            <button class="addfields" ng-click="addNewColumn()" style="display:none;">Add Column</button>

                        </div>

                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Team Budget</label>
                        <input name="teamBudget" class="form-control" ng-class="{inputError: showNestedMsgs && teamAddUpdateForm.teamBudget.$error.required}" ng-keypress="isNumber($event)" placeholder="Enter Team Budget" ng-model="NestedTeamAddUpdateModel.teamBudget" required tabindex="4">
                    </div>
                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer;" ng-click="addNewNestedTeam(NestedTeamAddUpdateModel,teamAddUpdateForm,teamAddUpdateForm.teamName.$invalid,teamAddUpdateForm.teamDescription.$invalid,teamAddUpdateForm.teamBudget.$invalid,0)" class="edit-btn" tabindex="5">Add Team</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="7">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
<!--nestedTeam add  End-->