﻿


<!--<div class="divMasterLoader" id="divMasterLoader">

    <span style="position: relative; top: 30%; left: 43%; font-size: 21px; color: #3FACFF;">Tighten is loading...</span>

</div>-->


<div id="globalLoader" class="ajaxLoader">



    <div id="loader-bg" class="loader-bg">
        <img src="../../assets/img/loaders/squares.gif")" />
    </div>
</div>
