﻿<div class="modal fade" id="modalChangePassword" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="changePasswordForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Change Password</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail">Current Password</label>
                        <input required type="password" name="inputCurrentPassword" ng-class="{inputError:changePasswordForm.inputCurrentPassword.$dirty && changePasswordForm.inputCurrentPassword.$invalid}" class="form-control" placeholder="Enter Current Password" ng-model="changePasswordObject.CurrentPassword" maxlength="20">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">New Password</label>
                        <input  required type="password" name="inputNewPassword" class="form-control" ng-class="{inputError:changePasswordForm.inputNewPassword.$dirty && changePasswordForm.inputNewPassword.$invalid}" placeholder="Enter New Password" ng-model="changePasswordObject.NewPassword" maxlength="20">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Confirm New Password</label>
                        <input required type="password" name="inputConfirmNewPassword" class="form-control" ng-class="{inputError:changePasswordForm.inputConfirmNewPassword.$dirty && changePasswordForm.inputConfirmNewPassword.$invalid}" placeholder="Enter Confirm New Password" ng-model="changePasswordObject.ConfirmNewPassword"maxlength="20">
                        <span class="pull-left" ng-bind="ChangePasswordMessage" style="color:red;"></span>
                    </div>

                </div>
                <div class="modal-footer">
                    <!--<span class="pull-left" ng-bind="ChangePasswordMessage" style="color:red;"></span>-->
                    <a href="" ng-click="ChangePassword(changePasswordForm,changePasswordForm.inputCurrentPassword.$invalid,changePasswordForm.inputNewPassword.$invalid,changePasswordForm.inputConfirmNewPassword.$invalid)" class="edit-btn">Change Password</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

                </div>
            </div>
        </form>
    </div>
</div>
