﻿
<style>

    .disabled-checkbox {
        visibility : hidden;
    }
    .checkbox {
        visibility : visible !important;
    }
</style>


<div class="modal fade" id="modalFeedbacksOfProject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="feedbacksOfProjectForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Feedbacks Of Project </h4>
                </div>
                <div class="modal-body">
                    <div class="list-group">
                        
                        <div ng-repeat="feedback in allFeedbacksOfProjectObject| filter:inputSearchProjects" class="list-group-item">
                            
                            <div class="pull-left">
                                <input type="checkbox" ng-class="feedback.MemberRole == 'Project Manager' || feedback.MemberRole == 'Administrator' ? 'disabled-checkbox'  : 'checkbox' " ng-model="feedback.IsSelected" style="margin:10px;margin-top:20px;">
                            </div>
                            
                            <div class="pull-left" style="margin-left:10px;"> 
                                <h4 class="list-group-item-heading">  Name : {{feedback.MemberName}} </h4>
                                <p class="list-group-item-text"> Role : {{feedback.MemberRole}} </p>
                                <div class="center-block">
                                    <!--<h4 ng-bind-html="feedback.MemberFeedback |searchfilter:inputSearchProjects" class="list-group-item-heading"> < </h4>-->
                                    
                                    Feedback : <a href="" >  {{feedback.MemberFeedback}} </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>

                        <div ng-if="!allFeedbacksOfProjectObject.length" class="list-group-item">
                            No Feedback Found.
                        </div>

                    </div>
                    
                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer;" ng-click="showOnProfile()" class="edit-btn">Show on profile</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
