﻿

<style>
    .disabled-checkbox {
        visibility: hidden;
    }

    .checkbox {
        visibility: visible !important;
    }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divUserFeedback">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-users"></i> User Feedbacks </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="user-designation">

                    <div class="col-lg-3" ng-if="isFreelancer">
                        <div class="sorting-span pull-left">Company</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedCompany" ng-change="selectedCompanyChanged(selectedCompany)">
                                <option value="0"> --Select All-- </option>
                                <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompany==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Projects" ng-model="inputSearchProjects" class="project-search form-control" />
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="list-group">
                            <div class="panel-heading team-list-head">Feedbacks For Projects</div>
                            <div ng-repeat="feedback in projectsObject| filter:inputSearchProjects" style="margin-top:20px;"> 

                                <div style="margin-top: 5px;margin-bottom: 5px;">

                                    <div class="pull-left" style="margin-top:5px;margin-left:10px;">
                                        <p style="margin: 0 0 2px ;font-size:medium">Project: &nbsp;&nbsp;<strong> <span ng-bind-html="feedback.ProjectName |searchfilter:inputSearchProjects"></span> </strong> </p>
                                        <label>Description:&nbsp;&nbsp;<a style="font-size:13px;" title="Task Description : {{feedback.ProjectDescription}}">  {{feedback.ProjectDescription}}  </a></label>
                                    </div>
                                    <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                        <p style="margin: 0 0 2px;font-size:medium">Project Remarks:&nbsp;&nbsp;<strong> <span ng-bind-html="feedback.ProjectRemarks |searchfilter:inputSearchProjects"></span> </strong></p>
                                    </div>
                                    <!--<div class="pull-right" style="margin-top:10px;">
                                        <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showAllFeedbacksOfProject(feedback)"> View more </a>
                                    </div>-->

                                    <a ng-click="toggle = ! toggle;" class="pull-right right_arrwo_gary_1 label"
                                       style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                        <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                    </a>

                                    <div class="clearfix"></div>
                                </div>

                                <div ng-show="toggle" style="margin-top: 10px;margin-bottom: 5px;" >

                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-11" style="margin-bottom: 20px;">

                                        <div ng-repeat="feedbacks in feedback.FeedbackOfProject" style="margin-bottom:10px;" class="list-group-item">

                                            <div class="pull-left">
                                                <input type="checkbox" ng-class="feedbacks.MemberRole == 'Project Manager' || feedbacks.MemberRole == 'Administrator' ? 'disabled-checkbox'  : 'checkbox' " ng-model="feedbacks.IsSelected" style="margin:10px;margin-top:20px;">
                                            </div>

                                            <div class="pull-left" style="margin-left:10px;">
                                                <h4 class="list-group-item-heading">  Name : {{feedbacks.MemberName}} </h4>
                                                <p class="list-group-item-text"> Role : {{feedbacks.MemberRole}} </p>
                                                <div class="center-block">
                                                    <!--<h4 ng-bind-html="feedbacks.MemberFeedback |searchfilter:inputSearchProjects" class="list-group-item-heading"> < </h4>-->
                                                    Feedback : <a href="">  {{feedbacks.MemberFeedback}} </a>
                                                    <div class="clearfix"></div>
                                                </div>
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>

                                        <div ng-if="!feedback.FeedbackOfProject.length" class="list-group-item">
                                            No Feedback Found.
                                        </div>

                                        <div ng-if="feedback.FeedbackOfProject.length" class="pull-right" style="margin-top:10px;">
                                            <a style="cursor:pointer;" ng-click="showOnProfile(feedback)" class="edit-btn">Show on profile</a>
                                            <!--<a href="" ng-click="toggle = !toggle;" class="edit-btn">Cancel</a>-->
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div ng-if="!projectsObject.length" class="list-group-item">
                                No Projects Found For Feedback.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</div>

<div ng-include="'views/user/FeedbackDetailModal.html'"></div>
