﻿<div class="modal fade" id="modalAddNewUser" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Add New User</h4>
            </div>
            <form name="addNewUserForm" novalidate class="css-form">
                   <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active" style="width:50%"><a href="#InternalUser" aria-controls="InternalUser" role="tab" data-toggle="tab">Internal User</a></li>
                    <li role="presentation" style="width:50%"><a href="#Freelancer" aria-controls="Freelancer" role="tab" data-toggle="tab">Freelancer</a></li>
                </ul>
                  <div class="tab-content ">
                    <div role="tabpanel" class="tab-pane active" id="InternalUser">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="txtEmail">Email Address</label>
                                <input type="email" ng-class="{inputError:isEmailDirty && addNewUserForm.Email.$invalid}" name="Email" class="form-control"
                                       required placeholder="Enter Email" ng-model="userModel.Email">
                            </div>
                            <div class="form-group">
                                <label for="txtFirstName">Firstname</label>
                                <input name="FirstName" required ng-class="{inputError:isFirstNameDirty && addNewUserForm.FirstName.$invalid}"
                                       placeholder="Enter Firstname" class="form-control" ng-model="userModel.FirstName">
                            </div>
                            <div class="form-group">
                                <label for="txtFirstName">Lastname</label>
                                <input name="LastName" required ng-class="{inputError:isLastNameDirty && addNewUserForm.LastName.$invalid}"
                                       placeholder="Enter Lastname" class="form-control" ng-model="userModel.LastName">
                            </div>
                            
                            <div class="form-group">
                                <label for="txtFirstName">User Role</label>

                                <select class="form-control" name="UserRole" id="ddlRole" ng-class="{inputError:isUserRoleDirty && addNewUserForm.UserRole.$invalid}"
                                        required ng-options="role.RoleId as role.Name for role in RoleObject" ng-model="userModel.RoleId">
                                    <option selected="selected" value="">--- Select User Role ---</option>
                                </select>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <a href="" ng-click="addNewUser(addNewUserForm.Email.$invalid,addNewUserForm.FirstName.$invalid,addNewUserForm.LastName.$invalid,addNewUserForm.UserRole.$invalid)" class="edit-btn">Add User</a>
                            <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="Freelancer">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="txtEmail">Email Address/Handle </label>
                                <input type="text" ng-class="{inputError:addNewUserForm.FreelancerModel.EmailOrHandle.$dirty && addNewUserForm.FreelancerModel.EmailOrHandle.$invalid}"
                                       name="EmailOrHandle" class="form-control" ng-keyup="confirmEmailOrHandle(FreelancerModel.EmailOrHandle)"
                                       ng-blur="confirmEmailOrHandle(FreelancerModel.EmailOrHandle)"
                                       placeholder="Search By Email Or Handle" ng-model="FreelancerModel.EmailOrHandle" />
                            </div>
                         
                            <div class="form-group">
                                <div ng-if="FreelancerModel.EmailOrHandle != '' && FreelancerModel.EmailOrHandle != Undefined">
                                    <label for="txtFirstName">Freelancer Info : </label>
                                    <div ng-if="confirmFreelancerObject.Email != null">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <img ng-src="{{imgURL}}{{confirmFreelancerObject.ProfilePic}}" alt="" class="profile-pic" />
                                            </div>
                                            <div class="col-lg-10">
                                                <div ng-if="confirmFreelancerObject.InvitationStatus == 'Accepted'"> Freelancer Name : {{confirmFreelancerObject.FirstName}}  {{confirmFreelancerObject.LastName}}</div>
                                                <div> Freelancer Email : {{confirmFreelancerObject.Email}}</div>
                                                <div> Invitation Status : {{confirmFreelancerObject.InvitationStatus}}</div>

                                            </div>
                                        </div>
                                    </div>
                                    <div ng-if="confirmFreelancerObject.Email  == null">
                                        <div class="row">
                                            <div class="col-lg-2">
                                            </div>
                                            <div class="col-lg-10">
                                                <div> This person is not on Tighten yet. </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
      
                            <div class="form-group">
                                <label for="txtFirstName">User Role</label>
                                <select class="form-control" name="UserRole_Freelancer" id="ddlRole_Freelancer" ng-class="{inputError:addNewUserForm.FreelancerModel.UserRole_Freelancer && addNewUserForm.FreelancerModel.UserRole_Freelancer.$invalid}"
                                        required ng-options="role.RoleId as role.Name for role in RoleObjectForFreelancer" ng-model="FreelancerModel.RoleId">
                                    <option selected="selected" value="">--- Select User Role ---</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="" ng-click="sendInvitationToFreelancer($event,addNewUserForm)" ng-if="confirmFreelancerObject.isEmailOrHandleActive" class="edit-btn">Send Invitation</a>
                            <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                        </div>
                    </div>
                </div>
                <!-- End Tab panes -->
            </form>
        </div>
    </div>
</div>
