﻿
<style>
    .Scrollable {
        height: 200px;
        overflow-y: scroll;
    }

    .details .Addbtn {
        display: none;
    }

    .details:hover .Addbtn {
        display: inline;
    }

    .Hoverbtn .Editbtn, .user-detail-panel .Editbtn {
        display: none;
        position: relative;
        right: 15px;
        margin-top: -10px;
    }
    .Hoverbtn:hover .Editbtn, .user-detail-panel:hover .Editbtn {
        display: inline;
    }
    /* Added New Class for the Left Panel*/
     .Hoverbtn .Editbtn1, .user-detail-panel .Editbtn1 {
        display: none;
        position: absolute;
        right: 15px;
        margin-top: 0px;
    }

    .Hoverbtn:hover .Editbtn1, .user-detail-panel:hover .Editbtn1 {
        display: inline;
    }

    /*.user-detail-panel .Editbtn {
        display: none;
        position: absolute;
    }*/

    /*.user-detail-panel:hover .Editbtn {
        display: inline;
    }*/

    hr {
        border-bottom: 2px solid #fff;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }


    .nopadding {
        padding: 0 !important;
        margin: 0 !important;
    }

    .Totalhour {
        cursor: pointer;
    }
</style>
<style>
    .fileUpload.icon {
        position: absolute;
        top: 10px;
        right: 10px;
    }
</style>

<!--THIS STYLE IS FOR tAGS    -->
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>

<!--THIS STYLE IS FOR Toggle Button  -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 40%;
        }
</style>

<style>
    .dropdown {
        position: relative !important;
        display: inline-block;
    }

    .dropdown-content {
        display: none !important;
        position: absolute !important;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 99;
    }

        .dropdown-content a {
            color: black;
            margin-right: 0;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #3facff;
                color: #fff;
            }


    .dropdown:hover .dropdown-content {
        display: block !important;
        margin-top: -35%;
        left: 90%;
    }

    .dropdown-content .popover-content {
        padding: 0px !important;
    }

    .dropdown-menu {
        margin-left: -175px !important;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
   
    <div id="divProfile">
        <div class="heading-name">
            <h3 class="pull-left"><span> Profile</span></h3>
            
            <!--<div class="pull-right" style="margin-top:10px;" ng-class="PermissionItem.IsInternalPermissionPresent  ? 'show-drilldown' : 'hide-drilldown-parent'">
        <label class="switch pull-right;">
            <input type="checkbox" ng-change="menuChange(PermissionItem)" ng-model="PermissionItem.IsActive">
            <div class="slider round"></div>
        </label>
    </div>-->
            <span ng-hide="!otherUser || currentUserId==0" class="pull-right"> <a href="" ng-click="showHireMeModal()" class="edit-btn"> Hire Me  </a> </span>
            <span class="pull-right" style="margin-right:10px;"> <a href="" ng-click="sendUserMessage(profileUserId)" class="edit-btn" ng-if="otherUser == true && OtherUsersProfile == false">Message</a></span>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <h2 class="user-name"> {{UserProfileObject.firstName }}  {{UserProfileObject.lastName == null ? '' : UserProfileObject.lastName}} </h2>
                <div class="user-pic" style="position:relative">

                    <img width='237' height='256' ng-src="{{imgURL}}{{UserProfileObject.originalProfilePhoto}}" />
                    <div ng-hide="otherUser" class="fileUpload icon">
                        <span><a><i class="glyphicon glyphicon-edit" style="font-size: 20px;"></i></a></span>
                        <input type="file" title="Edit" ng-file-select="updateUserPhoto($files)" class="uploadProfilePic" accept=".jpg,.png,.jpeg,.bmp" />
                    </div>
                </div>
                <!--<div ng-hide="otherUser" class="fileUpload change-btn">
        <span>Change Photo</span>
        <input type="file" title="" ng-file-select="updateUserPhoto($files)" class="uploadProfile" />
    </div>-->
                <a ng-hide="otherUser" ng-if="userPassword != null && userPassword != ''" href="" ng-click="ShowChangePasswordModal()"><div class="change-btn">Change Password</div></a>

                <a ng-hide="otherUser" ng-if="userPassword == null || userPassword == ''" href="" ng-click="ShowSetPasswordModal()"><div class="change-btn">Set Password</div></a>
                <div ng-if="!otherUser" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;background: #e5e5e5;padding: 10px;height: 45px;">

                    <div>
                        <span class="pull-left info-head"> Is Vendor :&nbsp; </span>
                        <span class="pull-left info-head" style="color:gray;" ng-bind-html="(IsVendor == true ? 'Yes' : 'No')"> </span>
                        <div class="pull-right;" style="float:right;">
                            <label class="switch pull-right;">
                                <input type="checkbox" ng-model="IsVendor" ng-click="updateGeneralCompanyToVendorCompany()" ng-disabled="IsVendor">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-if="!otherUser" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;background: #e5e5e5;padding: 10px;height: 45px;">

                    <div>
                        <span class="pull-left info-head">  Profile :  &nbsp; </span>
                        <span class="pull-left info-head" style="color:gray;" ng-bind-html="(UserProfile == true ? 'Public' : 'Private')">  </span>
                        <div class="pull-right;" style="float:right;">
                            <label class="switch pull-right;">
                                <input type="checkbox" ng-model="UserProfile" ng-click="changeUserProfile()">
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;min-height: 40px;">

                    <div ng-if="!openSaveAvailabilty" style="font-size:14px;">
                        <div class="pull-left">
                            <span class="pull-left info-head">  Availability (hrs/week) :  &nbsp; </span>
                            <!--<span class="pull-left" style="font-size:16px;" ng-bind-html="(user.SelectedAvailability || '0') + ' hours per week'"> </span>-->
                            <span class="pull-left" style="font-size:16px;"> {{(user.SelectedAvailability == 10 || user.SelectedAvailability == null)? '0-10' : user.SelectedAvailability == 20 ? '10-20' :user.SelectedAvailability == 30 ? '20-30' :user.SelectedAvailability == 40 ? '30-40' : 'More then 40'}} </span>
                            <!--<a ng-hide="otherUser" class="Editbtn pull-right" href="" ng-click="editAvailabilty(user.SelectedAvailability)" title="Edit"><i class="icon icon-edit glyphicon glyphicon-edit"></i></a>-->
                        </div>

                        <div class="dropdown pull-right">
                            <div class="pull-right">
                                <a ng-hide="otherUser" class="Editbtn pull-right" href="" title="Edit"><i class="icon icon-edit glyphicon glyphicon-edit"></i></a>
                            </div>
                            <div class="dropdown-content">
                                <div class="popover right" style="display: block;top:-15px;left:-15px;">
                                    <div class="arrow"></div>
                                    <div class="popover-content" style="width:230px;">
                                        <select ng-model="user.SelectedAvailability" ng-options="item.id as item.name for item in availableHours" ng-change="updateAvailabilty()" class="form-control" style="margin :5px;width:90%;">
                                            <option value=""> --Select Availability-- </option>
                                            <!--<option ng-repeat="item in availableHours" value="{{item.id}}" ng-selected="user.SelectedAvailability==(item.id || null)">{{item.name}}</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>


                    </div>

                    <!--<div ng-if="openSaveAvailabilty">
            <span class="pull-left info-head">  Availabilty (hrs/week) : </span>

            <select ng-model="user.SelectedAvailability" ng-options="item.id as item.name for item in availableHours" style="width:45%">
                <option value=""> --Select Availabilty-- </option>
            </select>

            <a class="pull-right" style="padding:5px;color:red " href="" ng-click="cancelAvailabilty()" title="Close"><i class="glyphicon glyphicon-remove"></i></a>
            <a class="pull-right" style="padding:5px; color:green;" href="" ng-click="updateAvailabilty()" title="Update"><i class="glyphicon glyphicon-floppy-disk"></i></a>
        </div>-->
                    <!--<div class="clearfix"></div>-->

                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;min-height: 40px;">

                    <div ng-show="!openSaveHourlyRate" style="font-size:14px;">
                        <span class="pull-left info-head">  Hourly Rate (in USD) : &nbsp; </span>
                        <span class="pull-left" style="font-size:16px;" ng-bind-html="'$ ' + HourlyRate"> </span>
                        <!--<a ng-hide="otherUser" class="Editbtn pull-right" href="" ng-click="editHourlyRate()" title="Edit"><i class="glyphicon glyphicon-edit"></i> </a>-->

                        <div class="dropdown pull-right">
                            <div class="pull-right">
                                <a ng-hide="otherUser" class="Editbtn pull-right" href="" title="Edit"><i class="glyphicon glyphicon-edit"></i> </a>
                            </div>
                            <div class="dropdown-content">
                                <div class="popover right" style="display: block;top:-15px;left:-15px;">
                                    <div class="arrow"></div>
                                    <div class="popover-content" style="width:230px;">
                                        <input type="text" ng-model="HourlyRate" style="margin :5px;width:95%;" class="form-control" placeholder="Hourly Rate" ng-blur="updateHourlyRate()" ng-keypress="isNumber($event)" maxlength="3" required />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                    </div>

                    <!--<div ng-show="openSaveHourlyRate">
            <span class="pull-left info-head"> Hourly Rate (in USD) : </span>
            <input type="text" ng-model="HourlyRate" style="width:45%" placeholder="Hourly Rate" ng-keypress="isNumber($event)" maxlength="3" required />
            <a class="pull-right" style="padding:5px;color:red " href="" ng-click="cancelHourlyRate()"
               title="Close"><i class="glyphicon glyphicon-remove"></i></a>
            <a class="pull-right" style="padding:5px; color:green;"
               href="" ng-click="updateHourlyRate()"
               title="Update"><i class="glyphicon glyphicon-floppy-disk"></i></a>

        </div>-->

                    <div class="clearfix"></div>

                </div>


                <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top:10px;" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">
                    <div class="count-circle">
                        <span ng-bind="UserTeamAndProjectCount.TeamCount"></span><br />Teams
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12" style="margin-top:10px;" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">
                    <div class="count-circle">
                        <span ng-bind="UserTeamAndProjectCount.ProjectCount"></span><br />Projects
                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  Hoverbtn " style="margin-top:10px;" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">

                    <div ng-if="!openSaveSkillSetTags">
                        <div class="info-head" style="border-bottom:2px solid #ddd;">
                            Skill Set :
                            <span ng-hide="otherUser" class="pull-right">
                                <a href="" ng-click="editSkillSetTags()" title="Edit" class="Editbtn1"><i class="glyphicon glyphicon-edit"></i></a>
                            </span>
                        </div>


                        <div class="info-area skillTags">
                            <div ng-include="'views/UserProfileModal/SkillSetTags.html'"></div>
                        </div>
                    </div>


                    <div ng-if="openSaveSkillSetTags">
                        <div class="info-head"> Skill Set  :   </div>
                        <div class="info-area">

                            <!--<selectize options='allSkillSetTagsObject' class="selectized" config="SkillSetTagsConfig" ng-model="Tags.SkillSetTags" ng-disabled='disable'></selectize>-->

                            <div class="ngInputTag">

                                <tags-input id="SkillSetTags" ng-model="Tags.SkillSetTags" display-property="TagName" placeholder="Add a Tag"
                                            min-length="1" add-from-autocomplete-only="true" Business Domain Expertise Tags
                                            ng-blur="saveSkillSetTags()" template="tag-template">
                                    <auto-complete source="allSkillSetTagsObject" min-length="0" load-on-focus="true" load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="autocomplete-template">
                                    </auto-complete>
                                </tags-input>

                                <script type="text/ng-template" id="tag-template">
                                    <div class="tag-template">
                                        <!--<div class="left-panel">
                                    <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag" />
                                </div>-->
                                        <div class="right-panel">
                                            <span>{{$getDisplayText()}}</span>
                                            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                        </div>
                                    </div>
                                </script>

                                <script type="text/ng-template" id="autocomplete-template">
                                    <div class="autocomplete-template">
                                        <!--<div class="left-panel">
                                    <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
                                </div>-->
                                        <div class="right-panel">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            <span>({{data.TagDescription}})</span>
                                            <!--<span>{{data.TagName}}</span>-->
                                        </div>
                                    </div>
                                </script>
                            </div>

                            <!--<div class="pull-right">
                    <a style="padding:2px; font-size:large; color:green;" href="" ng-click="saveSkillSetTags()" title="Update"> <i class="glyphicon glyphicon-floppy-disk"></i>  </a>
                    <a style="padding:2px;font-size:large;color:red " href="" ng-click="cancelSkillSetTags()" title="Close"> <i class="glyphicon glyphicon-remove"></i>  </a>
                </div>-->
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  Hoverbtn " style="margin-top:40px;" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">

                    <div ng-if="!openSaveBusinessDomainTags">
                        <div class="info-head" style="border-bottom:2px solid #ddd;">Business Domain Expertise :   <span class="pull-right;"> <a ng-hide="otherUser" href="" ng-click="editBusinessDomainTags()" title="Edit" class="Editbtn1"> <i class="glyphicon glyphicon-edit"></i>  </a> </span>  </div>
                        <div class="info-area businessTags">
                            <div ng-include="'views/UserProfileModal/BusinessDomainExpertiseTags.html'"></div>
                        </div>
                    </div>

                    <div ng-if="openSaveBusinessDomainTags">
                        <div class="info-head">Business Domain Expertise  :   </div>
                        <div class="info-area">
                            <!--<selectize options='allBusinessDomainObject' class="selectized" config="BusinessDomainExpertiseTagsConfig" ng-model="Tags.BusinessDomainExpertiseTags" ng-disabled='disable'></selectize>-->

                            <div class="ngInputTag">

                                <tags-input id="BusinessDomainTags" ng-model="Tags.BusinessDomainExpertiseTags"
                                            display-property="TagName"
                                            placeholder="Add a Tag"
                                            replace-spaces-with-dashes="false"
                                            min-length="1"
                                            add-from-autocomplete-only="true"
                                            ng-blur="saveBusinessDomainTags()"
                                            template="tag-template">
                                    <auto-complete source="allBusinessDomainObject"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="autocomplete-template">
                                    </auto-complete>
                                </tags-input>

                            </div>


                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>



                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  Hoverbtn " style="margin-top:40px;" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">

                    <div ng-if="!openSaveFavouriteProjects" style="margin-bottom:30px;">
                        <div class="info-head" style="border-bottom:2px solid #ddd;">Favourite Projects :   <span class="pull-right;"> <a ng-hide="otherUser" href="" ng-click="editFavouriteProjects()" title="Edit" class="Editbtn1 "> <i class="glyphicon glyphicon-edit"></i>  </a> </span>  </div>

                        <div ng-include="'views/UserProfileModal/favouriteProjects.html'"></div>

                    </div>

                    <div ng-if="openSaveFavouriteProjects">
                        <div class="info-head">Favourite Projects :   </div>
                        <div class="info-area">
                            <!--<selectize options='userProjectsObject' class="selectized" config="favouriteProjectsConfig" ng-model="FavProjects.userFavouriteProjects" ng-disabled='disable'></selectize>-->

                            <div class="ngInputTag">

                                <tags-input id="FavouriteProjects" ng-model="FavProjects.userFavouriteProjects"
                                            display-property="ProjectName"
                                            placeholder="Pick Favourite Projects..."
                                            min-tags="0"
                                            max-tags="3"
                                            min-length="1"
                                            replace-spaces-with-dashes="false"
                                            add-from-autocomplete-only="true"
                                            ng-blur="saveFavouriteProjects()"
                                            template="FavProjects-template">
                                    <auto-complete source="userProjectsObject"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="FavProjects-autocomplete-template">
                                    </auto-complete>
                                </tags-input>

                                <script type="text/ng-template" id="FavProjects-template">
                                    <div class="tag-template">
                                        <!--<div class="left-panel">
                                <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag" />
                            </div>-->
                                        <div class="right-panel">
                                            <span>{{$getDisplayText()}}</span>
                                            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                        </div>
                                    </div>
                                </script>

                                <script type="text/ng-template" id="FavProjects-autocomplete-template">
                                    <div class="autocomplete-template">
                                        <!--<div class="left-panel">
                                <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
                            </div>-->
                                        <div class="right-panel">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            <span>({{data.ProjectDescription}})</span>
                                            <!--<span>{{data.TagName}}</span>-->
                                        </div>
                                    </div>
                                </script>

                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>



                <!--<div class="col-lg-6 col-md-6 col-xs-12">
        <div class="count-circle">
            <span ng-bind="userStatisticsProjects.TotalHoursForAllOrg" style="font-size:12px;"></span><br />Total Hours
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="count-circle">
            <span ng-bind="userStatisticsProjects.TotalProjectsCount" style="font-size:12px;"></span><br />Completed Projects
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-xs-12">
        <div class="count-circle" ng-repeat="item in userStatisticsProjects.UserOrg" ng-click="showProjectsForCompany(item)" style="cursor:pointer;">
            <span ng-bind="item.CompanyName" style="font-size:12px;"></span><br />

            <div ng-include="'views/UserProfileModal/userStatisticsProjects.html'"></div>
        </div>
    </div>-->

                <div class="clearfix"></div>

            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12" ng-if="otherUser == false ? true : OtherUsersProfile == true ? true : false">
                <div class="user-designation">

                    <div class="pull-left">
                        <span style="float:left;">Designation - </span>
                        <div style="float:left;margin-left:10px;">
                            <span ng-if="!toggleUserDesignation && UserProfileObject.Designation != '' && UserProfileObject.Designation != null" ng-click="userDesignationClick()"> {{UserProfileObject.Designation}} </span> 
                            <span ng-if="!toggleUserDesignation && (UserProfileObject.Designation == '' || UserProfileObject.Designation == null)" style="color:darkgray;float:left;margin-left:30px;" ng-click="userDesignationClick()"> Enter Designation </span> 

                            <input ng-if="toggleUserDesignation" name="Designation" class="form-control" placeholder="Enter Designation" style="width:400px;" ng-blur="updateUserDesignation()" ng-model="UserProfileObject.Designation" maxlength="30">
                        </div>
                    </div>

                    <div ng-hide="!otherUser || currentUserId==0" class="pull-right">
                        <a href="" ng-click="sendUserMessage(profileUserId)" class="edit-btn">Message</a>
                    </div>

                    <div ng-hide="otherUser" class="pull-right">
                        <!--<a href="" ng-click="editUserProfile()" class="edit-btn">Edit Profile</a>-->
                        <a href="" class="edit-btn">Send Profile</a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="gray-box" style="position:relative;">
                    <!-- Loader Starts-->
                    <div id="idGeneralPersonalInformation" class="suboverlay">
                        <div class="subloader subloaders"></div>
                    </div>
                    <!-- loader ends-->
                    <div id="loder_userInfo" ng-include="'views/loaders/internalLoader.html'"></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="info-head">General and Personal Information </div>
                        <hr />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="info-area col-lg-12">
                            <span style="float:left;">First Name :</span>
                            <div ng-if="!toggleUserFirstName && UserProfileObject.firstName != '' && UserProfileObject.firstName != null" style="height:20px;width:70%;float:left;margin-left:10px;" ng-click="userFirstNameClick()">
                                {{UserProfileObject.firstName}}
                            </div>
                            <div ng-if="!toggleUserFirstName && (UserProfileObject.firstName == '' || UserProfileObject.firstName == null)" style="color:darkgray;float:left;margin-left:30px;" ng-click="userFirstNameClick()"> Enter First Name </div>

                            <input ng-if="toggleUserFirstName" name="firstName" class="form-control" placeholder="Enter First Name" style="width:70%;margin-left:80px;" ng-blur="updateUserFirstName()" ng-model="UserProfileObject.firstName" maxlength="30">
                        </div>

                        <!--Email is Non-Editable Field-->
                        <div class="info-area">
                            <span>Email :</span> 
                            <a style="margin-left:40px;" ng-bind="UserProfileObject.email"></a>
                        </div>

                        <!--<div class="info-area">
                            <span>Gender :</span> 
                            <a style="margin-left:30px;" ng-if="UserProfileObject.gender==1">Male</a>
                            <a style="margin-left:30px;" ng-if="UserProfileObject.gender==2">Female</a>
                        </div>-->

                        <div class="info-area">
                            <div class="col-lg-12" style="padding:0 !important;">
                                <div class="col-lg-2" style="padding:0 !important;">
                                    <span>Gender :</span> 
                                </div>
                                <div class="col-lg-4">
                                    <input type="radio" id="radioMale" name="gender" ng-click="clickOnGender(1)" style="margin-left:10px;">
                                    <span ng-click="clickOnGender(1)" style="cursor:pointer;"> Male </span>
                                </div>
                                <div class="col-lg-6" style="padding:0 !important;">
                                    <input type="radio" id="radioFemale" name="gender" ng-click="clickOnGender(2)">
                                    <span ng-click="clickOnGender(2)" style="cursor:pointer;"> Female </span>
                                </div>
                            </div>
                        </div>

                        <div class="info-area col-lg-12">
                            <span style="float:left;">Date of Birth :</span>
                            <div ng-if="!toggleUserDateOfBirth && UserProfileObject.DateOfBirth != '' && UserProfileObject.DateOfBirth != null" style="float:left;margin-left:10px;" >
                                {{UserProfileObject.DateOfBirth | date:'dd-MMMM-yyyy'}}
                            </div>
                            <div ng-if="!toggleUserDateOfBirth && (UserProfileObject.DateOfBirth == '' || UserProfileObject.DateOfBirth == null)" style="color:darkgray;float:left;margin-left:5px;" ng-click="open1()"> Enter Date Of Birth </div>


                            <a href="" type="text" init-date="init" style="width:80%;margin-left:15px;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                               ng-model="UserProfileObject.DateOfBirth" is-open="popup1.opened" min-date="minDate" max-date="maxDOBValue" ng-disabled="true"
                               ng-change="updateUserDateOfBirth()" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats">
                               <i class="fa fa-edit"></i>
                            </a>

                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                        <div class="info-area col-lg-12">
                            <span style="float:left;">Last Name :</span>
                            <div ng-if="!toggleUserLastName && UserProfileObject.lastName != '' && UserProfileObject.lastName != null" style="height:20px;width:70%;float:left;margin-left:30px;" ng-click="userLastNameClick()">
                                {{UserProfileObject.lastName}}
                            </div>
                            <div ng-if="!toggleUserLastName && (UserProfileObject.lastName == '' || UserProfileObject.lastName == null)" style="color:darkgray;float:left;margin-left:30px;" ng-click="userLastNameClick()"> Enter Last Name </div>

                            <input ng-if="toggleUserLastName" name="lastName" class="form-control" placeholder="Enter Last Name" style="width:70%;margin-left:80px;"  ng-blur="updateUserLastName()" ng-model="UserProfileObject.lastName" maxlength="30">
                            <!--<span ng-if="toggleUserLastName" contenteditable="true" name="lastName" placeholder="Enter Last Name" ng-model="UserProfileObject.lastName" >{{UserProfileObject.lastName}}</span>-->
                        </div>

                        <div class="info-area col-lg-12">
                            <span style="float:left;">Address :</span>
                            <div ng-if="!toggleUserAddress && UserProfileObject.Address != '' && UserProfileObject.Address != null" style="height:20px;width:70%;float:left;margin-left:45px;" ng-click="userAddressClick()">
                                {{UserProfileObject.Address}}
                            </div>
                            <div ng-if="!toggleUserAddress && (UserProfileObject.Address == '' || UserProfileObject.Address == null)" style="color:darkgray;float:left;margin-left:45px;" ng-click="userAddressClick()"> Enter Address </div>

                            <textarea ng-if="toggleUserAddress" id="Address" class="form-control" placeholder="Enter Address" style="width:80%;margin-left:80px;resize:vertical;" ng-blur="updateUserAddress()" ng-model="UserProfileObject.Address" maxlength="500"></textarea>
                        </div>

                        <div class="info-area col-lg-12">
                            <span style="float:left;">Phone No.  :</span>
                            <div ng-if="!toggleUserPhoneNo && UserProfileObject.PhoneNo != '' && UserProfileObject.PhoneNo != null" style="height:20px;width:70%;float:left;margin-left:30px;" ng-click="userPhoneNoClick()">
                                {{UserProfileObject.PhoneNo}}
                            </div>
                            <div ng-if="!toggleUserPhoneNo && (UserProfileObject.PhoneNo == '' || UserProfileObject.PhoneNo == null)" style="color:darkgray;float:left;margin-left:30px;" ng-click="userPhoneNoClick()"> Enter Phone No. </div>

                            <input ng-if="toggleUserPhoneNo" class="form-control" name="PhoneNo" placeholder="Enter Phone No." style="width:70%;margin-left:80px;" ng-blur="updateUserPhoneNo()" ng-model="UserProfileObject.PhoneNo" ng-keypress="isNumber($event)" ng-pattern="phoneNumbr" ng-class="{inputError:frmUser.phoneNo.$invalid}" maxlength="16 " />
                        </div>

                        <div class="info-area"></div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="info-head">About Me</div>
                        <div class="info-area">
                            <div ng-if="!toggleUserAboutMe && UserProfileObject.AboutMe != '' && UserProfileObject.AboutMe != null" style="height:20px;width:70%;float:left;margin-left:10px;" ng-click="userAboutMeClick()">
                                {{UserProfileObject.AboutMe}}
                            </div>
                            <div ng-if="!toggleUserAboutMe && (UserProfileObject.AboutMe == '' || UserProfileObject.AboutMe == null)" style="color:darkgray;float:left;margin-left:100px;" ng-click="userAboutMeClick()"> Enter SomeThing About You </div>
                            <textarea ng-if="toggleUserAboutMe" id="AboutMe" class="form-control" maxlength="500" placeholder="Enter About Me" style="resize:none;" ng-blur="updateUserAboutMe()" ng-model="UserProfileObject.AboutMe"></textarea>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                

                <div class="gray-box myStatistics" style="margin-top:10px;position:relative;    ">

                    <div id="idmyStatistics" class="suboverlay">
                        <div class="subloader subloaders"></div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                        <div class="info-head">My Statistics</div>
                        <hr />

                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff">
                                <span ng-bind="userdataUserAvgRate"></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Avg. Hourly Price (in $)
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff">
                                <span ng-bind="userStatisticsProjects.TotalProjectsCount || 0"></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Complete Projects
                            </div>
                        </div>


                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff">
                                <span ng-bind="userEfficiency.ProjectsCountCompletedInTimeForAllOrgs || 0"></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Sucessfull Projects
                            </div>
                        </div>


                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details" style="text-align:center;">
                        <hr />

                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;cursor:pointer;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff" ng-click="showOrganizationsForFreelancer()">
                                <span ng-bind="userStatisticsProjects.TotalHoursForAllOrg"></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Total Hours
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff">
                                <span ng-bind="userStatisticsProjects.UserOrg.length"></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Organization
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center;cursor:pointer;">
                            <div class="count-circle" style="border:2px solid #3facff;background-color:#fff" ng-click="showOrganizationsForFreelancerWithEfficiency()">
                                <span ng-bind="userEfficiency.TodoEfficiencyInPercentForAllOrgs || 0 "></span><br />
                            </div>
                            <div class="info-head" style="color:gray;">
                                Efficiency (in %)
                            </div>
                        </div>


                        <!--<div class="col-lg-12 col-md-12 col-xs-12" ng-show="showOrganizations" style="text-align:center;" >
                            <p class="pull-left" style="width:100%;background-color:#fff;">Organizations</p>
                                <div class="col-lg-3 col-md-3 col-xs-3" style="text-align:center; cursor:pointer;" ng-repeat="item in userStatisticsProjects.UserOrg">
                                    <div class="info-head" style="color:gray;">
                                        {{item.CompanyName}}
                                    </div>
                                    <div class="count-circle" style="border:2px solid #3facff;background-color:#fff;cursor:pointer;" ng-click="showProjectsForCompany(item)">
                                        <span ng-bind="0"></span><br />
                                    </div>
                                </div>
                                <div ng-include="'views/UserProfileModal/userStatisticsProjects.html'"></div>
                        </div>-->

                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details" style="margin-top:10px;">

                        <div ng-include="'views/UserProfileModal/userStatisticsProjects.html'"></div>
                    </div>


                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 details">
                        <hr />


                        <div class="info-area">
                            <span class="info-head" style="color:gray;">Strong Technologies :</span>
                            <span ng-repeat="item in StrongAndWeekTechnology.Strong" class="label label-primary" style="margin: 0 10px 0 10px;display: inline-block;color:#fff"> {{item.TagName}} </span>
                            <span ng-if="StrongAndWeekTechnology.Strong.length < 1 || StrongAndWeekTechnology.Strong == null"> No enough data for calculation</span>
                        </div>
                        <div class="info-area">
                            <span class="info-head" style="color:gray;">Week Technologies :</span>
                            <span ng-repeat="item in StrongAndWeekTechnology.week" class="label label-primary" style="margin: 0 10px 0 10px;display: inline-block;color:#fff"> {{item.TagName}} </span>
                            <span ng-if="StrongAndWeekTechnology.week.length < 1"> No enough data for calculation</span>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>



                <div style="margin-top:10px;">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gray-box right-border  details" style="position:relative">

                        <div id="idEducationalDetails" class="suboverlay">
                            <div class="subloader subloaders"></div>
                        </div>
                        <!-- loader End-->

                        <div class="info-head">
                            Educational Details
                            <span ng-hide="otherUser" class="pull-right">
                                <a href="" ng-click="addUserEducationDetail()" title="Add" class="Addbtn ">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </span>
                        </div>

                        <hr />
                        <div style="padding-bottom:10px;">
                            <div ng-include="'views/UserProfileModal/EducationDetail.html'"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gray-box details" style="position:relative">
                        <!-- Loader Starts-->
                        <div id="idProfessionalDetails" class="suboverlay">
                            <div class="subloader subloaders"></div>
                        </div>
                        <!-- loader ends-->
                        <div class="info-head">
                            Professional Details
                            <span ng-hide="otherUser" class="pull-right">
                                <a href="" ng-click="addUserProfessionalDetail()" title="Add" class="Addbtn ">
                                    <i class="glyphicon glyphicon-plus-sign"></i>
                                </a>
                            </span>
                        </div>
                        <hr />
                        <div style="padding-bottom:10px;">
                            <div ng-include="'views/UserProfileModal/ProfessionalDetail.html'"></div>
                            <div class="clearfix"></div>
                        </div>

                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box Hoverbtn " style="margin-top:10px;" ng-show="false">

                    <div ng-if="!openSaveTestimonials">
                        <div class="info-head"> Testimonial   <span ng-hide="otherUser" class="pull-right"> <a href="" ng-click="editTestimonial()" title="Edit" class="Editbtn "> <i class="fa fa-edit"></i>  </a> </span>  </div>

                        <hr />
                        <div class="info-area">
                            <div ng-include="'views/UserProfileModal/Testimonials.html'"></div>
                        </div>
                    </div>

                    <div ng-if="openSaveTestimonials">
                        <div class="info-head"> Testimonial    </div>
                        <div class="info-area">

                            <div class="ngInputTag">

                                <!--min-length="1"
                                max-length="3"-->

                                <tags-input ng-model="UserTestimonials.UserTestimonialList"
                                            display-property="Testimonial"
                                            placeholder="Select Testimonial"
                                            min-tags="0"
                                            max-tags="3"
                                            replace-spaces-with-dashes="false"
                                            min-length="1"
                                            add-from-autocomplete-only="true"
                                            template="testimonial-tag-template">
                                    <auto-complete source="UserTestimonials.AllTestimonialList"
                                                   min-length="3"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="testimonial-autocomplete-template">
                                    </auto-complete>
                                </tags-input>

                                <script type="text/ng-template" id="testimonial-tag-template">
                                    <div class="tag-template">
                                        <!--<div class="left-panel">
                                            <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag" />
                                        </div>-->
                                        <div class="right-panel">
                                            <span>{{$getDisplayText()}}</span>
                                            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                        </div>
                                    </div>
                                </script>

                                <script type="text/ng-template" id="testimonial-autocomplete-template">
                                    <div class="autocomplete-template">
                                        <!--<div class="left-panel">
                                            <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
                                        </div>-->
                                        <div class="right-panel">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            <!--<span>sp({{data.ProjectDescription}})</span>-->
                                            <!--<span>{{data.TagName}}</span>-->
                                        </div>
                                    </div>
                                </script>

                            </div>

                            <div class="pull-right">
                                <a style="padding:2px; font-size:large; color:green;" href="" ng-click="saveTestimonial()"> <i class="fa fa-save"></i>  </a>
                                <a style="padding:2px;font-size:large;color:red " href="" ng-click="cancelTestimonial()"> <i class="fa fa-remove"></i>  </a>
                            </div>

                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>


                <div ng-if="UserProfileObject.isFreelancer" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box Hoverbtn " style="margin-top:10px;margin-bottom:30px; position:relative">
                    <!-- Loader Starts-->
                    <div id="idFeedbacks" class="suboverlay">
                        <div class="subloader subloaders"></div>
                    </div>
                    <!-- loader ends-->
                    <div>
                        <div class="info-head"> Feedbacks </div>

                        <hr />
                        <div class="info-area">
                            <div ng-include="'views/UserProfileModal/FeedbacksModal.html'"></div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>


            </div>
        </div>
    </div>

</div>

<!--<script>
    $(document).ready(function () {
        $('#lnkRemoveHourlyRate').tooltip();
        $('#lnkSaveHourlyRate').tooltip();
        $('#lnkEditHourlyRate').tooltip();
        $('#lnkEditAvailability').tooltip();
    })
</script>-->

<div ng-include="'views/user/UserProfileEditModal.html'"></div>
<div ng-include="'views/user/ChangePasswordModal.html'"></div>

<!--modal for Add New User-->
<div ng-include="'views/UserProfileModal/HireMeModal.html'"></div>
<div ng-include="'views/dashboard/LinkedInMessageModal.html'"></div>