﻿<div class="modal fade" id="modalProfilePhoto" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #53a1dc;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Profile Photo </h4>
            </div>
            <div class="modal-body">
                <form id="frmUser" role="form" class="css-form">

                    <table width="100%">
                        <tr>
                            <td style="position:relative" width="13%">
                                <img  ng-src="{{UserProfile}}" style="border: 5px solid #D4D0C8;border-radius:10%;" />
                                <img ng-show="imageUploading" style="position:absolute;right:23px;top:23px;z-index:1000;" src="~/img/loaders/imageloader.png" />
                            </td>
                            <td>
                                <div class="fileUpload btn btn-info">
                                    <span>Update</span>
                                    <input type="file" ng-file-select="onProfileSelect($files)" class="uploadProfile" />
                                </div>

                            </td>
                            <td>
                                <a ng-hide="clear" class="anchor" ng-click="ClearProfilePhoto()">Clear Profile Photo</a>

                            </td>
                            <td></td>
                        </tr>

                    </table>

                </form>
            </div>
            <div class="modal-footer">
                <span style="color:red; float:left;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Done Editing</button>

            </div>
        </div>
    </div>
</div>
