﻿<div class="modal fade" id="modalMyProfileEdit" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> My Profile </h4>
            </div>
            <div class="modal-body">
                <form id="frmUser" name="frmUser" role="form" class="css-form">
                    <!--validation messages of the controls
                        <div >
                        <ul ng-messages="frmUser.firstName.$error" style="color:red;list-style-type:disc armenian" role="alert">
                            <li ng-show="frmUser.firstName.$error.required" ng-message="required">First Name Required</li>
                            <li ng-show="frmUser.firstName.$error.maxlength" ng-message="maxlength">Max 10 characters</li>
                        </ul>
                    </div>-->
                    <div class="form-group">
                        <label for="txtEmail">First Name</label>
                        <input class="form-control" placeholder="Enter First Name" name="firstName"
                               ng-class="{inputError:frmUser.firstName.$dirty && frmUser.firstName.$invalid}" ng-model="MyProfileEditObject.firstName" required
                               maxlength="30">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Last Name</label>
                        <input class="form-control" name="lastName" placeholder="Enter Last Name" ng-model="MyProfileEditObject.lastName" maxlength="30">
                    </div>
                    <!--<div class="form-group">
                        <label for="txtEmail">Gender</label>
                        <select ng-model="MyProfileEditObject.gender" class="form-control">
                            <option ng-repeat="g in genders" value="{{g.value}}" ng-selected="MyProfileEditObject.gender == g.value" >
                                {{g.name}}
                            </option>
                        </select>
                    </div>-->
                    <div class="form-group">
                        <div class="col-lg-12" style="padding:0 !important;">
                            <label for="txtEmail">Gender</label>
                        </div>
                        <div class="col-lg-2">
                            <input type="radio" id="radioMale" name="gender" ng-click="clickOnGender(1)"> 
                            <span ng-click="clickOnGender(1)" style="cursor:pointer;"> Male </span> 
                        </div>
                        <div class="col-lg-10"> 
                            <input type="radio" id="radioFemale" name="gender" ng-click="clickOnGender(2)"> 
                            <span ng-click="clickOnGender(2)" style="cursor:pointer;"> Female </span> 
                        </div>
                    </div>

                    <div class="form-group" style="margin-top:15px;">
                        <label for="txtEmail">Phone No.</label>
                        <input class="form-control" name="phoneNo" placeholder="Enter Phone No." ng-model="MyProfileEditObject.PhoneNo" ng-keypress="isNumber($event)"
                               ng-pattern="phoneNumbr"ng-class="{inputError:phoneNo.firstName.$dirty && frmUser.phoneNo.$invalid}" maxlength="16 " />

                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Date Of Birth</label>
                        <!--<input  type="text" class="form-control" ng-click="open($event)" uib-datepicker-popup  ng-model="MyProfileEditObject.DateOfBirth" is-open="opened" min-date="''" max-date="''" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->


                        <input type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open1()"
                               ng-model="MyProfileEditObject.DateOfBirth" is-open="popup1.opened" min-date="minDate" max-date="maxDOBValue"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"
                               maxlength="10" readonly placeholder="Enter Date Of Birth" style="cursor:pointer;" />

                        <!--<span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->


                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Address</label>
                        <textarea class="form-control" placeholder="Enter Address" ng-model="MyProfileEditObject.Address" maxlength="500"></textarea>
                    </div>
                    <!--<div class="form-group">
                        <label for="txtEmail">Department</label>
                        <input class="form-control" placeholder="Enter Department" ng-model="MyProfileEditObject.Department">
                    </div>-->
                    <div class="form-group">
                        <label for="txtEmail">Designation</label>
                        <input class="form-control" placeholder="Enter Designation" ng-model="MyProfileEditObject.Designation" maxlength="30">
                    </div>
                    <!--<div class="form-group">
                        <label for="txtEmail">Experience</label>
                        <input class="form-control" placeholder="Enter Experience" ng-model="MyProfileEditObject.Experience">
                    </div>-->
                    <!--<div class="form-group">
                        <label for="txtEmail">Expertise</label>
                        <input class="form-control" placeholder="Enter Expertise" ng-model="MyProfileEditObject.Expertise">
                    </div>-->
                    <div class="form-group">
                        <label for="txtEmail">About Me</label>
                        <textarea class="form-control" maxlength="500" placeholder="Enter About Me" ng-model="MyProfileEditObject.AboutMe"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <a href="" ng-click="updateUserProfile(frmUser,frmUser.firstName.$invalid)" class="edit-btn">Update Profile</a>
                <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

            </div>
        </div>
    </div>
</div>
