﻿
<div class="modal fade" id="modalUserRoleEdit" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> User Role </h4>
            </div>
            <div class="modal-body">
                <form id="frmUser" role="form" class="css-form">

                    <div class="form-group">
                        <label for="txtEmail">First Name</label>
                        <label class="form-control" disabled ng-bind="UserRoleEditObject.FirstName" for="txtEmail">First Name</label>

                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Last Name</label>
                        <label class="form-control" disabled ng-bind="UserRoleEditObject.LastName" for="txtEmail">First Name</label>

                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email Address</label>
                        <label class="form-control" disabled ng-bind="UserRoleEditObject.Email" for="txtEmail">First Name</label>

                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">User Role</label>
                        <!--<select class="form-control" name="UserRole" ng-model="UserRoleEditObject.UserRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required>
                            <option selected="selected" value="">--- Select User Role ---</option>
                            <option value="User">User</option>
                            <option value="Client">Client</option>
                            <option value="Admin">Admin</option>
                        </select>-->
                        <select ng-if="!UserRoleEditObject.IsFreelancer" class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required
                                ng-options="role.RoleId as role.Name for role in RoleObject"
                                ng-model="UserRoleEditObject.RoleId">
                            <option selected="selected" value="">--- Select User Role ---</option>
                        </select>
                         

                            <select ng-if="UserRoleEditObject.IsFreelancer" class="form-control" name="UserRole" id="ddRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required
                                  ng-options="role.RoleId as role.Name for role in RoleObjectForFreelancer" ng-model="UserRoleEditObject.RoleId">
                                <option selected="selected" value="">--- Select User Role ---</option>
                            </select>
                         

                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <a href="" ng-click="updateUserRole()" class="edit-btn">Update User Role</a>
                <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

            </div>
        </div>
    </div>
</div>
