﻿
<style>
    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1 !important;
        /*background-color: greenyellow;*/
    }
</style>
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divUserManagementSection">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-user"></i> Manage Users</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="" style="padding-top:5px;">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="" class="edit-btn pull-right" style="width:auto;" ng-click="showAddNewUserModal()">Add New User</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div style="padding-bottom:30px;" >
                    <div class="user-designation" style="padding:5px 10px;">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <h4 class="pull-left"><i class="fa fa-compress" style="margin-right:10px"></i><span>  Internal User</span></h4>
                            <!--<h4 style="float:left;">Internal User</h4>-->
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input placeholder="Search User" ng-model="inputSearchUser" class="project-search form-control" />
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-box-space" ng-repeat="item in filteredUsersObjects=((filteredUsersObject | filter:inputSearchUser) )">     


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-left " style="width:2px; padding:2px;height:75px;" ng-class="{'gray-border': (item.IsEmailConfirmed==false), 'green-border': (item.IsEmailConfirmed == true)}"> </div>
                            <div ng-click="showOtherUserProfile(item.UserId)" style="cursor:pointer;" class="profile-pic pull-left"><img ng-src="{{imgURL}}{{item.ProfilePhoto}}" /></div>
                            <div class="info-head"><i class="fa fa-user"></i>&nbsp;<span ng-bind-html="item.FirstName +' ' + item.LastName|searchfilter:inputSearchUser"></span></div>
                            <div>
                                <i class="fa fa-user"></i>&nbsp; Role :  <span style="color: #5E5E5E; font-weight: bold;" ng-bind-html="item.UserRole|searchfilter:inputSearchUser"></span>
                                &nbsp;&nbsp;
                                <a href="" ng-if="item.UserRole!='CompanyAdmin'" ng-click="showModalUserRoleEdit(item)"> <i class="fa fa-cog"></i> </a>
                            </div>
                            <div>
                                <i class="fa fa-envelope-o"></i>&nbsp; <span ng-bind-html="item.Email|searchfilter:inputSearchUser"></span> <span ng-if="item.isEmailConfirmed==true">(Email Confirmed)</span>
                                <span ng-if="item.isEmailConfirmed==false">(Email Not Confirmed Yet)</span>
                            </div>
                            <!--<div><i class="fa fa-phone"></i>&nbsp; <span ng-bind-html="item.PhoneNo|searchfilter:inputSearchUser"></span></div>
                <div><i class="fa fa-location-arrow"></i>&nbsp; <span ng-bind-html="item.Address|searchfilter:inputSearchUser"></span></div>-->
                            <div> <a href="" ng-click="deleteUser(item)" ng-if="CurrentUserId != item.UserId" style="cursor:pointer;"> <i class="fa fa-trash-o">  </i></a>  </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="info-box-space" ng-if="!filteredUsersObject.length">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                            <div class="info-head">No Users Found.</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>

                <div style="padding-bottom:30px;">
                    <div class="user-designation" style="padding:5px 10px;">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <!--<h4 style="float:left;">Freelancer</h4>-->
                            <h4 class="pull-left"><i class="fa fa-expand" style="margin-right:10px"></i><span>  Freelancer</span></h4>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <input placeholder="Search Freelancer" ng-model="inputSearchFreelancer" class="project-search form-control" />
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="info-box-space" ng-repeat="freelancerItem in filteredFreelancersObjects=( filteredFreelancersObject  | filter:inputSearchFreelancer)">


                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="pull-left " style="width:2px; padding:2px;height:75px;" ng-class="{'gray-border': (freelancerItem.IsEmailConfirmed==false), 'green-border': (freelancerItem.IsEmailConfirmed == true)}"> </div>
                            <div ng-click="showOtherUserProfileFromUserManage(freelancerItem)" style="cursor:pointer;" class="profile-pic pull-left"><img ng-src="{{imgURL}}{{freelancerItem.ProfilePhoto}}" /></div>
                            <div class="info-head"><i class="fa fa-user"></i>&nbsp;<span ng-bind-html="freelancerItem.FirstName + ' ' + freelancerItem.LastName|searchfilter:inputSearchFreelancer"></span></div>
                            <div>
                                <i class="fa fa-user"></i>&nbsp; Role :  <span style="color: #5E5E5E; font-weight: bold;" ng-bind-html="freelancerItem.UserRole|searchfilter:inputSearchFreelancer"></span>
                                &nbsp;&nbsp;
                                <a href="" ng-if="freelancerItem.UserRole!='CompanyAdmin'" ng-click="showModalUserRoleEdit(freelancerItem)"> <i class="fa fa-cog"></i> </a>
                            </div>
                            <div>
                                <i class="fa fa-envelope-o"></i>&nbsp; <span ng-bind-html="freelancerItem.Email|searchfilter:inputSearchFreelancer"></span> <span ng-if="freelancerItem.isEmailConfirmed==true">(Email Confirmed)</span>
                                <span ng-if="freelancerItem.isEmailConfirmed==false">(Email Not Confirmed Yet)</span>
                            </div>
                             
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="info-box-space" ng-if="!filteredFreelancersObject.length">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                            <div class="info-head">No Freelancers Found.</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>


                </div>
        </div>

    </div>

</div>

<!--modal for Add New User-->
<div ng-include="'views/user/NewUserAddModal.html'"></div>
<div ng-include="'views/user/UserRoleEditModal.html'"></div>
