﻿
<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }

    .grayBack {
        background-color: #f9f9f9 !important;
    }

    .fontingrind {
        font-weight: bold !important;
        margin-right: 10px !important;
        font-size: inherit !important;
    }

    .tdwidth {
        width: 25px !important;
    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>
<!--wizard CSS-->
<style>
    ul#wizardStatus {
        list-style: none;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

        ul#wizardStatus li {
            background-color: #d9d9ce;
            color: #3d4c4f;
            display: inline-block;
            margin: 0;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 100px 0px 50px;
            position: relative;
            width: 33%;
            font-size: large;
        }

            ul#wizardStatus li:first-child {
                padding-left: 40px;
                -webkit-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            ul#wizardStatus li:last-child {
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            ul#wizardStatus li:after,
            ul#wizardStatus li:before {
                background-color: #d9d9ce;
                content: "";
                display: block;
                position: absolute;
            }

            ul#wizardStatus li:after {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border-right: 3px solid white;
                border-top: 3px solid white;
                height: 33px;
                right: -16px;
                top: 4px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(44deg);
                width: 35px;
                z-index: 5;
            }

            ul#wizardStatus li:before {
                height: 40px;
                right: 3px;
                width: 20px;
                z-index: 6;
            }

            ul#wizardStatus li:last-child:after,
            ul#wizardStatus li:last-child:before {
                display: none;
            }

            ul#wizardStatus li.current {
                background-color: #0597c5;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }

                ul#wizardStatus li.current:after,
                ul#wizardStatus li.current:before {
                    background-color: #0597c5;
                }

            ul#wizardStatus li.completed {
                background-color: #ccc;
                color: #fff;
            }

                ul#wizardStatus li.completed:after,
                ul#wizardStatus li.completed:before {
                    background-color: #ccc;
                }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="createNewProject">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Add New Initiative </span></h3>



            <div class="clearfix"></div>
        </div>
        <section>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <form name="NewInitiativeForm" class="margin-top-10px">
                            <div class="form-group">
                                <label for="txtWorkLog">Initiative Title</label>
                                <input name="initiativeTitle" class="form-control" ng-class="{inputError:NewInitiativeForm.initiativeTitle.$dirty && NewInitiativeForm.initiativeTitle.$invalid}"
                                       placeholder="Enter initiative title" maxlength="150" required ng-model="AddNewInitiativeModel.initiative_title" tabindex="0">
                            </div>
                            <div class="form-group">
                                <label for="txtWorklogDesc">Initiative Description</label>
                                <textarea rows="5" cols="20" name="initiativeDescription"
                                          placeholder="Enter initiative description" maxlength="500" class="form-control" ng-model="AddNewInitiativeModel.description" tabindex="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="txtEmail"> upload document (if any)</label>
                                <p ng-repeat="img in myProjectDocumentList| filter: { IsDeleted: false } track by $index">
                                    {{img.name}}
                                    {{$index+1}}
                                    <a class="pull-right" href="" ng-if="(myProjectDocumentList) == null &&
                                             (myProjectDocumentList| filter: { IsDeleted: false }) != undefined" style=""></a>
                                    <a href="" ng-click="removeAttachments($index)" class="fa fa-times" aria-hidden="true"></a>
                                </p>

                                <input type="file" multiple name="{{img.name}}" id="ProjectDocument"
                                       title="" accept=".jpg,.png,.jpeg,.bmp,.gif,.doc,.docx,.xls,.xlsx,.txt,.zip,.pdf,.ppt,.ptx,.rar"
                                       ng-file-select="selectFileForProject($files,$index)" tabindex="2" class="uploadProfilePic" />
                            </div>
                            <div class="form-group">
                                <label for="txtWorkLog">Contact Person</label>
                                <input name="contactPerson" class="form-control" ng-class="{inputError:NewInitiativeForm.contactPerson.$dirty && NewInitiativeForm.contactPerson.$invalid}"
                                       placeholder="Enter contact person" maxlength="150" required ng-model="AddNewInitiativeModel.contactperson" tabindex="3">
                            </div>
                            <div class="form-group">
                                <label for="txtWorkLog">Person's Phone Number</label>
                                <input name="phNo" class="form-control" ng-class="{inputError:NewInitiativeForm.phNo.$dirty && NewInitiativeForm.phNo.$invalid}"
                                       placeholder="Enter phone number" maxlength="50" required ng-model="AddNewInitiativeModel.contactpersonno" tabindex="4">
                            </div>
                            
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <div class="form-group">
                                            <label for="txtproject">Vendor Company</label>
                                            <select name="vendorName" id="vendorId" class="dropdown100" required ng-class="{inputError:AddNewInitiativeModel.vendorName.$dirty && AddNewInitiativeModel.vendorName.$invalid}"
                                                    ng-options="item.CompanyName for item in myVendorList track by item.VendorId"
                                                    ng-model="selectVendorObj" tabindex="1" ng-change="selectedVendorChanged(selectVendorObj)" >
                                                <option value="">--Please select vendor company--</option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-lg-3 col-sm-3 col-md-3">
                                        <label for="txtproject">Project</label>
                                        <select name="projectName" id="projectId" class="dropdown100" required ng-class="{inputError:AddNewInitiativeModel.projectName.$dirty && AddNewInitiativeModel.projectName.$invalid}"
                                                ng-options="item.ProjectName for item in vendorProjectList"
                                                ng-model="selectvendorProjectObj" tabindex="2" ng-change="selectedProjectChanged(selectvendorProjectObj)">
                                            <option value="">--Please select project--</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <label for="txtContactPerson">Contact Person</label>
                                            <input name="vendorContactPerson" class="form-control" ng-class="{inputError:AddNewInitiativeModel.vendorContactPerson.$dirty && AddNewInitiativeModel.vendorContactPerson.$invalid}"
                                                   placeholder="Enter contact person name" ng-model="AddNewProjectModel.contactperson" tabindex="3" id="contPerson" required>
                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="form-group">
                                            <label for="txtPhNo">Person's Phone Number</label>
                                            <input name="vendorContactPersonPhNo" class="form-control" ng-class="{inputError:AddNewInitiativeModel.vendorContactPersonPhNo.$dirty && AddNewInitiativeModel.vendorContactPersonPhNo.$invalid}"
                                                   placeholder="Enter phone number" ng-model="AddNewProjectModel.contactpersonno" tabindex="4" id="venorPhNo" required>
                                        </div>

                                    </div>
                                    <div class="col-lg-2 col-sm-2 col-md-2">
                                        <div class="form-group" style="margin-top:30px!important;">
                                            <a href="" ng-click="AddProjectToList(NewInitiativeForm.vendorContactPerson.$invalid,NewInitiativeForm.vendorContactPersonPhNo.$invalid,NewInitiativeForm)" class="edit-btn" tabindex="5">Add Project</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    
                                    <div class="col-lg-12 col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label>Projects List</label>
                                        </div>
                                    </div>
                                    <div class="table-responsive">

                                        <div>
                                            <table class="table table-striped table-hover table-bordered table-condensed tblMyVendorPOC">
                                                <thead>
                                                    <tr>
                                                        <th>Vendor Company Name</th>
                                                        <th>Project Name</th>
                                                        <th>Contact Person</th>
                                                        <th>Person's Phone Number</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tr>

                                                    <td align="center" colspan="5">
                                                        </td>

                                                <tr ng-repeat="item in AddNewInitiativeModel.initiativeVendors| filter: { isDeleted: false }">
                                                    <td>
                                                        {{item.vendorName}}
                                                        <!--<input name="POCFirstName-{{index}}" class="form-control"
                                                               placeholder="Enter POC first name" ng-model="item.pocFirstName" id="pocFirstName-{{index}}" ng-disabled="vendorInvitationModal.VendorCompanyIsVendorFirmRegistered||IsViewVendor">-->
                                                    </td>
                                                    <td>
                                                        {{item.projectName}}
                                                        <!--<input name="POCLastName-{{index}}" class="form-control"
                                                               placeholder="Enter POC last name" ng-model="item.pocLastName" id="pocLastName-{{index}}" ng-disabled="vendorInvitationModal.VendorCompanyIsVendorFirmRegistered||IsViewVendor">-->
                                                    </td>
                                                    <td>
                                                        {{item.contactperson}}
                                                        <!--<input name="POCEmail-{{index}}" class="form-control"
                                                               placeholder="Enter POC email address" ng-model="item.pocEmail" id="pocEmail-{{index}}" ng-disabled="vendorInvitationModal.VendorCompanyIsVendorFirmRegistered||IsViewVendor">-->
                                                    </td>
                                                    <td>
                                                        {{item.contactpersonno}}
                                                        <!--<input name="POCEmail-{{index}}" class="form-control"
               placeholder="Enter POC email address" ng-model="item.pocEmail" id="pocEmail-{{index}}" ng-disabled="vendorInvitationModal.VendorCompanyIsVendorFirmRegistered||IsViewVendor">-->
                                                    </td>
                                                    <td>
                                                        <a ng-click="deleteVendorProjectDetail($index)" style="cursor:pointer;" class="btn btn-small btn-danger"><i class="fa fa-close"></i></a>
                                                    </td>
                                                </tr>
                                                <tr ng-if="(AddNewInitiativeModel.initiativeVendors| filter: { isDeleted: false }).length == 0">
                                                    <td colspan="12" style="text-align-last: center">No Record Found</td>
                                                </tr>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="txtStatus">Status</label>
                                <select name="status" id="initStatus" class="dropdown100" required ng-class="{inputError:NewInitiativeForm.status.$dirty &&NewInitiativeForm.status.$invalid}"
                                        ng-options="item.StatusName for item in vendorProjectStatusList"
                                        ng-model="selectStatusObj" tabindex="6" ng-change="selectedStatusChanged(selectStatusObj)">
                                    <option value="">--Please select status--</option>
                                </select>
                            </div>

                            

                            

                           

                            <!--<div class="form-group">
                                <label for="txtstartdate">Billable Status</label>
                                <select name="worklogBStatus" id="worklogBStatus" class="dropdown100"
                                        ng-options="item.text for item in billableDropList"
                                        ng-model="selectedBillableObj" tabindex="6" ng-change="selectedBillableChanged(selectedBillableObj)">
                                    <option value="">------------------------------------Please select billable status-------------------------------</option>
                                </select>
                            </div>-->
                           



                            

                       

                            <div class="form-group " style="float:right">


                                <a href="" ng-click="editInitiative(NewInitiativeForm.initiativeTitle.$invalid,NewInitiativeForm.contactPerson.$invalid,NewInitiativeForm.phNo.$invalid, NewInitiativeForm,AddNewInitiativeModel)" tabindex="7" class="edit-btn" style="width: 200px;">Update</a>
                                <a href="" ng-click="deleteInitiative()" tabindex="8" class="edit-btn" style="width: 200px;">Delete</a>
                                <a href="" ng-click="GoBack()" tabindex="9" class="edit-btn" style="width: 200px;">Back</a>
                            </div>
                            <div class="clear"></div>
                        </form>

                    </div>

                </div>
            </div>
        </section>





    </div>
</div>


<div ng-include="'views/project/AddNewPhase.html'"></div>
<div ng-include="'views/project/MileStone.html'"></div>
<div ng-include="'views/project/ConfirmPopup.html'"></div>

