﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .tblMyAccount thead:first-child {
        background-color: #3facff;
    }

        .tblMyAccount thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>




<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divAddNewAccount" style="margin-left: 18px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> My Initiatives</span></h3>
            <a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="AddNewInitiative()">Add a new initiative</a>

            <div class="clearfix"></div>

        </div>
        <div class="row" style="margin-top: 12px; display:none">

            <div class="col-lg-3">

                <input type="text" class="form-control" ng-model="searchVendorName" placeholder="Search by vendor company name"
                       ng-cut="cutSearchInvitaionByVendorName()"
                       auto-complete="autoCompleteOptions" ng-keydown="searchVendorNameInvitaion(searchVendorName,$event)" />
            </div>
            <div class="col-lg-3" style="display:none;">
                <input type="button" class="btn btn-default" style="width: 180px" value="search" ng-click="filterVendorCompanyProfileBtn()" />
            </div>



        </div>
        <div>

            <div class="table-responsive">

                <div>
                    <table class="table table-striped table-hover table-bordered table-condensed tblMyAccount">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>No Of Vendors</th>
                                <th>Total Amount Spent</th>

                                <th>Hours Billed</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tr>

                            <!--<td align="center" colspan="7">
                            </td>-->

                        <tr ng-repeat="item in myInitiativeList">
                            <td>{{item.initiative_title}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.noOfVendors}}</td>
                            <td>{{item.totalAmountSpent}}</td>
                            <td>{{item.totalHrs}}</td>
                            <td>{{item.status}}</td>
                            <td>
                                <a ng-click="ViewInitiativeDetail(item.Id)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View Detail</span></a>
                                <a ng-click="ViewInitiativeProjectDetail(item.Id)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View Project Detail</span></a>
                            </td>
                        </tr>
                        <tr ng-if="myInitiativeList.length == 0">
                            <td colspan="7" style="text-align-last: center">No Record Found</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div ng-if="!myInitiativeList.length == 0">
                <div class="form-group pull-left page-size form-inline">
                    <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                </div>

                <div class="pull-right">
                    <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>

                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'views/initiative/ProjectListModal.html'"></div>





