﻿

<div class="modal fade" id="vendorProjectInitiativeModal" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" ng-click="CloseModal()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">ProjectList</h4>
            </div>
            <div class="modal-body">
                <section style="padding-top:0">
                    <div id="phaseMilestoneInVendorProfile" class="row">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <thead>
                                <tr style="font:bold;background-color:#3facff">
                                    <th>Project Name</th>
                                    <th>Vendor Company Name</th>
                                    <th>Contact Person</th>
                                    <th>Hours Billed</th>
                                    <th>Amount Spent</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tr ng-if="myVendorProjectList.length ==0">
                                <td colspan="6" style="text-align-last: center">No Record Found</td>
                            </tr>

                            <tr ng-repeat-start="item in myVendorProjectList">

                                <td>{{item.projectName}}</td>
                                <td>{{item.vendorName}}</td>
                                <td>{{item.contactperson}}</td>
                                <td>{{item.hrsBilled}}</td>
                                <td>{{item.AmtSpent}}</td>
                                <td><a ng-click="RemoveVendorProject(item.Id,$index)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>Remove</span></a></td>

                            </tr>
                            <tr ng-repeat-end>
                                <td colspan="6">
                                    <!--<div class="form-group">
                                        <label for="lblphaseDescription" style="font-size: initial">Milestone Description :</label>
                                        <textarea rows="2" cols="15" name="projectDescription" readonly
                                                  placeholder="" maxlength="1000" class="form-control" ng-model="item.Description" required></textarea>
                                    </div>-->
                                </td>
                            </tr>
                        </table>

                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a ng-click="CloseModal()" style="cursor:pointer;" class="edit-btn">Back</a>
            </div>
        </div>
    </div>
</div>