﻿@import url('../../assets/css/animate.min.css');
@import url('../../assets/css/animate.delay.css');

/* Font faces */

@font-face {
    font-family: 'Segoe UI';
    src: url('../../assets/fonts/segoeui.eot');
    src: local('☺'), url('../../assets/fonts/segoeui.woff') format('woff'), url('../../assets/fonts/segoeui.ttf') format('truetype'), url('../../assets/fonts/segoeui.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('../../assets/fonts/seguisb.eot');
    src: local('☺'), url('../../assets/fonts/seguisb.woff') format('woff'), url('../../assets/fonts/seguisb.ttf') format('truetype'), url('../../assets/fonts/seguisb.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('../../assets/fonts/segoeuib.eot');
    src: local('☺'), url('../../assets/fonts/segoeuib.woff') format('woff'), url('../../assets/fonts/segoeuib.ttf') format('truetype'), url('../../assets/fonts/segoeuib.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light';
    src: url('../../assets/fonts/segoeuilght.eot');
    src: local('☺'), url('../../assets/fonts/segoeuilght.woff') format('woff'), url('../../assets/fonts/segoeuilght.ttf') format('truetype'), url('../../assets/fonts/segoeuilght.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Italicbold';
    src: url('../../assets/fonts/segoeuiz.eot');
    src: local('☺'), url('../../assets/fonts/segoeuiz.woff') format('woff'), url('../../assets/fonts/segoeuiz.ttf') format('truetype'), url('../../assets/fonts/segoeuiz.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Italic';
    src: url('../../assets/fonts/segoeuii.eot');
    src: local('☺'), url('../../assets/fonts/segoeuii.woff') format('woff'), url('../../assets/fonts/segoeuii.ttf') format('truetype'), url('../../assets/fonts/segoeuii.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Segoe UI';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

/* Added by Hardeep */

.activeUserFeedback {
    background: #E0EBF2;
}
/* Added by Hardeep */
.userfeedback-profile-pic {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

    .userfeedback-profile-pic img {
        width: 100%;
    }

/* Added by Hardeep */
.inputError {
    border-color: red !important;
}

.product-color {
    background: #3facff;
    color: #fff;
}

.top-bg {
    background: url(../../assets/img/top-bar-bg.png) repeat;
    border-bottom: 7px solid #3facff !important;
    margin: 0;
    z-index: 1;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0;
    transition: all 0.4s ease 0s;
}

.base-area {
    transition: all 0.4s ease 0s;
    height: 100%;
}

.left-bar-bg {
    position: relative;
    background: #474747;
    padding: 0;
    color: #fff;
    height: 100%;
}

.right-bar-bg {
    /*background: #e0e0e0;*/
    background: #ededed;
    height: 100%;
}

.mid-part {
    height: 100%;
}

.nav-leftbar {
    padding: 0;
}

a:hover, a:visited, a:active, a:focus {
    text-decoration: none;
    border: 0;
    outline: none;
}

.nav-leftbar a:hover .company-name, .nav-leftbar a:hover .company-name span {
    text-decoration: none !important;
}
/*.nav-leftbar a:hover .company-name{background:#e0e0e0; color:#3facff;}
.nav-leftbar a:hover .company-name span{color:#3facff;}*/
.company-name {
    background: #5e5e5e;
    color: #fff;
    font-size: 16px;
    padding: 10px 15px;
    font-family: 'Segoe UI Light';
    text-decoration: none;
}

    .company-name span {
        color: #fff;
        font-size: 16px;
    }

.profile-pic {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 10px;
}

    .profile-pic img {
        width: 100%;
    }

.user-detail {
    float: right !important;
}

    .user-detail a h4 {
        color: #3facff;
        font-size: 22px;
        font-family: 'Segoe UI Light';
        text-transform: uppercase;
    }

    .user-detail a h5 {
        color: #fff;
        font-size: 16px;
        font-family: 'Segoe UI Light';
    }

.profile-detail {
    padding: 10px;
    cursor: pointer;
    text-align: right;
}

.nav > li {
    margin-bottom: 1px;
}

    .nav > li > a {
        background: #5e5e5e;
        color: #fff;
        font-size: 14px;
    }

        .nav > li > a:hover {
            background: #3facff;
            color: #fff;
        }

        .nav > li > a.active-lft-nv {
            background: #3facff;
            color: #fff;
        }

.team-name {
    background: #5e5e5e;
    color: #fff;
    font-size: 14px;
    padding: 10px 15px;
    text-decoration: none;
}

    .team-name a {
        color: #fff;
        font-size: 14px;
    }

.select-team ul {
    overflow-y: scroll;
    padding: 0px;
    margin: 10px 0px;
    height: 140px;
}

    .select-team ul li {
        list-style-type: none;
        width: 100%;
    }

        .select-team ul li a {
            color: #fff;
            font-size: 12px;
            font-family: 'Segoe UI Light';
            padding: 5px 10px;
            margin: 0px 0px 1px;
            width: 100%;
            float: left;
        }

            .select-team ul li a:hover {
                color: #fff;
                font-size: 12px;
                font-family: 'Segoe UI Light';
                padding: 5px 10px;
                margin: 0px 0px 1px;
                width: 100%;
                float: left;
                background: #3facff;
            }

.styled-select {
    width: 90%;
    height: 30px;
    overflow: hidden;
    background: #5e5e5e;
    border: none;
    position: relative;
    margin: 10px auto;
    border-radius: 10px;
}

    .styled-select select {
        background: rgba(0, 0, 0, 0) url("../../assets/img/down_arrow.png") no-repeat scroll 86% 50%;
        width: 110%;
        font-size: 13px;
        font-family: 'Segoe UI';
        border: 0;
        height: 30px;
        cursor: pointer;
        color: #FFF;
    }

        .styled-select select option {
            background-color: #5e5e5e !important;
            padding: 4px 3px;
        }

        .styled-select select:focus option {
            background: none;
            border: none;
            padding: 4px 3px;
        }

.select-team {
    padding: 0 0 10px;
    width: 100%;
}

.icon-select {
    margin: 8px 7px 7px !important;
    cursor: pointer;
}

.member-pic {
    width: 37px;
    height: 37px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 6px;
    cursor: pointer;
    position: relative;
}

    .member-pic:hover img {
        opacity: 0.4;
    }

    .member-pic img {
        width: 100%;
    }

.project-list {
    padding: 0 0 10px;
    width: 100%;
}

    .project-list ul {
        overflow-y: auto;
        padding: 0px;
        margin: 10px 0px;
        scrollbar-face-color: #b46868;
    }

        .project-list ul li {
            list-style-type: none;
            width: 100%;
        }

            .project-list ul li a {
                color: #fff;
                font-size: 12px;
                font-family: 'Segoe UI Light';
                padding: 5px 10px;
                margin: 0px 0px 1px;
                width: 100%;
                float: left;
            }

                .project-list ul li a:hover {
                    color: #fff;
                    font-size: 12px;
                    font-family: 'Segoe UI Light';
                    padding: 5px 10px;
                    margin: 0px 0px 1px;
                    width: 100%;
                    float: left;
                    background: #3facff;
                }

                .project-list ul li a.active-pro {
                    color: #fff;
                    font-size: 12px;
                    font-family: 'Segoe UI Light';
                    padding: 5px 10px;
                    margin: 0px 0px 1px;
                    width: 100%;
                    float: left;
                    background: #3facff;
                }

    .project-list input {
        margin: 10px 10px 0;
        width: 91%;
        color: #474747;
        padding-left: 5px;
    }

.team-m-pic {
    width: 25px;
    height: 25px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 6px;
    cursor: pointer;
    position: relative;
}

    .team-m-pic:hover img {
        opacity: 0.4;
    }

    .team-m-pic img {
        width: 100%;
    }

#ex3::-webkit-scrollbar {
    width: 16px;
    background-color: #cccccc;
}

#ex3::-webkit-scrollbar-thumb {
    background-color: #B03C3F;
    border-radius: 10px;
}

    #ex3::-webkit-scrollbar-thumb:hover {
        background-color: #BF4649;
        border: 1px solid #333333;
    }

    #ex3::-webkit-scrollbar-thumb:active {
        background-color: #A6393D;
        border: 1px solid #333333;
    }

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.extra-space {
    margin: 10px 0 0;
}

.top-nav {
    color: #fff;
}

    .top-nav a {
        color: #fff;
    }

.top-link {
    margin: 13px 0px;
    text-align: right;
    font-size: 12px;
    position: relative;
    padding-right: 44px;
}

    .top-link a i {
        font-size: 22px;
    }

    .top-link span {
        background: #3facff;
        padding: 3px 9px;
        border-radius: 10px;
        position: absolute;
        margin: -5px 0 0 -5px;
    }

.vote-count {
    margin: 13px 0px;
    text-align: right;
    font-size: 12px;
    position: relative;
    padding-right: 44px;
}

    .vote-count span {
        background: #3facff;
        padding: 3px 9px;
        border-radius: 10px;
        margin: 0;
    }

.logout {
    margin: 15px 0px;
    text-align: right;
    font-size: 12px;
}

    .logout i {
        font-size: 18px;
        margin-right: 5px;
    }

.top-search input {
    width: 80% !important;
    float: right;
    border: none;
    box-shadow: none;
    border-radius: 14px;
    position: relative;
    height: 28px;
    margin: 3px 0;
}

.navbar-form {
    position: relative;
}

    .navbar-form .search-btn {
        position: absolute;
        top: 5px;
        right: 20px;
        background: none;
        border: 0;
        bottom: 4px;
    }

.heading-name {
    color: #474747;
    font-family: 'Segoe UI Light';
    font-size: 24px;
    border-bottom: 1px solid #474747;
    padding: 0 0 10px;
    margin: 15px 0 0;
}

    .heading-name span {
        color: #3facff;
    }

    .heading-name h3 {
        margin: 5px 0 0;
    }

    .heading-name a {
        padding: 3px 7px;
        background: #3facff;
        margin: 0 10px 0 0;
        border-radius: 5px;
        color: #FFF;
        font-size: 16px;
        float: left;
    }

.sorting-selection {
    background: #b1b1b1;
    width: 70%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    height: 30px;
}

.sorting-span {
    background: #5e5e5e;
    padding: 6px 9px;
    color: #fff;
    text-align: left;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 30px;
}

.sorting-selection select {
    /*Edited by Hardeep Background Color*/
    background: #B1B1B1 url("../../assets/img/down_arrow.png") no-repeat scroll 80% 50%;
    border: 0px;
    padding: 6px 0px;
    height: 30px;
    width: 114%;
    color: #FFF;
    cursor: pointer;
}


.icon_bar {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

    .icon_bar ul {
        margin: 0px;
        padding: 0px;
    }

        .icon_bar ul li {
            margin: 0px 10px 0px 0px;
            padding: 0px;
            list-style: none;
            display: inline;
            font-size: 14px;
        }

            .icon_bar ul li a {
                color: #474747;
            }

                .icon_bar ul li a:hover {
                    color: #3facff;
                }

                .icon_bar ul li a.selected {
                    color: #3facff;
                }

                    .icon_bar ul li a.selected i.selected {
                        /*Edited By Hardeep padding*/
                        padding: 6px;
                        background: #3facff;
                        margin-right: 5px;
                        border-radius: 5px;
                        color: #FFF;
                    }

                .icon_bar ul li a i.button_gray {
                    padding: 6px;
                    background: #b1b1b1;
                    margin-right: 5px;
                    border-radius: 5px;
                    color: #FFF;
                }

                .icon_bar ul li a:hover i.button_gray {
                    padding: 6px;
                    background: #3facff;
                    margin-right: 5px;
                    border-radius: 5px;
                }

.task_div {
    margin: 10px 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
}

    .task_div h1 {
        font-size: 14px;
    }

    .task_div ul {
        padding: 0px;
        margin: 0px;
    }

        .task_div ul li {
            list-style: none;
            background: #f3f3f3;
            padding: 0, 5px, 0,5px ;
            /*margin-top: 10px;*/
            border-bottom:0.5px solid #d7d7d8;
        }

            .task_div ul li:hover:not(.add-task):hover {
                list-style: none;
                /*background: #3facff;*/
                padding: 0, 5px, 0,5px ;
                /*margin-top: 10px;*/
                border-bottom:2.0px solid #d7d7d8;
                border-top:2.0px solid #d7d7d8;
            }

            .task_div ul li.li_selected {
                list-style: none;
                /*background: #3facff;*/
                /*padding: 5px;
                margin-top: 10px;*/
                padding: 0, 5px, 0,5px ;
            }

                .task_div ul li.li_selected p {
                    /*color: #FFF;*/
                }

                .task_div ul li.li_selected a {
                    /*color: #fff;*/
                }

                    .task_div ul li.li_selected a.right_arrwo_blue {
                        font-size: 20px;
                        color: #fff;
                        background: none;
                        margin-top: 0px;
                    }

                    .task_div ul li.li_selected a.right_arrwo_blue_1 {
                        font-size: 18px;
                        color: #fff;
                        background: none;
                        margin-top: 0px;
                        font-weight: normal;
                    }

.process-label {
    float: left;
    margin: 10px 0px 0px;
    padding: 4px;
    font-size: 10px;
    border-radius: 10px;
    text-align: center;
    min-width: 65px;
}

.task_div img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
}

.task_div ul li:hover p {
    /*color: #fff;*/
}

.task_div p {
    padding-top: 10px;
    padding-left: 10px;
    width: 73%;
}

.task_div textarea {
    padding-top: 10px;
    padding-left: 10px;
    width: 73%;
}

.task_div a {
    padding: 3px 8px;
    background: #f0ad4e;
    border-radius: 100px;
    color: #FFF;
    margin-top: 6px;
}

    .task_div a.green_bg {
        padding: 3px 8px;
        background: #5cb85c;
        border-radius: 100px;
        color: #FFF;
        margin-top: 6px;
    }

.task_div ul li:hover a {
    /*color: #fff;*/
}

.task_div a.right_arrwo_gary {
    font-size: 20px;
    color: #474747;
    background: none;
    margin-top: 0px;
}

.task_div a.right_arrwo_gary_1 {
    font-size: 18px;
    color: #a7a7a7;
    background: none;
    margin-top: 0px;
}

.status_div {
    margin: 10px 0px;
    font-weight: normal;
    font-size: 13px;
    color: #474747;
}

    .status_div h3 {
        font-family: "Segoe UI Light";
        font-size: 24px;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }

    .status_div label {
        width: 50%;
        font-family: "Segoe UI";
    }

    .status_div p {
        width: 50%;
        font-family: "Segoe UI Light";
    }

.follower_div {
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.attach_file_btn {
    background: #3facff;
    color: #FFF;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

    .attach_file_btn i {
        font-size: 18px;
    }

.description {
    border-bottom: 1px solid #fff;
    padding: 10px 0px;
}

    .description h1 {
        margin: 0px 0 5px;
        padding: 0px;
        font-size: 18px;
    }

        .description h1 i {
            color: #3facff;
        }

    .description textarea {
        width: 100%;
        height: 100px;
        margin-top: 10px;
    }

.tab_div {
    margin-top: 10px;
}

.panel-default > .panel-heading {
    border: 0px;
    background: #c8c8c8;
}

.panel-heading {
    border-radius: 0px;
}

.panel {
    box-shadow: none;
    border-radius: 0 !important;
}

.panel-body {
}

    .panel-body ul:not(.tag-list):not(.suggestion-list)  {
        margin: 0px;
        padding: 0px;
    }

        .panel-body ul:not(.tag-list):not(.suggestion-list) li:not(.tag-item):not(.suggestion-item) {
            margin: 0px;
            padding: 5px 0px;
            list-style: none;
            border-bottom: 1px solid #ccc;
            position: relative;
        }

            .panel-body ul:not(.tag-list):not(.suggestion-list) li:not(.tag-item):not(.suggestion-item) p {
                margin: 0 0 0 5px;
                width: 85%;
            }

            .panel-body ul:not(.tag-list):not(.suggestion-list) li:not(.tag-item):not(.suggestion-item) span {
                bottom: 0;
                color: #aaa;
                font-size: 12px;
                position: absolute;
                right: 0;
            }

.coments_add {
    padding: 0px 0px;
}

    .coments_add .input {
        padding: 8px 5px;
        border: 1px solid #ccc;
        width: 80%;
    }

.add_btn {
    background: #3facff;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 20px;
}

.search-bar {
    padding: 0px 0px;
    margin: 15px 0;
}

    .search-bar .input {
        padding: 8px 5px;
        border: 1px solid #ccc;
        width: 71%;
    }

.panel-title a {
    width: 100%;
    outline: none;
}

.li_select {
    background: #3facff;
}

.welcome-msg {
    border-radius: 15px;
    text-align: center;
    border-top: 2px solid #3facff;
    border-bottom: 2px solid #3facff;
    border-left: 2px dashed #3facff;
    border-right: 2px dashed #3facff;
    padding: 20px;
    margin: 20px;
}

    .welcome-msg p {
        color: #979797;
        font-size: 16px;
        font-family: "Segoe UI Light";
        margin: 0;
        padding: 0;
    }

    .welcome-msg h4 {
        color: #3facff;
        font-size: 24px;
        font-family: "Segoe UI Light";
        margin: 0;
        padding: 0;
    }

.activity-post-box {
    border-top: 1px solid #eee;
    margin: 10px 0 0;
    padding: 10px 0;
}

.post-heading {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #474747;
    margin: 0 0 0 10px;
}

    .post-heading a {
        font-size: 14px;
        font-family: "Segoe UI";
        color: #3facff;
    }

    .post-heading span {
        font-size: 16px;
        font-family: "Segoe UI Light";
        color: #474747;
    }

.post-detail {
    font-size: 16px;
    font-family: "Segoe UI Light";
    color: #474747;
    margin: 0 0 0 10px;
}

.action-icons a {
    color: #b1b1b1;
    font-size: 18px;
    margin: 0 5px 0 0;
}

    .action-icons a:hover {
        color: #3facff;
        font-size: 18px;
        margin: 0 5px 0 0;
    }

.tick-pro {
    margin-top: 10px;
}

.post-extra-detail {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #474747;
    margin: 5px 0 0 10px;
    border-bottom: 1px dashed #ddd;
}

    .post-extra-detail span {
        font-size: 16px;
        font-family: "Segoe UI Light";
        color: #474747;
    }

.post-full {
    width: 80%;
}

.upload-pic {
    border: 4px solid white;
    box-sizing: border-box;
    display: block;
    outline: 1px solid #ccc;
    width: 70%;
    margin: 10px 0 0;
}

    .upload-pic img {
        width: 100%;
    }

.msg-input-area {
    position: absolute;
    bottom: 10px;
}

.task-done {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #979797 !important;
    text-decoration: line-through;
}

    .task-done:hover, .task-done:visited, .task-done:active, .task-done:focus {
        text-decoration: line-through;
    }

.tasnm {
    margin-right: 5px;
    font-size: 12px;
    font-family: "Segoe UI";
    color: #979797;
}

.attach-file-list {
    margin: 15px 0 0;
    padding: 0;
}

    .attach-file-list li {
        margin: 2px 0;
        padding: 5px 7px;
        list-style: none;
        background: #ccc;
    }

        .attach-file-list li a {
            color: #474747;
            font-size: 14px;
            font-family: "Segoe UI";
            margin: 0;
        }

            .attach-file-list li a:hover span {
                color: #3facff;
                font-size: 14px;
                font-family: "Segoe UI";
                margin: 0 0 0 10px;
            }

            .attach-file-list li a i {
                color: #C00;
            }

.add-project {
    margin: 7px 0;
    padding: 0;
}

    .add-project a {
        color: #3facff;
        font-size: 16px;
    }

        .add-project a:hover {
            color: #fff;
            font-size: 16px;
        }

.link-list {
    margin: 15px 0 0;
    padding: 0;
}

    .link-list li {
        margin: 2px 0;
        padding: 3px 7px;
        list-style: none;
    }

        .link-list li a span {
            color: #474747;
            font-size: 14px;
            font-family: "Segoe UI";
            margin: 0 10px;
        }

        .link-list li a i {
            color: #3facff;
            font-size: 18px;
        }

.online-member {
    position: relative;
}

.online-dot {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #5cb85c;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
    width: 12px;
    height: 12px;
}

.offline-dot {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: #474747;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
    width: 12px;
    height: 12px;
}

fieldset {
    display: block;
    padding: 0px;
    border: 1px solid #ccc !important;
    margin: 10px auto auto !important;
}

legend {
    border: none;
    padding: 0 10px;
    margin: 0 0 2px 15px;
    width: auto;
    font-size: inherit;
    color: #979797;
    font-size: 14px;
    font-family: "Segoe UI Light";
}

/* new look checkbox */
input[type=checkbox] {
    visibility: hidden;
}

.squaredTwo {
    width: 20px;
    height: 20px;
    background: #3facff;
    position: relative;
    border-radius: 4px;
    margin-right: 5px;
    /*margin-bottom:10px;*/
    margin-top: 3px;
}

    .squaredTwo label {
        cursor: pointer;
        position: absolute;
        width: 18px;
        height: 18px;
        left: 1px;
        top: 1px;
        background: #fff;
        border-radius: 3px;
    }

        .squaredTwo label:after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: alpha(opacity=0);
            opacity: 0;
            content: '';
            position: absolute;
            width: 13px;
            height: 7px;
            background: transparent;
            top: 5px;
            left: 2px;
            border: 3px solid #3facff;
            border-top: none;
            border-right: none;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .squaredTwo label:hover::after {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            opacity: 0.3;
        }

    .squaredTwo input[type=checkbox]:checked + label:after {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
    }

/* new look checkbox css end */

.user-pic {
    width: 100%;
    margin: 0px auto 20px;
    text-align: center;
    padding: 7px;
    border: 1px solid #e0e0e0;
}

.change-btn {
    background: #3facff;
    color: #FFF;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin: 15px 0;
}

.change-pic {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.user-name {
    font-size: 24px;
    font-family: "Segoe UI Light";
    color: #474747;
    background: #e5e5e5;
    text-align: center;
    margin: 10px 0;
    padding: 8px 0;
}

.count-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #e0e0e0;
    background: #e5e5e5;
    text-align: center;
    margin: auto;
    font-family: 'Segoe UI';
    color: #474747;
    font-size: 16px;
    padding: 16px;
}

    .count-circle span {
        font-family: 'Segoe UI Bold';
        color: #3facff;
        font-size: 24px;
    }

.user-designation {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #474747;
    background: #e5e5e5;
    text-align: center;
    margin: 10px 0;
    padding: 12px 10px;
    width: 100%;
}

.edit-btn {
    background: #3facff;
    white-space: nowrap;
    color: #FFF;
    font-size: 12px;
    font-family: "Segoe UI Light";
    padding: 6px 10px;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    margin: 0 0 0 15px;
}

.info-head {
    font-size: 14px;
    font-family: "Segoe UI Semibold";
    color: #3facff;
}

.gray-box {
    background: #e5e5e5;
    padding: 10px;
    min-height: 156px;
}

.info-area {
    color: #474747;
    font-size: 14px;
    font-family: "Segoe UI Light";
    padding: 7px 0;
}

    .info-area span {
        color: #474747;
        font-size: 14px;
        font-family: "Segoe UI";
    }

.right-border {
    border-right: 10px solid #fff;
}

.user-detail-panel {
    /*border-top: 2px solid #fff;*/
    /*border-top: 2px solid #ddd;
    /*border-bottom: 1px solid #fff;*/
    /*margin:20px 0 0 0;*/
}

.info-box-space {
    margin-top: 10px;
}

.team-list-head {
    background: #e0e0e0 !important;
    color: #3facff !important;
}

.list-group-item {
    background-color: #f0f0f0 !important;
    display: block !important;
    margin: 5px !important;
    padding: 8px !important;
    position: relative !important;
    border: none !important;
    line-height: 25px;
}

    .list-group-item:hover {
        background-color: #e0e0e0 !important;
        padding: 8px 8px 8px 10px !important;
    }

.view-team-chat {
    margin: 8px 0;
    text-align: center;
}

    .view-team-chat a {
        color: #fff;
    }

        .view-team-chat a:hover {
            border-top: 1px dashed #3facff;
            border-bottom: 1px dashed #3facff;
        }

.dashboard-boxes {
    background: #f6f6f6;
    margin: 20px 0;
}

    .dashboard-boxes > .panel-heading {
        background: none;
        border-bottom: 1px solid #d4d4d4;
        font-size: 14px !important;
        font-family: 'Segoe UI' !important;
    }

.dashboard-inner-box {
    background: #f6f6f6;
    margin: 0 0 20px;
}

    .dashboard-inner-box > .panel-heading {
        background: none;
        border-bottom: 1px solid #d4d4d4;
        font-size: 14px !important;
        font-family: 'Segoe UI' !important;
    }

.nav-tabs {
    background: #efefef;
    border-bottom: none !important;
}

    .nav-tabs li {
        padding: 0 !important;
        border-bottom: none !important;
    }

        .nav-tabs li a {
            padding: 10px 20px !important;
            border: none !important;
            font-family: "Segoe UI Light" !important;
            font-size: 14px;
            color: #474747;
            border-radius: 0 !important;
            background: rgb(221,221,221); /* Old browsers */
            background: -moz-linear-gradient(top, rgba(221,221,221,1) 0%, rgba(234,234,234,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(221,221,221,1)), color-stop(100%,rgba(234,234,234,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(234,234,234,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(234,234,234,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(221,221,221,1) 0%,rgba(234,234,234,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(221,221,221,1) 0%,rgba(234,234,234,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
        }

            .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs li a:hover {
                padding: 10px 20px !important;
                border: none !important;
                font-family: "Segoe UI Light" !important;
                font-size: 14px;
                color: #3facff;
                border-radius: 0 !important;
                background: rgb(234,234,234); /* Old browsers */
                background: -moz-linear-gradient(top, rgba(234,234,234,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
                background: -webkit-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
                background: -o-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
                background: -ms-linear-gradient(top, rgba(234,234,234,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
                background: linear-gradient(to bottom, rgba(234,234,234,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
            }

.single-task-up {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #474747;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

    .single-task-up a {
        font-size: 14px;
        font-family: "Segoe UI";
        color: #3facff;
    }

    .single-task-up span {
        font-size: 16px;
        font-family: "Segoe UI Light";
        color: #474747;
    }

.tskaddernm {
    color: #bbb;
    font-family: "Segoe UI";
    font-size: 12px;
    margin-right: 5px;
}

.tab-scroll {
    overflow-y: scroll;
    height: 230px;
}

.panel-heading span.box-control a i {
    color: #999;
    font-size: 21px;
    margin: 0 0 0 10px;
}

.panel-heading span.feed-star i {
    color: #999;
    font-size: 14px;
    margin: 0 0 0 3px;
}

.client-pic {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #c9c9c9;
    margin-right: 6px;
    cursor: pointer;
    position: relative;
}

    .client-pic:hover img {
        opacity: 0.4;
    }

    .client-pic img {
        width: 100%;
    }

.feedback {
    font-size: 14px;
    font-family: "Segoe UI Light";
    color: #474747;
    background: url("../img/double-quotes.png") no-repeat top left, url("../img/double-quotes-2.png") no-repeat right bottom;
    padding: 0 35px;
    width: 89%;
}

    .feedback span {
        font-size: 14px;
        font-family: "Segoe UI";
        color: #474747;
    }

    .feedback i {
        font-size: 14px;
        color: #3facff;
    }

.single-feed {
    padding: 4px 0;
    border-bottom: 1px solid #3facff;
    margin-bottom: 10px;
}

.history-list {
    font-size: 12px;
    font-family: "Segoe UI Light";
    color: #474747;
    padding: 0 20px;
}

    .history-list li {
        padding: 20px 10px;
        border-bottom: 2px dotted #ccc;
        list-style-type: square;
    }

        .history-list li span {
            color: #3facff;
            font-weight: bold;
        }

.online-name {
    font-size: 13px;
    font-family: "Segoe UI";
    color: #3facff;
}

    .online-name span {
        font-size: 14px;
        font-family: "Segoe UI";
        color: #474747;
    }

.online-chat-dot {
    background: #5cb85c;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
    width: 12px;
    height: 12px;
}

.offline-chat-dot {
    background: #474747;
    border-radius: 50%;
    border: 2px solid white;
    margin: auto;
    width: 12px;
    height: 12px;
}

.chat-pic {
    margin: 0 10px 0 0;
}

.chat-user {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.no-border {
    border-bottom: none !important;
}

.mid-line {
    height: 7px;
    background: #e4e4e4;
    border: none;
    margin-top: -11px;
}

.upper-t-line {
    width: 100%;
}

.upper-t-line-2 {
    width: 100%;
    margin-top: -14px;
    float: left;
}

.t-line-1 {
    background: url(../img/t-line-1.png) no-repeat;
    width: 102px;
    height: 107px;
    float: left;
    margin-right: 69px;
}

.t-line-2 {
    background: url(../img/t-line-2.png) no-repeat;
    width: 102px;
    height: 107px;
    float: left;
    margin-right: 69px;
}

.t-line-3 {
    background: url(../img/t-line-3.png) no-repeat;
    width: 102px;
    height: 107px;
    float: left;
    margin-right: 69px;
}

.t-line-4 {
    background: url(../img/t-line-4.png) no-repeat;
    width: 102px;
    height: 107px;
    float: left;
    margin-right: 69px;
}

.t-line-5 {
    background: url(../img/t-line-5.png) no-repeat;
    width: 102px;
    float: left;
    margin-left: 69px;
}

.t-line-6 {
    background: url(../img/t-line-6.png) no-repeat;
    width: 102px;
    float: left;
    margin-left: 69px;
}

.t-line-7 {
    background: url(../img/t-line-7.png) no-repeat;
    width: 102px;
    float: left;
    margin-left: 69px;
}

.t-line-8 {
    background: url(../img/t-line-8.png) no-repeat;
    width: 102px;
    float: left;
    margin-left: 69px;
}

.t-span {
    text-align: center;
    width: 60px;
    float: right;
    font-size: 18px;
    padding: 74px 0px 0px;
    color: rgb(255, 255, 255);
}

.t-h6 {
    width: 100%;
    float: right;
    text-align: right;
}

.t-span-2 {
    text-align: center;
    width: 60px;
    float: right;
    font-size: 18px;
    padding: 34px 0px 0px;
    color: rgb(255, 255, 255);
}

left-bar-bg .nav > li > a:focus {
    background: #5e5e5e !important;
}

    left-bar-bg .nav > li > a:focus::before {
        background: none !important;
    }

/*-- Login page css start --*/

.login-bg {
    background: rgba(0, 0, 0, 0) url("../../assets/img/login-bg.jpg") no-repeat scroll 0 0;
    background-size: cover;
}

.login-div-box {
    background: rgba(0, 0, 0, 0) url("../../assets/img/black-mat.png") no-repeat scroll 0 0;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
}

.login-shadow {
    background: rgba(0, 0, 0, 0) url("../../assets/img/login-box-shadow.png") no-repeat scroll 0 0;
    background-size: cover;
    margin-top: 20%;
    text-align: center;
    width: 100%;
}

.login-logo img {
    /*margin: 0 auto 20px;*/
    margin: 0 -5px 20px 20px;
    width: 140px;
}

.login-box-head {
    background: #3facff;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 10px 5px;
    font-family: 'Segoe UI';
    text-align: center;
}

.login-box-main {
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    color: #fff;
    font-size: 13px;
    padding: 20px 30px;
    font-family: 'Segoe UI';
}

    .login-box-main label {
        font-size: 28px;
        color: #474747;
        padding: 0 !important;
    }

.sign-btn {
    background: #3facff;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-family: 'Segoe UI';
    float: right;
}

.forgot-link {
    /*color: #fff;*/
    font-size: 14px;
    font-family: 'Segoe UI';
    float: left;
}

/*-- Login page css end --*/



/*---- client dashboard ----*/
.selected-task {
    background: #ddd;
    width: 40%;
    height: 270px;
    overflow-y: scroll;
}

.tab-area {
    width: 60%;
}

.tab-area-main {
    padding: 0;
}

.single-task-list {
    font-size: 14px;
    font-family: "Segoe UI Light";
    color: #474747;
    padding: 10px 0;
    border-bottom: 1px solid #dddddd;
}

    .single-task-list a {
        font-size: 12px;
        font-family: "Segoe UI Light";
        color: #474747;
    }

.select-tab {
    background: #ddd;
}

    .select-tab a {
        color: #3facff;
    }


.worker-pic {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
}

    .worker-pic img {
        width: 100%;
    }

.worker-detail {
}

    .worker-detail a h4 {
        color: #3facff;
        font-size: 22px;
        font-family: 'Segoe UI Light';
        text-transform: uppercase;
    }

    .worker-detail a h5 {
        color: #474747;
        font-size: 16px;
        font-family: 'Segoe UI Light';
    }

.profile-worker {
    padding: 10px 5px;
    cursor: pointer;
    text-align: center;
}

.worker-list-col li {
    width: 18%;
    float: left;
    border: 1px solid #c3c4c4;
    position: relative;
    padding: 0 !important;
    margin: 0 10px 10px 0 !important;
    cursor: default;
    /* Removed Transition updated by Hardeep*/
}


.ch-info {
    position: absolute;
    background: rgba(63,172,255, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-backface-visibility: hidden;
}

    .ch-info h3 {
        width: 100%;
        text-align: center;
        margin: 42% auto;
    }

        .ch-info h3 a {
            color: #fff;
            color: rgba(255,255,255,0.6);
            font-size: 24px;
            margin: auto;
            text-shadow: 0 1px 2px rgba(0,0,0,0.3);
            text-align: center;
        }

            .ch-info h3 a:hover {
                color: rgba(255,255,255, 1);
            }

.ch-item:hover .ch-info {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

    .ch-item:hover .ch-info h3 {
        opacity: 1;
    }

/* registration screen css*/

.register-body {
    background: url("../../assets/img/black-mat.png") repeat fixed 0 0;
}

.register-logo {
    width: 100%;
    margin: 35px auto;
    text-align: center;
}

.page-head {
    color: #fff;
    text-align: center;
    margin: 10px 0 20px;
}

.input-group {
    margin: 20px 0;
}

.input-group-addon {
    padding: 6px 20px !important;
}

.tick-terms {
    margin: 0 0 10px !important;
}

.register-btn {
    background: #3facff;
    padding: 5px;
    color: #fff;
    font-size: 14px;
    font-family: 'Segoe UI';
    float: left;
    margin: 0 20px 0 0;
}

.form-head-title {
    background: #3facff !important;
    color: #fff !important;
}

.reg-page-bg {
    background: rgba(255, 255, 255, 0.4) none repeat scroll 0px 0px;
    border: 0px solid #fff;
}

.kanban-box {
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 20px 20px 0 0;
    float: left;
    display: inline-table;
}

    .kanban-box h4 {
        font-weight: normal;
        font-size: 18px;
        text-align: center;
        margin: 0;
        color: #474747;
        font-family: "Segoe UI Light";
    }

.task-box {
    border: 1px solid #b1b1b1;
    border-radius: 10px;
    width: 100%;
    margin: 10px 0 !important;
    position: relative;
    /*Overflow was hidden and it was wrong edited by Hardeep*/
}

    .task-box.li_selected {
        /*background: #3facff;*/
    }

        .task-box.li_selected p {
            /*color: #FFF;*/
        }

        .task-box.li_selected a {
            /*color: #fff;*/
        }


.left-col-kanbn {
    width: 65%;
}

.right-col-kanbn {
    /*Removed Backgournd edited by Hardeep*/
    border-left: 6px solid #d9534f;
    height: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    width: 35%;
}

.right-col-kanbn-2 {
    /*Removed Backgournd edited by Hardeep*/
    border-left: 6px solid #f0ad4e;
    height: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    width: 35%;
}

.right-col-kanbn-3 {
    /*Removed Backgournd edited by Hardeep*/
    border-left: 6px solid #5cb85c;
    height: 100%;
    margin: auto;
    position: absolute;
    right: 0;
    width: 35%;
}

.kanban-task-up {
    font-size: 14px;
    font-family: "Segoe UI";
    color: #474747;
    padding: 10px 7px;
    /*Border Bottom Removed*/
    /*Updated By Hardeep*/
    min-height: 55px;
}

    .kanban-task-up a {
        font-size: 12px;
        font-family: "Segoe UI";
        color: #474747;
    }

    .kanban-task-up span {
        font-size: 16px;
        font-family: "Segoe UI Light";
        color: #474747;
    }

.kanbanadd {
    color: #bbb;
    font-family: "Segoe UI";
    font-size: 12px;
    margin-right: 5px;
}

.kanbn-icons a {
    color: #9b9b9b;
    margin: 0 6px;
    font-size: 18px;
}

.add-task-btn a {
    color: #3facff;
    /* Edited By Hardeep font-size */
    font-size: 12px;
}

.create-section {
    background: #f0f0f0;
    margin: 20px 10px;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    float: left;
    display: inline-table;
}

    .create-section a {
        text-align: center;
        color: #adadad;
        font-size: 14px;
        line-height: 30px;
    }

        .create-section a i {
            text-align: center;
            color: #3facff;
            font-size: 35px;
        }

        .create-section a span {
            text-align: center;
            color: #3facff;
            font-size: 18px;
        }


.event-detail label {
    margin-bottom: 15px;
}

.smallCircle{
    width:20px;
    height:20px;
    border-radius:20px;
}
.Green{
    background-color:green;
}

.Red{
    background-color:red;
}
