﻿/*<!-@* Style for Multi Level DropDownList *@-->*/
.completedTodo {
    text-decoration: line-through;
}


.animate-enter, .animate-leave {
    transition: 500ms ease-in all;
    position: relative;
    display: block;
}

    .animate-enter.animate-enter-active, .animate-leave {
        left: 0;
    }

        .animate-leave.animate-leave-active, .animate-enter {
            left: 500px;
        }

.my-handle {
    cursor: move;
    cursor: -webkit-grabbing;
}

.completeTodoInCalendar {
    background: white;
    padding: 2px 2px;
    color: black;
    border: 1px solid silver;
    border-left: 4px solid #5CB85C;
    text-decoration: line-through !important;
}

    .completeTodoInCalendar:hover {
        background: white;
        padding: 2px 2px;
        color: black;
        border: 1px solid silver;
        border-left: 4px solid #5CB85C;
        text-decoration-line: line-through;
    }

.pendingTodoInCalendar {
    background: white;
    padding: 2px 2px;
    color: black;
    border: 1px solid silver;
    border-left: 4px solid #D9534F;
}

    .pendingTodoInCalendar:hover {
        background: white;
        padding: 2px 2px;
        color: black;
        border: 1px solid silver;
        border-left: 4px solid #D9534F;
    }

.inProgressTodoInCalendar {
    background: white;
    padding: 2px 2px;
    color: black;
    border: 1px solid silver;
    border-left: 4px solid #F0AD4E;
}

    .inProgressTodoInCalendar:hover {
        background: white;
        padding: 2px 2px;
        color: black;
        border: 1px solid silver;
        border-left: 4px solid #F0AD4E;
    }




.eventInCalendar {
    background: #5E5E5E;
    padding: 2px 2px;
    color: white;
    border: 1px solid silver;
}

    .eventInCalendar:hover {
        color: white;
        border: 1px solid grey;
    }

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

.todoComplete {
    padding-right: 5px;
    border-left: 5px solid #5CB85C;
}

.todoInProgress {
    padding-right: 5px;
    border-left: 5px solid #F0AD4E;
}

.todoPending {
    padding-right: 5px;
    border-left: 5px solid #D9534F;
}


.datePickerInCalendar {
    vertical-align: top;
    margin-top: 34px;
    width: 47% !important;
}



.activeCalendarButton {
    background: green;
}


[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text);
    color: #666666;
    font-size: 12px;
}



.KanBanColumns {
    display: inline !important;
    height: 800px;
    width: 200px !important;
    float: left;
}

.KanBanTodos {
    padding: 3px 2px;
    border: 1px solid white;
    margin: 2px 0px;
    background: #E1E1E1;
}

    .KanBanTodos:hover {
        background: #D4D0C8;
    }

.divKanban {
    background: #E1E1E1;
    border: 2px solid white;
    padding: 5px;
    display: inline;
    border-radius: 1%;
    vertical-align: top;
    margin: 5px;
    max-height: 96%;
    min-width: 237px !important;
    margin-top: 10px;
    overflow-y: auto;
    height: auto !important;
}

.taggedGifInComment {
    display: block;
}

.divComments {
    font-size: 12px;
    padding: 3px 0px 3px 3px;
    border-bottom: 1px solid silver;
}

.taggedFiles {
    font-size: 11px;
    display: inline-block;
}

.taggedFilesIcon {
    color: #9999B1;
    font-size: 11px;
    right: none;
    position: none;
}

.taggedUsers {
    font-size: 13px;
    display: inline-block;
    font-weight: bold;
}

.taggedUsersIcon {
    color: #9999B1;
    font-size: 13px;
    font-weight: bold;
}

.filteredComment {
    color: #FF7F00 !important;
    font-weight: bold !important;
}

.saveCommentButton {
    color: #00CC00;
    font-size: 18px;
    margin-top: 8px;
    vertical-align: top;
    cursor: pointer;
}

    .saveCommentButton:hover {
        color: green;
    }

.hideRightWindow {
    position: absolute;
    color: grey;
    left: 0px;
    top: 0px;
    font-size: 17px;
    cursor: pointer;
    z-index: 1000;
}

    .hideRightWindow:hover {
        color: #5E5E5E;
    }

.todos {
}

    .todos:hover {
        background: #D4D0C8;
    }



.size10 {
    font-size: 10px;
}

.size11 {
    font-size: 11px;
}

.size12 {
    font-size: 12px;
}

.selectteam {
    cursor: pointer;
}

    .selectteam:hover {
    }


.notification {
    cursor: pointer;
    color: grey;
}

    .notification:hover {
        background: #D4D0C8;
    }

.dashboard {
    cursor: pointer;
    color: black;
}

    .dashboard:hover {
        background: #D4D0C8;
    }

.activeNotification {
    background: #D4D0C8 !important;
    border: 1px inset silver;
}

.inbox {
    cursor: pointer;
    color: grey;
}

    .inbox:hover {
        background: #D4D0C8;
    }

.activeInbox {
    background: #D4D0C8 !important;
    border: 1px inset silver;
}

.unreadNotification {
    font-weight: bold;
    color: black !important;
    font-size: 12px;
}

.unreadInboxMessage {
    font-weight: bold;
    color: black !important;
    font-size: 10px;
}

.users {
    background: #C0D4EE;
    border: 1px solid grey;
    padding: 3px;
    color: #3C4E75;
    font-weight: bold;
    border-radius: 4px;
}

.usersthumb {
    background: #C0D4EE;
    padding: 18px;
    color: #3C4E75;
    font-weight: bold;
}

.NotificationON {
    border: 1px inset grey;
    background: green !important;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.NotificationOFF {
    border: 1px inset grey;
    background: red !important;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
    color: white;
}

.DefaultNotification {
    border: 1px solid silver;
    background: white;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px;
}

.btn-workplace {
    border: 1px solid silver;
    border-radius: 2px;
    color: grey;
    background-color: #CBD8E6;
    font-size: smaller !important;
}

    .btn-workplace:hover {
        border: 1px solid silver;
        border-radius: 2px;
        color: black;
        background-color: #C1D0DE;
    }


.todoOptions {
    border: 1px solid white;
    background: #E1E1E1;
    cursor: pointer;
    color: grey;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
}

    .todoOptions:hover {
        background: #D4D0C8;
    }

.selectedtodoOption {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 3px;
    padding-right: 3px;
    background: #D4D0C8;
    cursor: pointer;
    color: black !important;
}

.selectedImageTypeInComment {
    padding: 0px 10px 0px 10px;
    background: purple !important;
    cursor: pointer;
    color: white !important;
    font-weight: bold;
}

.firstImageInComment {
    background: purple !important;
    cursor: pointer;
    color: white !important;
}

.firstUserInComment {
    background: purple !important;
    cursor: pointer;
    color: white !important;
}

.ImageOptionsComment {
    background: #543059;
    cursor: pointer;
    color: silver;
    padding: 4px 10px;
    text-align: center;
    font-size: 9px;
}

    .ImageOptionsComment:hover {
        background: purple;
        color: white;
    }

.tabletr {
    border-bottom: 1px solid #D4D0C8;
}

    .tabletr:hover {
        background: #E1E1E1;
    }


.btn-attachment {
    background: white;
    border: 1px solid silver;
}

    .btn-attachment:hover {
        background: #D4D0C8;
        color: black !important;
    }

/*.html {
            background: #D4D0C8;
        }*/

.removeAssignee {
    /*position: fixed;*/
    z-index: 100;
    /*0left: 103px;*/
    color: grey; /*grey;*/
}

    .removeAssignee:hover {
        z-index: 100;
        color: black; /*grey;*/
    }

.divDescriptionHeader {
    margin-top: 0px;
}

.descriptionHeader {
    padding: 7px;
    border: 1px solid silver;
    background: white;
    color: grey !important;
    text-align: center;
    height: 30px;
}

    .descriptionHeader:hover {
        padding: 7px;
        border: 1px solid silver;
        cursor: pointer;
        color: black !important;
        background: #D4D0C8;
    }

.search-text-input {
    border-top: thin solid #e5e5e5;
    border-right: thin solid #e5e5e5;
    border-bottom: 0;
    border-left: thin solid #e5e5e5;
    box-shadow: 0px 1px 1px 1px #e5e5e5;
    float: left;
    height: 21px;
    margin: -0.2em 0 0 0;
    outline: 0;
    padding: .4em 0 .4em .6em;
    width: 213px;
    font-size: smaller !important;
    background: #E1E1E1;
}


.activeCompletedTodo {
    background-color: #D4D0C8 !important;
    border: 1px inset grey;
    color: black !important;
}


.activeButton {
    background-color: #D4D0C8 !important;
    border: 1px inset grey;
    color: black !important;
    width: 97% !important;
}

.activeKanBanTodo {
    background-color: #D4D0C8 !important;
    border: 1px inset grey;
    color: black !important;
}

.activeTodoInProgress {
    background-color: #D4D0C8 !important;
    border: 1px inset grey;
    color: black !important;
    width: 100% !important;
}

.activeButton1 {
    background-color: #D4D0C8 !important;
    color: black !important;
    width: 96% !important;
}

.activeProject {
    background-color: #E1E1E1 !important;
    border: 1px inset silver;
    color: black !important;
}

.activeNavigation {
    background-color: #E1E1E1 !important;
    color: black !important;
}

.activeNavigationLeftTd {
    background-color: grey !important;
}

.divProjects {
    border-bottom: 1px solid silver;
    cursor: pointer;
    padding: 2px;
}

    .divProjects:hover {
        border-bottom: 1px solid silver;
        background: #E1E1E1;
    }

.txtareaDescription {
    border: 1px solid white;
    width: 100%;
    height: 51px;
    color: black;
}

    .txtareaDescription:hover {
        border: 1px solid silver;
        width: 100%;
        height: 51px;
        color: black;
    }

    .txtareaDescription:disabled {
        width: 100%;
        height: 51px;
        color: black;
        background-color: white;
    }

.fileUpload {
    position: relative;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
        font-size: 10px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 100%;
        height: 100%;
    }

    .fileUpload input.uploadProfile {
        position: absolute;
        top: 0px;
        margin: 0;
        padding: 0;
        font-size: 10px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        width: 266px;
        height: 37px;
    }

.user-pic .fileUpload input.uploadProfilePic {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 22px;
    height: 22px;
}

.user-pic .fileUpload i {
    cursor: pointer;
}

.user-pic .fileUpload {
    display: none;
    cursor: pointer;
}

.user-pic:hover .fileUpload {
    display: block;
}

.fileUpload input.uploadCompanyLogo {
    position: absolute;
    top: 0px;
    margin: 0;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 266px;
    height: 37px;
}

.dvMaster {
    width: 100%;
    position: relative;
    background: #D4D0C8;
}

.divbody {
    width: 100%;
    position: relative;
}

.divMasterLoader {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    z-index: 10000;
    background: #474747;
}

.dvleft {
    width: 18%;
    background-color: #D4D0C8;
    margin-left: 4px;
}

.pushnewitem {
    -webkit-transition: 1s;
    transition: 0.5s;
}


.activeCentreDiv {
    width: 81% !important;
    margin-right: 1px;
    background-color: #E1E1E1;
    position: relative;
    margin-top: 5px;
    border: 1px solid grey;
    height: 657px;
    -webkit-transition: 1s;
    transition: 0.5s;
}

.dvcentre {
    width: 38% !important;
    margin-right: 1px;
    background-color: #E1E1E1;
    position: relative;
    margin-top: 5px;
    border: 1px solid grey;
    height: 654px;
    -webkit-transition: 1s;
    transition: 0.5s;
}

.divcenterLoader {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    z-index: 100;
    background: #D4D0C8;
    display: none;
}

.divcenterLoaderImage {
    position: fixed;
    z-index: 100;
    right: 54%;
    bottom: 82%;
}

.dvright {
    width: 42%;
    background-color: #E1E1E1;
    position: relative;
    margin-top: 5px;
    margin-right: 5px;
    height: 654px;
}

.divrightLoader {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    z-index: 100;
    background: #D4D0C8;
}

.divrightLoaderImage {
    /*top: 30%;
            left:40%;*/
    position: fixed;
    z-index: 100;
    right: 18%;
    bottom: 72%;
}

ul li {
    cursor: pointer;
    list-style: none;
}

.ml5 {
    margin-left: 5px;
}

.clear {
    clear: both;
}

.commentuser {
    color: blue;
}

.btnDoneProgress {
    background-color: #D4D0C8;
    color: black;
    border: 1px solid silver;
    padding: 2px;
    font-size: 12px;
    border-radius: 4px;
}

    .btnDoneProgress:hover {
        background-color: white;
    }

.btnInbox {
    background-color: #FF7F2A;
    color: white;
    border: 1px solid silver;
    padding: 2px 6px 2px 6px;
    font-size: 12px;
    border-radius: 4px;
}

    .btnInbox:hover {
        background-color: #FF7F2A;
        color: white;
    }

.btnKanban {
    background-color: #D4D0C8;
    color: black;
    border: 1px solid silver;
    padding: 2px 6px 2px 6px;
    font-size: 9px;
}

    .btnKanban:hover {
        background-color: grey;
        color: white;
    }

.assignee {
    margin: 1px;
    background-color: #DBEBF9;
    color: grey;
    border: 1px #3276B1 solid;
    text-decoration: none;
    font-weight: bold;
    font-size: small;
    text-align: center;
    vertical-align: middle;
}

.anchor {
    text-decoration: none !important;
    /*margin: 3px;*/
    text-align: center;
    vertical-align: middle;
    font-size: x-small !important;
    cursor: pointer !important;
}

.spanAutocomplete {
    border: 0px;
    display: block;
    background-color: #D4D0C8;
    color: black;
    cursor: pointer;
    height: 30px;
    vertical-align: central;
    font-size: 11px;
    border: 1px solid silver;
}

    .spanAutocomplete:hover {
        background-color: #E1E1E1;
        border: 1px solid grey;
        color: black;
    }

.commentFilesUsers {
    margin-bottom: 3px;
    display: block;
    background-color: white;
    color: black;
    cursor: pointer;
    height: 30px;
    vertical-align: central;
    font-size: 11px;
}

    .commentFilesUsers:hover {
        background-color: purple;
        color: white;
    }

.assignUser {
    margin: 3px;
    border: 0px;
    display: block;
    background-color: #D4D0C8;
    color: black;
    cursor: pointer;
    height: 30px;
    vertical-align: central;
    border: 1px solid silver;
}

    .assignUser:hover {
        background-color: #E1E1E1;
        color: black;
    }

.spanFollowers {
    margin: 3px;
    border: 0px;
    display: block;
    background-color: #3276B1;
    color: white;
    cursor: pointer;
    height: 30px;
    vertical-align: central;
}

    .spanFollowers:hover {
        background-color: silver;
        border: 1px solid grey;
        color: black;
    }

.loader-bg {
    position: fixed;
    left: 45%;
    top: 30%;
}

.ajaxLoader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100000;
}

.ajaxLoader-Internal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 50%;
    display: none;
    z-index: 100000;
}


/* section loader styles*/

.ajaxLoader1 {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100000;
}

.loader-bg1 {
    position: relative;
    left: 45%;
    top: 30%;
}

.subloader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.suboverlay {
 width:100%;
    /*height: 150%;*/
    margin:auto;
    left:0;
    top:0;
    bottom: 0;
    right: 0;
    position:absolute;
    background:	#DCDCDC;
    opacity:.5;
    z-index: 99;
}
.subloader.subloaders {
    position: relative;
    left: 33%;
    top: 10%;
}

/* section loader styles*/

.tabset {
    width: 100% !important;
}

.comment {
    width: 83% !important;
}

.badge-notify {
    background: red;
    position: relative;
    top: -20px;
    left: -35px;
    font-size: 12px;
}

.spanFileInComment {
    color: white;
    border: 1px dotted white;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    background: purple;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    z-index: 10000;
    line-height: 1.5 !important;
}

.spanGifFileInComment {
    color: white;
    border: 1px dotted white;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    background: purple;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    z-index: 10000;
    line-height: 1.5 !important;
}

.divUserInComment {
    color: white;
    border: 1px dotted white;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    background: purple;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    z-index: 10000;
    line-height: 1.5 !important;
}







* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

[ng-drag] {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[ng-drag] {
    /*width: 100px;
            height: 100px;*/
    background: #E1E1E1;
    color: grey;
    text-align: left;
    display: inline-block;
    cursor: move;
    width: auto;
    /*margin-left: 20px;*/
}

    [ng-drag].one {
        background: rgba(255, 0, 0, 0.5);
    }

    [ng-drag].two {
        background: rgba(0, 255, 0, 0.5);
    }

    [ng-drag].three {
        background: rgba(0, 0, 255, 0.5);
    }

    [ng-drag].drag-over {
        border: solid 1px red;
    }

    [ng-drag].dragging {
        opacity: 0.5;
    }

[ng-drop] {
    background: #E9E9E9;
    text-align: left;
    /*// display: block;
            // position: relative;
            // padding: 20px;*/
    width: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 2px white;
}

    [ng-drop].drag-enter {
        border: solid 2px #39B3D7;
    }

    [ng-drop] span.title {
        display: block;
        position: absolute;
        /*top: 50%;
                left: 50%;
                width: 200px;
                height: 20px;
                margin-left: -100px;
                margin-top: -10px;*/
    }

    [ng-drop] div {
        position: relative;
        z-index: 2;
    }

.draglist {
    display: inline;
    margin: 0 auto;
    text-align: left !important;
    background: #E1E1E1;
}



* {
    margin: 0;
    padding: 0;
}

/* Above, the asterisk selects all elements in the HTML document and rests the margin and padding. This ensures that any of the annoying "default" margin and paddings a browser might have will be reset to zero. */

#noti_Container {
    position: relative; /* This is crucial for the absolutely positioned element */
    width: 16px;
    height: 16px;
}

.noti_bubble {
    position: absolute; /* This breaks the div from the normal HTML document. */
    top: -8px;
    right: -8px;
    padding: 1px 2px 1px 2px;
    background-color: red; /* you could use a background image if you'd like as well */
    color: white;
    font-weight: bold;
    font-size: 0.55em;
    /* The following is CSS3, but isn't crucial for this technique to work. */
    /* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
    /* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
    border-radius: 30px;
    box-shadow: 1px 1px 1px gray;
    z-index: 100;
}


.repeated-item.ng-enter {
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
    max-height: 0;
    opacity: 0;
    left: -50px;
}

    .repeated-item.ng-enter.ng-enter-active {
        max-height: 90px;
        opacity: 1;
        left: 0;
    }


.centered-widget-upcoming {
    margin-top: 10%;
    font-family: "Segoe UI";
    font-size: large;
    text-align: center;
    color: darkgray;
}

.skillTags .label, .businessTags .label .roleTags .label {
    display: inline-block;
    padding: 0.3em 0.6em 0.4em;
    font-size: 14px;
    font-style: oblique;
    cursor: text;
}

.myStatistics .count-circle {
    /*padding: 20px 14px;*/
    padding:24px 5px;
    /*width: 80px;
    height: 80px;*/
     width: 90px;
    height: 90px;
}

.projectItem{
        width: 50%;
    float: left;
}

.No-Records-Found {
    min-height:50px !important;
    text-align:center !important;
    color:gray !important;
    font-style:oblique !important;
    margin-top:20px;
}