﻿@charset "UTF-8";
/*
 * jQuery File Upload Plugin CSS Example 8.8.2
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2013, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

@font-face {
    font-family: 'SegoeUI';
    src: url('../../fonts/SegoeUI.eot');
    src: url('../../fonts/SegoeUI.eot?#iefix') format('embedded-opentype'), url('../../fonts/SegoeUI.woff2') format('woff2'), url('../../fonts/SegoeUI.woff') format('woff'), url('../../fonts/SegoeUI.ttf') format('truetype'), url('../../fonts/SegoeUI.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.static-header {
    position: fixed;
    width: 100%;
    /*height: 65px;*/
    z-index: 100;
}

.static-sidemenu {
    position: fixed !important;
    margin-top: 55px !important;
    /*overflow-y: scroll;*/
    height: 100%;
    width: 17%;
    background: #464646;
}

.static-contentpage {
    /*position: absolute !important;*/
    /*margin-top: 55px;*/
    /*right: 0;*/
}

[type=file] {
width:90px !important;
}

.changecolor {
    background: #0026ff;
    color: #fff;
}