﻿



<div class="modal fade" id="modalForwardInvoice" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Forward Invoice </h4>
            </div>



            <form name="ForwardInvoiceForm" novalidate class="css-form">

                <div class="modal-body">

                    <div class="form-group">


                        <label for="txtFirstName"> Select project members to forward invoice : </label>

                        <select ng-model="ProjectMember.SelectedProjectMember" class="form-control" name="ProjectMember" ng-class="{inputError:ForwardInvoiceForm.ProjectMember.$dirty && ForwardInvoiceForm.ProjectMember.$invalid}" required>
                            <option value=""> Select Project Members </option>
                            <option ng-repeat="item in ProjectMembers" value="{{item.UserId}}">
                                {{item.NameWithEmail}}
                            </option>
                        </select>
                        
                    </div>

                    </div>

                <div class="modal-footer">

                    <a href="" ng-click="forwardInvoice(ForwardInvoiceForm,ForwardInvoiceForm.ProjectMember.$invalid, invoiceId)" class="edit-btn">Forward</a>

                    <a href="" ng-click="CloseInvoicePreview()" class="edit-btn">Close</a>

                </div>

            </form>



        </div>
    </div>
</div>



