﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .RejectbyVendor {
        background-color: red !important;
        width: 10px;
    }

    .AcceptByVendor {
        background-color: green !important;
        width: 10px;
    }

    .NotActtionbyVendor {
        background-color: grey !important;
        width: 10px;
    }

    .tblProjecttoQuote thead:first-child {
        background-color: #3facff;
    }

        .tblProjecttoQuote thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }

    .displaytablecell {
        display: table-cell;
    }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divProjecttoQuote">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invoice</span></h3>


            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <label style="cursor:pointer" title="2 Invoices Pending" class="pull-right"><span class="glyphicon glyphicon-usd"></span></label>
                <a href="#/raise/invoice/0" class="edit-btn pull-right" style="width:auto;"> Raise Invoice </a>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="row" style="margin-top: 12px">
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Company</div>
                <div class="sorting-selection">
                    <select ng-model="selectedCompany" ng-options="item.Id as item.Name for item in invoiceCompanyList" ng-change="FilterInvoiceByCompany(selectedCompany)">
                        <option value=""> Select All </option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>

                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="filterInvocieModal.fromDate" is-open="popup.opened1" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="filterInvocieModal.toDate" is-open="popup.opened2" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <input type="button" class="btn btn-default" value="search" ng-click="SearchInvoiceVendorProfile()" />
            </div>
        </div>



        <div style="margin-top:30px;">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h2>Outstanding Invoice</h2>
                    <div class="table-responsive" style="margin-top:25px;">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <thead>
                                <tr>

                                    <th> Invoice No </th>
                                    <th> Project </th>
                                    <td> Company  </td>
                                    <th> Invoice Date </th>
                                    <th> Hours </th>
                                    <th> Amount (in $) </th>
                                    <th>#</th>

                                </tr>
                            </thead>
                            <tr ng-repeat="item in invoiceListOutstanding">
                                <!--  | filter: {IsPaid: false } | filter: {IsRejected: false } -->
                                <td>{{item.InvoiceNumber}}</td>
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                                <td>{{item.TotalHours}}</td>
                                <td>{{item.TotalAmount}}</td>
                                <td><a href="" ng-click="previewInvoiceAftersend(item)" class="edit-btn displaytablecell">Preview</a></td>
                            <tr ng-if="TotalOutstandingInvoiceAmount> 0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td>{{TotalOutstandingInvoiceAmount}}</td>
                                <td></td>
                            </tr>
                            <tr ng-if="TotalOutstandingInvoiceAmount == 0">
                                <td colspan="7" style="text-align:center"> No Record Found  </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="invoiceListOutstanding.length > 0">
                        <div class="form-group pull-left page-size form-inline ">
                            <select style="width: 68px;height: 25px" ng-model="PageSizeOutstanding" ng-options="item.PageSizeOutstanding for item in pagesizeListOutstanding" ng-change="changePageSize(PageSizeOutstanding,'Outstanding')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountOutstanding" ng-change="pageChanged(pageIndexOutstanding,'Outstanding')" items-per-page="pageSizeSelectedOutstanding" direction-links="true" ng-model="pageIndexOutstanding" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>
                    <div class="table-responsive" style="margin-top:25px;">
                        <h2>Paid Invoice</h2>
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <thead>
                                <tr>

                                    <th> Invoice No </th>
                                    <th> Project </th>
                                    <td> Company  </td>
                                    <th> Invoice Date </th>
                                    <th> Hours </th>
                                    <th> Amount (in $) </th>
                                    <th>#</th>

                                </tr>
                            </thead>
                            <tr ng-repeat="item in invoiceListPaid">
                                <!-- | filter: {IsPaid: true } -->
                                <td>{{item.InvoiceNumber}}</td>
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                                <td>{{item.TotalHours}}</td>
                                <td>{{item.TotalAmount}}</td>
                                <td><a href="" ng-click="previewInvoiceAftersend(item)" class="edit-btn displaytablecell">Preview</a></td>

                            </tr>
                            <tr ng-if="TotalPaidInvoiceAmount > 0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:</td>
                                <td> {{ TotalPaidInvoiceAmount }} </td>
                                <td></td>

                            </tr>
                            <tr ng-if="TotalPaidInvoiceAmount == 0">
                                <td colspan="7" style="text-align:center"> No Record Found  </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="invoiceListPaid.length > 0">
                        <div class="form-group pull-left page-size form-inline">
                            <select style="width: 68px;height: 25px" ng-model="PageSizePaid" ng-options="item.PageSizePaid for item in pagesizeListPaid" ng-change="changePageSize(PageSizePaid,'Paid')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountPaid" ng-change="pageChanged(pageIndexPaid,'Paid')" items-per-page="pageSizeSelectedPaid" direction-links="true" ng-model="pageIndexPaid" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>
                    <div class="table-responsive" style="margin-top:25px;">
                        <h2>Rejected Invoice</h2>
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <thead>
                                <tr>

                                    <th> Invoice No </th>
                                    <th> Project </th>
                                    <td> Company  </td>
                                    <th> Invoice Date </th>
                                    <th> Hours </th>
                                    <th> Amount (in $) </th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in invoiceListRejected">
                                <!--  | filter: {IsRejected : true}  -->
                                <td>{{item.InvoiceNumber}}</td>
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.CompanyName}}</td>
                                <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                                <td>{{item.TotalHours}}</td>
                                <td>{{item.TotalAmount}}</td>
                                <td><a href="" ng-click="previewInvoiceAftersend(item)" class="edit-btn displaytablecell">Preview</a></td>

                            </tr>
                            <tr ng-if="TotalRejectedInvoiceAmount > 0">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total:  </td>
                                <td>{{ TotalRejectedInvoiceAmount }}</td>
                                <td></td>
                            </tr>
                            <tr ng-if="TotalRejectedInvoiceAmount == 0">
                                <td colspan="7" style="text-align:center"> No Record Found  </td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="invoiceListRejected.length > 0">
                        <div class="form-group pull-left page-size form-inline">
                            <select style="width: 68px;height: 25px" ng-model="PageSizeRejected" ng-options="item.PageSizeRejected for item in pagesizeListRejected" ng-change="changePageSize(PageSizeRejected,'Rejected')"></select>
                        </div>
                        <div class="pull-right">
                            <pagination total-items="totalCountRejected" ng-change="pageChanged(pageIndexRejected,'Rejected')" items-per-page="pageSizeSelectedRejected" direction-links="true" ng-model="pageIndexRejected" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<div ng-include="'Views/invoice/InvoicePreviewForVendorModal.html'"></div>
<div ng-include="'Views/modal/StripePaymenVendorModal.html'"></div>


