﻿<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divUserInvoiceManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invoice </span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="sorting-span pull-left"> Invoice Type</div>
                <div class="sorting-selection">
                    <select ng-model="selectedType" ng-options="item.id as item.Type for item in InvoiceType.allType" ng-change="FilterInvoiceByType(selectedType)">
                        <!--<option ng-repeat="item in InvoiceType.allType" value="{{item.id}}">{{item.Type}}</option>-->
                        <option value="">All</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>
                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="fromDate" is-open="popup1.opened" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="toDate" is-open="popup2.opened" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-2">
                <input type="button" class="btn btn-default" value="search" ng-click="searchResult()" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4" ng-if="isFreelancer">
                <div class="sorting-span pull-left">Company</div>
                <div class="sorting-selection">
                    <select ng-model="selectedCompany" ng-change="selectedCompanyChanged(selectedCompany)">
                        <option value="0"> --Select All-- </option>
                        <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompany == item.CompanyId " value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-8">
                <input type="button" class="btn btn-default" value="Raise Invoice" ng-click="ShowSendReportsModal()" />
            </div>

            <!--<div class="col-lg-3">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="selectedStatus" ng-change="FilterInvoiceByStatus(selectedStatus)">
                        <option ng-repeat="item in TaskStatus.alltask" value="{{item.id}}">{{item.task}}</option>
                    </select>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Outstanding Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th> Status </th>-->
                                <th> Invoice Id </th>
                                <!--<th> Sent/Received </th>-->
                                <th> From </th>
                                <th> Invoice Date </th>
                                <td> Message </td>
                                <th> Rate (in $) </th>
                                <th> Hours </th>
                                <th> Amount (in $)</th>
                                <th> Detail </th>
                                <th ng-if="!role"> Forward </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_NotPaid">
                            <!--<td><p class="label label-danger process-label" style="margin-right:10px;">  Not Paid </p></td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true"> Sent </p>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false"> Received </p>
                                <br />
                                <p class="label label-primary process-label" ng-if="item.IsActiveInvoiceForward==true && item.IsInvoiceForward==false"> Active </p>
                            </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <td><a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.CompanyId,item.Id,item.IsInvoiceForwardForDetails)">View Details</a>  </td>
                            <td ng-if="!role">   <a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="showforwardInvoice(item.Id,item.CompanyId)">Forward Invoice</a>    </td>
                        </tr>
                        <tr ng-if="Invoice.list_NotPaid.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: {{ getTotalAmountForNotPaidInvoice() }} </td>
                            <td></td>
                            <td ng-if="!role"></td>
                        </tr>
                        <tr ng-if="Invoice.list_NotPaid.length == 0">
                            <td colspan="10"> No Record Found  </td>
                        </tr>
                    </table>
                </div>
                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Paid Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th> Status </th>-->
                                <th> Invoice Id </th>
                                <!--<th> Sent/Received </th>-->
                                <th> From </th>
                                <th> Invoice Date </th>
                                <td> Message </td>
                                <th> Rate (in $) </th>
                                <th> Hours </th>
                                <th> Amount (in $)</th>
                                <th> Detail </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_Paid">
                            <!--<td><p class="btn btn-sm btn-success" style="margin-right:10px;">  Paid </p></td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true"> Sent </p>
                                <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false"> Received </p>
                            </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <td><a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.CompanyId,item.Id)">View Details</a></td>
                        </tr>
                        <tr ng-if="Invoice.list_Paid.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: {{ getTotalAmountForPaidInvoice() }} </td>
                            <td></td>
                        </tr>
                        <tr ng-if="Invoice.list_Paid.length == 0">
                            <td colspan="9">  No Record Found  </td>
                        </tr>
                    </table>
                </div>

                <div class="table-responsive" style="margin-top:50px;">
                    <h2>Rejected Invoice</h2>
                    <table class="table table-striped table-hover table-bordered table-condensed">
                        <thead>
                            <tr>
                                <!--<th> Status </th>-->
                                <th> Invoice Id </th>
                                <!--<th> Sent/Received </th>-->
                                <th> From </th>
                                <th> Invoice Date </th>
                                <td> Message </td>
                                <th> Rate (in $) </th>
                                <th> Hours </th>
                                <th> Amount (in $)</th>
                                <th> Detail </th>
                            </tr>
                        </thead>
                        <tr ng-repeat="item in Invoice.list_Rejected">
                            <!--<td><p class="btn btn-sm btn-success" style="margin-right:10px;">  Paid </p></td>-->
                            <td>{{item.InvoiceNumber}}</td>
                            <!--<td>
                    <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==true"> Sent </p>
                    <p class="label label-primary process-label" ng-if="item.IsInvoiceForward==false"> Received </p>
                </td>-->
                            <td>
                                <div ng-click="showOtherUserProfile(item.UserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img ng-src="{{imgURL}}{{item.ProfilePic}}" alt='ng-bind="item.UserName"'>
                                </div>
                                {{item.UserName}}
                            </td>
                            <td>{{item.InvoiceDate |  date : 'longDate'}}</td>
                            <td>{{item.Message}}</td>
                            <td>{{item.Rate}}</td>
                            <td>{{item.TotalHours}}</td>
                            <td>{{item.TotalAmount}}</td>
                            <td><a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="showInvoiceDetail(item.CompanyId,item.Id)">View Details</a></td>
                        </tr>
                        <tr ng-if="Invoice.list_Rejected.length > 0">
                            <!--<td></td>-->
                            <td></td>
                            <!--<td></td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Total: {{ getTotalAmountForPaidInvoice() }} </td>
                            <td></td>
                        </tr>
                        <tr ng-if="Invoice.list_Rejected.length == 0">
                            <td colspan="9">  No Record Found  </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

<div ng-include="'views/todo/ShowInvoicePreview.html'"></div>
<div ng-include="'views/Invoice/ForwardInvoice.html'"></div>

<div ng-include="'views/todo/SendReportsModal.html'"></div>
