﻿
<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }

    .grayBack {
        background-color: #f9f9f9 !important;
    }

    .fontingrind {
        font-weight: bold !important;
        margin-right: 10px !important;
        font-size: inherit !important;
    }

    .tdwidth {
        width: 25px !important;
    }
</style>

<!--THIS STYLE IS FOR tAGS    -->
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>


<!--popup-->
<style>
        #milestoneProjectAwardedForCompanyProfileModal .modal-dialog {
        width: 60% !important;
    }

    #VendorInvoicePreviewForCompanyProfileModal .modal-dialog {
        width: 60% !important;
    }

    .tableheadfont{
        font-size: 14px!important
    }
</style>



<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">


    <div class="heading-name">
        <h3 class="pull-left"><span> <i class="fa fa-cog"></i>Invoice</span></h3>
        <div class="clearfix"></div>
    </div>

    <section>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                    <form name="invoiceRaiseForm" novalidate class="css-form">
                        <div class="form-group">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="txtProject">Invoice Number</label>
                                    <input type="text" ng-model="invoiceSendModal.invoiceNumber" ng-disabled="true" style="width: 99%;height: 30px" tabindex="1" />
                                </div>


                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Select Company</label>
                                    <select name="SelectCompanyName" id="selectProjectCompanyVendor" class="dropdown100" ng-disabled="disbleDropDown"
                                            ng-options="option.Name for option in getProjectInvoiceList.InvoiceRaiseToCompanyList track by option.Id"
                                            ng-model="selectedCompany" ng-change="ChangeCompany(selectedCompany)" tabindex="3" required
                                            ng-class="{inputError:invoiceRaiseForm.SelectCompanyName.$dirty && invoiceRaiseForm.SelectCompanyName.$invalid}">
                                        <option value="">----Please select--</option>
                                    </select>
                                </div>


                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label>Select Project</label>
                                    <select name="SelectProjectName" id="selectVendorRaiseInvoice" class="dropdown100"
                                            ng-options="option.Name for option in getProjectInvoiceList.InvoiceRaiseToProjectList track by option.Id"
                                            ng-model="SelectProject" ng-change="ChangeProjectDrop(SelectProject)" tabindex="2"
                                            ng-class="{inputError:invoiceRaiseForm.SelectProjectName.$dirty && invoiceRaiseForm.SelectProjectName.$invalid}" required>
                                        <option value="">----Please select--</option>

                                    </select>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                        <label>Contact Person :</label>
                                        <label>{{selectedCompany.CompanyUserName}}</label>
                                    </div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">

                                        <label>From Date</label>
                                        <p class="input-group">
                                            <input id="from" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                                   ng-model="invoiceSendModal.fromDate" tabindex="2" is-open="popup.opened1" datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   name="fromdateName"
                                                   placeholder="From" ng-class="{inputError:invoiceRaiseForm.fromdateName.$dirty && invoiceRaiseForm.fromdateName.$invalid}" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>


                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <label for="txtstartdate">To Date</label>
                                        <p class="input-group">
                                            <input id="To" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                                   ng-model="invoiceSendModal.toDate" tabindex="3" is-open="popup.opened2" min-date="mindate" max-date="today" datepicker-options="dateOptions"
                                                   ng-required="true"
                                                   close-text="Close"
                                                   alt-input-formats="altInputFormats"
                                                   name="todateName"
                                                   placeholder="To" ng-class="{inputError:invoiceRaiseForm.todateName.$dirty && invoiceRaiseForm.todateName.$invalid}" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                            </span>
                                        </p>

                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <input type="button" class="btn btn-default" value="search" ng-click="SearchInvoiceVendorProfile()" style="margin-top:45px;"/>
                                    </div>
                                   
                                    </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <table class="table table-striped table-hover table-bordered table-condensed">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Project Name</th>
                                                <th>Worklog Title</th>
                                                <th>Total Hrs</th>
                                                <th></th>
                                            </tr>
                                        </thead>

                                        <tr ng-repeat="item in worklogList">

                                            <td>{{$index+1}}</td>
                                            <td>{{item.ProjectName}}</td>
                                            <td>{{item.WorkLogTitle}}</td>
                                            <td>{{item.TotalHrs}}</td>
                                            <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" href="#/Worklogentries/{{item.Id}}">View Detail</a></td>
                                        </tr>
                                        <tr ng-if="worklogList.length == 0">
                                            <td colspan="12" style="text-align: center;">No Record Found</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!--<div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">

                                    <label for="txtstartdate">Hours </label>
                                    <input name="invoiceHourName" class="form-control" readonly
                                           ng-keypress="isNumber($event)" placeholder="Enter invoice hour" ng-model="invoiceSendModal.totalHours" maxlength="12"
                                           tabindex="4" required ng-class="{inputError:invoiceRaiseForm.invoiceHourName.$dirty && invoiceRaiseForm.invoiceHourName.$invalid}">


                                </div>
                             <div ng-if="getProjectInvoiceList.InvoiceForResourceList.length > 0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">
                                        <label style="color:red;">Sum of hours spent by resources should be exactly equal to the total invoice Hours</label>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">
                                        <table class="table table table-striped table-hover table-bordered table-condensed">
                                            <tr class="tableheadfont">
                                                <td>#</td>
                                                <td>Resource</td>
                                                <td>Hours spend</td>
                                                <td>Rate (in $)</td>
                                                <td>Total (in $) </td>


                                            </tr>

                                            <tr ng-repeat="item in getProjectInvoiceList.InvoiceForResourceList">
                                                <td>{{$index+1}}</td>
                                                <td style="width:40%">{{item.Name}}</td>
                                                <td><input type="text" ng-model="item.Hours" ng-blur="hourSpentOnSourceByVendor()" ng-keypress="isNumber($event)" /></td>
                                                <td><label>{{item.Rate}}</label></td>
                                                <td><label>{{item.Amount}}</label></td>

                                            </tr>

                                        </table>
                                    </div>
                                </div>
                                <div ng-if="getProjectInvoiceList.InvoiceForResourceList.length > 0">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px" ng-if="getProjectInvoiceList.InvoiceForResourceList.length > 0">
                                        <label style="color:red;">Extra Resour : </label>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">
                                        <table class="table table table-striped table-hover table-bordered table-condensed">
                                            <tr class="tableheadfont">
                                                <td>#</td>
                                                <td colspan="5">Resource/Expense</td>
                                                <td>Amount (in $)</td>
                                                <td></td>

                                            </tr>

                                            <tr ng-repeat="item in InvoiceToExtraResourceList">
                                                <td>{{$index+1}}</td>


                                                <td colspan="5" style="width:80%">
                                                    <textarea rows="3" cols="5" placeholder="Enter extra resource"
                                                              maxlength="500" class="form-control" ng-model="item.Description" required></textarea>
                                                </td>
                                                <td style="width:10%">
                                                    <input type="text" ng-model="item.Amount" ng-blur="hourSpentOnSourceByVendor()" ng-keypress="isNumber($event)" style="margin-top:10px" />
                                                </td>
                                                <td style="width:10%">
                                                    <label ng-click="removeExtraResourceInVendor($index)" class="glyphicon glyphicon-trash"
                                                           style="cursor:pointer;color:red;margin-top:10px;margin-left: 34px"></label>
                                                </td>

                                            </tr>

                                        </table>
                                        <a style="cursor:pointer;width: 115px;float: right;" ng-click="AddExtraResourceInVendor(AddNewProjectModel,1)" class="edit-btn" tabindex="4">Add more resource </a>

                                    </div>

                                </div>
                            </div>-->

                            <!--<div class="form-group">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label>Select Project Phase</label>
                                        <select name="mySelect" id="selectVendor" class="dropdown100"
                                                ng-options="option.Name for option in getProjectInvoiceList.InvoiceToPhaseList track by option.Id"
                                                ng-model="selectedPhase" ng-change="changeInvoicePhase(selectedPhase)" tabindex="21" style="height: 38px">
                                            <option value="">----Please select--</option>
                                        </select>
                                    </div>



                                    <div class="form-group">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <label>Select Milestone</label>
                                            <select name="mySelect" id="selectVendor" class="dropdown100"
                                                    ng-options="option.Name for option in MilestoneList track by option.Id"
                                                    ng-model="selectedMilestone" ng-change="changeMilestone(selectedMilestone)" tabindex="21" style="height: 38px">
                                                <option ng-option value="">----Please select--</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">
                                <label style="color:red;">Sum of Hours spent on milstones should be exactly equal to the total invoice Hours</label>
                            </div>-->

                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 20px;" ng-if="milestoneDetailList.length > 0">
                                <table class="table table table-striped table-hover table-bordered table-condensed">
                                    <tr class="tableheadfont">
                                        <th>#</th>
                                        <th>Milestone</th>
                                        <th>Hours spend</th>
                                        <th></th>
                                    </tr>

                                    <tr ng-repeat="item in milestoneDetailList">
                                        <td>{{$index+1}}</td>
                                        <td>{{item.Name}}</td>
                                        <td><input type="text" ng-model="item.Hours" ng-blur="hourSpentOnMilestoneByVendor()" ng-keypress="isNumber($event)" /></td>
                                        <td><label ng-click="removeMilestonefromInvoice($index)" class="glyphicon glyphicon-trash" style="cursor:pointer;color:red"></label></td>

                                    </tr>

                                </table>
                            </div>-->
                            <div class="form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <label for="txtstartdate">Amount (In USD)</label>
                                    <input name="invoiceAmountName" class="form-control" ng-change="ChangeTotalAmount(invoiceSendModal.totalAmount)"
                                           ng-keypress="isNumber($event)" placeholder="Enter invoice amount" ng-model="invoiceSendModal.totalAmount" maxlength="12"
                                           tabindex="4" required ng-class="{inputError:invoiceRaiseForm.invoiceAmountName.$dirty && invoiceRaiseForm.invoiceAmountName.$invalid}">

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <label for="txtstartdate">Total Amount (In USD)</label>
                                        <input name="FinalTotalAmount" class="form-control" readonly
                                               ng-keypress="isNumber($event)" placeholder="Enter invoice amount" ng-model="finalTotalAmount" maxlength="12"
                                               tabindex="4" required ng-class="{inputError:invoiceRaiseForm.FinalTotalAmount.$dirty && invoiceRaiseForm.FinalTotalAmount.$invalid}">

                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                        <label style="margin-left:5px" for="BillDescriptionName">Remarks</label>
                                        <textarea rows="3" cols="20" name="BillDescriptionName"
                                                  placeholder="Enter message...  " maxlength="1000" class="form-control" ng-model="invoiceSendModal.message" tabindex="5" required></textarea>
                                    </div>

                                    <div style="margin-top: 16px;display: inline-flex;float: right;">
                                        <a style="cursor:pointer;width: 180px;" ng-click="previewVendorRaiseInvoice(invoiceSendModal,invoiceRaiseForm.SelectProjectName.$invalid,invoiceRaiseForm.SelectCompanyName.$invalid,invoiceRaiseForm.todateName.$invalid,invoiceRaiseForm.fromdateName.$invalid,invoiceRaiseForm.invoiceAmountName.$invalid,invoiceRaiseForm)" class="edit-btn" tabindex="4">Preview & Send Invoice</a>  
                                        <a style="cursor:pointer;width: 180px;" ng-click="saveVendorInvoice(invoiceSendModal,invoiceRaiseForm.SelectProjectName.$invalid,invoiceRaiseForm.SelectCompanyName.$invalid,invoiceRaiseForm.todateName.$invalid,invoiceRaiseForm.fromdateName.$invalid,invoiceRaiseForm.invoiceAmountName.$invalid,invoiceRaiseForm)"
                                           class="edit-btn" tabindex="4">Send Invoice</a>
                                        <a style="cursor:pointer;width: 180px;" ng-click="z(AddNewProjectModel,1)" class="edit-btn" tabindex="4">Cancel </a>
                                    </div>

                                </div>


                            </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

</div>

<div ng-include="'views/vendor/ConfirmInvitationReject.html'"></div>
<div ng-include="'views/invoice/InvoicePreviewForVendorModal.html'"></div>