﻿<style>
    .divMessages {
        background-color: #fff;
        height: 400px;
        width: 100%;
        border: 1px solid #ccc;
        margin: 0 0 10px 0;
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

        .divMessages .divReciever {
            width: 100%;
            background-color: #fff;
            border-bottom: 1px solid #ccc;
            padding: 0 10px;
        }

        .divMessages .divSender {
            width: 100%;
            background-color: #eaeaea;
            border-bottom: 1px solid #ccc;
            padding: 0 10px;
        }

    .lfloat {
        float: left;
    }

    .rfloat {
        float: right;
    }

    .padding0 {
        padding: 0 !important;
    }

    .badge {
        background-color: #3facff !important;
    }

    .chat-users {
        padding: 3px 0px !important;
        border: 1px solid lightgray !important;
        border-radius: 4px;
    }
    .no-message{
        text-align: center !important;
        vertical-align: middle !important;
        font-size: x-large;
        margin-top: 100px;
    }
    .h2 {
    text-align: left;
    margin: 0;}
    .selected-user {
        border-color:#3facff !important;
        background-color : #d5edff !important;
    }
</style>
<div id="divInboxManagementSection" style="margin-top:55px;position:relative;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div class="heading-name">
        <h3 class="pull-left"><span> <i class="fa fa-inbox"></i> Messages</span></h3>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


            <div class="info-box-space">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box" style="">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 padding0">
                        <div class="user-designation padding0">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padding0">
                                <input placeholder="Search User" ng-model="inputSearchInbox" class="project-search form-control" />
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 padding0">
                                <!--<a href="" class="pull-right" style="font-size:17px;"><i class="fa fa-cog"></i></a>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="padding0" style="border:1px solid #ccc;height: 460px;overflow: auto;">
                            <div ng-click="sendUserMessage(item.SenderId)" ng-repeat="item in SendersModel =(SenderModel | filter:inputSearchInbox)">
                                <div style="border-bottom:1px solid #ccc;cursor:pointer; margin:4px 3px;height:70px;" class="chat-user chat-users" ng-class="(uid == item.SenderId ? 'selected-user' : '')">
                                   
                                    <div class="pull-left chat-pic" style="border-radius:4px; margin-top:8px; text-align:center;">
                                        <div class="member-pic">
                                            <img ng-src="{{apiURL}}{{item.SenderProfileImage}}">
                                        </div>
                                    </div>

                                    <div class="online-name" style="position:relative;">
                                        <span style="font-weight:bold;" title="{{item.SenderName}}" ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInbox"></span>
                                        <br><span style="color:rgb(46,138,201);font-style:italic;" title="{{item.CompanyName}}" ng-bind-html="item.CompanyName |searchfilter:inputSearchInbox"></span>
                                        <br><span style="font-size:smaller;">{{item.CreatedDateTime | date:'MM/yyyy HH:mm a'}}</span>

                                        <span style="padding-right:8px;padding-bottom:6px; top: 13px;right: 10px;position:absolute" ng-class="(item.UnreadCount > 0 ? 'badge' : '' )">{{item.UnreadCount!=0?item.UnreadCount:''}} </span>
                                        <!--<div class="online-chat-dot pull-right"></div>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                        <div class="user-designation padding0">
                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 padding0">
                                <h2 class="h2">Message List: <font style="color:rgb(46,138,201)">{{CurrentChatUser}}</font></h2>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 padding0">
                                <!--<a href="" class="pull-right" style="font-size:17px;"><i class="fa fa-cog"></i></a>-->
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="divMessages" class="divMessages" style="overflow: auto;">

                            <div>
                                <div class="clearfix "></div>
                            </div>

                            <div ng-repeat="(key,value) in displayMessageModelList" style="margin-bottom:20px; ">
                                <div style="font-size:16px;color:gray;">{{ key }}</div>
                                <hr style="border:1px solid #3facff;  margin-top:-1px;" />

                                <div ng-class="IscurrentUser(item.SenderId) ? 'divReciever': 'divSender'" ng-repeat="item in value">
                                     <div class="clearfix ">
                                        <div class="lfloat chat-user" style="border: 0;padding-top: 5px;padding-bottom: 5px;">
                                            <div class="pull-left chat-pic">
                                                <div class="member-pic" ng-click="showOtherUserProfile(item.SenderId)">
                                                    <img title="{{item.SenderName}}" ng-src="{{apiURL}}{{item.SenderProfileImage}}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix">
                                            <div class="rfloat" style="padding: 5px;width: 15%;">
                                                <span title="{{item.CreatedDateTime | date:'MMMM  dd, yyyy'}}" class="timestamp">
                                                    <!--12/15, 12:09pm-->
                                                    {{item.CreatedDateTime | date:'MM/yyyy HH:mm a'}}
                                                </span>
                                            </div>
                                            <div class="lfloat" style="padding: 5px; width: 75%;">
                                                <strong>
                                                    <a style="color:#3facff;cursor:pointer">
                                                        {{item.SenderName}}
                                                    </a>
                                                </strong>
                                                <div class="clearfix">
                                                    <div class="direction_ltr">
                                                        <span class="null">
                                                            <p ng-bind-html="item.Message">{{item.Message}}</p>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div ng-if="value.length==0" class="no-message">
                                    No Conversation Yet.
                                </div>

                            </div>


                            <!--<div class="divSender">
                                <div class="clearfix ">
                                    <div class="lfloat chat-user" style="border: 0;padding-top: 5px;padding-bottom: 5px;">
                                        <div class="pull-left chat-pic">
                                            <div class="member-pic">
                                                <img src="http://localhost:55580/Uploads/Profile/Icon/00e3834c.jpg">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="rfloat" style="padding: 5px;">
                                            <abbr title="December 15, 2015" data-utime="1450161577.585" class="timestamp">
                                                12/15, 12:10pm
                                            </abbr>
                                        </div>
                                        <div class="lfloat" style="padding: 5px;">
                                            <strong>
                                                <a style="color:#3facff" href="#">
                                                    Rohit
                                                </a>
                                            </strong>
                                            <div class="clearfix">
                                                <div class="direction_ltr">
                                                    <p>I am fine and you?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                        <!--<div style="display: flex;">
                            <textarea type="text" ng-bind-html="Message" ng-keypress="SendMessageOnEnter($event)" maxlength="1500" placeholder="Type your message here and press enter to send" multiple="multiple" id="txtMessage" style="width: 90%;height: 50px;margin-right: 10px;" />
                            <input type="button" ng-click="SendMessage()" value="Send" style="padding: 10px;width: 10%;top: 0px;" />
                        </div>-->

                        <!--ng-model="txtMessage22"-->


                        <div style="display: flex;">
                            <span class="input pull-left" data-text="Type your message here and press enter to send" tabindex="-1" id="txtMessage2"
                                  ondrop="return false;" style="background:white; display: inline-block;
                                    height: 51px; width: 100%; border: 1px solid grey; overflow-x: hidden; overflow-y: auto;font-size:12px;"
                                  ng-keyup="ShowUsersForTagging($event)" ng-keydown="TabKeyPressEvent($event)" ng-bind-html="txtMessage2"
                                   contenteditable="true">
                            </span>

                            <input type="button" class="pull-right" ng-click="SendMessage()" value="Send" style="padding: 10px;width: 10%;top: 0px;" />
                            <!--<a class="add_btn pull-left" ng-click="SendMessage()" style="cursor:pointer;margin-top:10px;">Send</a>-->
                        </div>



                        <div ng-show="showassigneesearch" style="position: absolute; height: 250px; overflow-y: auto; z-index: 1000; width: 100%; bottom:0px;
                                     border: 8px solid #D4D0C8;border-radius:2px; background: white;margin-bottom:55px;">
                            <div> Members </div>
                            <div style="position:relative;margin-top:10px;margin-bottom:20%;">
                                <span class="commentFilesUsers" ng-class="{firstUserInComment: $first}"
                                      ng-repeat="item in filteredUsers= (SenderModel| filter:searchassigneefortagging)"
                                      ng-click="AddUserInMessage(item.SenderId,item.SenderName,item.lastName,item.SenderEmail)">
                                    <!--ng-click="AddUserInComment(item.userId,item.firstName,item.lastName,item.email)">-->
                                    <img title="{{(item.SenderName)}}" style="border-radius:50%;margin-left:6px;" height="25" ng-src="{{imgURL}}{{item.SenderProfileImage}}">
                                    <span style="margin: 20px 0px 20px 20px; vertical-align: central;"
                                          ng-bind-html="item.SenderName | searchfilter:searchassigneefortagging"></span>
                                    <span style="margin-right:3px;">(</span>
                                    <span style="margin:20px 0px 20px 0px;vertical-align:central;"
                                          ng-bind-html="item.CompanyName | searchfilter:searchassigneefortagging"></span>
                                    <span style="margin-left:3px;">)</span>
                                </span>
                            </div>
                            <span style="position:absolute;top:37%;left:39%;" ng-show="!filteredUsers.length">No Members Found</span>
                        </div>








                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
