﻿
<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }

    .grayBack {
        background-color: #f9f9f9 !important;
    }

    .fontingrind {
        font-weight: bold !important;
        margin-right: 10px !important;
        font-size: inherit !important;
    }

    .tdwidth {
        width: 25px !important;
    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>
<!--wizard CSS-->
<style>
    ul#wizardStatus {
        list-style: none;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

        ul#wizardStatus li {
            background-color: #d9d9ce;
            color: #3d4c4f;
            display: inline-block;
            margin: 0;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 100px 0px 50px;
            position: relative;
            width: 33%;
            font-size: large;
        }

            ul#wizardStatus li:first-child {
                padding-left: 40px;
                -webkit-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            ul#wizardStatus li:last-child {
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            ul#wizardStatus li:after,
            ul#wizardStatus li:before {
                background-color: #d9d9ce;
                content: "";
                display: block;
                position: absolute;
            }

            ul#wizardStatus li:after {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border-right: 3px solid white;
                border-top: 3px solid white;
                height: 33px;
                right: -16px;
                top: 4px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(44deg);
                width: 35px;
                z-index: 5;
            }

            ul#wizardStatus li:before {
                height: 40px;
                right: 3px;
                width: 20px;
                z-index: 6;
            }

            ul#wizardStatus li:last-child:after,
            ul#wizardStatus li:last-child:before {
                display: none;
            }

            ul#wizardStatus li.current {
                background-color: #0597c5;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }

                ul#wizardStatus li.current:after,
                ul#wizardStatus li.current:before {
                    background-color: #0597c5;
                }

            ul#wizardStatus li.completed {
                background-color: #ccc;
                color: #fff;
            }

                ul#wizardStatus li.completed:after,
                ul#wizardStatus li.completed:before {
                    background-color: #ccc;
                }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="createNewProject">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Add New Worklog Entry</span></h3>



            <div class="clearfix"></div>
        </div>
        <section>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <form name="NewWorkLogForm" class="margin-top-10px">
                           

                            <div class="form-group">
                                <label for="txtWorklogDesc">Worklog Entry Description</label>
                                <textarea rows="5" cols="20" name="description"
                                          placeholder="Enter worklog entry description" maxlength="500" class="form-control" ng-model="AddNewWorkLogModel.Description" tabindex="1"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="txtWorkLog">Time Spent</label>
                                <input type="number" name="timeSpent" class="form-control" ng-class="{inputError:NewWorkLogForm.timeSpent.$dirty && NewWorkLogForm.timeSpent.$invalid}"
                                       placeholder="Enter time spent" maxlength="50" required ng-model="AddNewWorkLogModel.TimeSpent" tabindex="2">
                            </div>

                            <div class="form-group">
                                <label for="txtstartdate">Created On</label>
                                <p class="input-group" style="margin:0px">
                                    <input id="from" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                           ng-model="AddNewWorkLogModel.CreatedDate" tabindex="3" is-open="popup.opened1" min-date="mindate" datepicker-options="dateOptions"
                                           ng-required="true"
                                           close-text="Close"
                                           name="createdDate"
                                           placeholder="Enter created on"
                                           ng-class="{inputError:NewWorkLogForm.createdDate.$dirty && NewWorkLogForm.createdDate.$invalid}"
                                            readonly/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                            </div>


                           

                            

                            

                       

                            <div class="row">
                         
                                <a href="#/Worklogentries/{{AddNewWorkLogModel.WorkLogId}}" tabindex="4" class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;">Back</a>
                                        <a href="" ng-click="saveWorkLogEntry(NewWorkLogForm.timeSpent.$invalid,NewWorkLogForm.createdDate.$invalid, NewWorkLogForm,AddNewWorkLogModel)" tabindex="5" class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;">Save</a>
                                       
                                 
                                </div>
                            <div class="clear"></div>
                        </form>

                    </div>

                </div>
            </div>
        </section>





    </div>
</div>


<div ng-include="'views/project/AddNewPhase.html'"></div>
<div ng-include="'views/project/MileStone.html'"></div>
<div ng-include="'views/project/ConfirmPopup.html'"></div>

