﻿<style>
    .displaytablecell {
        display: table-cell;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divProjectListingForCompany">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Worklog Enteries Detail of {{worklogEnteryList.WorkLogTitle}}</span></h3>
            <div class="clearfix"></div>
            <div class="" style="padding-top:5px;">

                <div class="clearfix"></div>
            </div>
        </div>
        <div>&nbsp;</div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a href="#/add/newWorklogEntry/{{worklogEnteryList.Id}}" class="edit-btn pull-right" style="width:auto;">Add New Worklog Entery</a>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive" style="margin-top:50px;">

                    <table class="table table-striped table-hover table-bordered table-condensed" style="margin-top:-35px">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Description</th>
                                <th>Time Spent</th>
                                <th>On Date</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tr ng-repeat="item in worklogEnteryList.WorkLogEnteries">

                            <td>{{$index+1}}</td>
                            <td>{{item.Description}}</td>
                            <td>{{item.TimeSpent}}</td>
                            <td>{{item.CreatedDate}}</td>
                            <td><a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" href="#/edit/WorklogEntry/{{item.Id}}">View Detail</a></td>
                        </tr>
                        <tr ng-if="worklogEnteryList.WorkLogEnteries.length == 0">
                            <td colspan="12" style="text-align: center;">No Record Found</td>
                        </tr>
                    </table>

                </div>



            </div>


        </div>

    </div>
</div>




