﻿
<style>
    input[type=checkbox] {
        visibility: visible !important;
    }
</style>

<style>
    .tooltip1 {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted #3facff;
        color: #3facff;
    }

        .tooltip1 .tooltiptext {
            visibility: hidden;
            width: 200px;
            background-color: #464646;
            color: #fff;
            text-align: center;
            border-radius: 6px;
            padding: 5px 0;
            position: absolute;
            z-index: 1;
            margin-left: 20px;
            top: -5px;
            min-height: 35px;
        }

        .tooltip1:hover .tooltiptext {
            visibility: visible;
        }
</style>

<div>
    <label >Project Custom Area</label>

    <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px" style="margin-bottom:15px">
        <form name="NewcustomControlform" class="margin-top-10px">
            <div ng-repeat="item in myCustomcontrolList">

                <div class="form-group" ng-if="item.ControlType  == 'TextBox'">

                    <label for="txtProjectcust_{{$index}}">{{item.FieldName}} <i class="fa fa-question-circle split-padding5 tooltip1"> <span class="tooltiptext">{{item.DescriptionCustomControl}}</span></i></label>
                    <input name="txtProjectcust_{{$index}}" type="text" ng-disabled="disabled" class="form-control" placeholder="{{item.Watermark}}" maxlength="100" required
                           ng-model="obj[item.FieldModel]">

                </div>
               
                <div class="form-group" ng-if="item.ControlType  == 'Dropdown'">
                    <label for="txtProject">{{item.FieldName}} <i class="fa fa-question-circle split-padding5 tooltip1"> <span class="tooltiptext">{{item.DescriptionCustomControl}}</span></i></label>
                    <select name="dropProjectCust_{{$index}}" ng-model="obj[item.FieldModel]" class="form-control"  ng-disabled="disabled1" ng-options="item.Name for item in item.CustomDropDownList "
                            title="{{item.DescriptionCustomControl}}" ng-change="custDropdown(obj[item.FieldModel])" >
                        <option value="">--------------------Select--------------</option>
                    </select>

                </div>
               
                <div class="form-group" ng-if="item.ControlType  == 'Checkbox'">
                    <label for="chkProjectcust_{{$index}}">{{item.FieldName}} <i class="fa fa-question-circle split-padding5 tooltip1"> <span class="tooltiptext">{{item.DescriptionCustomControl}}</span></i></label>
                    <input name="chkProjectcust_{{$index}}" type="checkbox"  ng-disabled="checkbox"  ng-model="obj[item.FieldModel]" title="{{item.DescriptionCustomControl}}">

                </div>

                <div ng-if="item.ControlType  == 'Radio buttons'">
                    <label for="txtProjectRadio">{{item.FieldName}} <i class="fa fa-question-circle split-padding5 tooltip1"> <span class="tooltiptext">{{item.DescriptionCustomControl}}</span></i></label>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 form-group" ng-repeat="item1 in item.CustomRadioButtonList">
                            <label for="{{item.ControlType + $parent.$index}}">{{item1.Name}}</label>
                            <input type="radio"  ng-disabled="checkbox1" ng-model="obj[item.FieldModel]" name="{{item.FieldModel + $parent.$index}}" ng-value="item1.Name">

                        </div>

                    </div>

                </div>

                <div class="form-group" ng-if="item.ControlType  == 'MultiLine Textbox'">
                    <label for="txtAreaProjectCust_{{$index}}">
                        {{item.FieldName}} <i class="fa fa-question-circle split-padding5 tooltip1" style="margin-left: 5px">
                            <span class="tooltiptext">{{item.DescriptionCustomControl}}</span>
                        </i>
                    </label>
                    <textarea name="txtAreaProjectCust_{{$index}}" rows="3" cols="20" title="{{item.DescriptionCustomControl}}"
                              placeholder="{{item.Watermark}}" maxlength="1000" class="form-control" ng-disabled="checkbox2" ng-model="obj[item.FieldModel]" tabindex="5" required></textarea>

                </div>
            </div>
            <div>
   
            </div>
        </form>
    </div>


</div> 