﻿
<div class="modal fade" id="modalEditCompanyProfile" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel" ng-bind="CompanyObject.CompanyName"> </h4>
            </div>
            <div class="modal-body">
                <form id="frmUser" name="editCompanyProfileForm" role="form" class="css-form">

                    <div class="form-group">
                        <label for="txtEmail">Company Name</label>
                        <input name="CompanyName" class="form-control" id="txtEmail" placeholder="Enter Company name" ng-model="CompanyEditObject.CompanyName" maxlength="200" >
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Web Address</label>
                        <input type="url" name="CompanyWebsite" class="form-control" id="txtEmail" ng-class="{inputError:editCompanyProfileForm.CompanyWebsite.$dirty && editCompanyProfileForm.CompanyWebsite.$invalid}" placeholder="Enter Web Address" ng-model="CompanyEditObject.CompanyWebsite">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Phone No.</label>
                        <input name="CompanyPhoneNo" class="form-control" id="txtEmail" placeholder="Enter Phone No." ng-keypress="isNumber($event)" ng-model="CompanyEditObject.CompanyPhoneNo">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Fax</label>
                        <input name="CompanyFax" class="form-control" id="txtEmail" placeholder="Enter Fax" ng-keypress="isNumber($event)" ng-model="CompanyEditObject.CompanyFax">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="email"  name="Email" ng-class="{inputError:editCompanyProfileForm.Email.$dirty && editCompanyProfileForm.Email.$invalid}" class="form-control"
                               id="txtEmail"   placeholder="Enter Email" ng-model="CompanyEditObject.CompanyEmail">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Address</label>
                        <input name="CompanyAddress" class="form-control" id="txtAddress" placeholder="Enter Address" ng-model="CompanyEditObject.CompanyAddress" maxlength="250">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">About Organization</label>
                        <textarea  name="CompanyDescription" class="form-control" id="AboutOrganization" placeholder="Enter About Organization" ng-model="CompanyEditObject.CompanyDescription" maxlength="1500" ></textarea>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <a href="" ng-click="updateCompanyProfile(editCompanyProfileForm.Email.$invalid, editCompanyProfileForm.CompanyWebsite.$invalid, editCompanyProfileForm)" class="edit-btn">Update Profile</a>
                <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
            </div>
        </div>
    </div>
</div>