﻿
<style>
    .invitebutton {
        width: 100% !important;
        margin-top: 16px !important;
        display: inline-flex !important;
        margin-left: 17% !important;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">




    <div class="heading-name">
        <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i>Invite Vendor Organisation </span></h3>
        <div class="clearfix"></div>

    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:10px">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <input placeholder="Enter Vendor company email" ng-model="vendorCompanyMailId" class="project-search form-control" ng-blur="checkMailValid(vendorCompanyMailId)" />
            <span style="color:red;margin-left:10px;" ng-if="Email_message != '' " ng-bind="Email_message"> </span>
        </div>

    </div>
    <div class="invitebutton">
        <a class="edit-btn " style="width:auto;cursor:pointer; margin:5px;font-size:18px;width: 114px" ng-click="registerInvitationVendorCompany(vendorCompanyMailId)">Invite</a>
    </div>
   
</div>
