﻿<style>
#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 420px;
  width: calc(100% - 24px);
  border: 2px dashed #aaa;
  border-radius: 5px;
  overflow: auto;
  text-align: center;
}
.orgchart .node .edge { display: none; }
    .orgchart { background: white; }
    #chart-container .node .content {
        padding: 0px;
        margin: 0px;
    }
  
</style>
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divTeamManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-users"></i> Manage Teams</span></h3>
            <div class="clearfix"></div>
        </div>
    </div>
  
    <div class="row" style="margin-top: 12px">
        <div class="col-md-12">
            <div class="col-md-10">
            </div>
            <div class="col-md-2 pull-right">
                <!-- ng-if="Permission.CanAddNewTeam == true" -->
                <a class="edit-btn" style="width:auto;cursor:pointer;" ng-click="showTeamAddUpdateModal()">Add New Team</a>
                <div class="clearfix"></div>

            </div>
        </div>
        <div class="col-md-12">
            <div id="chart-container"></div>
            </div>
        </div>
        </div>
<div ng-include="'views/team/TeamAddUpdateModal.html'"></div>