﻿

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <form id="frmUser" name="editCompanyProfileForm" role="form" class="css-form">

        <div id="divCompanyProfile">
            <div class="heading-name">
                <h3 class="pull-left"><span> <i class="fa fa-building"></i> Company Profile</span></h3>
                <div class="clearfix"></div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <h2 class="user-name">
                        <span ng-if="!toggleCompanyName" ng-click="companyNameClick(Permission)"> {{CompanyObject.CompanyName}} </span>
                        <input ng-if="toggleCompanyName" name="CompanyName" type="text" ng-blur="updateCompanyName()" ng-model="CompanyObject.CompanyName" />
                    </h2>
                    <div class="user-pic">
                        <img ng-if="checkCompanyProfilePic(CompanyObject.CompanyLogo)" height="220" width="220" ng-src="{{imgURL}}{{CompanyObject.CompanyLogo}}" />
                        <img ng-if="!checkCompanyProfilePic(CompanyObject.CompanyLogo)" height="220" width="220" src="Uploads/Default/nologo.png" />
                        <div id="internalLoaderForImage" style="display: none;height: 50px;position: relative;width: 50px;top: -120px;z-index: 99;left: 35%;">
                            <img style="height: 50px;width: 50px;" src="../../assets/img/loaders/squares.gif" />
                        </div>
                    </div>

                    <div ng-hide="otherUser" class="fileUpload change-btn" ng-if="Permission.CanEditCompanyProfile == true">
                        <span>Change Logo</span>
                        <input title="" type="file" ng-file-select="updateCompanyLogo($files)" accept=".jpg,.png,.jpeg,.bmp" class="uploadCompanyLogo" style="cursor:pointer;" />
                    </div>




                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="count-circle">
                            <span ng-bind="CompanyObject.CompanyTeamsCount"></span><br />Teams
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-xs-12">
                        <div class="count-circle">
                            <span ng-bind="CompanyObject.CompanyProjectsCount"></span><br />Projects
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-designation">
                        <div ng-hide="otherUser" class="pull-right">
                            <!--<a ng-if="Permission.CanEditCompanyProfile == true" href="" class="edit-btn" ng-click="editCompanyProfile()" style="cursor:pointer;">Edit Profile</a>-->
                            <a ng-if="Permission.CanEditCompanyProfile == true" href="" class="edit-btn" style="cursor:pointer;">Send Profile</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div style="margin-top:10px;">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gray-box right-border">
                            <div class="info-head col-lg-12" style="padding:0;"><span style="float:left;">General Information</span> </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Admin : </span>
                                <span style="margin-left:10px;"> {{CompanyObject.CompanyAdmin}} </span>
                            </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Active Since : </span>
                                <span style="margin-left:10px;"> {{CompanyObject.CompanyActiveSince|date:'MM-dd-yyyy'}} </span>
                            </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Web Address : </span>
                                <div ng-if="!toggleCompanyWebAddress" style="height:20px;width:70%;float:left;margin-left:10px;" ng-click="webAddressClick(Permission)">
                                      {{CompanyObject.CompanyWebsite}}  
                                </div>
                                <input type="url" ng-if="toggleCompanyWebAddress" name="CompanyWebAddress" class="form-control" style="margin-left:10px;width:70%;" placeholder="Enter Web Address" ng-blur="updateCompanyWebAddress()" 
                                       ng-class="{inputError:editCompanyProfileForm.CompanyWebAddress.$invalid}" ng-model="CompanyObject.CompanyWebsite">
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 gray-box">
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Phone No. :</span>
                                <div ng-if="!toggleCompanyPhoneNo" style="height:20px;width:70%;float:left;margin-left:10px;" ng-click="phoneNoClick(Permission)">
                                    {{CompanyObject.CompanyPhoneNo}}
                                </div>
                                <input ng-if="toggleCompanyPhoneNo" name="CompanyPhoneNo" class="form-control" placeholder="Enter Phone No." style="width:80%;margin-left:80px;" ng-keypress="isNumber($event)" ng-blur="updateCompanyPhoneNo()" ng-model="CompanyObject.CompanyPhoneNo" maxlength="16">
                            </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Fax :</span>
                                <div ng-if="!toggleCompanyFax" style="height:20px;width:90%;float:left;margin-left:10px;" ng-click="faxClick(Permission)">
                                    {{CompanyObject.CompanyFax}} 
                                </div>
                                <input ng-if="toggleCompanyFax" name="CompanyFax" class="form-control" style="width:82%;margin-left:65px;" placeholder="Enter Fax" ng-keypress="isNumber($event)" ng-blur="updateCompanyFax()" ng-model="CompanyObject.CompanyFax" maxlength="16">
                            </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Email :</span>
                                <div ng-if="!toggleCompanyEmail" style="height:20px;width:80%;float:left;margin-left:10px;" ng-click="emailClick(Permission)">
                                    {{CompanyObject.CompanyEmail}} 
                                </div>
                                <input type="email" ng-if="toggleCompanyEmail" name="CompanyEmail" class="form-control" style="width:80%;margin-left:70px;" placeholder="Enter Email"
                                       ng-class="{inputError:editCompanyProfileForm.CompanyEmail.$invalid}" ng-blur="updateCompanyEmail()" ng-model="CompanyObject.CompanyEmail">
                            </div>
                            <div class="info-area col-lg-12">
                                <span style="float:left;">Address :</span>
                                <div ng-if="!toggleCompanyAddress" style="height:20px;width:80%;float:left;margin-left:10px;" ng-click="addressClick(Permission)">
                                     {{CompanyObject.CompanyAddress}} 
                                </div>
                                <input ng-if="toggleCompanyAddress" name="CompanyAddress" class="form-control" style="width:80%;margin-left:70px;" placeholder="Enter Address" ng-blur="updateCompanyAddress()" ng-model="CompanyObject.CompanyAddress" maxlength="250">
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="info-box-space">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box" >
                            <div class="info-head">About Organization</div>
                            <div class="info-area">
                                <div ng-if="!toggleCompanyDescription" style="height:30px; width:100%;float:left;margin-left:10px;" ng-click="companyDescriptionClick(Permission)">
                                    {{CompanyObject.CompanyDescription}}
                                </div>
                                <textarea ng-if="toggleCompanyDescription" name="CompanyDescription" id="CompanyDescription" class="form-control" style="width:90%;margin-left:10px;resize:vertical;" placeholder="Enter About Organization" ng-blur="updateCompanyDescription()" ng-model="CompanyObject.CompanyDescription" maxlength="1500"> </textarea>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>

                    <div class="info-box-space">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                            <div class="panel panel-default">
                                <div class="panel-heading team-list-head">Teams</div>

                                <div class="list-group">
                                    <div ng-repeat="team in CompanyTeamsObject" class="list-group-item">
                                        <span ng-bind="team.TeamName"></span>
                                        <div>
                                            <div ng-repeat="users in team.TeamMembers" class="pull-left" ng-click="showOtherUserProfile(users.MemberUserId)">
                                                <div class="team-m-pic">
                                                    <img title="{{users.MemberName}}" ng-src="{{imgURL}}{{users.MemberProfilePhoto}}">
                                                </div>
                                            </div>

                                            <div ng-if="!team.TeamMembers.length" class="pull-left">
                                                No Team Members found.
                                            </div>

                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>



<div ng-include="'views/company/CompanyProfileEditModal.html'"></div>