﻿<nav>
    <div ng-cloak class="container-fluid navbar navbar-inverse top-bg ng-scope" id="headerMenu">
        <div class="navbar-header col-lg-3 col-md-5 col-sm-12">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a href="#/dashboard/u" class="navbar-brand"><img src="assets/img/logo.png" /></a>
        </div>
        <div class="top-nav col-lg-2 col-md-7 col-sm-12">
            <div class="col-lg-12 col-md-2 col-sm-4 col-xs-4 top-link">
                <a href="#/feedback">
                    <!--ng-click="UserFeedbackManagement.showUserFeedbackManagementSection()"-->
                    <span>Feedback</span>
                </a>
            </div>
        </div>
        <div class="top-nav col-lg-7 col-md-7 col-sm-12">
            <div class=" col-lg-6 col-md-6 col-sm-12 top-search">
                <form class="navbar-form">
                    <input type="text" placeholder="Search..." class="form-control">
                    <button class="search-btn"><img src="assets/img/search-btn.png" /></button>
                </form>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 top-link">
                <a href="#/inbox/0">
                    <!--ng-click="InboxManagement.showInboxManagementSection()"-->
                    <i class="fa fa-envelope"></i>
                    <span ng-bind="InboxCount">5</span>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 top-link">
                <a href="#/notification" ng-click="resetNotifications()">
                    <!--ng-click="NotificationManagement.showNotificationManagementSection()"-->
                    <i class="fa fa-bell"></i>
                    <span ng-bind="NotificationCount"></span>
                </a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 logout pull-right"> <a href="#" ng-click="logout()"><i class="fa fa-power-off pull-right"></i><span class="pull-right">Logout</span></a></div>
        </div>
        <!--<div class="navbar-header col-lg-3 col-md-5 col-sm-12" >
            <div>Timer</div>
            <div>{{startTime}}</div>
            <div>TaskDetail:<span>{{TaskId}}</span></div>
            <div>Timer Value:<span>{{TimerValue}}</span></div>
        </div>-->
    </div>
    
</nav>