﻿<div class="static-sidemenu">
    <div ng-cloak id="sideMenu" class="nav-leftbar navbar-collapse collapse">

        <div ng-if="AllSideMenuOptionRolewise.IsCompany == true">
            <div class="company-name">
                <span ng-click="showCompanyProfile()" style="cursor:pointer">
                    <!--  ng-if="!isFreelancer" -->
                    {{CompanyObject.companyName|limitTo:20}}
                </span>

                
                    <div ng-if="isFreelancer">
                        <div class="sorting-span pull-left"> Companies </div>
                        <div class="styled-select" style="background-color:rgb(71,71,71);">
                            <select ng-model="selectedCompany" ng-change="selectedCompanyChanged(selectedCompany)">
                                <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompany==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                            </select>
                        </div>

                    </div>

                    <!--<i class="fa fa-cog pull-right"  aria-hidden="true"></i>--><!--@*ng-click="UserManagement.showUserManagementSection();$event.stopPropagation();$event.preventDefault();" *@-->
                    <!--<a class="pull-right" href="#/user/manage"><i class="fa fa-cog"></i></a>-->
                    <a class="pull-right" ng-click="showUserManagementSection()" style="cursor:pointer" ng-if="AllSideMenuOptionRolewise.Role == 1 ? true  :  false "><i class="fa fa-cog pull-right" aria-hidden="true"></i></a>
                </div>
        </div>

        <div class="profile-detail">
            <!-- ng-if="AllSideMenuOptionRolewise.IsUserProfile == true " -->
            <div class="profile-pic pull-left"><img ng-click="showUserProfile()" title="{{(MyProfileObject.firstName)}}" ng-src="{{imgURL}}{{MyProfileObject.profilePhoto}}" /></div>
            <div class="pull-left user-detail">
                <a ng-click="showUserProfile()" class="pull-right">
                    <h4 ng-bind="MyProfileObject.firstName"></h4>
                    <h5 ng-bind="MyProfileObject.Designation"></h5>
                </a>
            </div>

            <div class="clearfix"></div>
            <div ng-show="IsVisibleBothMenu" class="select-team">
                <div id="btnGeneral" ng-click="ShowHide('General')" class="team-name">General Company</div>
                <div class="clearfix"></div>
                <div id="btnVendor" ng-click="ShowHide('Vendor')" class="team-name">Vendor Company</div>

            </div>
            <div class="clearfix"></div>

            <div ng-if="AllSideMenuOptionRolewise.IsVendorGeneralUser">
                <ng-rate-it ng-model="AllSideMenuOptionRolewise.RatingVendorGeneralUser"
                            min="0"
                            max="5"
                            step="Double"
                            star-width="16"
                            star-height="16"
                            read-only="true"
                            rated="Function(rating)"
                            reset="Function(rating)">
                </ng-rate-it>
            </div>
        </div>
        <div id="general" ng-show="IsVisibleGeneral">
            <div class="select-team" ng-if="AllSideMenuOptionRolewise.IsTeam == true ">
                <div>{{selectedTeamObject.activeTeam.item | json}}</div>
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.TeamOptions[0].MenuName}}
                    <a class="pull-right" href="#/team"><i class="fa fa-cog"></i></a>
                </div><!--ng-click="TeamManagement.showTeamManagementSection()"-->
                <div class="styled-select">
                    <select id="ddlTeams" ng-model="selectedTeamObject.activeTeam" ng-change="changeSelectedTeam(selectedTeamObject.activeTeam)" ng-options="item as item.TeamName for item in TeamsObject"></select>
                </div>
                <!--<div class="view-team-chat"><a href="">View Team Activity Wall &nbsp;<i class="fa fa-angle-right"></i></a></div>-->

                <div>
                    <div ng-click="showOtherUserProfile(item.MemberUserId)" class="online-member pull-left" ng-repeat="item in selectedTeamObject.activeTeam.TeamMembers">
                        <div class="member-pic">

                            <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                        </div>
                        <div class="online-dot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsProject == true ">
                <div class="team-name">
                    <i class="fa fa-th-list"></i>&nbsp; {{AllSideMenuOptionRolewise.ProjectOptions[0].MenuName}}
                    <a class="pull-right" href="#/project"><i class="fa fa-cog"></i></a>
                </div>
                <input type="text" placeholder="Search Project" ng-model="inputProjectFilter" />

                <ul id="ex3" ng-click="showTodoManagementSection(item)" ng-animate="'animate'" ng-repeat="item in filteredProjects=( projects|filter:{ProjectName:inputProjectFilter})" ng-init="loading.id=item.id;">
                    <li>
                        <a ng-class="{'active-pro': item==selectedProject}" href="" ng-bind-html="item.ProjectName|limitTo : 29|searchfilter:inputProjectFilter">{{item.ProjectName}}</a>
                    </li>
                </ul>
                <ul ng-if="!filteredProjects.length">
                    <li>
                        <a>  No projects found.  </a>
                    </li>
                </ul>
                <div style="text-align:center;">
                    <!--<div ng-controller="projectController">-->
                    <div>
                        <!--<a href="" style="color: #E5E5E5;" ng-click="showProjectAddUpdateModal()">  Create New Project &nbsp;&nbsp;<i class="fa fa-plus"></i> </a>-->
                        <a href="" style="color: #E5E5E5;" ng-click="projectAddUpdateClick()">  Create New Project &nbsp;&nbsp;<i class="fa fa-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsFinancialTeam == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.FinancialTeamOptions[0].MenuName}}
                    <!--<a class="pull-right" href=""><i class="fa fa-cog"></i></a>-->
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.FinancialTeamOptions | limitTo : AllSideMenuOptionRolewise.FinancialTeamOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsTaskApprovalAdmin == true && AllSideMenuOptionRolewise.TaskApprovalAdminOptions.length > 0 ">

                <div class="team-name">
                    <i class="fa fa-sort-amount-desc"></i>&nbsp; {{AllSideMenuOptionRolewise.TaskApprovalAdminOptions[0].MenuName}}
                </div>
                <ul id="ex4" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.TaskApprovalAdminOptions | limitTo : AllSideMenuOptionRolewise.TaskApprovalAdminOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

            </div>
            
            
            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsRole == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.RoleOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.RoleOptions | limitTo : AllSideMenuOptionRolewise.RoleOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsPayment == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.PaymentOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.PaymentOptions | limitTo : AllSideMenuOptionRolewise.PaymentOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsTaskApprovalUser == true &&  AllSideMenuOptionRolewise.TaskApprovalUserOptions.length > 0 ">
                <div class="team-name">
                    <i class="fa fa-sort-amount-desc"></i>&nbsp; {{AllSideMenuOptionRolewise.TaskApprovalUserOptions[0].MenuName}}
                </div>
                <ul id="ex4" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.TaskApprovalUserOptions  | limitTo : AllSideMenuOptionRolewise.TaskApprovalUserOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>


            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsAccount == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.AccountOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.AccountOptions | limitTo : AllSideMenuOptionRolewise.AccountOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsFeedback == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.FeedbackOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.FeedbackOptions | limitTo : AllSideMenuOptionRolewise.FeedbackOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <!----------------------------------------------Vendor Menu for Company--------------------------------------------------------->
            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsVendor1 == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.VendorOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.VendorOptions | limitTo : AllSideMenuOptionRolewise.VendorOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <!--<div class="project-list" ng-if="AllSideMenuOptionRolewise.IsCompanyName == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.VendorOptions | limitTo : AllSideMenuOptionRolewise.VendorOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsMyInvitaiton == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.VendorOptions | limitTo : AllSideMenuOptionRolewise.VendorOptions.length : 1">
                    <li><a href="#{{item.URL}}">{{item.SubMenuName}}</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsProjectToQuote == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.VendorOptions | limitTo : AllSideMenuOptionRolewise.VendorOptions.length : 1">
                    <li><a href="#{{item.URL}}">{{item.SubMenuName}}</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>-->
            <!---------------------------------------------End--Vendor Menu for company--------------------------------------------------------->
            <!-------------------------------------setting--Menu-for-company-Profile--------------------------------------------------------->
            <!--<div class="project-list" ng-if="AllSideMenuOptionRolewise.IsRole == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuOptionRolewise.RoleOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.RoleOptions | limitTo : AllSideMenuOptionRolewise.RoleOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>-->
            <div class="project-list" ng-if="AllSideMenuOptionRolewise.Settings == true ">
                <div class="team-name">
                    <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuOptionRolewise.SettingOptions[0].MenuName}}
                </div>
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.SettingOptions | limitTo : AllSideMenuOptionRolewise.SettingOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            
            <ul class="nav nav-sidebar">
                <li><a href="#/my/enterprisecompanies" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-users"></i>&nbsp; My Enterprise Companies</a></li>
                <li><a href="#/dashboard/u" ng-class="{'active-lft-nv': selectedNavigation=='MyDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Dashboard</a></li>
                <li><a href="#/calendar" ng-class="{'active-lft-nv': selectedWindow=='Calendar'}"><i class="fa fa-calendar"></i>&nbsp; Calender</a></li>


            </ul>

            <!-------------------------------------setting--Menu-for-company-Profile--------------------------------------------------------->
            <!---------------------------------------------vendor screeen--------------------------------------------------------->

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsMyInvitaiton == true ">
                <div class="team-name" ng-repeat="item in AllSideMenuOptionRolewise.MyInvitationsVendorOptions | limitTo : AllSideMenuOptionRolewise.MyInvitationsVendorOptions.length : 1">
                    <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuOptionRolewise.MyInvitationsVendorOptions[0].MenuName}}</a>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsProjectToQuote == true ">
                <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsProjectToQuote == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuOptionRolewise.ProjectstoQuoteVendorOptions | limitTo : AllSideMenuOptionRolewise.ProjectstoQuoteVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuOptionRolewise.ProjectstoQuoteVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsProjectAwarded == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuOptionRolewise.ProjectAwardedVendorOptions | limitTo : AllSideMenuOptionRolewise.ProjectAwardedVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuOptionRolewise.ProjectAwardedVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsVendorInvoice == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuOptionRolewise.InvoiceVendorOptions | limitTo : AllSideMenuOptionRolewise.InvoiceVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-inverse"></i> {{AllSideMenuOptionRolewise.InvoiceVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="project-list" ng-if="AllSideMenuOptionRolewise.IsVendorInvoiceSetting == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuOptionRolewise.VendorAccountSettingOptions | limitTo : AllSideMenuOptionRolewise.VendorAccountSettingOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuOptionRolewise.VendorAccountSettingOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <!---------------------------------------------vendor screeen--------------------------------------------------------->
                <!---------------------------------------------vendor Admin screeen--------------------------------------------------------->
                <div class="project-list" ng-if="AllSideMenuOptionRolewise.Settings == true ">
                
                    <div class="team-name">
                        <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.AccountManagerOptions[0].MenuName}}
                    </div>
                    <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.AccountManagerOptions | limitTo : AllSideMenuForVendorCompany.AccountManagerOptions.length : 1">
                        <li>
                            <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>

                <div class="project-list" ng-if="AllSideMenuOptionRolewise.Settings == true ">
                    <div class="team-name">
                        <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuOptionRolewise.SettingVendorAdminProfileOptions[0].MenuName}}
                    </div>

                    <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuOptionRolewise.SettingVendorAdminProfileOptions | limitTo : AllSideMenuOptionRolewise.SettingVendorAdminProfileOptions.length : 1">
                        <li>
                            <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <!---------------------------------------------vendor Admin screeen--------------------------------------------------------->


                <ul class="nav nav-sidebar">
                    <li><a href="#/my/enterprisecompanies" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-users"></i>&nbsp; My Enterprise Companies</a></li>
                    <li><a href="#/dashboard/u" ng-class="{'active-lft-nv': selectedNavigation=='MyDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Dashboard</a></li>
                    <li><a href="#/settings" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-cog"></i>&nbsp; Setting</a></li>
                    <!--<li><a href="#/dashboard/c" ng-class="{'active-lft-nv': selectedNavigation=='ClientDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Client Dashboard</a></li>-->
                    <!--<li><a href="#/mytodo" ng-class="{'active-lft-nv': selectedNavigation=='MyTodos'}"><i class="fa fa-check-square"></i>&nbsp; My To Do's</a></li>-->
                    <li><a href="#/calendar" ng-class="{'active-lft-nv': selectedWindow=='Calendar'}"><i class="fa fa-calendar"></i>&nbsp; Calender</a></li>

                    <!--<li><a ng-click="getNotesWindow()" ng-class="{'active-lft-nv': selectedWindow=='Notes'}"><i class="fa fa-list-alt"></i>&nbsp; Notes</a></li>
                    <li><a ng-click="getFilesWindow()" ng-class="{'active-lft-nv': selectedWindow=='Files'}"><i class="fa fa-file"></i>&nbsp; Files</a></li>
                    <li><a ng-click="getLinksWindow()" ng-class="{'active-lft-nv': selectedWindow=='Links'}"><i class="fa fa-link"></i>&nbsp; Links</a></li>
                    <li><a ng-click="getFavouritesWindow()" ng-class="{'active-lft-nv': selectedWindow=='Favourites'}"><i class="fa fa-star-o"></i>&nbsp; Favourites</a></li>-->

                </ul>
            </div>
        </div>

        <div id="vendor" ng-show="IsVisibleVendor">
            <div class="select-team" ng-if="AllSideMenuForVendorCompany.IsTeam == true ">
                <div>{{selectedTeamObject.activeTeam.item | json}}</div>
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.TeamOptions[0].MenuName}}
                    <a class="pull-right" href="#/team"><i class="fa fa-cog"></i></a>
                </div><!--ng-click="TeamManagement.showTeamManagementSection()"-->
                <div class="styled-select">
                    <select id="ddlTeams" ng-model="selectedTeamObject.activeTeam" ng-change="changeSelectedTeam(selectedTeamObject.activeTeam)" ng-options="item as item.TeamName for item in TeamsObject"></select>
                </div>
                <div>
                    <div ng-click="showOtherUserProfile(item.MemberUserId)" class="online-member pull-left" ng-repeat="item in selectedTeamObject.activeTeam.TeamMembers">
                        <div class="member-pic">

                            <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                        </div>
                        <div class="online-dot"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsProject == true ">
                <div class="team-name">
                    <i class="fa fa-th-list"></i>&nbsp; {{AllSideMenuForVendorCompany.ProjectOptions[0].MenuName}}
                    <a class="pull-right" href="#/project"><i class="fa fa-cog"></i></a>
                </div>
                <input type="text" placeholder="Search Project" ng-model="inputProjectFilter" />

                <ul id="ex3" ng-click="showTodoManagementSection(item)" ng-animate="'animate'" ng-repeat="item in filteredProjects=( projects|filter:{ProjectName:inputProjectFilter})" ng-init="loading.id=item.id;">
                    <li>
                        <a ng-class="{'active-pro': item==selectedProject}" href="" ng-bind-html="item.ProjectName|limitTo : 29|searchfilter:inputProjectFilter">{{item.ProjectName}}</a>
                    </li>
                </ul>
                <ul ng-if="!filteredProjects.length">
                    <li>
                        <a>  No projects found.  </a>
                    </li>
                </ul>
                <div style="text-align:center;">
                    <!--<div ng-controller="projectController">-->
                    <div>
                        <!--<a href="" style="color: #E5E5E5;" ng-click="showProjectAddUpdateModal()">  Create New Project &nbsp;&nbsp;<i class="fa fa-plus"></i> </a>-->
                        <a href="" style="color: #E5E5E5;" ng-click="projectAddUpdateClick()">  Create New Project &nbsp;&nbsp;<i class="fa fa-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsFinancialTeam == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.FinancialTeamOptions[0].MenuName}}
                    <!--<a class="pull-right" href=""><i class="fa fa-cog"></i></a>-->
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.FinancialTeamOptions | limitTo : AllSideMenuForVendorCompany.FinancialTeamOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsTaskApprovalAdmin == true && AllSideMenuForVendorCompany.TaskApprovalAdminOptions.length > 0 ">

                <div class="team-name">
                    <i class="fa fa-sort-amount-desc"></i>&nbsp; {{AllSideMenuForVendorCompany.TaskApprovalAdminOptions[0].MenuName}}
                </div>
                <ul id="ex4" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.TaskApprovalAdminOptions | limitTo : AllSideMenuForVendorCompany.TaskApprovalAdminOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsRole == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.RoleOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.RoleOptions | limitTo : AllSideMenuForVendorCompany.RoleOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsPayment == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.PaymentOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.PaymentOptions | limitTo : AllSideMenuForVendorCompany.PaymentOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <!-- This is for vendor -->
            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsTaskApprovalUser == true &&  AllSideMenuForVendorCompany.TaskApprovalUserOptions.length > 0 ">
                <div class="team-name">
                    <i class="fa fa-sort-amount-desc"></i>&nbsp; {{AllSideMenuForVendorCompany.TaskApprovalUserOptions[0].MenuName}}
                </div>
                <ul id="ex4" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.TaskApprovalUserOptions  | limitTo : AllSideMenuForVendorCompany.TaskApprovalUserOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>


            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsAccount == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.AccountOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.AccountOptions | limitTo : AllSideMenuForVendorCompany.AccountOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsFeedback == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.FeedbackOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.FeedbackOptions | limitTo : AllSideMenuForVendorCompany.FeedbackOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsAccountManager == true ">
               
                <div class="team-name">
                    <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.AccountManagerOptions[0].MenuName}}
                </div>
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.AccountManagerOptions | limitTo : AllSideMenuForVendorCompany.AccountManagerOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <!----------------------------------------------Vendor Menu for Company--------------------------------------------------------->
            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsVendor1 == true ">
                <div class="team-name">
                    <i class="fa fa-users"></i>&nbsp; {{AllSideMenuForVendorCompany.VendorOptions[0].MenuName}}
                </div>

                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.VendorOptions | limitTo : AllSideMenuForVendorCompany.VendorOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>


            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsCompanyName == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.VendorOptions | limitTo : AllSideMenuForVendorCompany.VendorOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>


            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsMyInvitaiton == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.VendorOptions | limitTo : AllSideMenuForVendorCompany.VendorOptions.length : 1">
                    <li><a href="#{{item.URL}}">{{item.SubMenuName}}</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsProjectToQuote == true ">
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.VendorOptions | limitTo : AllSideMenuForVendorCompany.VendorOptions.length : 1">
                    <li><a href="#{{item.URL}}">{{item.SubMenuName}}</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsAccountManager == true ">
              
                <div class="team-name">
                    <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.AccountManagerOptions[0].MenuName}}
                </div>
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.AccountManagerOptions | limitTo : AllSideMenuForVendorCompany.AccountManagerOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>
            <!---------------------------------------------End--Vendor Menu for company--------------------------------------------------------->
            <!-------------------------------------setting--Menu-for-company-Profile--------------------------------------------------------->
        
            <div class="project-list" ng-if="AllSideMenuForVendorCompany.Settings == true ">
                <div class="team-name">
                    <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.SettingOptions[0].MenuName}}
                </div>
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.SettingOptions | limitTo : AllSideMenuForVendorCompany.SettingOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.Settings == true ">
                <div class="team-name">
                    <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.SettingOptions[0].MenuName}}
                </div>
                <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.SettingOptions | limitTo : AllSideMenuForVendorCompany.SettingOptions.length : 1">
                    <li>
                        <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                    </li>
                </ul>

                <div class="clearfix"></div>
            </div>



            <ul class="nav nav-sidebar">
                <li><a href="#/my/enterprisecompanies" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-users"></i>&nbsp; My Enterprise Companies</a></li>
                <li><a href="#/dashboard/u" ng-class="{'active-lft-nv': selectedNavigation=='MyDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Dashboard</a></li>
                <li><a href="#/calendar" ng-class="{'active-lft-nv': selectedWindow=='Calendar'}"><i class="fa fa-calendar"></i>&nbsp; Calender</a></li>


            </ul>

            <!-------------------------------------setting--Menu-for-company-Profile--------------------------------------------------------->
            <!---------------------------------------------vendor screeen--------------------------------------------------------->

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsMyInvitaiton == true ">
                <div class="team-name" ng-repeat="item in AllSideMenuForVendorCompany.MyInvitationsVendorOptions | limitTo : AllSideMenuForVendorCompany.MyInvitationsVendorOptions.length : 1">
                    <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuForVendorCompany.MyInvitationsVendorOptions[0].MenuName}}</a>

                </div>
                <div class="clearfix"></div>
            </div>

            <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsProjectToQuote == true ">
                <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsProjectToQuote == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuForVendorCompany.ProjectstoQuoteVendorOptions | limitTo : AllSideMenuForVendorCompany.ProjectstoQuoteVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuForVendorCompany.ProjectstoQuoteVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsProjectAwarded == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuForVendorCompany.ProjectAwardedVendorOptions | limitTo : AllSideMenuForVendorCompany.ProjectAwardedVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuForVendorCompany.ProjectAwardedVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>


                <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsVendorInvoice == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuForVendorCompany.InvoiceVendorOptions | limitTo : AllSideMenuForVendorCompany.InvoiceVendorOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-inverse"></i> {{AllSideMenuForVendorCompany.InvoiceVendorOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="project-list" ng-if="AllSideMenuForVendorCompany.IsVendorInvoiceSetting == true ">
                    <div class="team-name" ng-repeat="item in AllSideMenuForVendorCompany.VendorAccountSettingOptions | limitTo : AllSideMenuForVendorCompany.VendorAccountSettingOptions.length : 1">
                        <a href="#{{item.URL}}"><i class="fa fa-users"></i> {{AllSideMenuForVendorCompany.VendorAccountSettingOptions[0].MenuName}}</a>

                    </div>
                    <div class="clearfix"></div>
                </div>

                <!---------------------------------------------vendor screeen--------------------------------------------------------->
                <!---------------------------------------------vendor Admin screeen--------------------------------------------------------->

              
                <div class="project-list" ng-if="AllSideMenuForVendorCompany.Settings == true ">
                    <div class="team-name">
                        <i class="fa fa-cog"></i>&nbsp; {{AllSideMenuForVendorCompany.SettingVendorAdminProfileOptions[0].MenuName}}
                    </div>

                    <ul id="ex5" ng-animate="'animate'" ng-repeat="item in AllSideMenuForVendorCompany.SettingVendorAdminProfileOptions | limitTo : AllSideMenuForVendorCompany.SettingVendorAdminProfileOptions.length : 1">
                        <li>
                            <a href="#{{item.URL}}">{{item.SubMenuName}}</a>
                        </li>
                    </ul>

                    <div class="clearfix"></div>
                </div>
                <!---------------------------------------------vendor Admin screeen--------------------------------------------------------->
                <ul class="nav nav-sidebar">
                    <li><a href="#/my/enterprisecompanies" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-users"></i>&nbsp; My Enterprise Companies</a></li>
                    <li><a href="#/dashboard/u" ng-class="{'active-lft-nv': selectedNavigation=='MyDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Dashboard</a></li>
                    <li><a href="#/settings" ng-class="{'active-lft-nv': selectedNavigation=='Setting'}"><i class="fa fa-cog"></i>&nbsp; Setting</a></li>
                    <!--<li><a href="#/dashboard/c" ng-class="{'active-lft-nv': selectedNavigation=='ClientDashboard'}"><i class="fa fa-desktop"></i>&nbsp; Client Dashboard</a></li>-->
                    <!--<li><a href="#/mytodo" ng-class="{'active-lft-nv': selectedNavigation=='MyTodos'}"><i class="fa fa-check-square"></i>&nbsp; My To Do's</a></li>-->
                    <li><a href="#/calendar" ng-class="{'active-lft-nv': selectedWindow=='Calendar'}"><i class="fa fa-calendar"></i>&nbsp; Calender</a></li>

                </ul>


            </div>

        </div>

    </div>
</div>




<div ng-include="'views/modal/ProjectAddUpdateModalForGlobal.html'"></div>
