﻿<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-show="showTodoTaskTimer" style="background-color:#3facff;padding: 5px;font-size: 12px; width:103%;margin-left:-10px;">
    <div ng-model="minimize" style="display:flex;">
        <div class="pull-left" style="width:100px;padding:0 10px;"><i class="fa fa-clock-o" style="font-size:65px;color:white"></i> </div>
        <div class="pull-left">
            <div style="text-overflow: ellipsis; width:100%;overflow: hidden;" ><strong>Task in Progress : </strong> {{TodoName}}</div>
            <div  style="text-overflow: ellipsis;width:100%; overflow: hidden;" ><strong>Description : </strong> {{Description}}</div>
            <div><strong>Time : </strong> <label style="color:white" title="time this session">{{TimerValue}}</label> / <label title="Time logged so far">{{LoggedTime}}</label> /<label title="Total estimated time">{{EstimatedTime}}</label> </div>
        </div>
    </div>

</div>  