﻿


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divOrganizationManagement">


        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-bell"></i> Organization </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Organization" ng-model="inputSearchOrganization" class="project-search form-control" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a href="" class="pull-right" style="font-size:17px;"><i class="fa fa-cog"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-box-space" ng-class="{activeUserFeedback: item.Id==selectedNotification}" ng-repeat="item in filteredOrganizationObject=(organizationObject | filter:inputSearchOrganization)">
                            <!--this is invitation Start-->
                            <div style="margin-top: 5px; margin-bottom: 5px; background-color:#f3f3f3;cursor:pointer;" ng-click="showCompanyDetails(item)">
                                <div ng-click="goToCompanyProfile(item.CompanyId)" class="images pull-left member-pic"
                                     style="margin:10px;">
                                    <img style="width:50px;" ng-src="{{imgURL}}{{item.CompanyProfilePic}}">
                                </div>
                                <div class="pull-left" style="margin-top:5px;">
                                    <p style="margin: 0 0 2px ;font-size:medium">Company: &nbsp;&nbsp;<strong><span ng-bind-html="item.CompanyName+' '|searchfilter:inputSearchOrganization"></span></strong> </p>
                                    <p>Admin:&nbsp;&nbsp;<strong><span ng-bind-html="item.CompanyUserName+' '|searchfilter:inputSearchOrganization"></span></strong></p>
                                </div>
                                <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                    <p style="margin: 0 0 2px;font-size:medium">Logged Hours:&nbsp;&nbsp;<strong>  {{item.TotalTime}} </strong></p>
                                    <p style="margin: 0 0 2px;font-size:medium">Total Amount:&nbsp;&nbsp;<strong> $ {{item.TotalAmount}} <span ng-if="item.TotalAmount == null"> 0 </span> </strong></p>
                                </div>
                                <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                    <p style="margin: 0 0 2px;font-size:medium">Joining Date:&nbsp;&nbsp;<strong>  {{item.CompanyAssignedOnDate|date:'MM-dd-yyyy'}} </strong></p>
                                    
                                </div>
                                <!--<div class="pull-right" style="margin-top:10px;">
                                    <a class="btn btn-info" style="width:auto;cursor:pointer;" ng-click="showFreelancerInvitationDetails(item)">Detials</a>
                                </div>-->
                                <div class="clearfix"></div>
                            </div>
                            <!--this is invitation end-->
                            <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="userfeedback-profile-pic pull-left">
                                        <img title="{{item.CompanyName}}" ng-src="{{imgURL}}{{item.CompanyProfilePic}}"
                                             ng-click="goToCompanyProfile(item.CompanyUserId)" style="cursor:pointer;" />
                                    </div>
                                    <div class="info-head row" style="color:grey;padding-top:14px;cursor:pointer;">

                                        <p ng-click="showCompanyDetails(item)" style="cursor:pointer;"
                                           ng-bind-html="item.CompanyName|searchfilter:inputSearchNotification"></p>


                                        <a href="" style="cursor:pointer;">
                                            <p class="pull-right label label-warning process-label" style="margin-right:10px;color:black; "> LoggedHours: {{item.TotalTime}} </p>
                                            <p class="pull-right label label-warning process-label" style="margin-right:10px;color:black;"> Total Amount: {{item.TotalAmount}} </p>
                                        </a>



                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="info-head" style="color:grey;padding-top:14px;">
                                        <span class="pull-right" style="color: #777;" ng-bind-html="item.ProjectMembers[0].CreatedDate|date:'MMMM-dd-yyyy'|searchfilter:inputSearchOrganization"></span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="info-box-space" ng-if="!organizationObject.length">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                        <div class="info-head">No Organizations Found.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="col-lg-4 right-bar-bg animate0 fadeInDown" ng-hide="hideRightWindow" style="position:relative;float:right;right:-464px;width:450px;top:-230px;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>

        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>
        <div ng-include="'views/Organization/showOrganizationDetail.html'"></div>

    </div>-->
    <div ng-include="'views/Organization/showOrganizationDetail.html'"></div>
</div>





