﻿

<div style="position:relative;display:none" id="divOrganizationDescriptionSection">

    <div class="row overview">
        <div class="col-lg-12"  >
            <div class="status_div">
                <h3 ng-bind="organizationDescriptionObject.CompanyName"></h3>
                <div class="row event-detail">


                    <div class="col-lg-12">
                        <div class="description">
                            <h1> Team Detail : </h1>
                            
                            <div ng-repeat="teamItem in organizationDescriptionObject">
                                    <div class="col-lg-12 description">
                                        Team Name : <span >  {{teamItem.TeamName}}  </span> 
                                    </div>
                                    <div class="col-lg-12 description">
                                        Team Description :  <span >  {{teamItem.TeamDescription}}  </span>
                                    </div>
                                    <div class="col-lg-12 description">
                                        <h1> Team Members : </h1>
                                        <div class="row">
                                            <div class="follower_div">
                                                <div class="row">
                                                    <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                                        <div class="member-pic pull-left" ng-repeat="item in teamItem.TeamMembers">
                                                            <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                <div class="col-lg-12">
                                    <div class="description">
                                        <h1> Projects  Detail for {{teamItem.TeamName}} </h1>
                                        <div ng-repeat="ProjectItem in teamItem.Projects">
                                                <div class="col-lg-12 description">
                                                    Project Name : <span >  {{ProjectItem.ProjectName}}  </span>
                                                </div>
                                                <div class="col-lg-12 description">
                                                    Project Description :  <span >  {{ProjectItem.ProjectDescription}}  </span>
                                                </div>
                                                <h1> Project Members : </h1>
                                                <div class="row">
                                                    <div class="follower_div">
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                                                <div class="member-pic pull-left" ng-repeat="item in ProjectItem.ProjectMembers">
                                                                    <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                    
                            </div>
                            
                        </div>
                    </div>
















                   



         
                </div>
            </div>
        </div>
    </div>



</div>

