﻿



<div class="modal fade" id="divOrganizationDescriptionSection" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> {{organizationDescriptionObject.CompanyName}} Detail </h4>
            </div>

            <!--{{organizationDescriptionObject}}-->

            <form name="InvoicePreviewForm" novalidate class="css-form">

                <div class="modal-body">

                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <tr>
                                <td>
                                    <div class="images pull-left profile-pic" style="margin-right:10px; margin-top:5px;height: 60px;">
                                        <img style="height: 60px;" ng-src="{{imgURL}}{{organizationDescriptionObject.CompanyProfilePic}}">
                                    </div>
                                </td>
                                <td style="text-align:center;vertical-align:middle;">
                                   <div style="font-size:large; font-weight:bolder">{{organizationDescriptionObject.CompanyName}}</div> 
                                </td>
                            </tr>

                            <!--<tr>
                                <td>
                                    Invoice :  {{AllTodosForPreviewObject.InvoiceNumber}}
                                </td>

                                <td>
                                    To :  {{AllTodosForPreviewObject.ToName}}

                                </td>

                            </tr>-->
                            <tr>
                                <td>
                                    Joined on: <strong>{{organizationDescriptionObject.CompanyAssignedOnDate|date:'MM-dd-yyyy'}}</strong> 
                                </td>

                                <td>
                                    Role: <strong>{{organizationDescriptionObject.Role}}</strong> 
                                </td>

                            </tr>
                            <!--<tr>
                                <td>
                                    Subject :  {{AllTodosForPreviewObject.Message}}
                                </td>

                                <td></td>

                            </tr>-->

                        </table>

                    </div>

                    <div class="table-responsive">
                        <div ng-repeat="teamItem in organizationDescriptionObject">
                            <div class="col-lg-12 description">
                                Team Name : <span>  {{teamItem.TeamName}}  </span>
                            </div>
                            <!--<div class="col-lg-12 description">
                                Team Description :  <span>  {{teamItem.TeamDescription}}  </span>
                            </div>
                            <div class="col-lg-12 description">
                                <h1> Team Members : </h1>
                                <div class="row">
                                    <div class="follower_div">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                                <div class="member-pic pull-left" ng-repeat="item in teamItem.TeamMembers">
                                                    <img title="{{item.MemberName}}" ng-src="{{imgURL}}{{item.MemberProfilePhoto}}">
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th> Project </th>
                                        <th> Description </th>
                                        <th> Members </th>
                                        <!--<th> Rate </th>-->
                                        <th> Hours </th>
                                        <th> Amount </th>
                                    </tr>
                                </thead>


                                <tr ng-repeat="item in teamItem.Projects">

                                    <td> {{item.ProjectName}} </td>
                                    <td> {{item.ProjectDescription}} </td>
                                    <td>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6">
                                                <div class="member-pic pull-left" ng-repeat="item1 in item.ProjectMembers">
                                                    <img title="{{item1.MemberName}}" ng-src="{{imgURL}}{{item1.MemberProfilePhoto}}">
                                                </div>

                                            </div>

                                        </div>
                                    </td>
                                    <!--<td> $ {{item.Rate}}  </td>-->
                                    <td> {{item.Hours}} </td>
                                    <td> $ {{item.Amount}} </td>

                                </tr>

                                <tr>
                                    <td>  </td>
                                    <td>   </td>
                                    <td>  </td>
                                    <!--<td>  </td>-->
                                    <td> Total Hours:  {{organizationDescriptionObject.TotalTime}}</td>
                                    <td> Total Amount: $ {{organizationDescriptionObject.TotalAmount}}</td>
                                </tr>


                            </table>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">

                    <a href="" ng-click="CloseOrganizationDetail()" class="edit-btn">Close</a>

                </div>

            </form>



        </div>
    </div>
</div>



