﻿

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divUserFeedbackManagementSection">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-comment"></i> Feedbacks</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Feedback" ng-model="inputSearchFeedback" class="project-search form-control" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a class="edit-btn pull-right" style="width:auto;cursor:pointer" ng-click="UserFeedbackManagement.showModalUserFeedback()">Add New Feedback</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-box-space" ng-class="{activeUserFeedback: item.UserFeedbackId==selectedUserFeedback}" ng-repeat="item in filteredFeedbacksObject=(UserFeedbacksObject | filter:inputSearchFeedback)">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12" style="padding:0;">
                                    <div class="userfeedback-profile-pic pull-left" ng-click="showOtherUserProfile(item.CreatorUserId)"><img title="{{item.CreatorName}}" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}" style="cursor:pointer;" /></div>
                                    <div class="pull-left" style="margin:0; width:100%;"><h5 ng-bind-html="item.CreatorName|searchfilter:inputSearchFeedback"></h5></div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12" style="padding:0;">
                                    <div style="width:80%; float:left;margin-top:10px;cursor:pointer !important;" ng-click="UserFeedbackManagement.showUserFeedbackDescription(item)">
                                        <div class="info-head" >
                                            Title : <a ><span ng-bind-html="item.Title|searchfilter:inputSearchFeedback"></span></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="pull-left" style="margin-top:10px;" >
                                            Description :  <span style="color: #777; font-weight: bold; text-align:justify;" ng-bind-html="item.Description|searchfilter:inputSearchFeedback"> </span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div style="width:15%;float:right;">
                                        <div class="info-head" >
                                            <a ng-if="!item.HasVoted" ng-click="UserFeedbackManagement.voteUserFeedback(item,$index)" style="width:auto;font-size:20px;color:silver;cursor:pointer" class="pull-right" > <i class="fa fa-thumbs-up"></i></a>
                                            <a ng-if="item.HasVoted" ng-click="UserFeedbackManagement.unVoteUserFeedback(item,$index)" style="width: auto; font-size: 20px;" class="pull-right"><i class="fa fa-thumbs-up"></i></a>
                                            <a style="width: auto;margin-right:10px;margin-top:6px;" ng-bind="item.Voters.length <=1?item.Voters.length +' Vote':item.Voters.length +' Votes'" class="pull-right"></a>
                                            <div class="clearfix"></div>
                                        </div>
                                        
                                        <div >
                                            <span class="label label-danger process-label pull-right"  ng-if="item.Priority==1">High Priority</span>
                                            <span class="label label-warning process-label pull-right"  ng-if="item.Priority==2">Medium Priority</span>
                                            <span class="label label-success process-label  pull-right"   ng-if="item.Priority==3">Low Priority</span> <br>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div>
                                            <span style="color: #777;" class="pull-right" ng-bind-html="item.CreatedDate|date:'MM/dd/yyyy'|searchfilter:inputSearchFeedback"></span>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    

                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="info-box-space" ng-if="!filteredFeedbacksObject.length">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                        <div class="info-head">No Feedbacks Found.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>


    <div id="hideRightWindow" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow"
         style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>
        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>

        <div style="overflow:hidden;height:100%;padding-right:5px;" ng-include="'views/DescriptionPanel/userFeedbackDescriptionSection.html'"></div>
    </div>


</div>



<div ng-include="'views/feedback/UserFeedbackModal.html'"></div>

<!--<div class="col-lg-4 right-bar-bg animate0 fadeInDown" ng-hide="hideRightWindow" style="position:relative;float:right;right:-464px;width:452px;top:-325px;">

    <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>
    <div id="divrightloader" style="display:none;" class="divrightLoader">
        <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
    </div>

    <div ng-include="'views/DescriptionPanel/userFeedbackDescriptionSection.html'"></div>
</div>-->


