﻿
<div class="modal fade" id="modalUserFeedback" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="userFeedbackForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Feedback </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail">Title</label>
                        <input name="Title" class="form-control" placeholder="Enter Title " ng-model="userFeedbackAddUpdateModel.Title" required maxlength="100" tabindex="1" 
                               ng-class="{inputError:userFeedbackForm.Title.$dirty && userFeedbackForm.Title.$invalid}" />
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Description</label>
                        <textarea name="Description" class="form-control" placeholder="Enter Description " ng-model="userFeedbackAddUpdateModel.Description" required maxlength="300" style="cursor:pointer" tabindex="1"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Priority</label>
                        <select class="form-control" ng-model="userFeedbackAddUpdateModel.Priority" name="Priority" ng-class="{inputError:userFeedbackForm.Priority.$dirty && userFeedbackForm.Priority.$invalid}" tabindex="3" required>
                            <option selected value="">--Select Priority --</option>
                            <option value="1">High Priority</option>
                            <option value="2">Medium Priority</option>
                            <option value="3">Low Priority</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Is Private</label>
                        <select class="form-control" ng-model="userFeedbackAddUpdateModel.IsPrivate" tabindex="4">
                            <option selected value="False">No</option>
                            <option value="True">Yes</option>

                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <a style="cursor:pointer" ng-click="UserFeedbackManagement.saveUserFeedback(userFeedbackForm.Title.$invalid,userFeedbackForm.Priority.$invalid,userFeedbackForm)" class="edit-btn" tabindex="5">Save Feedback</a>
                    <a style="cursor:pointer" data-dismiss="modal" class="edit-btn" tabindex="6">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

