﻿


<div class="modal fade" id="modalAddUpdateProfessionalDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddUpdateProfessionalDetailForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Professional Details </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Company Name</label>
                        <input name="CompanyName" class="form-control" ng-class="{inputError:AddUpdateProfessionalDetailForm.CompanyName.$dirty && AddUpdateProfessionalDetailForm.CompanyName.$invalid}" placeholder="Enter Company Name"
                                ng-model="ProfessionalDetailAddUpdateModel.CompanyName" required maxlength="100">
                    </div>
                
                    
                    <!--<div class="form-group">
                        <label for="txtEmail">Years Worked</label>
                        <input name="YearsWorked" class="form-control" ng-class="{inputError:AddUpdateProfessionalDetailForm.YearsWorked.$dirty && AddUpdateProfessionalDetailForm.YearsWorked.$invalid}" placeholder="Enter Years Worked" ng-model="ProfessionalDetailAddUpdateModel.YearsWorked" required>
                    </div>-->

                    <div class="form-group">
                        <label for="txtEmail">Title</label>
                        <input name="Title" class="form-control" ng-class="{inputError:AddUpdateProfessionalDetailForm.Title.$dirty && AddUpdateProfessionalDetailForm.Title.$invalid}" placeholder="Enter Title" ng-model="ProfessionalDetailAddUpdateModel.Title" required maxlength="20">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Location</label>
                        <input name="Location" class="form-control" ng-class="{inputError:AddUpdateProfessionalDetailForm.Location.$dirty && AddUpdateProfessionalDetailForm.Location.$invalid}" placeholder="Enter Location" ng-model="ProfessionalDetailAddUpdateModel.Location" required maxlength="100">
                    </div>


                    <div class="form-group">
                        <label for="txtEmail">Time Period</label>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;margin:0">

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0">

                                    <p class="input-group" style="margin:0px">
                                        <input id="From" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                               ng-model="ProfessionalDetailAddUpdateModel.From" is-open="popup1.opened" min-date="minDate" max-date="today" 
                                               datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="From"
                                               placeholder="From"
                                               ng-class="{inputError:AddUpdateProfessionalDetailForm.From.$dirty && AddUpdateProfessionalDetailForm.From.$invalid}" readonly="readonly" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar" ></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0">
                                    <p class="input-group" style="margin:0px" ng-if="!currentWorking">
                                        <input id="To" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                               ng-model="ProfessionalDetailAddUpdateModel.To" is-open="popup2.opened" min-date="ProfessionalDetailAddUpdateModel.From" max-date="today" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="To"
                                               placeholder="To" readonly 
                                               ng-class="{inputError:AddUpdateProfessionalDetailForm.To.$dirty && AddUpdateProfessionalDetailForm.To.$invalid}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>

                                    <p class="input-group" style="margin:0px; text-align:center;vertical-align:middle;font-size:15px;" ng-if="currentWorking">
                                        - Present
                                    </p>

                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;margin:0;" >
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0">

                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0">
                                        <input style="visibility:visible;" ng-change="changeCurrentWorkingStatus(currentWorking)" type="checkbox" ng-model="currentWorking"> I currently work here
                                    </div>
                                    
                                </div>

                        </div>

                        </div>



                    <div class="form-group">
                        <label for="txtEmail">Description</label>
                        <textarea name="Description" class="form-control" ng-class="{inputError:AddUpdateProfessionalDetailForm.Description.$dirty && AddUpdateProfessionalDetailForm.Description.$invalid}" maxlength="500" placeholder="Enter Description" ng-model="ProfessionalDetailAddUpdateModel.Description" required ></textarea>
                    </div>





                </div>
                <div class="modal-footer">
                    <a ng-hide="ProfessionalDetailButton" style="cursor:pointer;" ng-click="saveUserProfessionalDetail(AddUpdateProfessionalDetailForm,AddUpdateProfessionalDetailForm.CompanyName.$invalid,AddUpdateProfessionalDetailForm.Title.$invalid,
                                AddUpdateProfessionalDetailForm.Location.$invalid, AddUpdateProfessionalDetailForm.Description.$invalid,AddUpdateProfessionalDetailForm.From.$invalid,AddUpdateProfessionalDetailForm.To.$invalid)"
                       class="edit-btn">Add</a>

                    <a ng-show="ProfessionalDetailButton" style="cursor:pointer;" ng-click="updateUserProfessionalDetail(AddUpdateProfessionalDetailForm,AddUpdateProfessionalDetailForm.CompanyName.$invalid,AddUpdateProfessionalDetailForm.Title.$invalid,
                                AddUpdateProfessionalDetailForm.Location.$invalid, AddUpdateProfessionalDetailForm.Description.$invalid,AddUpdateProfessionalDetailForm.From.$invalid,AddUpdateProfessionalDetailForm.To.$invalid)"
                       class="edit-btn">Update</a>

                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
