﻿


<div class="modal fade" id="modalAddUpdateEducationDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="AddUpdateEducationDetailForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Education Details </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">School</label>
                        <input name="School" class="form-control" ng-class="{inputError:AddUpdateEducationDetailForm.School.$dirty && AddUpdateEducationDetailForm.School.$invalid}" placeholder="Enter School" ng-model="EducationDetailAddUpdateModel.School" required maxlength="100">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Select Year (Start and End year of degree/course</label>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;margin:0">

                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0;">
                                <select ng-model="EducationDetailAddUpdateModel.DateAttendedFrom" class="form-control"  style="width:95%" name="DatesAttendedFrom" ng-class="{inputError:AddUpdateEducationDetailForm.DatesAttendedFrom.$dirty && AddUpdateEducationDetailForm.DatesAttendedFrom.$invalid}" id="DatesAttendedFrom" required>
                                    <option value=""> --Select From Year-- </option>
                                    <option ng-repeat="item in objForDatesAttendedFrom" ng-selected="EducationDetailAddUpdateModel.DatesAttendedFrom == item" value="{{item}}">{{item}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding:0;margin:0;">
                                <select ng-model="EducationDetailAddUpdateModel.DateAttendedTo" class="form-control"  name="DatesAttendedTo"  ng-class="{inputError:AddUpdateEducationDetailForm.DatesAttendedTo.$dirty && AddUpdateEducationDetailForm.DatesAttendedTo.$invalid}" id="DatesAttendedTo" required>
                                    <option value=""> --Select To Year-- </option>
                                    <option ng-repeat="item in objForDatesAttendedTo" ng-selected="EducationDetailAddUpdateModel.DatesAttendedTo == item" value="{{item}}">{{item}}</option>
                                </select>
                            </div>

                        </div>


                        </div>


                    <!--<div class="form-group">
                        <label for="txtEmail">Dates Attended To (Or expected graduation year)</label>

                        <select ng-model="EducationDetailAddUpdateModel.DateAttendedTo" class="form-control" style="width:50%" name="DatesAttendedTo" id="DatesAttendedTo">
                            <option value=""> -Select To Date- </option>
                            <option ng-repeat="item in objForDatesAttendedTo" ng-selected="EducationDetailAddUpdateModel.DatesAttendedTo == item" value="{{item}}">{{item}}</option>
                        </select>

                    </div>-->


                    <div class="form-group">
                        <label for="txtEmail">Degree</label>
                        <select ng-model="EducationDetailAddUpdateModel.Degree" class="form-control" style="width:47.5%" name="Degree" 
                                ng-class="{inputError:AddUpdateEducationDetailForm.Degree.$dirty && AddUpdateEducationDetailForm.Degree.$invalid}" id="Degree" required>
                            <option value=""> --Select Degree-- </option>
                            <option ng-repeat="item in DegreeRange" ng-selected="EducationDetailAddUpdateModel.Degree == item" value="{{item}}">{{item}}</option>
                        </select>
                    </div>

                    <div class="form-group" id="EducationalDiv">
                        <label for="txtEmail">Educational Stream</label>
                        <!--<input name="EducationalStream" class="form-control" ng-class="{inputError:AddUpdateEducationDetailForm.EducationalStream.$dirty && AddUpdateEducationDetailForm.EducationalStream.$invalid}" placeholder="Enter Educational Stream" ng-model="EducationDetailAddUpdateModel.EducationalStream" required>-->


                        <div class="ngInputTag">

                            <!--min-length="1"
                            max-length="2"-->

                            <tags-input ng-model="EducationDetail.EducationalStream"
                                        name ="EducationalStream"  
                                        display-property="EducationalStreamName"
                                        placeholder="Add a Educational Stream"
                                        replace-spaces-with-dashes="false"
                                        add-from-autocomplete-only="true"
                                        min-length="1"
                                        template="ETag-template" >
                                <auto-complete source="allEducationalStreamObject"
                                               min-length="0"
                                               load-on-focus="true"
                                               load-on-empty="true"
                                               max-results-to-show="32"
                                               template="Eautocomplete-template">
                                </auto-complete>
                            </tags-input>

                            <script type="text/ng-template" id="ETag-template">
                                <div class="tag-template">
                                    <!--<div class="left-panel">
                                        <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag" />
                                    </div>-->
                                    <div class="right-panel">
                                        <span>{{$getDisplayText()}}</span>
                                        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                    </div>
                                </div>
                            </script>

                            <script type="text/ng-template" id="Eautocomplete-template">
                                <div class="autocomplete-template">
                                    <!--<div class="left-panel">
                                        <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
                                    </div>-->
                                    <div class="right-panel">
                                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                                        <span>({{data.Description}})</span>
                                        <!--<span>{{data.TagName}}</span>-->
                                    </div>
                                </div>
                            </script>
                        </div>


                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Grade</label>
                        <input name="Grade" class="form-control" ng-class="{inputError:AddUpdateEducationDetailForm.Grade.$dirty && AddUpdateEducationDetailForm.Grade.$invalid}" placeholder="Enter Grade" ng-model="EducationDetailAddUpdateModel.Grade" required maxlength="3"  ng-keypress="isNotNumber($event)" >
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Activities and Societies</label>
                        <textarea name="ActivitiesAndSocieties" class="form-control" ng-class="{inputError:AddUpdateEducationDetailForm.ActivitiesAndSocieties.$dirty && AddUpdateEducationDetailForm.ActivitiesAndSocieties.$invalid}" maxlength="500" placeholder="Enter Activities And Societies" ng-model="EducationDetailAddUpdateModel.ActivitiesAndSocieties" required  ></textarea>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Description</label>
                        <textarea name="Description" class="form-control" ng-class="{inputError:AddUpdateEducationDetailForm.Description.$dirty && AddUpdateEducationDetailForm.Description.$invalid}" placeholder="Enter Description" maxlength="500" ng-model="EducationDetailAddUpdateModel.Description" required ></textarea>
                    </div>



                </div>
                <div class="modal-footer">
                    <a ng-hide="EducationDetailButton" style="cursor:pointer;" ng-click="saveUserEducationDetail(AddUpdateEducationDetailForm,AddUpdateEducationDetailForm.School.$invalid,AddUpdateEducationDetailForm.Degree.$invalid,
                               AddUpdateEducationDetailForm.Grade.$invalid,AddUpdateEducationDetailForm.ActivitiesAndSocieties.$invalid,AddUpdateEducationDetailForm.Description.$invalid,
                               AddUpdateEducationDetailForm.DatesAttendedFrom.$invalid,AddUpdateEducationDetailForm.DatesAttendedTo.$invalid)"
                       class="edit-btn">Add</a>

                    <a ng-show="EducationDetailButton" style="cursor:pointer;" ng-click="updateUserEducationDetail(AddUpdateEducationDetailForm,AddUpdateEducationDetailForm.School.$invalid,AddUpdateEducationDetailForm.Degree.$invalid,
                               AddUpdateEducationDetailForm.Grade.$invalid,AddUpdateEducationDetailForm.ActivitiesAndSocieties.$invalid,AddUpdateEducationDetailForm.Description.$invalid,
                               AddUpdateEducationDetailForm.DatesAttendedFrom.$invalid,AddUpdateEducationDetailForm.DatesAttendedTo.$invalid)"
                       class="edit-btn">Update</a>

                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
