﻿


<div class="row">
    <div class="col-lg-12" style="padding-right: 8px;padding-left: 8px;">

        <!--<span class="label label-primary" ng-repeat="item in Tags.BusinessDomainExpertiseTags" style="color:white;margin:5px 5px 5px 5px"> {{item.TagName}} </span>-->

        <!--<a href="" class="label label-primary" ng-repeat="item in Tags.BusinessDomainExpertiseTags" style="color:white;margin:5px 5px 5px 5px" data-toggle="popover" data-trigger="hover" data-content="{{item.TagDescription}}"> {{item.TagName}} </a>-->

        <a href="" class="label label-primary" ng-repeat="item in Tags.BusinessDomainExpertiseTags" uib-popover="{{item.TagDescription}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay=600 style="color:white;margin:5px 5px 5px 5px"> {{item.TagName}} </a>

        <div ng-if="Tags.BusinessDomainExpertiseTags.length < 1" class="No-Records-Found">
            No Records Found
        </div>

    </div>
</div>


