﻿


<div class="Scrollable">
    <div ng-repeat="item in UserEducationDetailObject" id="{{item.Id}}" class="edithover user-detail-panel">

        <hr ng-if="$index != 0" style="border-bottom:1px solid #fff !important;" />
        <div style="font-size:14px !important; "> <a style="font-style:italic" ng-bind="item.Degree"></a> with  <a ng-bind="item.Grade"></a>   <span class="pull-right" style="padding-right:10px;"> {{item.DateAttendedFrom}} - {{item.DateAttendedTo}} </span>    </div>
        <div style="color:gray;">
            <span ng-bind="item.School">  </span>
        </div>


        <div ng-hide="otherUser" style="margin-top:-20px;" class="pull-right">

            <span class="Editbtn" style="margin-top:-15px !important;"> <a href="" ng-click="editUserEducationDetail(item)" title="Edit"> <i class="glyphicon glyphicon-edit"></i>  </a> </span>

            <a style="padding:2px;font-size:large;color:red;" class="Editbtn" href="" ng-click="deleteUserEducationDetail(item.Id,$index)" title="Delete"> <i class="glyphicon glyphicon-remove"></i>  </a>

        </div>

    </div>


    <div ng-if="UserEducationDetailObject.length < 1" class="No-Records-Found">
        No Records Found
    </div>

</div>


<div ng-include="'views/UserProfileModal/AddUpdateEducationDetail.html'"></div>
