﻿




<div ng-repeat="item in FavProjects.userFavouriteProjects" id="{{item.Id}}" class="edithover user-detail-panel">
    <div class="info-area">
        <hr ng-if="$index != 0" style="border-bottom:1px solid #ddd !important;" class="nopadding" />
        <a style="font-style:italic; font-weight:bold!important;" ng-bind="item.ProjectName"></a> <br />
        <span ng-bind="item.ProjectDescription">  </span>
    </div>

    <!--<div class="info-area">     </div>
    <div class="info-area">     </div>-->

</div>


<div  ng-if="FavProjects.userFavouriteProjects.length < 1" class="No-Records-Found">
    No Records Found
</div>
