﻿
<div class="row Scrollable">

    <div class="col-lg-12 " style="padding-right: 8px;padding-left: 8px;overflow-y: auto">

        <div ng-repeat="item in UserFeedbacks" style="padding-left:20px;">

            <hr ng-if="$index != 0" style="border-bottom:1px solid #fff !important;" />

            <blockquote style="background-color:#f6f6f6;font-style:italic;margin-right: 15px;color:#474747">

                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <span ng-bind="item.ProjectRemarks">    </span>
                <i class="fa fa-quote-right" aria-hidden="true"></i>

                <div class="pull-right" style="font-style:normal;color:#3facff !important">
                    <span ng-bind="item.ProjectName" style="font-style:normal;color:#3facff !important"></span>
                    <span style="font-style:normal;color:#3facff !important">({{item.CompanyName}}) </span>
                    <a href="" ng-click="toggleId = !toggleId;" style="margin-left:15px;font-style:italic;" > view more... </a>
                </div>

            </blockquote>


            <div ng-show="toggleId">
                <div ng-repeat="subitem in item.MemberFeedback" style="padding-left:20px;">
                    <hr ng-if="$index != 0" style="border-bottom:1px solid #fff !important;" />
                    <blockquote style="background-color:#f6f6f6;font-style:italic;margin-right: 15px;color:#474747">
                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                        <span ng-bind="subitem.Feedback">    </span>
                        <i class="fa fa-quote-right" aria-hidden="true"></i>

                        <div class="pull-right" style="font-style:normal;color:#3facff !important">
                            <span ng-bind="subitem.MemberName" style="font-style:normal;color:#3facff !important"></span>
                            <span style="font-style:normal;color:#3facff !important">({{subitem.MemberRole}}) </span>
                        </div>
                    </blockquote>
                </div>
                <div ng-if="!item.MemberFeedback.length" class="No-Records-Found">
                    No Records Found
                </div>
            </div>

        </div>

        <div ng-if="!UserFeedbacks.length" class="No-Records-Found">
            No Records Found
        </div>

    </div>
</div>





