﻿<div class="modal fade" id="modalHireMe" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Add New Freelancer</h4>
            </div>

            <form name="addNewUserForm" novalidate class="css-form">

                <div class="modal-body">

                    <!--<div class="form-group">
                        <label for="txtEmail">Email Address/Handle </label>
                        <input type="text" ng-class="{inputError:addNewUserForm.FreelancerModel.EmailOrHandle.$dirty && addNewUserForm.FreelancerModel.EmailOrHandle.$invalid}"
                               name="EmailOrHandle" class="form-control" ng-keyup="confirmEmailOrHandle(FreelancerModel.EmailOrHandle)"
                               ng-blur="confirmEmailOrHandle(FreelancerModel.EmailOrHandle)"
                               placeholder="Search By Email Or Handle" ng-model="FreelancerModel.EmailOrHandle" />
                    </div>-->

                    <div class="form-group">
                        <!--<div ng-if="addNewUserForm.EmailOrHandle.$dirty">-->
                            <label for="txtFirstName">Freelancer Info : </label>
                            <div ng-if="confirmFreelancerObject.Email != null">
                                <div class="row">
                                    <div class="col-lg-2">
                                        <img ng-src="{{imgURL}}{{confirmFreelancerObject.ProfilePic}}" alt="" class="profile-pic" />
                                    </div>
                                    <div class="col-lg-10">
                                        <div> Freelancer Name : {{confirmFreelancerObject.FirstName}}  {{confirmFreelancerObject.LastName}}</div>
                                        <div> Freelancer Email : {{confirmFreelancerObject.Email}}</div>
                                        <div class="row">
                                            <div class="col-lg-12"> Assigned Projects With Role :  </div>
                                            <div class="col-lg-10 col-lg-offset-1 table-responsive" ng-if="confirmFreelancerObject.PreviousProjectsList.length != 0">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr>
                                                            <th>  Project Name   </th>
                                                            <th>  Role  </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="prjctItem in confirmFreelancerObject.PreviousProjectsList">
                                                            <td>{{prjctItem.ProjectName}}</td>
                                                            <td>{{prjctItem.RoleInProject}}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="col-lg-10 col-lg-offset-1" ng-if="confirmFreelancerObject.PreviousProjectsList.length == 0">
                                                No Project Assigned
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="confirmFreelancerObject  == null">
                                <div class="row">
                                    <div class="col-lg-2">
                                    </div>
                                    <div class="col-lg-10">
                                        <div> No Freelancer Found. </div>
                                    </div>
                                </div>
                            </div>
                        <!--</div>-->
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Projects</label>
                        <div isteven-multi-select
                             input-model="newModel"
                             output-model="output"
                             button-label="icon Text"
                             item-label="icon Text"
                             tick-property="false">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">User Hourly Rate (in $)</label>
                        <input type="text" ng-keypress="isNumber($event)" ng-class="{inputError:addNewUserForm.FreelancerModel.UserRate.$dirty && addNewUserForm.FreelancerModel.UserRate.$invalid}"
                               name="UserRate" class="form-control" placeholder="Enter Hourly Rate For Freelancer" ng-model="FreelancerModel.UserRate" />
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Weekly Limit (hours per week)</label>
                        <input type="text" ng-keypress="isNumber($event)" ng-class="{inputError:addNewUserForm.FreelancerModel.WeeklyLimit.$dirty && addNewUserForm.FreelancerModel.WeeklyLimit.$invalid}"
                               name="WeeklyLimit" class="form-control" placeholder="Enter Weekly Limit For Freelancer" ng-model="FreelancerModel.WeeklyLimit" />
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Job Title</label>
                        <input type="text" ng-class="{inputError:addNewUserForm.FreelancerModel.JobTitle.$dirty && addNewUserForm.FreelancerModel.JobTitle.$invalid}"
                               name="JobTitle" class="form-control" placeholder="Enter Job Title For Freelancer" ng-model="FreelancerModel.JobTitle" />
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Job Description</label>
                        <!--<input type="text" ng-class="{inputError:addNewUserForm.FreelancerModel.JobDescription.$dirty && addNewUserForm.FreelancerModel.JobDescription.$invalid}"
                               name="JobDescription" class="form-control" placeholder="Enter Job Description For Freelancer" ng-model="FreelancerModel.JobDescription" />-->

                        <trix-editor ng-model-options="{ updateOn: 'blur' }" spellcheck="false" class="trix-content " ng-model="FreelancerModel.JobDescription" 
                                     angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" trix-selection-change="trixSelectionChange(e, editor);" 
                                     trix-focus="trixFocus(e, editor);" trix-blur="trixBlur(e, editor);" trix-file-accept="trixFileAccept(e, editor);" trix-attachment-add="trixAttachmentAdd(e, editor);" 
                                     trix-attachment-remove="trixAttachmentRemove(e, editor);" placeholder="Write something for Job Description.." 
                                     ng-class="{inputError:addNewUserForm.FreelancerModel.JobDescription.$dirty && addNewUserForm.FreelancerModel.JobDescription.$invalid}"
                                     name="JobDescription"></trix-editor>


                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">User Role</label>
                        <select class="form-control" name="UserRole_Freelancer" id="ddlRole_Freelancer" ng-class="{inputError:addNewUserForm.FreelancerModel.UserRole_Freelancer && addNewUserForm.FreelancerModel.UserRole_Freelancer.$invalid}"
                                required ng-options="role.RoleId as role.Name for role in RoleObjectForFreelancer" ng-model="FreelancerModel.RoleId">
                            <option selected="selected" value="">--- Select User Role ---</option>
                        </select>
                    </div>


                </div>
                <div class="modal-footer">
                    <a href="" ng-click="sendInvitationToFreelancer($event,addNewUserForm)"  class="edit-btn">Send Invitation</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>


            </form>

</div>
    </div>
</div>
