﻿


<div class="Scrollable">

    <div ng-repeat="item in UserProfessionalDetailObject" id="{{item.Id}}" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 edithover user-detail-panel">

        <hr ng-if="$index != 0" style="border-bottom:1px solid #fff !important;" />

        <div style="font-size:14px;"> <a style="font-style:italic" ng-bind="item.Title"></a> in <a style="font-style:italic" ng-bind="item.CompanyName"></a>   <span style="padding-right:10px;"> ({{item.From |date:'MMMM-yyyy'}} to {{item.To |date:'MMMM-yyyy'}})</span>  </div>
        <div style="font-size:12px;"> <span ng-bind="item.Location">  </span></div>
        <!--<span style="color:#428bca">Responsibilities: </span>-->
        <div style="margin-top:-10px;" ng-hide="otherUser" class="pull-right">
            <span class="Editbtn" style=""> <a href="" ng-click="editUserProfessionalDetail(item)" title="Edit"> <i class="glyphicon glyphicon-edit"></i>  </a> </span>
            <a style="padding:2px;font-size:large;color:red;" class="Editbtn" href="" ng-click="deleteUserProfessionalDetail(item.Id,$index)" title="Delete"> <i class="glyphicon glyphicon-remove"></i>  </a>
        </div>

    </div>


    <div ng-if="UserProfessionalDetailObject.length < 1" class="No-Records-Found">
        No Records Found
    </div>

</div>

    <div ng-include="'views/UserProfileModal/AddUpdateProfessionalDetail.html'"></div>
