﻿



<div class="row">

    <div class="col-lg-12" style="padding-right: 8px;padding-left: 8px;">

        <!--<span class="label label-primary" ng-repeat="item in Tags.SkillSetTags" style="color:white;margin:5px 5px 5px 5px"> {{item.TagName}} </span>-->

        <!--<a href="" class="label label-primary" ng-repeat="item in Tags.SkillSetTags" style="color:white;margin:5px 5px 5px 5px;" data-toggle="popover" data-trigger="hover" data-content="{{item.TagDescription}}"> {{item.TagName}} </a>-->

        <!--<a title="{{item.TagDescription}}" href="" class="label label-primary" ng-repeat="item in Tags.SkillSetTags" style="color:white;margin:5px 5px 5px 5px;"> {{item.TagName}} </a>-->

        <a href="" class="label label-primary" ng-repeat="item in Tags.SkillSetTags" uib-popover="{{item.TagDescription}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay=600 style="color:white;margin:5px 5px 5px 5px;"> {{item.TagName}} </a>


        <div ng-if="Tags.SkillSetTags.length < 1" class="No-Records-Found">
            No Records Found
        </div>

    </div>
</div>

<!--<button uib-popover="I appeared on mouse enter!" popover-trigger="'mouseenter'" type="button" class="btn btn-default">Mouseenter</button>-->



 

