﻿


<div class="row">

    <div class="col-lg-12" style="padding-right: 8px;padding-left: 8px;">

        <div ng-if="UserTestimonials.UserTestimonialList.length > 0" ng-repeat="item in UserTestimonials.UserTestimonialList" style="padding-left:20px;">

            <hr ng-if="$index != 0" style="border-bottom:1px solid #fff !important;" />

            
            <blockquote style="background-color:#f6f6f6;font-style:italic;margin-right: 15px;color:#474747">

                <i class="fa fa-quote-left" aria-hidden="true"></i>
                <span ng-bind="item.Testimonial">    </span>
                <i class="fa fa-quote-right" aria-hidden="true"></i>
                
                <div  class="pull-right" style="font-style:normal;color:#3facff !important">
                    <span ng-bind="item.AdminName" style="font-style:normal;color:#3facff !important"></span> 
                    <span style="font-style:normal;color:#3facff !important" >({{item.CompanyName}}) </span>
                </div>

            </blockquote>
            
           




        </div>

        <div ng-if="UserTestimonials.UserTestimonialList.length < 1" class="No-Records-Found">
            No Records Found
        </div>

    </div>
</div>





