﻿<!--<div class="col-lg-12 col-md-12 col-xs-12" ng-show="showOrganizations" >

    <div class="row table table-bordered" ng-repeat="item in userStatisticsProjects.UserOrg" >


        <div class="col-lg-12 col-md-12 col-xs-12 nopadding">


            <div ng-if="$index == 0" class="col-lg-4 col-md-4 col-xs-4 nopadding" style="text-align:center;font-size:17px;color:gray">
                Organization
                <hr style="" />
            </div>
            <div ng-if="$index == 0" class="col-lg-8 col-md-8 col-xs-8 nopadding" style="text-align:center;font-size:17px;color:gray">
                Projects
                <hr style="border-bottom:1px solid #fff !important;" />
            </div>


            <div class="col-lg-4 col-md-4 col-xs-4" style="text-align:center; margin:10px 0 10px 0">

                <div class="count-circle" style="border:2px solid #3facff;background-color:#fff;" ng-click="showProjectsForCompany(item)">
                    <span ng-bind="item.TotalHoursForOrg || '0h'"></span><br />
                </div>
                <div class="info-head" style="color:gray;">
                    {{item.CompanyName}}
                </div>

            </div>



            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 details" style="font-size:14px;margin:10px 0 10px 0">


                <div class="projectItem" ng-repeat="projectItem in userStatisticsProjects.UserProjects | filter:{CompanyId:item.CompanyId}">

                    <span style="color:dodgerblue;"><i class="fa fa-th-list"></i></span>
                    {{projectItem.ProjectName}}
                    <span class="badge" style="background-color:white;border:1px solid orange;color:black;">{{projectItem.TotalHoursForProject}}</span>

                </div>

            </div>

        </div>



    </div>

</div>-->



<table style="width:100%;border:none; background-color:#f6f6f6" class="table table-bordered" ng-show="showOrganizations">
    <thead>
        <tr style="text-align:center;font-size:17px;color:gray;border:1px solid #fff!important;">
            <th>
                Organization
            </th>
            <th>
                Total Hours
            </th>
            <th>
                Project
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in userStatisticsProjects.UserOrg" style="border:1px solid #fff!important;">
            <td>

                    <div class="profile-pic" style="margin-left:30%;">
                        <img title="{{(item.CompanyName)}}" style="height:100%;" ng-src="{{imgURL}}{{item.CompanyProfilePhoto}}" />
                    </div>
                    <div class="info-head pull-left" style="color:gray;text-align:center;width:100%;">
                        {{item.CompanyName}}
                    </div>
            </td>
            <td>
                <div class="" style="font-family:'Segoe UI';color: dodgerblue;font-size: 25px;padding: 16px; text-align:center;vertical-align:middle;" ng-click="showProjectsForCompany(item)">
                    <span ng-bind="item.TotalHoursForOrg || '0h'"></span><br />
                </div>
            </td>

            <td>

                <div class="projectItem" ng-repeat="projectItem in userStatisticsProjects.UserProjects | filter:{CompanyId:item.CompanyId}">

                    <span style="color:dodgerblue;"><i class="fa fa-th-list"></i></span>
                    <span ng-if="(currentUserId == 0 ? false : projectItem.ProjectAccessLevel == 3 ? true : projectItem.ProjectAccessLevel == 1 ? false : projectItem.ProjectAccessLevel == 2 && projectItem.IsTeamMember ? true : false ) "> {{projectItem.ProjectName}} </span>
                    <span ng-if="(currentUserId == 0 ? true : projectItem.ProjectAccessLevel == 3 ? false : projectItem.ProjectAccessLevel == 1 ? true : projectItem.ProjectAccessLevel == 2 && projectItem.IsTeamMember ? false : true ) " class="label label-warning info-head" style="margin-right:5px;font-style:oblique;color:gray;"> Private </span>

                    <span class="badge" style="background-color:white;border:1px solid orange;color:black;">{{projectItem.TotalHoursForProject}}</span>

                </div>
            </td>
        </tr>
    </tbody>
</table>






<table style="width:100%;border:none; background-color:#f6f6f6" class="table table-bordered" ng-show="showOrganizationsWithEfficiency">
    <thead>
        <tr style="text-align:center;font-size:17px;color:gray;border:1px solid #fff!important;">
            <th>
                Organization
            </th>
            <th>
                Total Efficiency
            </th>
            <th>
                Project
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in userEfficiency.UserOrg" style="border:1px solid #fff!important;">
            <td >
                    <div class="profile-pic" style="margin-left:30%;">
                        <img title="{{(item.CompanyName)}}" style="height:100%" ng-src="{{imgURL}}{{item.CompanyProfilePhoto}}" />
                    </div>
                    <div class="info-head pull-left" style="color:gray;text-align:center;width:100%;">
                        {{item.CompanyName}}
                    </div>
            </td>

            <td>
                <div class="" style="font-family:'Segoe UI';color:dodgerblue;font-size: 25px;padding: 16px; text-align:center;vertical-align:middle;" ng-click="showProjectsForCompany(item)">
                    <span ng-bind="item.TotalEfficiencyForOrg || 0 +'%'"></span><br />
                </div>
            </td>

            <td>
                <div class="projectItem" ng-repeat="projectItem in userEfficiency.UserProjects | filter:{CompanyId:item.CompanyId}">
                    <span style="color:dodgerblue;"><i class="fa fa-th-list"></i></span>
                    <span ng-if="(currentUserId == 0 ? false : projectItem.ProjectAccessLevel == 3 ? true : projectItem.ProjectAccessLevel == 1 ? false : projectItem.ProjectAccessLevel == 2 && projectItem.IsTeamMember ? true : false ) "> {{projectItem.ProjectName}} </span>
                    <span ng-if="(currentUserId == 0 ? true : projectItem.ProjectAccessLevel == 3 ? false : projectItem.ProjectAccessLevel == 1 ? true : projectItem.ProjectAccessLevel == 2 && projectItem.IsTeamMember ? false : true ) " class="label label-warning info-head" style="margin-right:5px;font-style:oblique;color:gray;"> Private </span>


                    <span class="badge" style="background-color:white;border:1px solid orange;color:black;">{{projectItem.TotalEfficiencyForProject}}  %</span>
                </div>
            </td>
        </tr>
    </tbody>
</table>



