
.as-sortable-item,
.as-sortable-placeholder {
    width: 124px;
    margin: 1px;
    border: 1px solid silver;

}

.as-sortable-placeholder {
  border: 1px dotted #0000ff !important;
}

#sortable-container {
    display: inline-block;
}

.column {
  border: 1px solid silver;
  border-radius: 5px;
}