﻿

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divTodoManagementSection">
        <!--<div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-4">
                <div class="sorting-span pull-left">Project</div>
                <div class="sorting-selection">
                    <select ng-model="selectedProject" ng-change="showTodoManagementSection(selectedProject)" ng-options="item as item.ProjectName for item in projects track by item.ProjectId"></select>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="statusFilter" ng-change="filterTodosWithStatus(statusFilter)">
                        <option selected="selected" value="">All</option>
                        <option value="Pending">Pending</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-4">
                <a style="width: 100%; border-radius: 10px; height: 30px; background: #3FACFF; margin-bottom: 10px; color: white; float: left; text-align: center; padding-top: 7px;"
                   ng-click="showProjectMembersModal()" ng-bind="projectMembersObject.length+' Project Members'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="icon_bar">
                    <ul>
                        <li><a ng-click="showTodosInListView()"><i class="fa fa-list button_gray"></i>List View</a></li>
                        <li><a ng-click="showTodosInKanBanView()"><i class="fa fa-barcode button_gray"></i>Kanban</a></li>
                        <li><a ng-click="AttachmentManagement.showProjectAttachments(projectDescriptionObject)"><i class="fa fa-files-o button_gray"></i>Files</a></li>
                        <li class="pull-right"><a ng-click="showSectionManagementModal()"><i class="fa fa-edit button_gray"></i>Section</a></li>
                        <li class="pull-right"><a ng-click="showTodoAddUpdateModal()"><i class="fa fa-plus button_gray"></i>Todo</a></li>
                        <li class="pull-right">
                            <a ng-click="ClientFeedbackManagement.showClientFeedbackModal(false,projectDescriptionObject.projectId,0)">
                                <i class="fa fa-plus button_gray"></i>Feedback
                            </a>
                        </li>
                        <li class="pull-right"><a ng-click="stopInProgressTodo()"><i class="fa fa-plus button_gray"></i>Stop Progress</a></li>
                    </ul>
                </div>
            </div>
        </div>-->
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-bitbucket-square"></i> Add Manual Time</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form name="frmManualTimeTracking">
                    <div class="form-group">
                        <label style="display:block; font-size:larger;font-weight:bold;margin-bottom:10px;" for="TaskType">Task Type</label>
                        <!--<selectize ng-class="{inputError:addUpdateTodoForm.Section.$dirty && addUpdateTodoForm.Section.$invalid}" required name="section" placeholder='Select Section' options='Sections' config="todoAssigneeConfig" ng-model="todoAddUpdateModel.SectionId"></selectize>-->
                        <div class="row">
                            <div class="col-md-12">
                                <select id="ddlTaskType" class="form-control" name="TaskType" ng-model="todoManualTime.TaskType" required
                                        ng-change="ddlTaskTypeChange(todoManualTime.TaskType)" ng-class="{inputError:frmManualTimeTracking.TaskType.$dirty && frmManualTimeTracking.TaskType.$invalid}">
                                    <option value="">--- Select Task Type ---</option>
                                    <option value="1">phone Calls</option>
                                    <option value="2">Research & Development</option>
                                    <option value="3">Meeting</option>
                                    <option value="4">Admin Duties </option>
                                    <option value="5">PMS Task </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="todoManualTime.TaskType==5">
                        <label style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;" for="TaskId">Tasks</label>
                        <div class="row">
                            <div class="col-md-12">
                                <select id="ddlAddNewTodoSection" ng-class="{inputError:frmManualTimeTracking.TaskId.$dirty && frmManualTimeTracking.TaskId.$invalid}"
                                        required class="form-control" name="TaskId" ng-model="todoManualTime.Detail" ng-change="ddlTaskChange(todoManualTime.Detail)">
                                    <option value="">--- Select Task ---</option>
                                    <option ng-repeat="task in TaskList" value="{{task}}">{{task.Name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;" for="Summary">Summary</label>
                        <input ng-class="{inputError:frmManualTimeTracking.Summary.$dirty && frmManualTimeTracking.Summary.$invalid}" ng-disabled="todoManualTime.TaskType==5"
                               required name="Summary" class="form-control" placeholder="Enter Todo summary" ng-model="todoManualTime.Name">
                    </div>
                    <!--<div class="form-group">
                        <label for="Summary">IsDone</label>

                        <input class="checkbox" required name="IsDone" ng-checked="todoManualTime.IsDone" type="checkbox" style="visibility:visible;display:block">
                    </div>-->
                    <div class="form-group">
                        <label for="Description" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Description</label>
                        <div class="container lighter" style="width:100%;">
                            <!--<div text-angular ng-model="todoAddUpdateModel.Description" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>-->
                            <textarea required ng-model="todoManualTime.Description" style="height:200px;width:100%;" name="Description" ng-disabled="todoManualTime.TaskType==5"
                                      ng-class="{inputError:frmManualTimeTracking.Description.$dirty && frmManualTimeTracking.Description.$invalid}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="EstimatedTime" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Estimated Time</label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="EstimatedTime" ng-model="todoManualTime.EstimatedTime" ng-disabled="todoManualTime.TaskType==5"
                                           ng-class="{inputError:frmManualTimeTracking.EstimatedTime.$dirty && frmManualTimeTracking.EstimatedTime.$invalid}" required />
                                    <span>(eg.12h 10m)</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="DueDate" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Logged Time</label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="LoggedTime" ng-model="todoManualTime.LoggedTime" ng-keypress="estimatedTimeKeyPress($event)"
                                           ng-class="{inputError:frmManualTimeTracking.LoggedTime.$dirty && frmManualTimeTracking.LoggedTime.$invalid}" required />
                                    <span>(eg.12h 10m)</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="StartDate" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Start Date</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-group" style="margin:0 0 30px" >
                                        <input id="todStartDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                               ng-model="todoManualTime.StartDate" is-open="popup1.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="StartDate" ng-disabled="todoManualTime.TaskType==5"
                                               ng-class="{inputError:frmManualTimeTracking.StartDate.$dirty && frmManualTimeTracking.StartDate.$invalid}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="txtEmail" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">End Date</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-group" style="margin:0 0 30px">
                                        <input id="todStopDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open3()"
                                               ng-model="todoManualTime.StopDate" is-open="popup3.opened" min-date="todoManualTime.StartDate" max-date="''" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="StopDate" ng-disabled="todoManualTime.TaskType==5"
                                               ng-class="{inputError:frmManualTimeTracking.StopDate.$dirty && frmManualTimeTracking.StopDate.$invalid}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="DueDate" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Due Date</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-group" style="margin:0 0 30px">
                                        <input id="todDeadlineDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                               ng-model="todoManualTime.DeadlineDate" is-open="popup1.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="DeadlineDate" ng-disabled="todoManualTime.TaskType==5"
                                               ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open1()" ng-disabled="todoManualTime.TaskType==5">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="form-group">
                        <a ng-hide="todoManualTimeButton" style="cursor:pointer;" ng-click="SaveManualTodo()" class="edit-btn">Save Manual Time</a>
                    </div>
                    <!--<div class="modal-footer">

                        <a ng-hide="todoUpdateButton" href="" ng-click="addNewTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid)" class="edit-btn">Save Todo</a>
                        <span ng-show="todoUpdateButton">
                            <a ng-hide="myTodoUpdate" href="" ng-click="updateTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid)" class="edit-btn">Update Todo </a>
                            <a ng-show="myTodoUpdate" href="" ng-click="updateMyTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid)" class="edit-btn">Update Todo </a>
                        </span>
                        <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                    </div>-->
                </form>
            </div>
        </div>
    </div>

</div>


