﻿
<div style="position:relative;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div position relative;" id="divMyTodosManagementSection">
        <div>&nbsp;</div>
        <div class="row">
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Team</div>
                <div class="sorting-selection">
                    <select ng-model="selectedTeamInMyTodosSection" ng-change="changeTeamFilter()" ng-options="item as item.TeamName for item in MyTeamsAndProjectsObject">
                        <option value="" selected>All Teams</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Project</div>
                <div class="sorting-selection">
                    <select ng-model="selectedProjectInMyTodosSection" ng-change="changeProjectFilter(selectedProjectInMyTodosSection)" ng-options="item as item.ProjectName for item in selectedTeamInMyTodosSection.Projects">
                        <option value="" selected>All Projects</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Role</div>
                <div class="sorting-selection">
                    <select ng-model="roleFilter" ng-change="filterTodosWithRole(roleFilter)">
                        <option selected="selected" value="">All</option>
                        <option value="Assignee">As Assignee</option>
                        <option value="Reporter">As Reporter</option>
                        <option value="AssigneeReporter">As Assignee and Reporter</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="statusFilter" ng-change="filterTodosWithStatus(statusFilter)">
                        <option selected="selected" value="">All</option>
                        <option value="Pending">Pending</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="" class="kanbanPanel" ng-style="{'position':'absolute', 'overflow-x':'hidden','margin-top':'10px','width':'98%','float':'left'}">
            <div class="row">
                <div class="col-lg-12">
                    <div class="task_div" style="margin:0px;padding:0px;">
                        <ul>
                            <li ng-init="nodetodos.todoIndex=$index;" ng-class="{li_selected: nodetodos.todoId==selectedTodo}" ng-repeat="nodetodos in filteredMyTodos=(MyTodosObject|filter:{isDone:isDoneFilter,inProgress:inProgressFilter,assigneeId:assigneeFilter,reporterId:reporterFilter,projectId:selectedProjectInMyTodosSection.projectId,teamId:selectedTeamInMyTodosSection.teamId})">

                                <div class="images pull-left"><img ng-src="{{nodetodos.assigneeProfilePhoto}}" alt=""></div>
                                <p class="pull-left" ng-class="{completedTodo:nodetodos.isDone}" ng-bind="nodetodos.name"></p>
                                <span ng-if="nodetodos.isDone" class="label label-success process-label">Complete</span>
                                <span ng-if="nodetodos.inProgress && !nodetodos.isDone" class="label label-warning process-label">In progress</span>
                                <span ng-if="!nodetodos.inProgress && !nodetodos.isDone" class="label label-danger process-label">Pending</span>
                                <a data-nodrag ng-click="showMyTodoDescriptionSection(nodetodos)" class="pull-right right_arrwo_gary"><i class="fa fa-angle-right"></i></a>
                                <a ng-click="editMyTodo(nodetodos);" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-pencil"></i></a>
                                <a ng-click="deleteTodo(nodetodos.todoId,$parent.$index,$index)" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-trash-o"></i></a>
                                <div class="clearfix"></div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>

</div>




<div ng-include="'views/modal/ProjectMembersModal.html'"></div>
<div ng-include="'views/todo/TodoAddUpdateModal.html'"></div>