﻿<div style="display: none; position: relative;" id="divMyTodoes">
    <img style="position:absolute;left:45%;margin-top:200px;" ng-show="mytodoswindowloader" src="~/img/loaders/loader.png" />
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-lg-3">
            <div class="sorting-span pull-left">Team</div>
            <div class="sorting-selection">
                <select ng-model="selectedTeamInMyTodosSection" ng-change="TodoManagement.changeTeamFilter(selectedTeamInMyTodosSection)" ng-options="item as item.teamName for item in MyTeamsAndProjectsObject">
                    <option value="" selected>All Teams</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sorting-span pull-left">Project</div>
            <div class="sorting-selection">
                <select ng-model="selectedProjectInMyTodosSection" ng-change="TodoManagement.changeProjectFilter(selectedProjectInMyTodosSection)" ng-options="item as item.projectName for item in selectedTeamInMyTodosSection.projects">
                    <option value="" selected>All Projects</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sorting-span pull-left">Role</div>
            <div class="sorting-selection">
                <select ng-model="statusFilter" ng-change="TodoManagement.filterTodos(statusFilter)">
                    <option selected="selected" value="">All</option>
                    <option value="Pending">As Assignee</option>
                    <option value="InProgress">As Reporter</option>
                    <option value="Completed">As Follower</option>
                </select>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="sorting-span pull-left">Status</div>
            <div class="sorting-selection">
                <select ng-model="statusFilter" ng-change="TodoManagement.filterTodos(statusFilter)">
                    <option selected="selected" value="">All</option>
                    <option value="Pending">Pending</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Completed">Completed</option>
                </select>
            </div>
        </div>
    </div>
    <div ng-show="showNoTodosRecordsMessage" style="color: #D4D0C8;font-size:large;font-weight:bold;position:absolute;z-index:100;left:37%;top:237%;"> There are no records</div>
    <fieldset>
        <legend style="font-size:medium;color:grey;margin-bottom:3px;"> <img ng-src="{{UserProfile}}" style="border: 3px solid #D4D0C8; border-radius: 10%;" />&nbsp;<span style="color:grey;" class="active" ng-bind="myprofile.firstName"></span>'s&nbsp; <span ng-bind="teamName"></span>&nbsp; Todos</legend>
        <div style="margin-bottom:5px !important;width:100%;">
            <span ng-click="MyTodoes('other')" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='unassigned'}" class="glyphicon todoOptions"><span>Inbox</span></span> <span ng-click="MyTodoes('other')" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='unassigned'}" class="glyphicon todoOptions"><span>Unassigned</span></span><span ng-click="MyAssignedTODOs()" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='assigned'}" class="glyphicon todoOptions"><span>&nbsp;Assigned</span></span><span ng-click="MyPersonalAssignedTODOs()" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='personal'}" class="glyphicon todoOptions "><span>&nbsp;Personal</span></span><span ng-click="GetMyArchivedTodos()" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='archived'}" class="glyphicon todoOptions "><span>&nbsp;Archived</span></span><span ng-click="GetMyFollowedTodos()" style="width:16%;" ng-class="{selectedtodoOption: selectedtodo=='following'}" class="glyphicon todoOptions"><span>&nbsp;Following</span></span>

        </div>
        @* Unassigned Todos Sub Window *@
        <div ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="todos col-lg-12" ng-show="myunassignedtodoswindow" ng-repeat="item in myunassignedtodos" style="width: 100% !important;cursor:pointer; border-bottom: 1px solid silver; padding: 5px 0;" ng-init="loading.id=item.id;host.name=item.name;host.id=item.id;host.description=item.description;host.sectionId=item.sectionId;host.ddlId=item.ddlId;host.deadlineDate=item.deadlineDate;host.projectId=item.projectId;host.projectName=item.projectName;" ng-class="{activeButton: item.id==selectedTodo}">
            
            <span class="glyphicon glyphicon-user ml5">
            </span>
            <span tooltip="{{item.sectionName}}" tooltip-trigger="mouseenter" style="background-color: #FFAA7F; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller;cursor:pointer; " ng-bind="item.sectionName | limitTo:13"></span>
            <span ng-hide="host.ToDo" style="font-size:small;cursor:pointer;" ng-bind="item.name| limitTo:24" ng-click="getToDoDetails(item.id,item);$event.stopPropagation();;$event.stopPropagation();">
            </span>
            <span tooltip="{{item.projectName}}" tooltip-trigger="mouseenter" style="background-color: #C7D5E3; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.projectName | limitTo:13"></span>
            <span ng-show="host.ToDo">
                <input type="text" ng-model="host.name" required>
            </span>
            <span class="pull-right" style="padding-right: 15px; margin-top: 2px;">
                <span ng-show="host.ToDo" aria-hidden="true" ng-click="updateToDoTask(host,item.display)"
                      class="glyphicon glyphicon-ok ml5"></span>
                <span ng-show="item.inProgress" class="size11" style="color:green;">InProgress</span>
                <span ng-hide="item.inProgress" class="size11" style="color:red;">Pending</span>
                <span ng-hide="item.display">
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="editToDo(host);$event.stopPropagation();"
                          class="glyphicon glyphicon-edit ml5 size11"></span>
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="confirmDeleteToDo(item.id,item.name);$event.stopPropagation();"
                          class="glyphicon glyphicon-remove ml5  size11"></span>
                </span>
                <span ng-hide="host.ToDo" aria-hidden="true" style="text-align:right;cursor:pointer;"
                      ng-click="getToDoDetails(item.id,item);$event.stopPropagation();;$event.stopPropagation();" class="glyphicon glyphicon-chevron-right ml5  size11"></span>
            </span>
        </div>

        @* Assigned Todos Sub Window *@
        <div ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="todos" ng-show="myassignedtodoswindow" ng-repeat="item in myassignedtodos" style="width: 100% !important;cursor:pointer;border-bottom:1px solid silver;padding:5px 0;" ng-init="loading.id=item.id;host.name=item.name;host.id=item.id;host.description=item.description;host.sectionId=item.sectionId;host.ddlId=item.ddlId;host.deadlineDate=item.deadlineDate;host.projectId=item.projectId;host.projectName=item.projectName;" ng-class="{activeButton: item.id==selectedTodo}">
            
            <a style="border: 1px solid grey; background-color: #ff7f2a; padding: 7px; color: white; font-weight: bold;border-radius:50%;" ng-hide="item.displayPhoto" class="anchor" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)"></a>
            <img title="{{(item.firstName)+' '+(item.lastName)}}" height="35" width="35" style="border-radius:50%;" ng-show="item.displayPhoto" ng-src="{{item.profilePhoto}}">
            <span tooltip="{{item.sectionName}}" tooltip-trigger="mouseenter" style="background-color: #FFAA7F; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller;cursor:pointer; " ng-bind="item.sectionName | limitTo:13"></span>
            <span ng-hide="host.ToDo" style="font-size:small;cursor:pointer;" ng-bind="item.name| limitTo:24" ng-click="getToDoDetails(item.id,item);$event.stopPropagation();">
            </span>
            <span tooltip="{{item.projectName}}" tooltip-trigger="mouseenter" style="background-color: #C7D5E3; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.projectName | limitTo:13"></span>
            <span ng-show="host.ToDo">
                <input type="text" ng-model="host.name" required>
            </span>
            <span class="pull-right" style="padding-right: 15px; margin-top: 2px;">
                <span ng-show="host.ToDo" aria-hidden="true" ng-click="updateToDoTask(host,item.display)"
                      class="glyphicon glyphicon-ok ml5"></span>
                <span ng-show="item.inProgress" class="size11" style="color:green;">InProgress</span>
                <span ng-hide="item.inProgress" class="size11" style="color:red;">Pending</span>
                <span ng-hide="item.display">
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="editToDo(host);$event.stopPropagation();"
                          class="glyphicon glyphicon-edit ml5 size11"></span>
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="confirmDeleteToDo(item.id,item.name);$event.stopPropagation();"
                          class="glyphicon glyphicon-remove ml5 size11"></span>
                </span>
                <span ng-hide="host.ToDo" aria-hidden="true" style="text-align:right;cursor:pointer;"
                      ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="glyphicon glyphicon-chevron-right ml5 size11"></span>
            </span>
        </div>

        @* Personal Todos Sub Window *@
        <div ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="todos" ng-show="mypersonaltodoswindow" ng-repeat="item in mypersonalassignedtodos" style="width: 100% !important;cursor:pointer; border-bottom: 1px solid silver; padding:5px 0;" ng-init="loading.id=item.id;host.name=item.name;host.id=item.id;host.description=item.description;host.sectionId=item.sectionId;host.ddlId=item.ddlId;host.deadlineDate=item.deadlineDate;host.projectId=item.projectId;host.projectName=item.projectName;" ng-class="{activeButton: item.id==selectedTodo}">

            <input type="checkbox" ng-click="updateTodoIsDone($event,item.id);$event.stopPropagation();" value="None" id="squaredTwo" name="check" />
            <a style="border: 3px solid grey; background-color: #ff7f2a; padding: 2px; color: white; font-weight: bold;" ng-hide="item.displayPhoto" class="anchor" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)"></a>
            <img title="{{(item.firstName)+' '+(item.lastName)}}" height="35" width="35" style="border-radius:50%;" ng-show="item.displayPhoto" ng-src="{{item.profilePhoto}}">

            <span tooltip="{{item.sectionName}}" tooltip-trigger="mouseenter" style="background-color: #FFAA7F; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller;cursor:pointer; " ng-bind="item.sectionName | limitTo:13"></span>
            <span ng-hide="host.ToDo" style="font-size:small;cursor:pointer;" ng-bind="item.name| limitTo:24" ng-click="getToDoDetails(item.id,item);$event.stopPropagation();">
            </span>
            <span tooltip="{{item.projectName}}" tooltip-trigger="mouseenter" style="background-color: #C7D5E3; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.projectName | limitTo:13"></span>

            <span ng-show="host.ToDo">
                <input type="text" ng-model="host.name" required>
            </span>
            <span class="pull-right" style="padding-right: 15px; margin-top: 2px;">
                <span ng-show="host.ToDo" aria-hidden="true" ng-click="updateToDoTask(host,item.display)"
                      class="glyphicon glyphicon-ok ml5"></span>
                <span ng-show="item.inProgress" class="size11" style="color:green;">InProgress</span>
                <span ng-hide="item.inProgress" class="size11" style="color:red;">Pending</span>
                <span ng-hide="item.display">
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="editToDo(host);$event.stopPropagation();"
                          class="glyphicon glyphicon-edit ml5 size11"></span>
                    <span ng-hide="host.ToDo" style="cursor:pointer;" aria-hidden="true" ng-click="confirmDeleteToDo(item.id,item.name);$event.stopPropagation();"
                          class="glyphicon glyphicon-remove ml5 size11"></span>
                </span>
                <span ng-hide="host.ToDo" aria-hidden="true" style="text-align:right;cursor:pointer;"
                      ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="glyphicon glyphicon-chevron-right ml5 size11"></span>

            </span>
        </div>

        @*  My Archived Window *@
        <div ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="todos" ng-show="myarchivedwindow" ng-repeat="item in MyArchivedTodos" style=" width: 100% !important;cursor:pointer; border-bottom: 1px solid silver; padding: 5px 0;" ng-init="loading.id=item.id;" ng-class="{activeButton: item.id==selectedTodo}">
            <input type="checkbox" checked ng-click="updateTodoIsDone($event,item.id);$event.stopPropagation();" />

            <span ng-show="item.assigned">
                <a style="border:1px solid grey;background-color:pink;height:20px!important;width:20px!important;" ng-hide="item.displayPhoto" class="anchor" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)"></a>
                <img height="35" width="35" style="border-radius:50%;" title="{{(item.firstName)+' '+(item.lastName)}}" ng-show="item.displayPhoto" ng-src="{{item.profilePhoto}}">
            </span>
            <span tooltip="{{item.sectionName}}" tooltip-trigger="mouseenter" style="background-color: #FFAA7F; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.sectionName | limitTo:13"></span>
            <span ng-hide="host.ToDo" style="font-size:small;cursor:pointer;" ng-bind="item.name| limitTo:24" ng-click="getToDoDetails(item.id,item);$event.stopPropagation();">
            </span>
            <span tooltip="{{item.projectName}}" tooltip-trigger="mouseenter" style="background-color: #C7D5E3; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.projectName | limitTo:13"></span>

            <span ng-hide="host.ToDo" aria-hidden="true" style="text-align: right; cursor: pointer; padding-right: 15px; margin-top: 2px;"
                  ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="glyphicon glyphicon-chevron-right ml5 pull-right size11"></span>

        </div>

        @*  My Following Todos Window *@
        <div ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="todos" ng-show="myfollowingwindow" ng-repeat="item in MyFollowedTodos" style="width:100% !important;cursor:pointer;border-bottom: 1px solid silver; padding: 5px 0;" ng-init="loading.id=item.id;" ng-class="{activeButton: item.id==selectedTodo}">

            
            <span ng-show="item.assigned">
                <a style="border:1px solid grey;background-color:pink;height:20px!important;width:20px!important;" ng-hide="item.displayPhoto" class="anchor" title="{{(item.firstName)+' '+(item.lastName)}}" ng-bind="(item.firstName| limitTo : 1)+(item.lastName| limitTo : 1)"></a>
                <img height="35" width="35" style="border-radius:50%;" title="{{(item.firstName)+' '+(item.lastName)}}" ng-show="item.displayPhoto" ng-src="{{item.profilePhoto}}">
            </span>
            <span ng-hide="item.assigned" title="Unassigned" class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span tooltip="{{item.sectionName}}" tooltip-trigger="mouseenter" style="background-color: #FFAA7F; border-radius: 10%; border: 1px solid #C7D5E3; color: grey; font-size: smaller; cursor: pointer; " ng-bind="item.sectionName | limitTo:18"></span>
            <span ng-hide="host.ToDo" style="font-size:small;cursor:pointer;" ng-bind="item.name| limitTo:32" ng-click="getToDoDetails(item.id,item);$event.stopPropagation();">
            </span>
            <span tooltip="{{item.projectName}}" tooltip-trigger="mouseenter" style="background-color: #C7D5E3; border-radius: 10%; border: 1px solid #C7D5E3;color:grey;font-size:smaller;cursor:pointer; " ng-bind="item.projectName | limitTo:18"></span>

            <span ng-show="host.ToDo">
                <input type="text" ng-click="$event.stopPropagation()" ng-model="host.name" required>
            </span>
            <span ng-show="host.ToDo" aria-hidden="true" ng-click="updateToDoTask(host)"
                  class="glyphicon glyphicon-ok ml5"></span>
            <span class="pull-right">
                <span ng-show="item.inProgress" class="size11" style="color:green;">InProgress</span>
                <span ng-hide="item.inProgress" class="size11" style="color:red;">Pending</span>
                <span ng-hide="host.ToDo" aria-hidden="true" style="text-align: right; cursor: pointer;padding-right:15px;margin-top:2px;"
                      ng-click="getToDoDetails(item.id,item);$event.stopPropagation();" class="glyphicon glyphicon-chevron-right ml5 size11"></span>
            </span>
            <div class="clearfix"></div>
        </div>
    </fieldset>
</div>
