﻿
<style>
    .ddlerror {
        border:1px solid;
        border-color:red;
    }
</style>


<div class="modal fade" id="modalSendReports" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel" ng-model="Heading"> Send Invoice</h4>
            </div>

            <form name="sendReportsForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="txtEmail">From Date</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="input-group">
                                            <input id="SendReport_fromDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="openPopupSendReport_From()" ng-model="sendReportsModel.FromDate" is-open="popupSendReport_From.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openPopupSendReport_From()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">

                                <label for="txtEmail">To Date</label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="input-group">
                                            <input id="SendReport_toDate" type="text" init-date="today" class="form-control" uib-datepicker-popup="{{format}}" ng-click="openPopupSendReport_To()" ng-model="sendReportsModel.ToDate" is-open="popupSendReport_To.opened" min-date="SendReport_fromDate" max-date="today" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="openPopupSendReport_To()"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="txtFirstName">Message</label>
                        <div class="container lighter" style="width:100%;">
                            <textarea ng-model="sendReportsModel.Message" style="height:200px;width:100%;" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="txtFirstName">Company :</label>
                                <div id="divCompany">
                                    <select ng-model="sendReportsModel.companyId" ng-change="userCompaniesChange(sendReportsModel.companyId)" class="form-control">
                                        <option value="">Select Company</option>
                                        <option ng-repeat="companyItem in allCompaniesForUser" value="{{companyItem.Value}}">{{companyItem.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <label for="txtFirstName">Project :</label>
                                <div id="divProject">
                                    <select ng-model="Reporter.projectId" ng-options="projectItem.Value as projectItem.Name for projectItem in allProjectsForUser" ng-change="userProjectChange(sendReportsModel.companyId,Reporter.projectId)" class="form-control" >
                                        <option value="">Select Project</option>
                                        <!--<option ng-repeat="projectItem in allProjectsForUser" value="{{projectItem.Value}}">{{projectItem.Name}}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="txtFirstName">Reporter :</label>
                                <div id="divReporter">
                                    <select ng-model="Reporter.UserId" class="form-control" ng-options="item.Value as item.Text for item in newModel" ng-change="reporterForInvoiceChange(Reporter.UserId)">
                                        <option value="">Select Reporter</option>
                                        <!--<option ng-repeat="item in newModel" value="{{item.Value}}">{{item.Text}}</option>-->
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <span style="color:red">{{validateMessage}}</span>
                    </div>


                </div>

                <div class="modal-footer">
                    <a href="" ng-click="ShowInvoicePreview()" class="edit-btn">Preview</a>
                    <a href="" ng-click="SendReport()" class="edit-btn">Send Invoice</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>

            </form>








        </div>
    </div>
</div>



