﻿
<div class="modal fade" id="modalInvoicePreview" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Invoice Preview</h4>
            </div>
            <form name="InvoicePreviewForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <tr>
                                <td>
                                    <div class="images pull-left profile-pic" style="margin-right:10px; margin-top:5px;cursor:pointer;height:56px;">
                                        <img ng-src="{{imgURL}}{{AllTodosForPreviewObject.CompanyProfilePic}}" alt="ng-bind=" AllTodosForPreviewObject.CompanyName"">
                                    </div>
                                </td>
                                <td>
                                    Invoice
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Invoice : {{AllTodosForPreviewObject.InvoiceNumber}}
                                </td>
                                <td>
                                    To : {{AllTodosForPreviewObject.ToName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Date Issued : {{AllTodosForPreviewObject.DateIssued | date : 'longDate' }}
                                </td>
                                <td>
                                    From(Company/User) : {{AllTodosForPreviewObject.CompanyName}} / {{AllTodosForPreviewObject.FromName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Message : <span ng-if="AllTodosForPreviewObject.Message != null && AllTodosForPreviewObject.Message != ''"> {{AllTodosForPreviewObject.Message}} </span>  <span ng-if="AllTodosForPreviewObject.Message == null || AllTodosForPreviewObject.Message == '' "> No message to display</span> 
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr ng-if="AllTodosForPreviewObject.IsRejected">
                                <td>
                                    Reason For Rejection  : <span > {{AllTodosForPreviewObject.RejectReason}} </span> 
                                </td>
                                <td></td>
                            </tr>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Task Type</th>
                                    <th>Description</th>
                                    <th>Rate</th>
                                    <th>Hours</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tr ng-repeat="item in AllTodosForPreviewObject.AllTodos">
                                <td>{{item.ProjectName}}</td>
                                <td>{{item.TaskType}}</td>
                                <td>{{item.TodoDescription }}</td>
                                <td>$ {{item.Rate}}</td>
                                <td>{{item.hours}}</td>
                                <td>$ {{item.Amount}}</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Total Hours: {{AllTodosForPreviewObject.TotalHoursForAllTodos}}</td>
                                <td>Total Amount: $ {{AllTodosForPreviewObject.TotalAmountForAllTodos}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" ng-if="!InvoicePaidStatusForPreview && !InvoiceRejectStatusForPreview && !InvoiceApprovedStatusForPreview && !isFreelancer" ng-hide="currentInvoiceIndex==-1 ? true : false" ng-click="onlyApproveInvoice(currentInvoiceId, currentInvoiceIndex)" class="edit-btn"> Approve </a>
                    <a href="" ng-if="!InvoicePaidStatusForPreview && !InvoiceRejectStatusForPreview && !InvoiceApprovedStatusForPreview && !isFreelancer" ng-hide="currentInvoiceIndex==-1 ? true : false" ng-click="openRejectInvoiceModal(currentInvoiceId, currentInvoiceIndex)" class="edit-btn">Reject</a>
                    <a href="" ng-if="!InvoicePaidStatusForPreview && !InvoiceRejectStatusForPreview && !isFreelancer" ng-hide="currentInvoiceIndex==-1 ? true : false" ng-click="selectPaymentDetail(currentInvoiceId, currentInvoiceIndex)" class="edit-btn"> <span ng-if="!InvoiceApprovedStatusForPreview">  Approve and Pay  </span> <span ng-if="InvoiceApprovedStatusForPreview"> Pay</span> </a>
                    
                    <a href="" ng-click="CloseInvoicePreview()" class="edit-btn">Close</a>
                </div>
            </form>
        </div>
    </div>
</div>



