﻿<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divTodoManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Todo Approval</span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>

        <div class="row">

            <div class="col-lg-3">
                <div class="sorting-span pull-left">Projects</div>
                <div class="sorting-selection">
                    <select ng-model="selectedProject" ng-options="item.Value as item.Name for item in Projects  | unique: 'Value'" ng-change="showTodoFilteredByProjects(selectedProject)">
                        <option value="">All</option>
                    </select>
                    <!--<select ng-model="selectedProject" ng-change="showTodoFilteredByProjects(selectedProject)">
                        <option value="">All</option>
                        <option ng-repeat="item in Projects  | unique: 'Value'" value="{{item.Value}}"> {{item.Name}}</option>
                    </select>-->
                </div>
                <!--{{selectedAssignee}}-->
            </div>

            <div class="col-lg-3" ng-if="isFreelancer">
                <div class="sorting-span pull-left">Company</div>
                <div class="sorting-selection">
                    <select ng-model="selectedCompany" ng-change="selectedCompanyChanged(selectedCompany)">
                        <option value="0"> --Select All-- </option>
                        <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompany==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                    </select>
                </div>
            </div>

            <div class="col-lg-3">

                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="selectedTaskStatus" ng-options="item.id as item.task for item in TaskStatus.alltask" ng-change="showTodoFilteredByStatus(selectedTaskStatus)">
                        <!--<option ng-repeat="item in TaskStatus.alltask" value="{{item.id}}">{{item.task}}</option>-->
                        <option value=""> All </option>
                    </select>
                </div>

            </div>

            <div class="col-lg-3">

                <div class="sorting-span pull-left">Task Type</div>
                <div class="sorting-selection">
                    <select ng-model="selectedTaskType" ng-options="item.id as item.type for item in TaskType.alltasktype" ng-change="showTodoFilteredByTaskType(selectedTaskType)">
                        <!--<option ng-repeat="item in TaskType.alltasktype" value="{{item.id}}">{{item.type}}</option>-->
                        <option value=""> All </option>
                    </select>
                </div>

            </div>


        </div>


        <div class="row">

            <div class="col-lg-3">
                <div class="sorting-span pull-left">From Date</div>
                <!--<div class="sorting-selection">
                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open1()"
                           ng-model="fromDate" is-open="popup1.opened" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">To Date</div>
                <!--<div class="sorting-selection">

                </div>-->
                <p class="input-group" style="margin:0px">
                    <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                           ng-model="toDate" is-open="popup2.opened" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                           ng-class="{inputError:frmManualTimeTracking.DeadlineDate.$dirty && frmManualTimeTracking.DeadlineDate.$invalid}" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                            <i class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                </p>
            </div>

            <div class="col-lg-3">
                <div class="row">
                    <div class="col-lg-4">
                        <input type="button" class="btn btn-default" value="search" ng-click="searchResult()" />
                    </div>
                    <div class="col-lg-8">
                        <input type="button" class="btn btn-default" value="Send Invoice" ng-click="ShowSendReportsModal()" />
                    </div>
                </div>

            </div>

        </div>


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <!--{{groupedTodoList}}-->
                <div class="form-group" ng-if="TodosList.length>0">
                    <!--ng-class="getColor(todo.ApprovedBy,todo.IsApproved)">-->
                    <div ng-repeat="(key, value) in groupedTodoList" style="margin-bottom:20px; ">

                        <div style="font-size:large;">{{ key }}</div>
                        <hr style="border:1px solid #f3f3f3" />
                        <div ng-repeat="(parentIndex, todo) in value" title="">
                            <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">
                                <div class="pull-left" style="width:2px; padding:2px;height:50px;" ng-class="{'gray-border': (todo.ApprovedBy==null), 'green-border': (todo.ApprovedBy!=null &&todo.IsApproved), 'red-border': (todo.ApprovedBy!=null &&!todo.IsApproved)}"></div>
                                <div class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                    <img style="cursor:default;" ng-src="{{imgURL}}{{todo.AssigneeProfilePhoto}}" alt="ng-bind=" todo.AssigneeName"" title="{{todo.AssigneeName}}">
                                </div>
                                <div class="pull-left">
                                    <!--class="pull-left"
                                    class="pull-left "-->
                                    <p style="margin:0px ;font-weight:bold;font-size:medium" ng-bind="todo.Name"></p><!--ng-click="showTodoDescriptionSection(todo,nodeIndex,$index)"-->
                                    <a style="font-size:13px;cursor:default;" ng-bind="todo.Description">  </a><!--ng-click="showTodoDescriptionSection(todo,nodeIndex,$index)"-->
                                </div>

                                <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label"
                                   style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                    <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                </a>
                                <p class="pull-right label label-success process-label" style="margin-right:10px" ng-bind="todo.TodoType"></p>
                                <p class="pull-right label label-warning process-label" style="margin-right:10px" ng-model="todo.LoggedTime">Logged Time: {{todo.LoggedTime}}  <span ng-if="todo.EstimatedTime == null">0h 0m </span>  </p>
                                <p class="pull-right label label-warning process-label" style="margin-right:10px" ng-model="todo.EstimatedTime">Estimated Time: {{todo.EstimatedTime}} <span ng-if="todo.EstimatedTime == null">0h 0m </span> </p>
                                <p class="pull-right label label-warning process-label" style="margin-right:10px" ng-model="todo.LoggedTime">Project: {{todo.ProjectName}} </p>
                                <p class="pull-right label label-danger process-label" style="margin-right:10px" ng-if="!todo.IsApproved && todo.Reason && todo.ApprovedBy!=null ">Reason: {{todo.Reason}} </p>


                                <span data-nodrag ng-if="todo.IsDone" class="pull-right label label-success process-label" style="margin-right:10px" >Complete</span>
                                <span data-nodrag ng-if="todo.InProgress && !todo.IsDone" class="pull-right label label-warning process-label fa fa-clock-o" style="margin-right:10px" >
                                    In progress
                                </span>
                                <span data-nodrag ng-if="!todo.InProgress && !todo.IsDone" class="pull-right label label-danger  icon-dashboard process-label" style="margin-right:10px" >Pending</span>

                                <div class="clearfix"></div>
                            </div>
                            <table style="width:99%;margin:0px 10px 10px;background-color:#f3f3f3; text-align:center" ng-show="toggle" ng-if="!todo.IsApproved && todo.Reason && todo.ApprovedBy!=null ">
                                <thead><tr><td style="width:10%;background-color:red">Reason: </td><td style="width:80%;color:red;text-align:left;font-size:medium; font-weight:bolder;padding-left:10px;">{{todo.Reason}}</td></tr></thead>
                            </table>
                            <table style="width:99%;margin:0px 10px 10px;background-color:#f3f3f3; text-align:center" ng-show="toggle">
                                <tr><td style="width:5px"></td><td></td><td>Logged Time</td> <td>Start Date</td><td>Stop Date</td><td>Automatic/ Manual</td><td ng-if="!todo.IsApproved"></td> </tr>
                                <tr ng-repeat="(index, logDetail) in todo.TodoDetails" ng-init="logDetail.edit=false;">
                                    <td style="width:2px; padding:2px;" ng-class="{'gray-border': (todo.ApprovedBy==null), 'green-border': (todo.ApprovedBy!=null &&todo.IsApproved), 'red-border': (todo.ApprovedBy!=null &&!todo.IsApproved)}"></td>
                                    <td>
                                        <label>
                                            <input type="checkbox" ng-model="logDetail.Id" style="visibility:visible; margin-left:10px" ng-checked="checked" value="logDetail.Id" />
                                        </label>
                                    </td>
                                    <td>
                                        <span ng-hide="logDetail.edit">{{ConvertMinutesToTimeString(logDetail.Duration)}}</span>
                                        <input type="text" ng-hide="!logDetail.edit" ng-model="logDetail.DurationString" ng-keypress="estimatedTimeKeyPress($event)" ng-required="true" />
                                    </td>
                                    <td>{{logDetail.StartDateTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
                                    <td>{{logDetail.StopDateTime | date:'yyyy-MM-dd HH:mm:ss '}}</td>
                                    <td>{{logDetail.IsAutomaticLogged==true?'Automatic':'Manual'}}</td>
                                    <td ng-if="!todo.IsApproved">
                                        <a ng-if="!logDetail.IsAutomaticLogged" ng-click="removeTodoLoggedTime(key,parentIndex,index,logDetail)" class="pull-right right_arrwo_gary label btn-white btn-danger"
                                           style="font-size:15px;margin-right:5px" title="Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a ng-if="!logDetail.IsAutomaticLogged" ng-hide="logDetail.edit" ng-click="logDetail.edit=true;logDetail.DurationString=ConvertMinutesToTimeString(logDetail.Duration)"
                                           class="pull-right right_arrwo_gary label btn-white btn-primary" title="Edit"
                                           style="font-size:15px;margin-right:5px">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a ng-hide="!logDetail.edit" ng-click="updateTimeSlot(key,parentIndex,index,logDetail)"
                                           class="pull-right right_arrwo_gary label btn-white btn-success" title="Save"
                                           style="font-size:15px;margin-right:5px">
                                            <i class="fa fa-save"></i>
                                        </a>
                                        <a ng-hide="!logDetail.edit" ng-click="logDetail.edit=!logDetail.edit;"
                                           class="pull-right right_arrwo_gary label btn-white btn-warning " title="Cancel"
                                           style="font-size:15px;margin-right:5px">
                                            <i class="fa fa-close "></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="!todo.TodoDetails.length || todo.TodoDetails == null">
                                    <td colspan="7">
                                        <strong> No Logged Time Found </strong> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="TodosList.length==0">
                    No Record Found
                </div>
            </div>

        </div>
    </div>

</div>



<div ng-include="'views/admin/TodoRejectModal.html'"></div>

<div ng-include="'views/todo/SendReportsModal.html'"></div>

<div ng-include="'views/todo/ShowInvoicePreview.html'"></div>

