﻿
<!--THIS STYLE IS FOR tAGS    -->
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div ng-hide="showSideMenu" ng-include="'../views/nav/TodoTimer.html'"></div><br class="clear" />
     <div id="divTodoManagementSection"  class="static-contentpage">
         <div class="heading-name">
             <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Add/Edit Todo</span></h3>
             <div class="clearfix"></div>
         </div>
        <div>&nbsp;</div>
        <div class="row">

            <div class="col-lg-3" ng-if="isFreelancer">
                <div class="sorting-span pull-left">Company</div>
                <div class="sorting-selection">
                    <select ng-model="selectedCompany" ng-change="selectedCompanyChanged(selectedCompany)">
                        <option value="0"> --Select All-- </option>
                        <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompany==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Project</div>
                <div class="sorting-selection">
                    <select ng-model="selectedProject" ng-change="showTodoManagementSection(selectedProject)" ng-options="item as item.ProjectName for item in projects track by item.ProjectId"></select>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="statusFilter" ng-change="filterTodosWithStatus(statusFilter)">
                        <option selected="selected" value="">All</option>
                        <option value="Pending">Pending</option>
                        <option value="InProgress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-3">
                <a style="width: 100%; border-radius: 10px; height: 30px; background: #3FACFF; margin-bottom: 10px; color: white; float: left; text-align: center; padding-top: 7px; cursor:pointer;"
                   ng-click="showProjectMembersModal()" ng-bind="projectMembersObject.length+'     Project Members'"></a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="icon_bar">
                    <ul>
                        <li><a ng-click="showTodosInListView()" ng-class="{selected: selectedTodoView=='list'}"><i ng-class="{selected: selectedTodoView=='list'}" class="fa fa-list button_gray"></i>List View</a></li>
                        <li><a ng-click="showTodosInKanBanView()" ng-class="{selected: selectedTodoView=='kanban'}"><i ng-class="{selected: selectedTodoView=='kanban'}" class="fa fa-barcode button_gray"></i>Kanban</a></li>
                        <li><a ng-click="AttachmentManagement.showProjectAttachments(projectDescriptionObject)" ng-class="{selected: selectedTodoView=='attachment'}"><i ng-class="{selected: selectedTodoView=='attachment'}" class="fa fa-files-o button_gray"></i>Files</a></li>
                        <li class="pull-right"><a ng-click="addNewSection()"><i class="fa fa-edit button_gray"></i>Section</a></li>
                        <!--<li class="pull-right"><a ng-click="showTodoAddUpdateModal()"><i class="fa fa-plus button_gray"></i>Todo</a></li>-->
                        <!--<li class="pull-right"><a ng-click="ClientFeedbackManagement.showClientFeedbackModal(false,projectDescriptionObject.projectId,0)"><i class="fa fa-plus button_gray"></i>Feedback</a></li>-->
                        <li class="pull-right"><a href="#/todo/manualtime/12/23"><i class="fa fa-plus button_gray"></i>Manual Time</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div style="margin-top:2px;width:100%;">

            <div class="kanbanPanel" ng-if="selectedTodoView=='list'" ng-style="{'position':'absolute', 'overflow-x':'hidden','margin-top':'10px','width':'98%','float':'left'}">

                <div ui-tree="nestedOptions" id="tree1-root">
                    <ol ui-tree-nodes="" ng-model="Sections" data-type="Section" style="width: 100%; display: block; overflow-x: hidden;overflow-y:auto;">
                        <li ng-repeat="(nodeIndex,node) in Sections track by $index" ui-tree-node ng-show="visible(node)" data-type="Section">
                            <div class="task_div ui-tree-handle tree-node tree-node-content">

                                <h1 > 
                                    <a ui-tree-handle class="right_arrwo_gary_1" href="" style="float:left;"><i style="font-size: 14px;cursor:move;" class="fa fa-bars pull-left"></i></a>
                                    <span ng-if="currentSectionIdForRow != node.Id" data-nodrag ng-click="editSection(node.Id)"> <strong> {{node.SectionName+'  ('+node.Todos.length+')'}} </strong>  </span> 
                                    <!--<span ng-if="currentSectionIdForRow == node.Id" contenteditable="true" data-nodrag ng-blur="updateSection(node.Id,node.SectionName,node)" ng-keypress="keypressSection($event,node.Id,node.SectionName,node)" id="{{node.Id + '_section'}}" class="form-control" style="width:97%;margin-left:20px;" type="text" ng-model="node.SectionName" > {{node.SectionName}} </span>--> 
                                    <input ng-if="currentSectionIdForRow == node.Id" data-nodrag ng-blur="updateSection(node.Id,node.SectionName,node)" ng-keypress="keypressSection($event,node.Id,node.SectionName,node)" id="{{node.Id + '_section'}}" class="form-control" style="width:97%;margin-left:20px;" type="text" ng-model="node.SectionName" />
                                    <!--<input ng-if="currentSectionIdForRow == node.Id" data-nodrag ng-blur="updateSection(node.Id,node.SectionName)" id="{{node.Id + '_section'}}" class="form-control" type="text" ng-model="node.SectionName" />-->  
                                    <a ng-if="currentSectionIdForRow != node.Id" data-nodrag ng-click="deleteSection(node.Id,$index)" class="pull-right right_arrwo_gary_1" title="Delete Section" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a> 
                                </h1>
                                <hr style="border-bottom:0.5px solid #d7d7d8;margin:0px;padding:0 !important;"/>

                                <ul ui-tree-nodes="" ng-model="node.Todos">
                                    <!--<li ng-class="{li_selected: nodetodos.TodoId==selectedTodo}" ng-repeat="nodetodos in node.Todos|filter:{IsDone:isDoneFilter,InProgress:inProgressFilter}" ui-tree-node data-type="{{nodetodos.datatype}}" ng-init="nodetodos.ProjectId=node.ProjectId;nodetodos.ddlId=node.Id">
                                        <div style="cursor:pointer;" ui-tree-handle>
                                            <a class="right_arrwo_gary_1" href="#"><i style="font-size: 14px; padding-top: 13px; cursor:move;" class="fa fa-bars pull-left"></i></a>

                                            <div ng-click="showOtherUserProfile(nodetodos.AssigneeId)" data-nodrag class="images pull-left"><img ng-src="{{imgURL}}{{nodetodos.AssigneeProfilePhoto}}" alt=""></div>
                                            <p data-nodrag class="pull-left" ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" ng-class="{completedTodo:nodetodos.IsDone}" ng-bind="nodetodos.Name"></p>
                                            <span data-nodrag ng-if="nodetodos.IsDone" class="label label-success process-label">Complete</span>
                                            <span data-nodrag ng-if="nodetodos.InProgress && !nodetodos.IsDone" class="label label-warning process-label">In progress</span>
                                            <span data-nodrag ng-if="!nodetodos.InProgress && !nodetodos.IsDone" class="label label-danger process-label">Pending</span>
                                            <a data-nodrag ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" class="pull-right right_arrwo_gary"><i class="fa fa-angle-right"></i></a>
                                            <a data-nodragng-click="editTodo(nodetodos,nodeIndex,$index);" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-pencil"></i></a>
                                            <a data-nodragng-click="deleteTodo(nodetodos.TodoId,nodeIndex,$index)" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-trash-o"></i></a>
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>-->
                                    <li ng-class="{li_selected: nodetodos.TodoId==selectedTodo}" ng-repeat="nodetodos in node.Todos|filter:{IsDone:isDoneFilter,InProgress:inProgressFilter} track by $index" ui-tree-node data-type="{{nodetodos.datatype}}" ng-init="nodetodos.ProjectId=node.ProjectId;nodetodos.ddlId=node.Id">
                                        <a ui-tree-handle  class="right_arrwo_gary_1" href="" style="float:left;"><i style="font-size: 14px; padding-top: 13px; cursor:move;" class="fa fa-bars pull-left"></i></a>
                                        
                                        <div style="cursor:auto;" ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)">   <!--ng-click="editTodo(nodetodos,nodeIndex,$index)"-->

                                            <div ng-click="showOtherUserProfileForTodo($event,nodetodos.AssigneeId)" class="images pull-left"><img ng-src="{{imgURL}}{{nodetodos.AssigneeProfilePhoto}}" alt="" style="cursor:pointer;"></div>
                                            <!--<p data-nodrag class="pull-left" id="{{nodetodos.TodoId}}" contenteditable="true" ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" ng-class="{completedTodo:nodetodos.IsDone}" 
                                               ng-keypress="TodoKeypress($event, nodetodos, node.Id)" ng-blur="TodoUpdate($event, nodetodos, node.Id)" > {{nodetodos.Name}}</p>-->
                                            <p ng-if="currentTodoIdForRow != nodetodos.TodoId" class="pull-left"  style="cursor:auto;">{{nodetodos.Name}}</p>
                                            <!--<textarea ng-if="currentTodoIdForRow == nodetodos.TodoId" style="resize:vertical;height:40px;" class="pull-left" id="{{nodetodos.TodoId}}" ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" ng-class="{completedTodo:nodetodos.IsDone}" 
                                                     ng-keypress="TodoKeypress($event, nodetodos, node.Id,nodeIndex,$index)" ng-blur="TodoUpdate($event, nodetodos, node.Id)" ng-model="nodetodos.Name" ></textarea>-->
                                            <input type="text" ng-if="currentTodoIdForRow == nodetodos.TodoId" style="height:40px;width:70%;" class="pull-left form-control" id="{{nodetodos.TodoId}}" ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" ng-class="{completedTodo:nodetodos.IsDone}"  
                                                   ng-keypress="TodoKeypress($event, nodetodos, node.Id,nodeIndex,$index)" ng-blur="TodoUpdate($event, nodetodos, node.Id)" ng-model="nodetodos.Name"   />

                                            <a ng-click="deleteTodo($event,nodetodos.TodoId,nodeIndex,$index,nodetodos.InProgress)" style="cursor:pointer;" class="pull-right right_arrwo_gary_1" title="Delete Todo"><i class="fa fa-trash-o"></i></a>
                                            <span ng-if="nodetodos.IsDone" class="label label-success process-label pull-right">Complete</span>
                                            <!--<span data-nodrag ng-if="nodetodos.InProgress && !nodetodos.IsDone" class="process-label">
                                                <img style="height:19px;width:19px;margin-top: -4px;float: right;" src="../../assets/img/clock.png" alt="timer" />
                                            </span>-->
                                            <span ng-if="nodetodos.InProgress && !nodetodos.IsDone" class="label label-warning process-label fa fa-clock-o pull-right">
                                                <!--<img style="height:19px;width:19px;" src="../../assets/img/clock.png" alt="timer" />-->
                                                In progress
                                            </span>
                                            <span ng-if="!nodetodos.InProgress && !nodetodos.IsDone" class="label label-danger  icon-dashboard process-label pull-right">Pending</span>
                                            <!--<a data-nodrag ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)" class="pull-right right_arrwo_gary"><i class="fa fa-angle-right" title="View"></i></a>
                                            <a ng-click="editTodo(nodetodos,nodeIndex,$index);" data-nodrag class="pull-right right_arrwo_gary_1"><i class="fa fa-pencil" title="Edit"></i></a>-->
                                            
                                            <div class="clearfix"></div>
                                        </div>
                                    </li>

                                    <li class="add-task" ng-click="addNewTodo(node.Id,node.Todos.length,'last',nodeIndex,node.Todos.length)" style="margin-top:10px;margin-bottom:10px;" > <span style="cursor:pointer;font-size:14px;color:gray;margin-left:70px;"> Click here to add task in above section </span>  </li>
                                </ul>
                                
                            </div>
                        </li>
                    </ol>
                </div>

            </div>

            <div class="kanbanPanel" ng-if="selectedTodoView=='kanban'" style="position:absolute;height: 590px;margin-top:10px;width:99%;float:left;display:flex;overflow-x:scroll;">

                <div ui-tree="nestedOptions" id="tree1-root">
                    <ol ui-tree-nodes="" ng-model="Sections" data-type="Section" style="width: 100%; display: flex; overflow-x: auto; height: 546px;">

                        <li ng-repeat="(nodeIndex,node) in Sections" ui-tree-node ng-show="visible(node)" data-type="Section" style="width:300px;display:inline-table;min-height:500px;padding:10px;" >
                            <div class="kanban-box ui-tree-handle tree-node tree-node-content">
                                <h4>
                                    <span ng-if="currentSectionIdForRow != node.Id" data-nodrag ng-click="editSection(node.Id)"> <strong> {{node.SectionName+'  ('+node.Todos.length+')'}} </strong>  </span>
                                    <input ng-if="currentSectionIdForRow == node.Id" data-nodrag ng-blur="updateSection(node.Id,node.SectionName)" id="{{node.Id + '_section'}}" class="form-control" type="text" ng-model="node.SectionName" />
                                    <a ng-if="currentSectionIdForRow != node.Id" data-nodrag ng-click="deleteSection(node.Id,$index)" class="pull-right right_arrwo_gary_1" title="Delete Section" style="cursor:pointer;"><i class="fa fa-trash-o"></i></a>
                                </h4>

                                <ol ui-tree-nodes style="overflow-x:hidden;padding:0;" ng-model="node.Todos" ng-class="{hidden: collapsed}">
                                    <li class="task-box" ng-class="{li_selected: nodetodos.TodoId==selectedTodo}" ng-repeat="nodetodos in node.Todos|filter:{IsDone:isDoneFilter,InProgress:inProgressFilter}" ui-tree-node data-type="{{nodetodos.datatype}}">
                                        <div class="pull-left left-col-kanbn tree-node tree-node-content" ui-tree-handle>
                                            <div class="kanban-task-up">
                                                <!--<span><a data-nodrag ng-click="showTodoDescriptionSection(nodetodos)" ng-class="{completedTodo:nodetodos.IsDone}" ng-bind="nodetodos.Name"></a></span>-->
                                                <p ng-if="currentTodoIdForRow != nodetodos.TodoId" data-nodrag class="pull-left" ng-click="editTodo(nodetodos,nodeIndex,$index)" style="cursor:auto;height:30px;width:90%;">{{nodetodos.Name}}</p>
                                                <textarea type="text" ng-if="currentTodoIdForRow == nodetodos.TodoId" style="resize:none;height:50px;width:100%;" data-nodrag class="pull-left" id="{{nodetodos.TodoId}}"  ng-class="{completedTodo:nodetodos.IsDone}"
                                                          ng-keypress="TodoKeypress($event, nodetodos, node.Id,nodeIndex,$index)" tabindex="-1" ng-blur="TodoUpdate($event, nodetodos, node.Id)" ng-model="nodetodos.Name" > </textarea>
                                                <!--ng-click="showTodoDescriptionSection(nodetodos,nodeIndex,$index)"-->
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div data-nodrag class="pull-right" ng-class="{'right-col-kanbn':!nodetodos.InProgress && !nodetodos.IsDone,'right-col-kanbn-2':nodetodos.InProgress && !nodetodos.IsDone,'right-col-kanbn-3':nodetodos.IsDone}">
                                            <!--<div class="member-pic" ng-click="showOtherUserProfile(nodetodos.AssigneeId)" data-nodrag style="margin:5px 30% 0;">
                                                <img ng-src="{{imgURL}}{{nodetodos.AssigneeProfilePhoto}}"></div>-->

                                            <div ng-click="showOtherUserProfileForTodo($event,nodetodos.AssigneeId)" data-nodrag class="member-pic" style="margin:5px 30% 0;">
                                                <img ng-src="{{imgURL}}{{nodetodos.AssigneeProfilePhoto}}" alt=""></div>

                                            <div class="kanbn-icons pull-right">
                                                <!--<a ng-click="editTodo(nodetodos,nodeIndex,$index);" data-nodrag style="cursor:pointer;" title="Edit" ><i class="fa fa-pencil"></i></a>-->
                                                <a data-nodrag ng-click="showTodoDescriptionSection(nodetodos)" style="cursor:pointer;" title="View" ><i class="fa fa-eye"></i></a>
                                                <a ng-click="deleteTodo($event,nodetodos.TodoId,nodeIndex,$index,nodetodos.InProgress)" data-nodrag style="cursor:pointer;" title="Delete" ><i class="fa fa-trash-o"></i></a>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li ng-if="!node.Todos.length" ui-tree-node data-nodrag style="cursor:none;height:1px;"></li>

                                    <!--<li tabindex="-1" class="" ng-click="addNewTodo(node.Id,node.Todos.length,'last',nodeIndex,node.Todos.length)" > <span style="cursor:pointer;font-size:14px;color:gray;margin-left:60px;"> Click here to add task in above section </span>  </li>-->

                                </ol>
                                <div data-nodrag class="add-task-btn">
                                    <a ng-click="addNewTodo(node.Id,node.Todos.length,'last',nodeIndex,node.Todos.length)" style="cursor:pointer;"><i class="fa fa-plus-circle"></i> Add New  Todo</a>
                                </div>
                            </div>
                        </li>

                        <div class="create-section">
                            <a ng-click="addNewSection()" style="cursor:pointer;">
                                <i class="fa fa-plus-circle"></i><br>
                                <span>Add New Section</span><br>
                            </a>
                        </div>
                        <div class="clearfix"></div>
                    </ol>
                </div>

            </div>

            <div ng-if="selectedTodoView=='attachment'" style="height: 560px; overflow-y: auto;overflow-x:hidden;margin-top:10px;">

                <div class="row">
                    <div class="col-md-3 col-sm-3" ng-repeat="item in projectAttachmentsObject">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a>  <i class="fa fa-tasks"></i> <span ng-bind="item.TodoName">{{item.TodoName}}</span> </a>

                            </div>
                            <div class="panel-body">
                                <p>
                                    <img title="{{item.CreatorName}}" style="cursor:pointer;border-radius:50%;display:inline;margin-right:10px;" height="25" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}">
                                    <a title="{{item.OriginalName}}" style="margin-left:5px;margin-right:5px;" ng-href="{{imgURL}}{{item.Path}}" target="_blank" ng-bind="item.OriginalName | limitTo : 44"></a>
                                    <img height="15" width="15" ng-src="../../assets/{{item.SourceImage}}">
                                </p>
                            </div>
                            <div class="panel-footer">
                                Added on : <span ng-bind="item.CreatedDate|date:'h:mm a MM-dd-yyyy'">{{item.CreatedDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-show="!projectAttachmentsObject.length" style="color: #D4D0C8; font-size: large; font-weight: bold; position: absolute; z-index: 100; width: 100%; text-align: center;"> There are no Files</div>

            </div>

        </div>
    </div>
    <!--style="position:relative;float:right;right:-465px;width:450px;top:-125px;"-->
    
     <div id="hideRightWindow" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow" 
          style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;" >

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()" title="Close"></span>
        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>

        <div style="overflow:hidden;height:100%;padding-right:5px;" ng-include="'views/DescriptionPanel/TodoDescriptionSection.html'"></div>
    </div>

</div>
<div ng-include="'views/modal/ProjectMembersModal.html'"></div>
<div ng-include="'views/todo/TodoAddUpdateModal.html'"></div>
<div ng-include="'views/modal/AddUpdateSectionModal.html'"></div>
<div ng-include="'views/modal/SectionModal.html'"></div>
<div ng-include="'views/modal/AssigneeEditModal.html'"></div>
<div ng-include="'views/modal/FollowerEditModal.html'"></div>
<div ng-include="'views/modal/AttachFileModal.html'"></div>
<div ng-include="'views/modal/ToDoDescriptionModalForKanban.html'"></div>





