﻿<div class="modal fade" id="modalTodoAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:58%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Todo</h4>
            </div>
            <form name="addUpdateTodoForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Summary</label>
                        <input ng-class="{inputError:addUpdateTodoForm.name.$dirty && addUpdateTodoForm.name.$invalid}" required name="name" class="form-control" placeholder="Enter Todo summary" ng-model="todoAddUpdateModel.Name" maxlength="300">
                    </div>
                    <div class="form-group">
                        <label style="display:block;" for="txtEmail">Section</label>
                        <!--<selectize ng-class="{inputError:addUpdateTodoForm.Section.$dirty && addUpdateTodoForm.Section.$invalid}" required name="section" placeholder='Select Section' options='Sections' config="todoAssigneeConfig" ng-model="todoAddUpdateModel.SectionId"></selectize>-->

                        <select id="ddlAddNewTodoSection" ng-class="{inputError:addUpdateTodoForm.section.$dirty && addUpdateTodoForm.section.$invalid}" required class="form-control" name="section" ng-model="todoAddUpdateModel.SectionId">
                            <option value="">--- Select Section ---</option>
                            <option ng-selected="m.Id==todoAddUpdateModel.SectionId" ng-repeat="m in Sections|filter:{ProjectId:filterProjectId}" value="{{m.Id}}">{{m.SectionName}}</option>
                        </select>

                    </div>

                    <div class="form-group">
                        <label style="display:block;" for="txtEmail">Task Type</label>

                        <!--<select id="ddlAddNewTodoTaskType" ng-class="{inputError:addUpdateTodoForm.TaskType.$dirty && addUpdateTodoForm.TaskType.$invalid}" required class="form-control" name="TaskType" ng-model="todoAddUpdateModel.TaskTypeId">
                            <option value="">--- Select Task Type ---</option>
                            <option ng-selected="m.Id==todoAddUpdateModel.TaskTypeId" ng-repeat="m in TaskTypes" value="{{m.Id}}">{{m.Text}}</option>
                        </select>-->

                        <!--<selectize options='Tags.AllTaskTypes' class="selectized" config="TagsConfig" ng-model="Tags.TodoTaskType" ng-disabled='disable'></selectize>-->

                        <div class="ngInputTag">

                            <tags-input ng-model="Tags.TodoTaskType"
                                        display-property="Text"
                                        placeholder="Add a Tag"
                                        replace-spaces-with-dashes="false"
                                        min-length="1"
                                        add-from-autocomplete-only="true"
                                        template="tag-template">
                                <auto-complete source="Tags.AllTaskTypes"
                                               min-length="0"
                                               load-on-focus="true"
                                               load-on-empty="true"
                                               max-results-to-show="32"
                                               template="autocomplete-template">
                                </auto-complete>
                            </tags-input>

                            <script type="text/ng-template" id="tag-template">
                                <div class="tag-template">
                                    <div class="right-panel">
                                        <span>{{$getDisplayText()}}</span>
                                        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                    </div>
                                </div>
                            </script>
                            <script type="text/ng-template" id="autocomplete-template">
                                <div class="autocomplete-template">
                                    <div class="right-panel">
                                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                                        <span>({{data.Description}})</span>
                                    </div>
                                </div>
                            </script>
                        </div>

                       

                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Description</label>
                        <div class="container lighter" style="width:100%;">
                            <!--<div text-angular ng-model="todoAddUpdateModel.Description" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around"></div>-->
                            <textarea ng-model="todoAddUpdateModel.Description" style="height:200px;width:100%;" name="demo-editor" ta-text-editor-class="border-around" ta-html-editor-class="border-around" maxlength="2000"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Deadline</label>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="input-group">
                                    <!--<input name="deadlineDate" ng-mousedown="showCalendar($event)" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="todoAddUpdateModel.DeadlineDate" is-open="deadlineCalendarOpened" min-date="minDate" max-date="''" datepicker-options="dateOptions"  close-text="Close" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="showCalendar($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>-->
                                    <input id="todDeadlineDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open1()" 
                                           ng-model="todoAddUpdateModel.DeadlineDate" is-open="popup1.opened" min-date="minDate" max-date="''"   ng-disabled="true"
                                           datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>

                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Estimated Time</label>
                        <input type="text" class="form-control" ng-model="todoAddUpdateModel.EstimatedTime" ng-keypress="estimatedTimeKeyPress($event)"  /><span>(eg. 4d 12h 10m)</span>
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Assignee</label>
                        <!--<selectize name="assignee" placeholder='Pick Assignee' options='projectMembersObject' config="todoAssigneeConfig" ng-model="todoAddUpdateModel.AssigneeId"></selectize>-->
                        <select id="ddlAssignee" required class="form-control" name="assignee" ng-model="todoAddUpdateModel.AssigneeId">
                            <option value="">--- Select Assignee ---</option>
                            <option ng-selected="m.Value==todoAddUpdateModel.AssigneeId" ng-repeat="m in projectMembersObject" value="{{m.Value}}">{{m.Text}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Reporter</label>
                        <select id="ddlReporter" required class="form-control" name="Reporter" ng-model="todoAddUpdateModel.ReporterId" ng-class="{inputError:addUpdateTodoForm.Reporter.$dirty && addUpdateTodoForm.Reporter.$invalid}">
                            <option value="">--- Select Reporter ---</option>
                            <option ng-selected="m.Value==todoAddUpdateModel.ReporterId" ng-repeat="m in projectMembersObject" value="{{m.Value}}">{{m.Text}}</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">

                    <a ng-hide="todoUpdateButton" href="" ng-click="addNewTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid,addUpdateTodoForm.Reporter.$invalid,addUpdateTodoForm)" class="edit-btn">Save Todo</a>
                    <span ng-show="todoUpdateButton">
                        <a ng-hide="myTodoUpdate" href="" ng-click="updateTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid,addUpdateTodoForm.Reporter.$invalid,addUpdateTodoForm)" class="edit-btn">Update Todo </a>
                        <a ng-show="myTodoUpdate" href="" ng-click="updateMyTodo(addUpdateTodoForm.name.$invalid,addUpdateTodoForm.section.$invalid)" class="edit-btn">Update Todo </a>
                    </span>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
