﻿

<div class="modal fade" id="modalProjectDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="ProjectDetailForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Projects </h4>
                </div>
                <div class="modal-body">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Project" ng-model="inputSearchProject" class="project-search form-control" />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div ng-repeat="project in filteredUserOwnedProjectsObject=(UserOwnedProjectsObject | filter:inputSearchProject)" class="list-group-item">
                            <div class="pull-left">
                                <h4 ng-bind-html="project.ProjectName |searchfilter:inputSearchProject" class="list-group-item-heading">  </h4>
                                <p ng-bind-html="project.ProjectDescription|searchfilter:inputSearchProject" class="list-group-item-text"> </p>
                                <div class="pro-mem">
                                    <div ng-repeat="member in project.ProjectMembers" class="pull-left" ng-click="showOtherUserProfile(member.MemberUserId)">
                                        <div class="team-m-pic"><img title="{{member.MemberName}}" ng-src="{{imgurl}}{{member.MemberProfilePhoto}}"></div>
                                    </div>
                                    <div ng-if="!project.ProjectMembers.length" class="pull-left">
                                        No Project Members found.

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="pull-right">

                                <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.projectHours">Estimated Hours: {{project.projectHours}} h</p>
                                <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.projectBudget">Estimated Budget: $ {{project.projectBudget}} </p>
                                <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.TotalSpentHours">Spent Hours: {{project.TotalSpentHours}}</p>
                                <p class="label label-warning process-label" style="margin-right:10px" ng-model="project.TotalSpentMoney">Spent Money: $ {{project.TotalSpentMoney}} </p>



                                <a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer;background-color:deepskyblue;" ng-if="Permission.CanAddNewProject" ng-click="projectComplete(project.ProjectId)">Feedback & Complete</a>
                                <a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer" ng-if="Permission.CanUpdateProject" ng-click="editProject(project)">Edit</a>
                                <a class="edit-btn" ng-class="project.IsComplete ? 'linkDisabled' : ''" style="cursor:pointer" ng-if="Permission.CanAddNewProject" ng-click="deleteProject(project.ProjectId,$index)">Delete</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!filteredUserOwnedProjectsObject.length" class="list-group-item">
                            No Projects Found.
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>

