﻿<!--THIS STYLE IS FOR tAGS    -->
<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>

<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }

    .grayBack {
        background-color: #f9f9f9 !important;
    }

    .fontingrind {
        font-weight: bold !important;
        margin-right: 10px !important;
        font-size: inherit !important;
    }

    .tdwidth {
        width: 25px !important;
    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>
<!--wizard CSS-->
<style>
    ul#wizardStatus {
        list-style: none;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

        ul#wizardStatus li {
            background-color: #d9d9ce;
            color: #3d4c4f;
            display: inline-block;
            margin: 0;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 100px 0px 50px;
            position: relative;
            width: 33%;
            font-size: large;
        }

            ul#wizardStatus li:first-child {
                padding-left: 40px;
                -webkit-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            ul#wizardStatus li:last-child {
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            ul#wizardStatus li:after,
            ul#wizardStatus li:before {
                background-color: #d9d9ce;
                content: "";
                display: block;
                position: absolute;
            }

            ul#wizardStatus li:after {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border-right: 3px solid white;
                border-top: 3px solid white;
                height: 33px;
                right: -16px;
                top: 4px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(44deg);
                width: 35px;
                z-index: 5;
            }

            ul#wizardStatus li:before {
                height: 40px;
                right: 3px;
                width: 20px;
                z-index: 6;
            }

            ul#wizardStatus li:last-child:after,
            ul#wizardStatus li:last-child:before {
                display: none;
            }

            ul#wizardStatus li.current {
                background-color: #0597c5;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }

                ul#wizardStatus li.current:after,
                ul#wizardStatus li.current:before {
                    background-color: #0597c5;
                }

            ul#wizardStatus li.completed {
                background-color: #ccc;
                color: #fff;
            }

                ul#wizardStatus li.completed:after,
                ul#wizardStatus li.completed:before {
                    background-color: #ccc;
                }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="createNewProject">

        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Add New Parent Account </span></h3>



            <div class="clearfix"></div>
        </div>
        <!--<div id="projectStep" style="margin-bottom:10px;">
            <ul id="wizardStatus">
                <li ng-class="myFirstCurrent">Basic Detail</li>
                <li ng-class="mySecondcCurrent">Phase/Milestone</li>
                <li ng-class="myThirdCurrent">Choose Vendor</li>
            </ul>

        </div>-->
        <!--Basic Project detail block-->
        <section>
            <div class="row" ng-show="hideProjectInfo">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group pheadertop"><div class="pheader">Add a Parent Account</div></div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-2px">
                        <form name="NewVendorCompanyAccountForm" class="margin-top-10px">
                            
                            
                           
                            <!--<div class="form-group" >
                                
                                    <label for="txtProject">Team Name</label>
                                    <input name="teamName" class="form-control" ng-class="{inputError:NewVendorCompanyAccountForm.teamName.$dirty && NewVendorCompanyAccountForm.teamName.$invalid}"
                                           placeholder="select team name by clicking on select team button" maxlength="250" required ng-model="vendorCompanyAccountModel.TeamName" disabled >
                                
                                    
                                
                                </div>
                            <div class="form-group">
                                <a href="" ng-click="OpenTeamModal()" tabindex="1" class="edit-btn" style="width: 200px;">Select Team</a>
                                </div>-->
                            <div class="form-group">
                                <label for="txtProject">Account Name</label>
                                <input name="accountName" class="form-control" ng-class="{inputError:NewVendorCompanyAccountForm.accountName.$dirty && NewVendorCompanyAccountForm.accountName.$invalid}"
                                       placeholder="Enter account name" maxlength="150" required ng-model="vendorCompanyAccountModel.Name" tabindex="1">
                            </div>
                                <div class="form-group">
                                    <label for="repeatSelect">Vender Company</label>
                                    <select name="vendorId" id="selectDesignationId-{{$index}}"
                                            ng-class="{inputError: NewVendorCompanyAccountForm.vendorId.$dirty && NewVendorCompanyAccountForm.vendorId.$invalid}"
                                            style="width: 100%;" class="form-control dropdown100"
                                            ng-model="vendorCompanyAccountModel.VendorName" ng-change="GetVendorCompanyDetail()"
                                            ng-options="option.CompanyName for option in myVendorList track by option.VendorId"
                                            tabindex="2" required>
                                        <option value="">---Select vendor company---</option>
                                    </select>
                                </div>
                            <div class="form-group">
                                <label for="txtProject">Contact Person Name</label>
                                <input name="personName" class="form-control" ng-class="{inputError:NewVendorCompanyAccountForm.personName.$dirty && NewVendorCompanyAccountForm.personName.$invalid}"
                                       placeholder="Enter contact person name" maxlength="150" required ng-model="vendorCompanyAccountModel.PersonName" tabindex="3">
                            </div>
                            <div class="form-group">
                                <label for="txtProject">Contact Person Phone No</label>
                                <input name="perPhNo" class="form-control" ng-class="{inputError:NewVendorCompanyAccountForm.perPhNo.$dirty && NewVendorCompanyAccountForm.perPhNo.$invalid}"
                                       placeholder="Enter contact person phone no" maxlength="250" required ng-model="vendorCompanyAccountModel.PersonPhNo" tabindex="4">
                            </div>
                            <div class="form-group">
                                <label for="txtProject">Contact Person Email Address</label>
                                <input name="perEmail" class="form-control" ng-class="{inputError:NewVendorCompanyAccountForm.perEmail.$dirty && NewVendorCompanyAccountForm.perEmail.$invalid}"
                                       placeholder="Enter contact person email address" maxlength="250" required ng-model="vendorCompanyAccountModel.PersonEmail" tabindex="5">
                            </div>
                                

                           

                           
                                <div class="form-group">
                                    <label for="txtFirstName">Account Remarks</label>
                                    <textarea rows="5" cols="20" name="accountDescription"
                                              placeholder="Enter account remarks" maxlength="1000" class="form-control" ng-model="vendorCompanyAccountModel.Remarks" tabindex="6" required></textarea>
                                </div>



                      

                                <div ng-if="CustomDirectiveReady">
                                    <custom-Control-render-directive name1="CustomcontrolList" ng-model="customcontrolmodel"></custom-Control-render-directive>
                                </div>

                                <div class="form-group " style="float:right">
                                    
                                    <a href="" ng-click="SaveAccountDetail(NewVendorCompanyAccountForm.accountName.$invalid,NewVendorCompanyAccountForm.vendorId.$invalid,NewVendorCompanyAccountForm.personName.$invalid,NewVendorCompanyAccountForm.perPhNo.$invalid,NewVendorCompanyAccountForm.perEmail.$invalid,NewVendorCompanyAccountForm)" tabindex="7" class="edit-btn" style="width: 200px;">Save</a>
                                    <a href="" ng-click="GoBack()" tabindex="8" class="edit-btn" style="width: 200px;">Back</a>
                                </div>
                                <div class="clear"></div>
</form>

                    </div>

                </div>
            </div>
        </section>
       




    </div>
</div>

<div class="modal fade" id="modalSelectTeam" tabindex="-1" role="dialog" aria-labelledby="modalTeamLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="NewVendorForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Select Team</h4>
                </div>
                <div class="modal-body">

                    <div class="col-md-12 col-lg-12 col-sm-12">

                        <div data-angular-treeview="true"
                             data-tree-id="SelectTeamTree"
                             data-tree-model="CompanyTeamsInTreeViewList"
                             data-node-id="TeamId"
                             data-node-label="TeamName"
                             data-node-children="SubTeamList">
                        </div> <!--ng-click="printParent($event);"-->

                    </div>

                </div>
                <div class="modal-footer">

                    <!--<a href="" data-dismiss="modal" class="edit-btn" tabindex="13">Cancel</a>-->
                </div>
            </div>
        </form>
    </div>
</div>


<!--<div ng-include="'views/companyAccount/SelectTeam.html'"></div>
<div ng-include="'views/project/MileStone.html'"></div>
<div ng-include="'views/project/ConfirmPopup.html'"></div>-->

