﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .tblMyAccount thead:first-child {
        background-color: #3facff;
    }

        .tblMyAccount thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>




<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divAddNewAccount" style="margin-left: 18px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> My Enterprise Company Parent Accounts</span></h3>
            
            <div class="clearfix"></div>

        </div>
        <div class="row" style="margin-top: 12px; display:none">

            <div class="col-lg-3">

                <input type="text" class="form-control" ng-model="searchVendorName" placeholder="Search by company name"
                       ng-cut="cutSearchInvitaionByVendorName()"
                       auto-complete="autoCompleteOptions" ng-keydown="searchVendorNameInvitaion(searchVendorName,$event)" />
            </div>

            <div style="display:none" class="col-lg-3">
                <div class="sorting-span pull-left">Company</div>
                <div class="sorting-selection">
                    <select ng-model="vendorDropModal" ng-options="item.Name for item in myVendorDropList" ng-change="FilterByVendorCompany(vendorDropModal)"></select>
                </div>
            </div>
            <div class="col-lg-3" style="display:none;">
                <div class="sorting-span pull-left">Status</div>
                <div class="sorting-selection">
                    <select ng-model="myvendorstatusModal" ng-options="item as item.status  for item in myVendorstatusList" ng-change="FilterVendorByStatus(myvendorstatusModal)"></select>

                </div>


            </div>
            <div class="col-lg-3" style="display:none;">
                <input type="button" class="btn btn-default" style="width: 180px" value="search" ng-click="filterVendorCompanyProfileBtn()" />
            </div>



        </div>
        <div>

            <div class="table-responsive">

                <div>
                    <table class="table table-striped table-hover table-bordered table-condensed tblMyAccount">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Enterprise Company Name</th>
                                <th>Person Name</th>
                                <th>Person Phone No</th>
                                <th>Person Email</th>
                                <th>Estimated Cost</th>
                                <th>Remarks</th>
                                <!--<th></th>-->
                            </tr>
                        </thead>
                        <tr>

                            <td align="center" colspan="6   ">


                        <tr ng-repeat="item in myParentAccList">
                            <td>{{item.Name}}</td>
                            <td>{{item.CompanyName}}</td>
                            <td>{{item.PersonName}}</td>
                            <td>{{item.PersonPhNo}}</td>
                            <td>{{item.PersonEmail}}</td>
                            <td>{{item.TotalCost}}</td>
                            <td>{{item.Remarks}}</td>
                            
                            <!--<td>
                                {{item.projectId}}
                                <a ng-click="ViewAccountDetail(item.Id)" style="cursor:pointer;" class="btn btn-small btn-primary"><span>View Detail</span></a>
                                
                            </td>-->
                        </tr>
                        <tr ng-if="myCompAccList.length == 0">
                            <td colspan="12" style="text-align-last: center">No Record Found</td>
                        </tr>
                    </table>
                </div>

            </div>
            <div ng-if="!myCompAccList.length == 0">
                <div class="form-group pull-left page-size form-inline">
                    <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                </div>

                <div class="pull-right">
                    <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                    </pagination>

                </div>
            </div>
        </div>
    </div>
</div>







