﻿<div class="modal fade" id="BlockerVendorCompanyModalId" tabindex="-1" role="dialog" aria-labelledby="ModalBocker" aria-hidden="true">
    <div class="modal-dialog" style="width:70%;height:600px">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">List of your vendors POCs</h4>
            </div>
           
            <form name="InvoicePreviewForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="table-responsive">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 17px">
                            <div style="font-size:14px;margin-bottom:10px">We have found that following vendors are already working under the banner of your company with in Tighten. Please have a look </div>
                            <table class="table table table-striped table-hover table-bordered table-condensed" style="text-align:center">
                                <tr  style="text-align:center!important">
                                    <th style="text-align:center!important; font-size:5px;">#</th>
                                    <th style="text-align:center!important; font-size:14px;">Vendor(POC)</th>
                                    <th style="text-align:center!important; font-size:14px;">Email address</th>
                                    <th style="text-align:center!important; font-size:14px;">Project</th>
                                    <th style="text-align:center!important; font-size:14px;">Rating</th>

                                </tr>


                               

                                <tr ng-repeat="item in VendorBlockerList" >
                                    
                                    <td style="width:5%">{{$index+1}}</td>
                                    <td>
                                        <div style="padding: 8px;margin-right: 83px">
                                            <div class="profile-pic pull-left">
                                                <img ng-src="{{imgURL}}{{item.ProfilePhoto}}" alt="previewInvoiceModal.CompanyProfilePic.CompanyUserName">
                                            </div>
                                                  {{item.VendorPocName}}
                                            </div>
                        
                      
                                    </td>
                                    <td style="width:20%">{{item.Email}}</td>
                                    <td style="width:20%">{{item.Project}}</td>
                              
                                    <td style="width:20%">
                                        <div>
                                            <ng-rate-it ng-model="item.Rating"
                                                        min="0"
                                                        max="5"
                                                        step="Double"
                                                        star-width="16"
                                                        star-height="16"
                                                        read-only="true"
                                                        rated="Function(rating)"
                                                        reset="Function(rating)">
                                            </ng-rate-it>
                                        </div>
                                        </td>

                                
                                </tr>
                            </table>
                        </div>
                    </div>
                  </div>

                
                <div class="modal-footer">
                    <label>These POCs will be added under your company </label>
                    <a href="" data-dismiss="modal" class="edit-btn" ng-click="proceedAhead()">Please proceed ahead</a>
                </div>
            </form>

        </div>

    </div>
</div>