﻿<link href="assets/css/animate.min.css" rel="stylesheet" />
<!--<div class="login-bg" style="margin-left:-22%">
    <div class="register-body">
        <div class="container">

            <div class="row">
                <div class="col-lg-6 col-lg-offset-3">

                    <div class="register-logo">
                        <div>
                            <img src="/assets/img/logo.png" />
                        </div>
                     <div class="clearfix"></div>
                    </div>

                    <div class="well reg-page-bg">
                        <h3 class="page-head">Account Activation Page</h3>

                        <form role="form" name="registrationForm" novalidate>

                            <span style="color:yellow;">
                            </span>
                            <div class="panel panel-default">
                                <div class="panel-heading form-head-title">
                                    <h3 class="panel-title">Confirm Email</h3>
                                </div>
                                <div class="panel-body" style="display:none">
                                    <span style="color:red;" ng-bind="message"></span>
                                    <a class="btn register-btn fa fa-check-circle" ui-sref="login">Go to Login</a>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>








</div>-->








<style>
    body {
        background: rgba(0, 0, 0, 0) url("../../assets/img/login-bg.jpg") no-repeat scroll 0 0;
        background-size: cover;
    }
</style>

<div style="position:relative;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div class="login-bg " style="">
        <div class="login-div-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-shadow" style="margin-left: -19%;">
                    <div class="col-md-6 col-md-offset-3 action" style="position:relative;">
                        <div class="login-logo">
                            <img src="../../assets/img/bluelogo.png" />
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                <div id="signin" style="position:absolute;width:350px;">
                                    <div class="login-box-head">Confirm Email</div>
                                    <div class="login-box-main">
                                        <form role="form" class="form-horizontal" name="signinForm" novalidate>

                                            <span style="color:yellow;" ng-model="error"> </span>

                                            <div class="form-group">
                                                <div class="col-sm-12 ">


                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <label style="font-size: 16px; " class="col-sm-11 control-label" ng-bind="message">  </label>
                                                        </div>
                                                        <div class="col-lg-12" style="padding-top:50px;">
                                                            <a class="btn register-btn fa fa-check-circle pull-right" ui-sref="login">Go to Login</a>
                                                        </div>
                                                    </div>




                                                </div>
                                            </div>


                                        </form>


                                    </div>
                                </div>

                            </div>
                        </div>




                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $('body').find("div").eq(3).addClass("animate0 flipInY");

    });
</script>


