﻿<!--By Rakesh <div class="login-bg" style="overflow:hidden; height:100%;" >
    <h2>{{kk}}</h2>-->
<style>
    body {
        background: rgba(0, 0, 0, 0) url("../../assets/img/login-bg.jpg") no-repeat scroll 0 0;
        background-size: cover;
    }

    .customFont {
        font-size: 12px;
        font-family: "Segoe UI Light";
    }
</style>
<div style="position:relative;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div class="login-bg " style="">
        <div class="login-div-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-shadow" style="margin-left: -19%;">
                    <div class="col-md-6 col-md-offset-3 action" style="position:relative;">
                        <div class="login-logo">
                            <img src="../assets/img/bluelogo.png" />
                        </div>
                        <div id="signin" style="position:absolute; width:100%;">
                            <div class="login-box-head">Sign In</div>
                            <div class="login-box-main">
                                <!--<form method="post" id="login-form" action="/Account/Login" class="form-horizontal" name="signinForm" novalidate>-->
                                <form role="form" class="form-horizontal" name="signinForm" novalidate autocomplete="off">
                                    <!--@Html.AntiForgeryToken()-->

                                    <span style="color:yellow;" ng-model="error"> <!--@Html.ValidationSummary()--></span>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-1 control-label"><i class="fa fa-user"></i></label>
                                        <div class="col-sm-11">

                                            <input type="email" class="form-control" ng-class="{inputError:signinForm.email.$dirty && signinForm.email.$invalid}" ng-keyup="emailkeyUp()" name="email" ng-model="email" id="inputEmailSignIn" placeholder="Email" required>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputPassword3" class="col-sm-1 control-label"><i class="fa fa-lock"></i></label>
                                        <div class="col-sm-11">
                                            <input type="password" class="form-control" ng-class="{inputError:signinForm.password.$dirty && signinForm.password.$invalid}" ng-keyup="passwordkeyUp()" name="password" ng-model="password" id="Password" placeholder="Password" required>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-1 ">
                                            <input type="checkbox" ng-model="checkboxRememberMe" style="visibility:visible;">
                                        </div>
                                        <div class="col-sm-5">
                                            <a href="" class="forgot-link" ng-click="clickRememberMe()">Remember Me</a>
                                        </div>

                                        <div class="col-sm-5" style="padding:0 !important;">
                                            <a href="#" ng-click="ForgotPassword($event)" class="forgot-link">Forgot password ?</a>
                                        </div>

                                    </div>

                                    <div class="form-group">

                                        <div class="col-sm-6">
                                            <a ng-click="linkedInAuthentication()" class="btn sign-btn  customFont">  Sign In Using LinkedIn </a>
                                        </div>

                                        <div class="col-sm-6">
                                            <!--<button ng-click="checkSignInValidation($event,signinForm.email.$invalid,signinForm.password.$invalid)" type="submit" class="btn sign-btn fa fa-check-circle">
                                                Sign in
                                            </button>-->
                                            <button ng-click="login($event,signinForm)" type="submit" class="btn sign-btn  customFont">
                                                <i class="fa fa-check-circle"></i>
                                                Sign In
                                                <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                            </button>
                                            <!--<button ng-click="test()" type="submit" class="btn sign-btn fa fa-check-circle">
                                                test
                                            </button>-->

                                        </div>

                                        <div class="col-sm-12">
                                            <a class="forgot-link" ui-sref="signup">Not a member yet ? Register here</a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="forget" style="display:none; position:absolute; width:100%;">
                            <div class="login-box-head">Forgot Password</div>
                            <div class="login-box-main">
                                <form id="forgotPassword-form" class="form-horizontal" name="forgotpasswordForm" novalidate>
                                    <div class="form-group" style="color:yellow;" ng-bind="forgotPasswordMessage"> </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-1 control-label"><i class="fa fa-user"></i></label>
                                        <div class="col-sm-11">
                                            <input ng-class="{inputError:forgotpasswordForm.Email.$dirty && forgotpasswordForm.Email.$invalid}" type="email" name="Email" class="form-control" required ng-model="Email" id="inputEmailForgotPassword" placeholder="Enter Email Address">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <a href="#" ng-click="GoToSignIn()" class="forgot-link">Go to Sign in</a>
                                        </div>
                                        <div class="col-sm-6">
                                            <button ng-click="checkForgotPasswordValidation($event,forgotpasswordForm.Email.$invalid)" type="submit" class="btn sign-btn  customFont">
                                                <i class="fa fa-check-circle"></i>
                                                Submit
                                            </button>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div id="emailSentConfirmation" style="display:none; position:absolute; width:100%;">
                            <div class="login-box-main">
                                <form class="form-horizontal">
                                    <div class="form-group" style="color:black;font-size:14px;" ng-bind="resetPasswordConfirmation"> </div>
                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button ng-click="Dismiss($event)" type="submit" class="btn sign-btn customFont">
                                                <i class="fa fa-check-circle"></i>
                                                Dismiss
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!--<script src="@Url.Content(" ~/Scripts/libs/jquery-2.0.2.min.js")"></script>
<script src="@Url.Content(" ~/assets/js/bootstrap.min.js")"></script>
<script>
    $(document).ready(function () {
        $('#inputEmailSignIn').focus();
        $('body').find("div").eq(3).addClass("animate0 flipInY");

    });
</script>
<script src="@Url.Content(" ~/Scripts/libs/angular/angular.min.js")"></script>
<script src="@Url.Content(" ~/Scripts/app/controllers/loginController.js")"></script>-->
<!--</div>-->
<script>
    $(document).ready(function () {
        $('#inputEmailSignIn').focus();
        $('body').find("div").eq(3).addClass("animate0 flipInY");

    });
</script>
