﻿

<div style="position:relative;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div style="position:relative;" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

        <div style="position: relative;" id="divClientDashboard">

            <div id="scrollbar2">
                <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                <div class="viewport" id="scroll2">
                    <div class="overview">
                        <div class="heading-name">
                            <h3 class="pull-left"><span>Dashboard</span></h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="panel panel-default dashboard-boxes">
                                    <div class="panel-heading">
                                        What's Ongoing
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 tab-area-main">
                                            <div ng-class="{'tab-area':stretchClientDashboardTodoPanel==false,'pull-left':stretchClientDashboardTodoPanel==false} ">
                                                <!-- Nav tabs -->
                                                <ul class="nav nav-tabs" role="tablist">
                                                    <li role="presentation" class="active"><a href="" ng-click="showTodoPanel()" aria-controls="Task" role="tab" data-toggle="tab">Tasks</a></li>
                                                    <li role="presentation"><a href="" ng-click="showProjectPanel()" aria-controls="Event" role="tab" data-toggle="tab">Projects</a></li>
                                                </ul>
                                                <!-- Tab panes -->
                                                <div class="tab-content tab-scroll ">
                                                    <div ng-if="activeClientDashboardPanel=='Todo'">
                                                        <div class="single-task-up" ng-repeat="todos in clientUpcomingTodosObject">
                                                            <img style="border-radius:50%;" height="30" ng-src="{{imgURL}}{{todos.AssigneeProfilePhoto}}" alt="">
                                                            &nbsp;
                                                            <span ng-if="todos.IsDone" class="todoComplete"></span>
                                                            <span ng-if="todos.InProgress && !todos.IsDone" class="todoInProgress"></span>
                                                            <span ng-if="!todos.InProgress && !todos.IsDone" class="todoPending"></span>
                                                            <span><a ng-class="{completedTodo:todos.IsDone}" ng-click="showTodoDescription(todos)" ng-bind="todos.Name"></a></span>

                                                            <i class="tskaddernm pull-right">
                                                                <img style="border-radius:50%;" height="30" ng-src="{{imgURL}}{{todos.ReporterProfilePhoto}}" alt="">
                                                                <span ng-bind="todos.ReporterName"></span>
                                                            </i>
                                                            <i class="tskaddernm fa fa-calendar pull-right">
                                                                <span ng-bind="todos.DeadlineDate|date:'MMMM-dd     yyyy'"></span>
                                                            </i>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div ng-show="clientUpcomingTodosObject.length==0" class="centered-widget-upcoming">
                                                            No Due Tasks
                                                        </div>
                                                    </div>
                                                    <div ng-if="activeClientDashboardPanel=='Project'">
                                                        <div class="single-task-up" ng-repeat="projects in clientProjectsObject">

                                                            <span><a ng-click="showProjectDescription(projects)" ng-bind="projects.ProjectName"></a></span>

                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div ng-show="clientProjectsObject.length==0" class="centered-widget-upcoming">
                                                            No Due Tasks
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="selected-task pull-right" ng-hide="hideClientDashboardTodoDescriptionPanel">
                                                <div class="status_div">
                                                    <h3 ng-bind="todoDescriptionObject.Name"></h3>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                                            <button class="btn btn-group-xs" ng-click="showClientFeedbackModal(true,0,todoDescriptionObject.TodoId)">Feedback</button>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Status</label>
                                                                <p ng-if="todoDescriptionObject.IsDone==true" class="pull-left"><span class="pull-left">:&nbsp;</span> Complete</p>
                                                                <p ng-if="todoDescriptionObject.InProgress==true" class="pull-left">
                                                                    <span class="pull-left">:&nbsp;</span> In Progress
                                                                </p>
                                                                <p ng-if="todoDescriptionObject.InProgress==false && todoDescriptionObject.IsDone==false" class="pull-left">
                                                                    <span class="pull-left">:&nbsp;</span> Pending
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Team</label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.TeamName"></span></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Project</label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.ProjectName"></span></p>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Section</label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span><span ng-bind="todoDescriptionObject.SectionName"></span></p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Assignee</label>
                                                                <p class="pull-left">
                                                                    <span class="pull-left">:&nbsp;</span><span ng-if="todoDescriptionObject.AssigneeId==null">Not Assigned</span>
                                                                    <span ng-if="todoDescriptionObject.AssigneeId!=null" ng-bind="todoDescriptionObject.AssigneeName"></span>
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                                                                <label class="pull-left">Reporter</label>
                                                                <p class="pull-left">
                                                                    <span class="pull-left">:&nbsp;</span>
                                                                    <span ng-bind="todoDescriptionObject.ReporterName"></span>
                                                                </p>

                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12" style="border-bottom: 1px solid #fff;margin-top:10px;margin-bottom:10px;"></div>
                                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                                <label class="pull-left" style="width:23%;">Due Date </label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.DeadlineDate|date:'MMMM-dd yyyy'"></span></p>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                                <label class="pull-left" style="width:23%;">Created Date </label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.CreatedDate|date:'h:mm:ss a MMMM-dd-yyyy'"></span></p>
                                                            </div>
                                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                                <label class="pull-left" style="width:23%;">Last Updated </label>
                                                                <p class="pull-left"><span class="pull-left">:&nbsp;</span> <span ng-bind="todoDescriptionObject.ModifiedDate|date:'h:mm:ss a MMMM-dd-yyyy'"></span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="selected-task pull-right" ng-hide="hideClientDashboardProjectDescriptionPanel">
                                                <div class="status_div">
                                                    <h3 ng-bind="projectDescriptionObject.ProjectName"></h3>
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-6">
                                                            <button class="btn btn-group-xs" ng-click="showClientFeedbackModal(false,projectDescriptionObject.ProjectId,0)">Feedback</button>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <div class="row">
                                                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                                <label class="pull-left">Description</label>
                                                                <p ng-bind="projectDescriptionObject.ProjectDescription" class="pull-left">
                                                                    <span class="pull-left">:&nbsp;</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8 mid-part">
                                <div class="panel panel-default dashboard-inner-box">
                                    <div class="panel-heading">
                                        Progress Chart
                                        <div class="pull-right">
                                            <span class="box-control"><a href=""><i class="fa fa-caret-down"></i></a><a href=""><i class="fa fa-times"></i></a></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div fusioncharts
                                                 width="730"
                                                 height="400"
                                                 type="column2d"
                                                 datasource="{{myDataSource}}">
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="panel panel-default dashboard-inner-box">
                                    <div class="panel-heading">
                                        T-Line
                                        <div class="pull-right">
                                            <select>
                                                <option>select 1</option>
                                                <option>select 2</option>
                                                <option>select 3</option>
                                                <option>select 4</option>
                                                <option>select 5</option>
                                            </select>
                                            <span class="box-control"><a href=""><i class="fa fa-caret-down"></i></a><a ng-show="showUserTLine" ng-click="hideUserTLine()" href=""><i class="fa fa-times"></i></a></span>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="panel-body">
                                        <div style="width:100%;" ng-hide="showUserTLine">
                                            <ul class="worker-list-col">
                                                <li class="ch-item" ng-repeat="item in clientConcernedUsersObject|unique:'userId'">
                                                    <div class="profile-worker">
                                                        <div class="worker-pic"><img ng-src="{{imgURL}}{{item.profilePhoto}}" /></div>
                                                        <div class="worker-detail">
                                                            <div>
                                                                <h4 ng-bind="item.firstName+' '+item.lastName"></h4>
                                                                <h5 ng-bind="item.Designation"></h5>
                                                            </div>
                                                        </div>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                    <div class="ch-info">
                                                        <h3><a href="" ng-click="viewUserTLine(item.UserId)">View<br>T-Line</a></h3>
                                                    </div>
                                                </li>
                                                <div class="clearfix"></div>
                                            </ul>

                                        </div>
                                        <div ng-show="showUserTLine" style="width:100%;">
                                            <div class="upper-t-line">
                                                <div class="t-line-1"><span class="t-span-2" ng-bind="userTLineObject.TotalTasks"></span><h6 class="t-h6">Total Tasks</h6><div class="clearfix"></div></div>
                                                <div class="t-line-2"><span class="t-span-2" ng-bind="userTLineObject.PendingTasks"></span><h6 class="t-h6">Pending Tasks</h6><div class="clearfix"></div></div>
                                                <div class="t-line-3"><span class="t-span-2" ng-bind="userTLineObject.BeforeHandTasks"></span><h6 class="t-h6">Beforehand Tasks</h6><div class="clearfix"></div></div>
                                                <div class="t-line-4"><span class="t-span-2" ng-bind="userTLineObject.Projects"></span><h6 class="t-h6">Projects</h6><div class="clearfix"></div></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="mid-line"></div>
                                            <div class="upper-t-line-2">
                                                <div class="t-line-5"><span class="t-span" ng-bind="userTLineObject.CompletedTasks"></span><h6 class="t-h6">Completed Tasks</h6><div class="clearfix"></div></div>
                                                <div class="t-line-6"><span class="t-span" ng-bind="userTLineObject.RetardedTasks"></span><h6 class="t-h6">Retarded Tasks</h6><div class="clearfix"></div></div>
                                                <div class="t-line-7"><span class="t-span">70</span><h6 class="t-h6">Clients Feedback</h6><div class="clearfix"></div></div>
                                                <div class="t-line-8"><span class="t-span" ng-bind="userTLineObject.Teams"></span><h6 class="t-h6">Teams</h6><div class="clearfix"></div></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 right-bar-bg">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="status_div">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="description">
                                                        <h1><i class="fa fa-history"></i> History</h1>
                                                        <ul class="history-list">
                                                            <li>You have completed the task <span>“Design logo for website”</span></li>
                                                            <li>You assigned a new task <span>“UX Develoment”</span> to John</li>
                                                            <li>You have completed the task <span>“Design logo for website”</span></li>
                                                            <li>You assigned a new task <span>“UX Develoment”</span> to John</li>
                                                        </ul>
                                                    </div>
                                                    <div class="description no-border">
                                                        <h1><i class="fa fa-envelope"></i> Messages</h1>
                                                        <div class="search-bar">
                                                            <input name="" type="text" class="pull-left input" placeholder="Search">
                                                            <a href="" class="add_btn pull-left">Search</a>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="chat-user">
                                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                                            <div class="online-name">
                                                                Jasmine<br><span>.Net Developer</span>
                                                                <div class="online-chat-dot pull-right"></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="chat-user">
                                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                                            <div class="online-name">
                                                                Jasmine<br><span>.Net Developer</span>
                                                                <div class="online-chat-dot pull-right"></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="chat-user">
                                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                                            <div class="online-name">
                                                                Jasmine<br><span>.Net Developer</span>
                                                                <div class="online-chat-dot pull-right"></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="chat-user">
                                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                                            <div class="online-name">
                                                                Jasmine<br><span>.Net Developer</span>
                                                                <div class="online-chat-dot pull-right"></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                        <div class="chat-user">
                                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                                            <div class="online-name">
                                                                Jasmine<br><span>.Net Developer</span>
                                                                <div class="online-chat-dot pull-right"></div>
                                                                <div class="clearfix"></div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

</div>

