﻿
<div class="modal fade" id="modalLinkedInMessage" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="linkedInMessageForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Tighten Password </h4>
                </div>
                <div class="modal-body">

                    <div ng-if="isLinkedInUsed" class="form-group">
                        <label for="txtEmail">  You have successfully logged in using your linked-in account. Do you want to set your TIGHTEN password in case if you want to login into tighten directly in future without using linked-in again. However you can do this  later using your settings screen. </label>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Email Address</label>
                        <input name="txtEmail" class="form-control" placeholder="Email Address" ng-model="LoggedInFirstTimeByLinkedIn.EmailId" disabled>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail"> Password </label>
                        <input type="password" name="Password" class="form-control" ng-class="{inputError:linkedInMessageForm.Password.$dirty && linkedInMessageForm.Password.$invalid}" placeholder="Enter Password" ng-model="LoggedInFirstTimeByLinkedIn.Password" required>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail"> Confirm Password </label>
                        <input type="password" name="ConfirmPassword" class="form-control" ng-class="{inputError:linkedInMessageForm.ConfirmPassword.$dirty && linkedInMessageForm.ConfirmPassword.$invalid}" placeholder="Enter Confirm Password" ng-model="LoggedInFirstTimeByLinkedIn.ConfirmPassword" required>
                    </div>

                         
                </div>
                <div class="modal-footer">
                    <a href="" ng-click="saveMypassword()" class="edit-btn"> Save my password </a>
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn"> May be later </a>
                </div>
            </div>
        </form>
    </div>
</div>
