﻿<!--<div style="position:relative;" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">-->
<!--<span ng-show="showCenterLoader" style="margin-top: 20%; left: 45%; position: absolute;font-size:18px;">
    Loading...
</span>-->

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divMyDashboard">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-dashboard"></i> Dashboard</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default dashboard-boxes">
                    <div class="panel-heading">
                        What's Upcoming <a href="" ng-click="test()">Tasks</a>
                        <a href="" ng-hide="LoginUserRole == 1 ? false  :  true " class="pull-right" ng-click="openUpgradePackageModal()">Upgrade Your Subscription</a>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#Task" aria-controls="Task" role="tab" data-toggle="tab">Tasks</a></li>
                                    <li role="presentation"><a href="#Event" aria-controls="Event" role="tab" data-toggle="tab">Events</a></li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content tab-scroll">
                                    <div role="tabpanel" class="tab-pane active" id="Task">
                                        <div class="single-task-up" ng-repeat="todos in userUpcomingTodosObject">
                                            <span ng-if="todos.IsDone" class="todoComplete"></span>
                                            <span ng-if="todos.InProgress && !todos.IsDone" class="todoInProgress"></span>
                                            <span ng-if="!todos.InProgress && !todos.IsDone" class="todoPending"></span>
                                            <span><a href="" ng-class="{completedTodo:todos.IsDone}" ng-click="showTodoDescription(todos)" ng-bind="todos.Name"></a></span>
                                            <i class="tskaddernm pull-right">
                                                <img style="border-radius:50%;" height="30" ng-src="{{imgURL}}{{todos.ReporterProfilePhoto}}" alt="">
                                                <span ng-bind="todos.ReporterName"></span>
                                            </i>
                                            <i class="tskaddernm fa fa-calendar pull-right">
                                                <span ng-bind="todos.DeadlineDate|date:'MM-dd yyyy'"></span>
                                            </i>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div ng-show="userUpcomingTodosObject.length==0" class="centered-widget-upcoming">
                                            No Due Tasks
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="Event">
                                        <div class="single-task-up" ng-repeat="event in userUpcomingEventsObject">
                                            <span><a href="" ng-bind="event.Title"></a></span>
                                            <i class="tskaddernm pull-right">
                                                <img style="border-radius:50%;" height="30" ng-src="{{imgURL}}{{event.CreatorProfilePhoto}}" alt="">
                                                <span ng-bind="event.CreatorName"></span>
                                            </i>
                                            <i class="tskaddernm fa fa-calendar pull-right">
                                                <span ng-if="event.AllDay">All Day Event</span>
                                                <span ng-bind="event.Start|date:'h:mm a MM-dd-yyyy'"></span>
                                                <span ng-if="!event.AllDay">&nbsp;to&nbsp;<span ng-bind="event.End|date:'h:mm a MM-dd-yyyy'"></span></span>
                                            </i>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div ng-show="userUpcomingEventsObject.length==0" class="centered-widget-upcoming">
                                            No Due Events
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <team-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{teamCountDirectiveTitle}}">  </team-count-directive>
            </div>
            <div class="col-lg-4">
                <project-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{projectCountDirectiveTitle}}">  </project-count-directive>
            </div>
            <div class="col-lg-4">
                <todo-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{todoCountDirectiveTitle}}">  </todo-count-directive>
            </div>

            <div class="col-lg-4">
                <pendingtodos-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{pendingtodosCountDirectiveTitle}}">  </pendingtodos-count-directive>
            </div>
            <div class="col-lg-4">
                <expiredduedatetodos-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{expiredduedatetodosCountDirectiveTitle}}">  </expiredduedatetodos-count-directive>
            </div>
            <div class="col-lg-4">
                <comingtodos-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{comingtodosCountDirectiveTitle}}">  </comingtodos-count-directive>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <overbudgetedprojects-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{overbudgetedprojectsCountDirectiveTitle}}">  </overbudgetedprojects-count-directive>
            </div>
           
            <div class="col-lg-4">
                <top-five-tasks-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{top5tasksCountDirectiveTitle}}">  </top-five-tasks-directive>
            </div>

            <div class="col-lg-4">
                <freelancers-hired-count-directive refreshinterval="{{refreshInterval}}" imgurl="{{imgURL}}" title="{{recentfreelancershiredCountDirectiveTitle}}">  </freelancers-hired-count-directive>
            </div>

        </div>



        <div class="row">
            <div class="col-lg-8 mid-part">
                <div class="panel panel-default dashboard-inner-box">
                    <div class="panel-heading">
                        T-Line
                        <div class="pull-right">
                            <select>
                                <option>select 1</option>
                                <option>select 2</option>
                                <option>select 3</option>
                                <option>select 4</option>
                                <option>select 5</option>
                            </select>
                            <span class="box-control"><a href=""><i class="fa fa-caret-down"></i></a><a href=""><i class="fa fa-times"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <div class="upper-t-line">
                                <div class="t-line-1"><span class="t-span-2" ng-bind="userTLineObject.TotalTasks"></span><h6 class="t-h6">Total Tasks</h6><div class="clearfix"></div></div>
                                <div class="t-line-2"><span class="t-span-2" ng-bind="userTLineObject.PendingTasks"></span><h6 class="t-h6">Pending Tasks</h6><div class="clearfix"></div></div>
                                <div class="t-line-3"><span class="t-span-2" ng-bind="userTLineObject.BeforeHandTasks"></span><h6 class="t-h6">Beforehand Tasks</h6><div class="clearfix"></div></div>
                                <div class="t-line-4"><span class="t-span-2" ng-bind="userTLineObject.Projects"></span><h6 class="t-h6">Projects</h6><div class="clearfix"></div></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="mid-line"></div>
                            <div class="upper-t-line-2">
                                <div class="t-line-5"><span class="t-span" ng-bind="userTLineObject.CompletedTasks"></span><h6 class="t-h6">Completed Tasks</h6><div class="clearfix"></div></div>
                                <div class="t-line-6"><span class="t-span" ng-bind="userTLineObject.RetardedTasks"></span><h6 class="t-h6">Retarded Tasks</h6><div class="clearfix"></div></div>
                                <div class="t-line-7"><span class="t-span">70</span><h6 class="t-h6">Clients Feedback</h6><div class="clearfix"></div></div>
                                <div class="t-line-8"><span class="t-span" ng-bind="userTLineObject.Teams"></span><h6 class="t-h6">Teams</h6><div class="clearfix"></div></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel panel-default dashboard-inner-box">
                    <div class="panel-heading">
                        Progress Chart
                        <div class="pull-right">
                            <span class="box-control"><a href=""><i class="fa fa-caret-down"></i></a><a href=""><i class="fa fa-times"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div fusioncharts
                                 width="730"
                                 height="400"
                                 type="column2d"
                                 datasource="{{myDataSource}}">
                            </div>
                        </div><div class="clearfix"></div>
                    </div>
                </div>
                <div class="panel panel-default dashboard-inner-box">
                    <div class="panel-heading">
                        <i class="fa fa-star"></i>
                        Client Feedback
                        <span class="feed-star">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </span>
                        <div class="pull-right">
                            <span class="box-control"><a href=""><i class="fa fa-caret-down"></i></a><a href=""><i class="fa fa-times"></i></a></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="single-feed" ng-repeat="item in userClientFeedbacksObject">
                                <div>
                                    <rating ng-model="item.Rating" max="max" readonly="true" titles="['one','two','three']" aria-labelledby="default-rating"></rating>
                                    <span ng-bind="item.Rating+' star'"></span>
                                </div>
                                <div class="pull-left">
                                    <div class="client-pic"><img ng-src="{{imgURL}}{{item.CientProfilePhoto}}"></div>
                                </div>
                                <p class="feedback pull-right">
                                    <span ng-bind="item.Feedback"></span>
                                    <i style="display:inline-block;" ng-bind="'( '+item.ClientName+' )'"></i>
                                    <div>
                                        <span ng-if="item.IsTodoFeedback" class="pull-right">Todo - <span ng-bind="item.TodoName"></span></span>
                                        <span ng-if="!item.IsTodoFeedback" class="pull-right">Project - <span ng-bind="item.ProjectName"></span></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 right-bar-bg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="status_div">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="description">
                                        <h1><i class="fa fa-history"></i> History</h1>
                                        <ul class="history-list">
                                            <li>You have completed the task <span>“Design logo for website”</span></li>
                                            <li>You assigned a new task <span>“UX Develoment”</span> to John</li>
                                            <li>You have completed the task <span>“Design logo for website”</span></li>
                                            <li>You assigned a new task <span>“UX Develoment”</span> to John</li>
                                        </ul>
                                    </div>
                                    <div class="description no-border">
                                        <h1><i class="fa fa-envelope"></i> Messages</h1>
                                        <div class="search-bar">
                                            <input name="" type="text" class="pull-left input" placeholder="Search">
                                            <a href="" class="add_btn pull-left">Search</a>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                            <div class="online-name">
                                                Jasmine<br><span>.Net Developer</span>
                                                <div class="online-chat-dot pull-right"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                            <div class="online-name">
                                                Jasmine<br><span>.Net Developer</span>
                                                <div class="online-chat-dot pull-right"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                            <div class="online-name">
                                                Jasmine<br><span>.Net Developer</span>
                                                <div class="online-chat-dot pull-right"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                            <div class="online-name">
                                                Jasmine<br><span>.Net Developer</span>
                                                <div class="online-chat-dot pull-right"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="chat-user">
                                            <div class="pull-left chat-pic"><div class="member-pic"><img src="assets/img/profile-pic.jpg"></div></div>
                                            <div class="online-name">
                                                Jasmine<br><span>.Net Developer</span>
                                                <div class="online-chat-dot pull-right"></div>
                                                <div class="clearfix"></div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!--</div>-->


<div ng-include="'views/dashboard/UpgradePackageModal.html'"></div>
<div ng-include="'views/modal/PaymentDetailModal.html'"></div>
<div ng-include="'views/dashboard/LinkedInMessageModal.html'"></div>