﻿<div aria-labelledby="confirmModalLabel" role="dialog" id="confirmModal" class="modal fade" style="z-index:17878700;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dialog-header-confirm" style="background: #9EB9D4;color:black; ">
                <button type="button" class="close" data-dismiss="modal"><span style="color:white!important;" aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title ng-binding">
                    <span style="color:black;" class="glyphicon glyphicon-check"></span>
                    Please Confirm
                </h4>
            </div>
            <div ng-bind-html-unsafe="msg" class="modal-body ng-binding" ng-bind-html="confirmMessage"></div><div class="modal-footer" id="divConfirmFooter"></div>
        </div>
    </div>
</div>
