﻿
<div style="display: none; position: relative;" id="divFavourites">

    <h2 style="color:grey;text-align:center;width:100%;">Favourites</h2>


    <div class="col-lg-6" style="border:2px solid silver;min-height:300px;margin-left:222px;">
        It consists the Favourites of the user
    </div>

</div>

