﻿
<div style="display: none; position: relative;" id="divFiles">


    <h2 style="color:grey;text-align:center;width:100%;">Files</h2>


    <div class="col-lg-6" style="border:2px solid silver;min-height:300px;margin-left:222px;">
        It consists the Files shared for particular selected team


    </div>
</div>
