﻿
<div style="display: none; position: relative;" id="divLinks">

    <h2 style="color:grey;text-align:center;width:100%;">Links</h2>


    <div class="col-lg-6" style="border:2px solid silver;min-height:300px;margin-left:222px;">
        It consists the Links shared for particular selected team

    </div>

</div>
