﻿<!DOCTYPE html>
<html lang="en-us" id="extr-page" ng-app="loginModule">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title> Tighten Signin </title>
    <!-- Site Icon On Title -->
    <link rel="shortcut icon" href="@Url.Content("t-icon.png")" />
    <!-- Bootstrap -->
    <link href="@Url.Content(" ~/assets/css/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content(" ~/assets/css/mystyle.css")" rel="stylesheet">
    <link href="@Url.Content(" ~/assets/css/font-awesome.min.css")" rel="stylesheet">


</head>
<body class="login-bg" style="overflow:hidden; height:100%;" ng-controller="loginController">
    <div class="login-div-box">
        <div class="col-md-8 col-md-offset-2">
            <div class="login-shadow"  style="margin-left: -19%;">
                <div class="col-md-6 col-md-offset-3 action" style="position:relative;">
                    <div class="login-logo">
                        <img src="../assets/img/logo.png" />
                    </div>
                    <div id="signin" style="position:absolute; width:100%;">
                        <div class="login-box-head">Sign In</div>
                        <div class="login-box-main">
                            <form method="post" id="login-form" action="/Account/Login" class="form-horizontal" name="signinForm" novalidate>
                                @Html.AntiForgeryToken()

                                <span style="color:yellow;"> @Html.ValidationSummary()</span>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label"><i class="fa fa-user"></i></label>
                                    <div class="col-sm-11">

                                        <input type="email" class="form-control" ng-class="{inputError:signinForm.email.$dirty && signinForm.email.$invalid}" ng-keyup="emailkeyUp()" name="email" ng-model="email" id="inputEmailSignIn" placeholder="Email" required>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-1 control-label"><i class="fa fa-lock"></i></label>
                                    <div class="col-sm-11">
                                        <input type="password" class="form-control" ng-class="{inputError:signinForm.password.$dirty && signinForm.password.$invalid}" ng-keyup="passwordkeyUp()" name="password" ng-model="password" id="Password" placeholder="Password" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <a href="#" ng-click="ForgotPassword($event)" class="forgot-link">Forgot password ?</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <button ng-click="checkSignInValidation($event,signinForm.email.$invalid,signinForm.password.$invalid)" type="submit" class="btn sign-btn fa fa-check-circle">
                                            Sign in
                                        </button>
                                    </div>
                                    <div class="col-sm-12">
                                        <a class="forgot-link" href="Registration">Not a member yet ? Register here</a>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="forget" style="display:none; position:absolute; width:100%;">
                        <div class="login-box-head">Forgot Password</div>
                        <div class="login-box-main">
                            <form method="post" id="forgotPassword-form" action="/Account/ForgotPassword" class="form-horizontal" name="forgotpasswordForm" novalidate>
                                <div class="form-group" style="color:yellow;" ng-bind="forgotPasswordMessage"> </div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-1 control-label"><i class="fa fa-user"></i></label>
                                    <div class="col-sm-11">
                                        <input ng-class="{inputError:forgotpasswordForm.Email.$dirty && forgotpasswordForm.Email.$invalid}" type="email" name="Email" class="form-control" required ng-model="Email" id="inputEmailForgotPassword" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <a href="#" ng-click="GoToSignIn()" class="forgot-link">Go to Sign in</a>
                                    </div>
                                    <div class="col-sm-6">
                                        <button ng-click="checkForgotPasswordValidation($event,forgotpasswordForm.Email.$invalid)" type="submit" class="btn sign-btn fa fa-check-circle">
                                            Submit
                                        </button>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="emailSentConfirmation" style="display:none; position:absolute; width:100%;">
                        <div class="login-box-main">
                            <form class="form-horizontal">
                                <div class="form-group" style="color:yellow;font-size:14px;">An Email has been sent! </div>
                                <div class="form-group" style="color:yellow;">The email will give you instructions to reset your password. </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button ng-click="Dismiss($event)" type="submit" class="btn sign-btn fa fa-check-circle">
                                            Dismiss
                                        </button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <script src="@Url.Content(" ~/Scripts/libs/jquery-2.0.2.min.js")"></script>
    <script src="@Url.Content(" ~/assets/js/bootstrap.min.js")"></script>
    <script>
        $(document).ready(function () {
            $('#inputEmailSignIn').focus();
            $('body').find("div").eq(3).addClass("animate0 flipInY");

        });
    </script>
    <script src="@Url.Content(" ~/Scripts/libs/angular/angular.min.js")"></script>
    <script src="@Url.Content(" ~/Scripts/app/controllers/loginController.js")"></script>

</body>
</html>