﻿<div style="display: none; position: relative;" id="divMyInbox">
    <img style="position:absolute;left:45%;margin-top:200px;" ng-show="myinboxwindowloader" src="~/img/loaders/loader.png" />

    <div ng-show="showNoInboxRecordsMessage" style="color: #D4D0C8;font-size:large;font-weight:bold;position:absolute;z-index:100;left:34%;top:30%;"> There are no records</div>

    <fieldset>
        <legend style="margin-bottom: 5px !important; font-size: medium; color: grey;">

            <img height="50" width="50" src="@Url.Content("~/Uploads/Default/inbox.png" )" />&nbsp;
            <span style="color:grey;" class="active">Inbox</span>

        </legend>
        <div style="margin-bottom:5px !important;width:100%;">
            <span ng-click="GetMyInbox()" style="width:50%;" ng-class="{selectedtodoOption: selectedtodo=='inbox'}" class="glyphicon todoOptions"><span>Inbox</span></span><span ng-click="GetMyInboxArchived()" style="width:50%;" ng-class="{selectedtodoOption: selectedtodo=='inboxarchived'}" class="glyphicon todoOptions"><span>&nbsp;Inbox Archived</span></span>


        </div>
        @*  My Inbox Window *@

        <div style="height:550px;overflow-y:auto;overflow-x:hidden;">
            <div ng-hide="showInboxArchivedWindow">
                <div style="margin-bottom:10px;">
                    <select ng-model="inboxFilter" style="width: 100px;">
                        <option selected value="">Filter</option>
                        <option value="filter">Unread</option>
                        <option value="-filter">Read</option>
                    </select>
                </div>
                <div class="inbox" ng-repeat="item in MyInboxTodos | orderBy:inboxFilter" ng-class="{activeInbox:item.id==selectedInbox}" ng-show="myinboxwindow" ng-click="getInboxTodoDetail(item)" style="width: 100% !important; border-bottom: 1px solid silver; padding: 2px 0;cursor:pointer;" ng-init="loading.id=item.id;">
                    <div>
                        <span style="color:green;font-size:9px;" ng-show="item.isRead">Read</span>
                        <span style="color: red; font-size: 9px;" ng-hide="item.isRead">UnRead</span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" ng-hide="host.ToDo" style="font-size:12px;cursor:pointer;color:black;" ng-bind="item.name">
                        </span>
                        <span class="pull-right">
                            <span tooltip="Deadline:{{(item.deadlineDate| date:'dd-MMMM-yyyy')}}" tooltip-trigger="mouseenter" style="background-color: grey;padding:1px; border-radius: 10%; border: 1px solid #C7D5E3; color: white; font-size: 9px; cursor: pointer; " ng-bind="'Deadline:'+(item.deadlineDate| date:'dd-MMMM-yyyy')"></span>

                            <span ng-hide="host.ToDo" aria-hidden="true" style="text-align: right; cursor: pointer; padding-right: 15px; margin-top: 2px;" class="glyphicon glyphicon-chevron-right ml5 "></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Reporter </i>:
                            <img height="35" width="35" style="border-radius:50%;" title="{{(item.firstName)+' '+(item.lastName)}}" ng-src="{{item.profilePhoto}}">
                            <span style="color: grey; font-size: smaller; cursor: pointer;margin-left:2px; " ng-bind="item.reporter"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Team </i>:
                            <span style=" color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.teamName"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Project </i>:
                            <span style="color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.projectName"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Section </i>:
                            <span style="color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.sectionName"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-show="showInboxArchivedWindow">
                <div class="inbox" ng-repeat="item in MyInboxArchivedTodos" ng-class="{activeInbox:item.id==selectedInbox}" ng-show="myinboxwindow" ng-click="getInboxTodoDetail(item)" style="width: 100% !important; border-bottom: 1px solid silver; padding: 2px 0;cursor:pointer;" ng-init="loading.id=item.id;">
                    <div>

                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="font-size:12px;cursor:pointer;color:black;font-weight:bold;" ng-bind="item.name">
                        </span>
                        <span class="pull-right">
                            <span tooltip="Deadline:{{(item.deadlineDate| date:'dd-MMMM-yyyy')}}" tooltip-trigger="mouseenter" style="background-color: grey;padding:1px; border-radius: 10%; border: 1px solid #C7D5E3; color: white; font-size: 9px; cursor: pointer; " ng-bind="'Deadline:'+(item.deadlineDate| date:'dd-MMMM-yyyy')"></span>

                            <span ng-hide="host.ToDo" aria-hidden="true" style="text-align: right; cursor: pointer; padding-right: 15px; margin-top: 2px;" class="glyphicon glyphicon-chevron-right ml5 "></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Reporter </i>:
                            <img height="35" width="35" style="border-radius:50%;" title="{{(item.firstName)+' '+(item.lastName)}}" ng-src="{{item.profilePhoto}}">

                            <span style="color: grey; font-size: smaller; cursor: pointer;margin-left:2px; " ng-bind="item.reporter"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Team </i>:
                            <span style=" color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.teamName"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Project </i>:
                            <span style="color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.projectName"></span>
                        </span>
                        <span ng-class="{unreadInboxMessage: item.isRead==false}" style="display: block;">
                            <i style="font-size:11px;color:black;margin-right:2px;">Section </i>:
                            <span style="color: grey; font-size: smaller; cursor: pointer; margin-left: 2px; " ng-bind="item.sectionName"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</div>
