﻿<div class="modal fade" id="modalAddNewUser" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Add New User</h4>
            </div>
            <form name="addNewUserForm" novalidate class="css-form">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail">Email Address</label>
                        <input type="email" ng-class="{inputError:addNewUserForm.Email.$dirty && addNewUserForm.Email.$invalid}" name="Email" class="form-control" required placeholder="Enter Email" ng-model="userModel.email">
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Firstname</label>
                        <input name="FirstName" required ng-class="{inputError:addNewUserForm.FirstName.$dirty && addNewUserForm.FirstName.$invalid}" placeholder="Enter Firstname" class="form-control" ng-model="userModel.firstName">
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">Lastname</label>
                        <input name="LastName" required ng-class="{inputError:addNewUserForm.LastName.$dirty && addNewUserForm.LastName.$invalid}" placeholder="Enter Lastname" class="form-control" ng-model="userModel.lastName">
                    </div>

                    <div class="form-group">
                        <label for="txtFirstName">User Role</label>

                        <select class="form-control" name="UserRole" ng-model="userModel.userRole" ng-class="{inputError:addNewUserForm.UserRole.$dirty && addNewUserForm.UserRole.$invalid}" required>
                            <option selected="selected" value="">--- Select User Role ---</option>
                            <option value="User">User</option>
                            <option value="Client">Client</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">

                    <a href="" ng-click="UserManagement.addNewUser(addNewUserForm.Email.$invalid,addNewUserForm.FirstName.$invalid,addNewUserForm.LastName.$invalid,addNewUserForm.UserRole.$invalid)" class="edit-btn">Add User</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>

                </div>

            </form>
        </div>
    </div>
</div>
