﻿<div style="display: none; position: relative;" id="divNotifications">
    <img style="position:absolute;left:45%;margin-top:200px;" ng-show="notificationswindowloader" src="~/img/loaders/335.GIF" />
    <div ng-show="showNoNotificationRecordsMessage" style="color: #D4D0C8;font-size:large;font-weight:bold;position:absolute;z-index:100;left:34%;top:30%;"> There are no records</div>

    <fieldset>
        <legend style="font-size:medium;color:grey;margin-bottom:10px;">
            <img height="30" width="30" src="~/Uploads/Default/notification.png" /> &nbsp;<span style="color:grey;cursor:pointer;" ng-click="ShowNotificationsSection()" class="active">Notifications</span>
            <span class="pull-right">

                <div class="btn-group" dropdown>

                    <button type="button" ng-click="ShowSettingsSection()" style="background:none;border:none;" class="btn-group open">
                        <span style="font-size:small;color:grey;">Settings</span> &nbsp;   <span style="color:grey;" class="glyphicon glyphicon-cog "></span>
                    </button>

                </div>
            </span>
        </legend>

        <div ng-hide="notificationswindowloader">
            @* notifications sub window *@
            <div ng-hide="notificationsWindow">
                <select ng-model="notificationFilter" style="margin-bottom:10px;width:100px;">
                    <option selected value="">Filter</option>
                   <option value="filter">Unread</option>
                    <option value="-filter">Read</option>
                </select>
                <div style="width: 100% !important; padding: 5px 0;height:570px;overflow-y:auto;">
                    <div ng-repeat="item in notificationdata| orderBy:notificationFilter" class="notification" style="padding:3px 0;display:block;width:100%;border-bottom:1px solid silver;" ng-class="{activeNotification:item.id==selectedNotification}">
                        <div ng-click="getNotificationsTodoDetail(item)" ng-class="{unreadNotification: item.isRead==false}">
                            <img style="cursor:pointer;border-radius:50%;" height="35" width="35" title="{{(item.firstName)+' '+(item.lastName)}}" ng-src="{{item.profilePhoto}}">&nbsp;&nbsp;
                            <span style="font-size: 11px; color: #3399FF;cursor:pointer;" ng-bind="item.firstName+' '+item.lastName"></span>&nbsp;
                            <span style="cursor:pointer;" ng-bind="item.name"></span><br />
                            <span style="font-size: 10px; display: block; margin-left: 50px; color: darkslategrey;font-weight:bold;margin-bottom:5px;">Date and Time</span>
                            <span style="font-size: 9px; display: block; margin-left: 50px; color: darkslategrey;">{{item.createdDate | date:"MMM d, y 'at' h:mm:ss a"}}</span>
                        </div>
                    </div>
                </div>

            </div>

            @* Notification Settings Sub Window *@
            <div ng-show="notificationsWindow" style="width: 100% !important; border-bottom: 1px solid silver; padding: 5px 0;">

                <fieldset>
                    <legend style="text-align:center;margin-bottom:5px;">
                        <h6>
                            Notification Settings
                        </h6>
                    </legend>

                    <b style="color: grey"> Send Notification Emails</b><span class="pull-right" style="margin-right:10px;"> <span ng-click="ChangeNotificationSetting(true)" class="DefaultNotification" ng-class="{NotificationON: SendNotification==true}">ON</span> <span class="DefaultNotification" ng-click="ChangeNotificationSetting(false)" ng-class="{NotificationOFF: SendNotification==false }">OFF</span></span>

                </fieldset>


            </div>

        </div>
    </fieldset>
</div>
