﻿@*<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>*@

@*<script> if (!window.jQuery) { document.write('<script src="@Url.Content("~/Scripts/libs/jquery-2.0.2.min.js")"><\/script>'); } </script>*@
<script src="@Url.Content("~/Scripts/libs/jquery-1.11.3.min.js")"></script>
<!-- BOOTSTRAP JS -->
<script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")"></script>
<!-- JQUERY VALIDATE -->
<script src="@Url.Content("~/Scripts/plugin/jquery-validate/jquery.validate.min.js")"></script>



<!-- Google API -->
<script src="//apis.google.com/js/client.js"></script>
<script src="//apis.google.com/js/api.js"></script>

<!-- DropBox API -->
<script type="text/javascript" src="https://app.box.com/js/static/select.js"></script>
<script type="text/javascript" src="https://www.dropbox.com/static/api/2/dropins.js" id="dropboxjs" data-app-key="opsuezjazxy8x2q"></script>



<!-- AngularJS -->
<script src="@Url.Content("~/Scripts/libs/angular/angular.js")"></script>
<script src="@Url.Content("~/Scripts/libs/jquery-ui-1.10.3.min.js")"></script>



<script src="@Url.Content("~/Scripts/plugin/google-picker/google-picker.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/dropbox-picker/dropbox-picker.min.js")"></script>


<script src="@Url.Content("~/Scripts/libs/angular/angular-route.js")"></script>
<script src="@Url.Content("~/Scripts/libs/angular/angular-animate.js")"></script>
<script src="@Url.Content("~/Scripts/libs/angular/angular-sanitize.js")"></script>

@*<script src="@Url.Content("~/Scripts/bootstrap/ui-bootstrap-tpls-0.14.1.min.js")"></script>*@
<script src="@Url.Content("~/Scripts/ui-bootstrap-tpls-0.12.0.min.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/angular-fileupload/angular-file-upload-shim.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/angular-fileupload/angular-file-upload.js")"></script>

<script src="@Url.Content("~/Scripts/app/config.js")"></script>

<script src="@Url.Content("~/Scripts/app/app.module.js")"></script>

<script src="@Url.Content("~/Scripts/app/routes/routeConfig.js")"></script>


@*<script src="@Url.Content("~/Scripts/plugin/Angular-Sortable/model.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-Sortable/ng-sortable.js")"></script>*@

@*<script src="~/Scripts/plugin/Angular-Rubaxa-Sortable/Sortable-master/Sortable.js"></script>
    <script src="//rubaxa.github.io/Ply/Ply.min.js"></script>
    <script src="~/Scripts/plugin/Angular-Rubaxa-Sortable/Sortable-master/ng-sortable.js"></script>*@



<script src="~/Scripts/plugin/Angular-Nested-Sortable/angular-ui-tree-master/dist/angular-ui-tree.js"></script>
@*<script src="@Url.Content("~/Scripts/plugin/Angular-UI-Sortable/sortable.js")"></script>*@

<script src="@Url.Content("~/Scripts/app/factories/commonFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/followersFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/projectsFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/todosFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/controllers/globalController.js")"></script>

<script src="@Url.Content("~/Scripts/app/Controllers/dashboardController.js")"></script>

@*<script src="@Url.Content("~/Scripts/app/controllers/todosController.js")"></script>*@

<script src="@Url.Content("~/Scripts/app/directives/tododirective.js")"></script>

<script src="@Url.Content("~/Scripts/app/services/todoService.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/attachmentsFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/usersFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/sectionsFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/emailFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/accountFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/teamFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/notificationFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/projectUsersFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/subtodoFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/todoNotificationsFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/CalendarEventsFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/companiesFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/assigneeFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/userDashboardFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/clientFeedbackFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/clientDashboardFactory.js")"></script>

<script src="@Url.Content("~/Scripts/app/factories/userFeedbackFactory.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/angular-toaster/toaster.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/angular-calendar/calendar.js")"></script>
@*<script src="@Url.Content("~/Scripts/plugin/angular-calendar/calendar.spec.js")"></script>*@
<script src="@Url.Content("~/Scripts/plugin/angular-calendar/moment.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/angular-calendar/fullcalendar.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/angular-calendar/gcal.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/Angular-Selectize/selectize.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-Selectize/angular-selectize.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/Angular-DateTime-Picker/Scripts/datetimepicker.js")"></script>

<script src="@Url.Content("~/Scripts/plugin/Angular-TextEditor/Scripts/textAngular-rangy.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-TextEditor/Scripts/textAngular-sanitize.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-TextEditor/Scripts/textAngular.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-TextEditor/Scripts/textAngularSetup.js")"></script>


<script src="@Url.Content("~/Scripts/plugin/Angular-Confirm/Scripts/angular-confirm.js")"></script>

<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>
<script src="@Url.Content("~/Scripts/plugin/Angular-Fusion-Chart/Scripts/angular-fusioncharts.min.js")"></script>

@*<script src="http://cdnjs.cloudflare.com/ajax/libs/prettify/r298/prettify.js" type="text/javascript"></script>
    <script src="http://resources.infolinks.com/js/infolinks_main.js" type="text/javascript"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>*@


<script type="text/javascript">

    $(document).ready(function () {
        $('body').find("nav.top-bg").addClass("animate0 fadeInDown");
        $('body').find("div.left-bar-bg").addClass("animate0 fadeInDown");
        $('body').find("div.mid-part").addClass("animate0 fadeInDown");
        $('body').find("div.right-bar-bg").addClass("animate0 fadeInDown");
    });


    jQuery('.nav-sidebar > li a, .team-name').hover(function () {
        jQuery(this).find('i').addClass('animate0 swing');
    }, function () {
        jQuery(this).find('i').removeClass('animate0 swing');
    });
    //jQuery('.company-name').hover(function () {
    //    jQuery(this).find('span').addClass('animate0 bounceInLeft');
    //}, function () {
    //    jQuery(this).find('span').removeClass('animate0 bounceInLeft');
    //});
    jQuery('.logout a').hover(function () {
        jQuery(this).find('i').addClass('animate1 bounce');
    }, function () {
        jQuery(this).find('i').removeClass('animate1 bounce');
    });
    jQuery('.task_div ul li a, .icon_bar li a').hover(function () {
        jQuery(this).find('i').addClass('animate1 bounceIn');
    }, function () {
        jQuery(this).find('i').removeClass('animate1 bounceIn');
    });

    jQuery('.task_div ul li a, .icon_bar li a, .action-icons a').hover(function () {
        jQuery(this).find('i').addClass('animate1 bounceIn');
    }, function () {
        jQuery(this).find('i').removeClass('animate1 bounceIn');
    });

    $(window).scroll(function () {
        if ($(this).scrollTop() > 1) {
            $('nav').addClass("fixed");
        }
        else {
            $('nav').removeClass("fixed");
        }
    });

</script>



@*<script src="@Url.Content("~/Scripts/plugin/Angular-Sortable/BoardManipulator.js")"></script>
    <script src="@Url.Content("~/Scripts/plugin/Angular-Sortable/BoardDataFactory.js")"></script>
    <script src="@Url.Content("~/Scripts/plugin/Angular-Sortable/BoardService.js")"></script>*@
