﻿<div class="modal fade" id="modalSubTodo" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #53a1dc">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel" ng-bind="ToDoTaskName"></h4>
            </div>
            <div class="modal-body">
                <form id="frmUser" role="form" class="css-form">
                    <div class="form-group">
                        <label for="txtEmail">SubTodo Name</label>
                        <input name="Email" class="form-control" id="txtEmail" placeholder="Enter SubTodo name" ng-model="subtodo.name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <span style="color:red; float:left;"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-hide="subtodoButtons" type="button" class="btn btn-primary" ng-click="saveSubToDo()">Add</button>
                <button ng-show="subtodoButtons" type="button" class="btn btn-primary" ng-click="updateToDoTask()">Update</button>
            </div>
        </div>
    </div>
</div>

