﻿
<div class="modal fade" id="modalUserInformation" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #53a1dc;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel" ng-bind="userinfo.firstName+' '+userinfo.lastName"> </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtEmail">First Name : </label>&nbsp;
                            <label for="txtEmail" style="color: grey;" ng-bind="userinfo.firstName"></label>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Last Name : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.lastName"></label>

                        </div>
                    </div>
                </div>

                <div class="row">
               
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Email Address : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.email"></label>

                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Mobile Number : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.phoneNo"></label>

                        </div>
                    </div>

                  
                </div><div class="row">

                          <div class="col-lg-6">
                              <div class="form-group" style="display:inline;">
                                  <label style="color: black;" for="txtFirstName">Department : </label>&nbsp;
                                  <label for="txtEmail" style="color: grey; " ng-bind="userinfo.department"></label>
                              </div>
                          </div>


                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Designation : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.designation"></label>

                        </div>
                    </div>
                   
                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Experience : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.experience"></label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Expertise : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ng-bind="userinfo.expertise"></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>
