﻿<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

    .tblAccPOCList thead:first-child {
        background-color: #3facff;
    }

        .tblAccPOCList thead:first-child > tr:first-child > th {
            text-align: center;
            vertical-align: middle;
            font-size: larger;
            font-weight: bold;
            color: #ffffff;
        }
</style>
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divAccountDetailShow" style="margin-left: 18px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Company Account Detail</span></h3>
            
            <div class="clearfix"></div>

        </div>
        <div class="row">
            <a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="GoBack()">Back</a>
            <a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="deleteCompanyAccountDetail()">Delete</a>

            <a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="EditCompanyAccountDetail()" ng-show="isEditMode">Edit</a>
            <!--<a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="CancelCompanyAccountDetail()" ng-hide="isEditMode">Cancel</a>-->
            <a class="edit-btn pull-right" style="width:auto;cursor:pointer; margin:5px;" ng-click="updateCompanyAccount()" ng-hide="isEditMode">Update</a>
        </div>
        <div>
            <form name="VendorCompanyAccountShowForm" class="margin-top-10px">


                <div class="form-group">

                    <label for="txtProject">Team Name</label>
                    <input name="teamName" class="form-control"
                           placeholder="Team Name" ng-model="companyAccountDetail.TeamName" disabled>



                </div>
                <div class="form-group">

                    <label for="txtProject">Vendor Company</label>
                    <input name="teamName" class="form-control"
                           placeholder="Team Name" ng-model="companyAccountDetail.VendorCompanyName" disabled>



                </div>
                <div class="form-group">

                    <label for="txtProject">Account Name</label>
                    <input name="teamName" class="form-control"
                           placeholder="Team Name" ng-model="companyAccountDetail.Name" disabled>



                </div>

                <div class="form-group">
                    <!--<div ng-if="!openSaveRoleTags">
            <label for="repeatSelect">Roles</label>
            <input name="txtRole" class="form-control" ng-focus="editRoleTags()" placeholder="Pick roles" tabindex="4" ng-class="{inputError:NewUserForm.RoleTags.$dirty && NewUserForm.RoleTags.$invalid}">
            <div class="info-area roleTags">
                <div ng-include="'views/vendor/RoleTags.html'"></div>
            </div>
        </div>-->
                    <div ng-hide="(IsRegisteredVendor||isEditMode)&&IsPageFromRegCompany==false">
                        <label for="repeatSelect">POCs</label>

                        <div class="info-area">
                            <div class="ngInputTag">
                                <tags-input name="RoleTags" id="RoleTags" ng-model="POCTags"
                                            display-property="pocFullName"
                                            placeholder="Pick POCs"
                                            min-tags="1"
                                            min-length="1"
                                            replace-spaces-with-dashes="false"
                                            add-from-autocomplete-only="true"
                                            template="tag-template"
                                            ng-focus="editRoleTags()"
                                            on-tag-added="tagAdded($tag)"
                                            on-tag-removed="tagRemoved($tag)"
                                            >
                                    <auto-complete source="getPOCList"
                                                   min-length="0"
                                                   load-on-focus="true"
                                                   load-on-empty="true"
                                                   max-results-to-show="32"
                                                   template="autocomplete-template">
                                    </auto-complete>
                                </tags-input>
                                <script type="text/ng-template" id="tag-template">
                                    <div class="tag-template">

                                        <div class="right-panel">
                                            <span>{{$getDisplayText()}}</span>
                                            <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                        </div>
                                    </div>
                                </script>

                                <script type="text/ng-template" id="autocomplete-template">
                                    <div class="autocomplete-template">

                                        <div class="right-panel">
                                            <span ng-bind-html="$highlight($getDisplayText())"></span>
                                            <!--<span>({{data.Description}})</span>-->
                                        </div>
                                    </div>
                                </script>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-group">

                    <label for="txtProject">POC Detail</label>

                    <table class="table table-striped table-hover table-bordered table-condensed tblAccPOCList">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tr>

                            <td align="center" colspan="6">


                        <tr ng-repeat="item in companyAccountDetail.AccountPOCList">
                            <td>{{item.FirstName}}</td>
                            <td>{{item.LastName}}</td>
                            <td>{{item.Email}}</td>
                        </tr>
                        <tr ng-if="companyAccountDetail.AccountPOCList.length == 0">
                            <td colspan="12" style="text-align-last: center">No Record Found</td>
                        </tr>
                    </table>



                    <!--<div ng-if="!companyAccountDetail.AccountPOCList.length == 0">
                        <div class="form-group pull-left page-size form-inline">
                            <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                        </div>

                        <div class="pull-right">
                            <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>

                        </div>
                    </div>-->

                </div>
                <div class="form-group">

                    <label for="txtProject">Documents Detail</label>
                    <label for="txtdocuments" class="pull-right"><a ng-click="create_zip()">All files in zip format</a></label>
                    <table class="table table-striped table-hover table-bordered table-condensed tblAccPOCList">
                        <thead>
                            <tr>
                                <th>Document Name</th>
                                <th>Preview</th>
                                <th>Download</th>
                            </tr>
                        </thead>
                        <tr>

                            <td align="center" colspan="6">


                        <tr ng-repeat="item in companyAccountDetail.AccountDocumentList">
                            <td>{{item.ActualFileName}}</td>
                            <td> <center><a ng-click="PreviewFile(item)" class="edit-btn" style="width:auto;cursor:pointer; margin:5px;"><i class="fa fa-file" aria-hidden="true"></i></a></center></td>
                            <td><center><a class="edit-btn" ng-click="DownloadFile(item)"style="width:auto;cursor:pointer; margin:5px;"><i class="fa fa-download" aria-hidden="true"></i></a></center></td>
                        </tr>
                        <tr ng-if="companyAccountDetail.AccountDocumentList.length == 0">
                            <td colspan="12" style="text-align-last: center">No Record Found</td>
                        </tr>
                       
                    </table>



                    <!--<div ng-if="!companyAccountDetail.AccountDocumentList.length == 0">
                        <div class="form-group pull-left page-size form-inline">
                            <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
                        </div>

                        <div class="pull-right">
                            <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                                        class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                            </pagination>

                        </div>
                    </div>-->

                </div>


                <div class="form-group">

                    <label for="txtProject">Projects Detail</label>

                    <table class="table table-striped table-hover table-bordered table-condensed tblAccPOCList">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                            </tr>
                        </thead>
                        <tr>

                            <td align="center" colspan="6   ">


                        <tr ng-repeat="item in companyAccountDetail.AccountProjectList">
                            <td>{{item.ActualFileName}}</td>
                        </tr>
                        <tr ng-if="companyAccountDetail.AccountProjectList.length == 0">
                            <td colspan="12" style="text-align-last: center">No Record Found</td>
                        </tr>
                    </table>



                    <!--<div ng-if="!companyAccountDetail.AccountProjectList.length == 0">
            <div class="form-group pull-left page-size form-inline">
                <select style="width: 68px;height: 25px" ng-model="PageSize" ng-options="item.PageSize for item in pagesizeList" ng-change="changePageSize(PageSize)"></select>
            </div>

            <div class="pull-right">
                <pagination total-items="totalCount" ng-change="pageChanged()" items-per-page="pageSizeSelected" direction-links="true" ng-model="pageIndex" max-size="maxSize"
                            class="pagination" boundary-links="true" rotate="false" num-pages="numPages">
                </pagination>

            </div>
        </div>-->

                </div>
                <div class="form-group">

                    <label for="txtProject">Description</label>

                    <textarea rows="5" cols="20" name="accountDescription"
                              placeholder="Account description" maxlength="1000" class="form-control" ng-disabled="isEditMode||IsPageFromRegCompany" ng-model="companyAccountDetail.Description"></textarea>
                    <!--<input name="teamName" class="form-control"
                           placeholder="Team Name" ng-model="companyAccountDetail.Description" disabled>-->



                </div>

            </form>
        </div>
</div>
    </div>







