﻿<!--THIS STYLE IS FOR tAGS    -->

<style>
    .tag-template .left-panel {
        float: left;
    }

        .tag-template .left-panel img {
            width: 24px;
            height: 24px;
            vertical-align: middle;
        }

    .tag-template .right-panel {
        float: left;
        margin-left: 5px;
    }

    .autocomplete-template .left-panel {
        float: left;
    }

        .autocomplete-template .left-panel img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
        }

    .autocomplete-template .right-panel {
        float: left;
        margin-left: 5px;
        margin-top: 7px;
    }

        .autocomplete-template .right-panel span:first-child {
            font-size: 16px;
        }

        .autocomplete-template .right-panel span:nth-child(2) {
            font-size: 14px;
            color: gray;
        }

        .autocomplete-template .right-panel span:last-child {
            display: block;
            font-size: 14px;
            font-style: italic;
        }
</style>

<style>
    .project-disabled {
    }

    .border-2px {
        border: 2px solid #3facff;
        border-radius: 8px;
    }

    .margin-left-8px {
        margin-left: 8px;
    }

    .margin-top-10px {
        margin-top: 10px;
    }

    .padding-10px {
        padding: 10px;
    }

    .text-align-center {
        text-align: center;
    }

    .background-color-light-gray {
        background-color: lightgray;
        border-radius: 5px;
    }

    .pheadertop {
        line-height: 2;
        background-color: lightgray;
        border-radius: 5px;
        text-align: center;
    }

    .pheader {
        font-size: 16px;
        font-weight: bold;
    }

    section {
        padding-top: 10px !important;
    }

    .displaytablecell {
        display: table-cell;
    }

    .dropdown100 {
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
    }

    .whiteBack {
        background-color: #fff !important;
    }

    .grayBack {
        background-color: #f9f9f9 !important;
    }

    .fontingrind {
        font-weight: bold !important;
        margin-right: 10px !important;
        font-size: inherit !important;
    }

    .tdwidth {
        width: 25px !important;
    }
</style>


<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float: right;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        padding-left: 20px;
        /*width: 200px;
        height: 150px;*/
    }

    .left {
        float: left;
        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color: #e5e5e5;
        padding-left: 20px;
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
</style>
<!--wizard CSS-->
<style>
    ul#wizardStatus {
        list-style: none;
        margin: 15px 0;
        padding: 0;
        text-align: center;
    }

        ul#wizardStatus li {
            background-color: #d9d9ce;
            color: #3d4c4f;
            display: inline-block;
            margin: 0;
            font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
            font-size: 14px;
            line-height: 40px;
            padding: 0px 100px 0px 50px;
            position: relative;
            width: 33%;
            font-size: large;
        }

            ul#wizardStatus li:first-child {
                padding-left: 40px;
                -webkit-border-top-left-radius: 3px;
                border-top-left-radius: 3px;
                -webkit-border-bottom-left-radius: 3px;
                border-bottom-left-radius: 3px;
            }

            ul#wizardStatus li:last-child {
                -webkit-border-top-right-radius: 3px;
                border-top-right-radius: 3px;
                -webkit-border-bottom-right-radius: 3px;
                border-bottom-right-radius: 3px;
            }

            ul#wizardStatus li:after,
            ul#wizardStatus li:before {
                background-color: #d9d9ce;
                content: "";
                display: block;
                position: absolute;
            }

            ul#wizardStatus li:after {
                -webkit-border-radius: 3px;
                border-radius: 3px;
                border-right: 3px solid white;
                border-top: 3px solid white;
                height: 33px;
                right: -16px;
                top: 4px;
                -webkit-transform: rotate(45deg);
                -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(44deg);
                width: 35px;
                z-index: 5;
            }

            ul#wizardStatus li:before {
                height: 40px;
                right: 3px;
                width: 20px;
                z-index: 6;
            }

            ul#wizardStatus li:last-child:after,
            ul#wizardStatus li:last-child:before {
                display: none;
            }

            ul#wizardStatus li.current {
                background-color: #0597c5;
                color: #fff;
                font-size: large;
                font-weight: bold;
            }

                ul#wizardStatus li.current:after,
                ul#wizardStatus li.current:before {
                    background-color: #0597c5;
                }

            ul#wizardStatus li.completed {
                background-color: #ccc;
                color: #fff;
            }

                ul#wizardStatus li.completed:after,
                ul#wizardStatus li.completed:before {
                    background-color: #ccc;
                }
</style>





<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="createNewProject">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <center>
                    <iframe id="iframe" ng-src="{{FileUrl}}" width="1400px" height="850px" frameBorder="0" name="iframe"></iframe>
                </center>
            </div>
        </div>



    </div>
</div>




