﻿<div class="modal fade" id="modalSelectTeam" tabindex="-1" role="dialog" aria-labelledby="modalTeamLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="NewVendorForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Select Team</h4>
                </div>
                <div class="modal-body">
                    
                    <div class="col-md-12 col-lg-12 col-sm-12">
                    
                            <div data-angular-treeview="true"
                                 data-tree-id="SelectTeamTree"
                                 data-tree-model="CompanyTeamsInTreeViewList"
                                 data-node-id="TeamId"
                                 data-node-label="TeamName"
                                 data-node-children="SubTeamList"
                                 >
                            </div> <!--ng-click="printParent($event);"-->
                       
                    </div>

                </div>
                <div class="modal-footer">

                    <!--<a href="" data-dismiss="modal" class="edit-btn" tabindex="13">Cancel</a>-->
                </div>
            </div>
        </form>
    </div>
</div>