﻿<div class="modal fade" id="modalshowMilestoneProjectAwardedVendorGeneralProfile" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog Milstonebodysize" style="width:65%">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" style="color:white;" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Milestone</h4>
            </div>
            <div class="modal-body">
                <section style="padding-top:0">
                    <div id="phaseMilestoneInVendorProfile" class="row">
                        <table class="table table-striped table-hover table-bordered table-condensed">
                            <thead>
                                <tr style="font:bold;background-color:#3facff">
                                    <th>Milestone Name</th>
                                    <th>Estimate Hour</th>
                                    <!--<th>Estimate Budget (in $)</th>-->

                                </tr>
                            </thead>
                            <tr ng-if="getProjectDetailList.PhaseList[PhaseIndex].MileStone.length ==0">
                                <td colspan="4" style="text-align-last: center">No Record Found</td>
                            </tr>

                            <tr ng-repeat-start="item in projectAwardedViewDetailList.PhaseList[PhaseIndex].MileStone">

                                <td>{{item.Name}}</td>
                                <td><input ng-disabled="!IsQuateSendForProject" name="EstimateHour" placeholder="Enter estimate hours" style="display: inline-block;width: 75%;" ng-keypress="isNumber($event)" class="form-control" maxlength="6" ng-model="item.MilestoneVendorHour" ng-blur="addHourCost(PhaseIndex,'m')" /></td>
                                <!--<td><input ng-disabled="!IsQuateSendForProject" name="EstimateBudget" placeholder="Enter estimated cost" style="display: inline-block;width: 75%;" ng-keypress="isNumber($event)" class="form-control" maxlength="6" ng-model="item.MilestoneVendorBudget" ng-blur="addBudgetCost(PhaseIndex,'m')" /></td>-->

                            </tr>
                            <tr ng-repeat-end>
                                <!--<td colspan="3">
                                    <div class="form-group">
                                        <label for="lblphaseDescription" style="font-size: initial">Milestone Description :</label>
                                        <textarea rows="2" cols="15" name="projectDescription" readonly
                                                  placeholder="" maxlength="1000" class="form-control" ng-model="item.Description" required></textarea>
                                    </div>
                                </td>-->
                            </tr>
                        </table>

                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <a href="" data-dismiss="modal" class="edit-btn">Back To Phase</a>
            </div>
        </div>
    </div>
</div>

