﻿
<div class="modal fade" id="WorkDiaryVendorGeneralUserModal" tabindex="-1" role="dialog" aria-labelledby="modalWorknoteVendorGeneraluserLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:85%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalWorkNoteLabel">Work Notes</h4>
            </div>
            <form name="ResourceForm" novalidate class="css-form">
                <div class="modal-body">
                    <div class="form-group">

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                <label>Note</label>
                                <textarea rows="2" cols="20" name="noteName"
                                          placeholder="Enter note...." maxlength="995" class="form-control" ng-model="workdiaryModel.note" tabindex="1"
                                          ng-class="{inputError:(ResourceForm.noteName.$dirty && ResourceForm.noteName.$invalid && ResourceForm.noteName.$touched)}" required></textarea>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label for="txtstartdate">Date</label>
                                    <p class="input-group" style="margin:0px">
                                        <input id="from" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                               ng-model="workdiaryModel.date" tabindex="2" is-open="popup.opened1" min-date="mindate1" datepicker-options="dateOptions"
                                               ng-required="true"
                                               close-text="Close"
                                               name="projectStartDate"
                                               placeholder="Enter date"
                                               ng-class="{inputError:(ResourceForm.projectStartDate.$dirty && ResourceForm.projectStartDate.$invalid && ResourceForm.projectStartDate.$touched)}"
                                               readonly />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <label>Hours</label>
                                <input name="Enterhour" placeholder="Enter hours" tabindex="3" style="display: inline-block; display: inline-block; width: 100%;"
                                       class="form-control" maxlength="20" ng-model="workdiaryModel.hour"
                                       ng-class="{inputError:(ResourceForm.Enterhour.$dirty && ResourceForm.Enterhour.$invalid && ResourceForm.Enterhour.$touched)}"
                                       required />

                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                <a ng-click="addWorkDiaryVendorGeneralUserClick(workdiaryModel,ResourceForm)" tabindex="4" style="cursor:pointer;margin-top: 25px;display:block" class="btn btn-small btn-primary"><span>Add a Note</span></a>

                            </div>
                        </div>
                    </div>
                    <div style="margin-top:100px">
                        <table class="table table-striped table-hover table-bordered table-condensed tblProjecttoQuote" style="text-align:center">
                            <thead>
                                <tr>

                                    <th style="width:60%">Note</th>
                                    <th style="width:20%">Date</th>
                                    <th style="width:20%">Hours</th>


                                </tr>
                            </thead>

                            <tr ng-repeat="item in workDiaryList">

                                <td>{{item.Note}}</td>
                                <td>{{item.NoteDate | date:'MM/dd/yyyy'}}</td>
                                <td>{{item.Hour}}</td>

                            </tr>
                            <tr style="text-align:center" ng-if="workDiaryList.VendorProjectList.length ==0">
                                <td colspan="6">No Record Found</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="" data-dismiss="modal" class="edit-btn">Close</a>
                </div>

            </form>
        </div>
    </div>
</div>
