﻿

<div class="modal fade" id="modalOverBudgetedProjectsDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="overBudgetedProjectsDetailForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Over Budgeted Projects </h4>
                </div>
                <div class="modal-body">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input style="margin-bottom:20px;" placeholder="Search Over Budgeted Projects" ng-model="inputSearch" class="project-search form-control" />
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div ng-repeat="project in overBudgetedProjectsObject | filter:inputSearch" class="list-group-item">
                            <div class="pull-left">

                                <h4 ng-bind-html="project.Name |searchfilter:inputSearch" class="list-group-item-heading"> </h4>
                                <p ng-bind-html="project.Description|searchfilter:inputSearch" class="list-group-item-text"> </p>
                                <div class="pro-mem">
                                    <div ng-repeat="member in project.ProjectMembers" class="pull-left" ng-click="showOtherUserProfile(member.MemberUserId)">
                                        <div class="team-m-pic"><img title="{{member.MemberName}}" ng-src="{{imgurl}}{{member.MemberProfilePhoto}}"></div>
                                    </div>
                                    <div ng-if="!project.ProjectMembers.length" class="pull-left">
                                        No Project Members found.

                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!overBudgetedProjectsObject.length" class="list-group-item">
                            No Project Found.
                        </div>




                    </div>

                </div>
                <div class="modal-footer">
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>

