﻿
<div style="margin-top:74px;" id="divCalendar" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div class="heading-name">
        <h3 class="pull-left"><span> <i class="fa fa-calendar"></i> Company Profile</span></h3>
        <div class="clearfix"></div>
    </div>
    
    <div class="btn-group pull-right" style="display:block" dropdown is-open="status.isopen">
      
        <a href="" style="font-size:16px;margin-left:8px;margin-top:5px;"><i class="fa fa-cog" dropdown-toggle></i> </a> 
     
        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
            <li role="menuitem"><a ng-click="calendarWeekendsFunction(true)" href="">Show Weekends</a></li>
            <li class="divider"></li>
            <li role="menuitem"><a ng-click="calendarWeekendsFunction(false)" href="">Hide Weekends</a></li>
          
        </ul>
    </div>

    <div class="calendar" ng-model="eventSources" calendar="myCalendar1" ui-calendar="uiConfig.calendar"></div>
    <!--<div class="calendar" ng-model="eventSources" calendar="myCalendar2" ui-calendar="uiConfig.calendar"></div>-->
    <!--<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>--> 

</div>


<div ng-include="'views/calendar/ModalCalendarEvent.html'"></div>