﻿<div class="modal fade" id="modalAddCalendarEvent" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background: #53a1dc;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;"> Add New Event </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtEmail">Title : </label>&nbsp;
                            <input type="text" placeholder="Add Title here" style="color: grey;" />

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Start Time : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; "></label>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Start Date : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; "></label>

                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">End Time : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ></label>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">End Date : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ></label>
                        </div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Url : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; "></label>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="form-group" style="display:inline;">
                            <label style="color: black;" for="txtFirstName">Expertise : </label>&nbsp;
                            <label for="txtEmail" style="color: grey; " ></label>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

