﻿<div class="modal fade" id="modalCalendarEvent" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form  name="calendarEventForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Event </h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <label for="txtEmail">Event Title</label>
                        <input name="Title"class="form-control" ng-class="{inputError:calendarEventForm.Title.$dirty && calendarEventForm.Title.$invalid}" placeholder="Enter Event Title" ng-model="calendarEventModel.Title" required>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Event Description</label>
                        <textarea name="Description" class="form-control" ng-class="{inputError:calendarEventForm.Description.$dirty && calendarEventForm.Description.$invalid}" placeholder="Enter Event Description" ng-model="calendarEventModel.Description" required></textarea>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">All Day Event</label>
                        <select class="form-control" ng-model="calendarEventModel.AllDay"  name="repeatSelect" id="repeatSelect">
                             <option ng-repeat="item in allDayEvent.events" ng-selected="calendarEventModel.AllDay == item.id" value="{{item.id}}">{{item.isAllDay}}</option>
                        </select>
                    
                    </div>

                    <div class="form-group">
                        <label for="txtEmail" style="display:block;">Event From</label>

                        <!--<input type="text" ng-class="{datePickerInCalendar:calendarEventModel.AllDay=='' || calendarEventModel.AllDay==null}" style="width:100%;display:inline-block;" 
                               class="form-control" ng-click="openEventDateFrom($event)" datepicker-popup="{{format}}" ng-model="calendarEventModel.eventDateFrom" 
                               is-open="openedEventDateFrom" min-date="''" max-date="''" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->

                        <div class="row">
                            <div class="col-lg-12">

                                <p class="input-group" style="margin:0px" ng-class="{datePickerInCalendar:calendarEventModel.AllDay=='' || calendarEventModel.AllDay==null}">
                                    <input id="fromDate" type="text" init-date="init" class="form-control" style="height:31px !important;" uib-datepicker-popup="{{format}}" ng-click="open1()"
                                           ng-model="calendarEventModel.eventDateFrom" is-open="popup1.opened" min-date="minDate" max-date="today" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="fromDate" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                </p>
                                    <!--<timepicker ng-hide="calendarEventModel.AllDay" style="display:inline-block;" ng-model="calendarEventModel.eventTimeFrom" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>-->
                               
                                <div uib-timepicker ng-if="calendarEventModel.AllDay==0" style="display:inline-block;" ng-model="calendarEventModel.eventTimeFrom" ng-change="timeFromChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                            </div>
                            
                        </div>
                        
                       

                    </div>

                    <div class="form-group">
                        <label for="txtEmail" style="display:block;">Event To</label>

                        <!--<input type="text" ng-class="{datePickerInCalendar:calendarEventModel.AllDay=='' || calendarEventModel.AllDay==null}" style="width:100%;display:inline-block;" class="form-control" ng-click="openEventDateTo($event)" datepicker-popup="{{format}}" ng-model="calendarEventModel.eventDateTo" is-open="openedEventDateTo" min-date="''" max-date="''" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />-->


                        <p class="input-group" style="margin:0px" ng-class="{datePickerInCalendar:calendarEventModel.AllDay=='' || calendarEventModel.AllDay==null}">
                            <input id="toDate" type="text" init-date="today" class="form-control" style="height:31px !important" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                   ng-model="calendarEventModel.eventDateTo" is-open="popup2.opened" min-date="fromDate" max-date="today" datepicker-options="dateOptions"
                                   ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="toDate"
                                   />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" style="font-size:12px !important" ng-click="open2()">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </button>
                            </span>
                        </p>

                        <!--<timepicker ng-hide="calendarEventModel.AllDay" style="display:inline-block;" ng-model="calendarEventModel.eventTimeTo" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>-->

                        <div uib-timepicker ng-if="calendarEventModel.AllDay==0" style="display:inline-block;" ng-model="calendarEventModel.eventTimeTo" ng-change="timeToChanged()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>

                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Event Url</label>
                        <input name="Url" class="form-control" ng-class="{inputError:calendarEventForm.Url.$dirty && calendarEventForm.Url.$invalid}" placeholder="Enter Event Url" ng-model="calendarEventModel.Url" required>
                    </div>

                </div>
                <div class="modal-footer">

                    <a  href="" ng-if="addBtnVisible" ng-click="AddCalendarEvent()" class="edit-btn">Add Event</a>

                    <a href="" ng-if="!addBtnVisible" ng-click="UpdateCalendarEvent()" class="edit-btn">Update Event</a>

                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

