﻿
<link href="assets/css/animate.min.css" rel="stylesheet" />

<style>
    body {
        background: rgba(0, 0, 0, 0) url("../../assets/img/login-bg.jpg") no-repeat scroll 0 0;
        background-size: cover;
    }
</style>

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div class="login-bg " style="">
        <div class="login-div-box">
            <div class="col-md-8 col-md-offset-2">
                <div class="login-shadow" style="margin-left: -19%;">
                    <div class="col-md-6 col-md-offset-3 action" style="position:relative;">
                        <div class="login-logo">
                            <img src="../../assets/img/bluelogo.png" />
                        </div>
                        <div class="row">
                            <div class="col-lg-12">

                                <div id="signin" style="position:absolute;width:350px;">
                                    <div class="login-box-head">Confirm Email</div>
                                    <div class="login-box-main">
                                        <form role="form" class="form-horizontal" name="signinForm" novalidate>

                                            <div class="form-group">
                                                <div class="col-sm-12 ">
                                                    <div class="row">
                                                        <div class="col-lg-12" style="padding-top:50px;">
                                                            <a class="btn register-btn fa fa-check-circle pull-right" ui-sref="login">Go to Login</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>




                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {

        $('body').find("div").eq(3).addClass("animate0 flipInY");

    });
</script>


