﻿


<style>
    .red-border {
        background-color: red !important;
        /*background-color:red;*/
    }

    .green-border {
        background-color: lightgreen !important;
        /*background-color: greenyellow;*/
    }

    .gray-border {
        background-color: #e1e1e1;
        /*background-color: greenyellow;*/
    }

    .red-button {
        color: orangered !important;
    }

    .green-button {
        color: forestgreen !important;
    }

    .gray-button {
        color: #e1e1e1;
    }

    table, th, td {
        border: 1px solid grey;
        border-collapse: collapse;
    }

        table tr:nth-child(odd) {
            background-color: #f1f1f1;
        }

        table tr:nth-child(even) {
            background-color: #ffffff;
        }
</style>

<style>
    .no-project, .no-project:hover {
        color: black;
    }

    project {
        cursor: pointer;
    }

    .selected-invitation {
        font-style: italic;
        font-size: 14px;
        font-family: "Segoe UI";
        color: #474747;
        background: #e5e5e5;
        text-align: center;
        margin: 20px 0;
        padding: 12px 10px;
        width: 100%;
    }
</style>

<style>
    .msgDiv {
        background-color: #fff;
        height: 400px;
        /*width: 100%;*/
        /*border: 1px solid #ccc;*/
        /*margin: 0 10px 10px 0;*/
        /*padding-top: 10px;
        padding-bottom: 10px;*/
    }

    .right {
        float : right;

        border-radius: 15px ;
        border: 1px solid #bab3b3;
        padding-left: 20px; 
        /*width: 200px;
        height: 150px;*/ 
    }
     
    .left {
        float : left;

        border-radius: 15px;
        border: 1px solid #bab3b3;
        background-color :  #e5e5e5;
        padding-left: 20px; 
    }

    hr {
        border-bottom: 2px solid #474747;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }

</style>



<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divUserInvoiceManagementSection">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Invitation </span></h3>
            <div class="clearfix"></div>
        </div>
        <div>&nbsp;</div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                <div class="user-designation">

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="sorting-span pull-left">Status</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedInvitaitonStatus" ng-options="item.id as item.invitaitonType for item in InvitaitonStatus.allInvitaiton" ng-change="getInvitationNotification()">
                                <!--<option value=""> All </option>-->
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Invitation" ng-model="inputSearchInvitation" class="project-search form-control" />
                    </div>

                    <div class="clearfix"></div>
                </div>


                <div class="row">
                    <div class="col-lg-12">

                        <div class="form-group" ng-if="invitationNotificationObject.length>0">

                            <!--<div ng-repeat="item in invitationNotificationObject | filter:inputSearchInvitation" style="margin-bottom:20px; ">

                                <div style="margin-top: 5px;margin-bottom: 5px;" ng-class="item.ProjectId == SelectedProjectId ? 'selected-invitation' : ''">

                                    <div class="pull-left " style="width:2px; padding:2px;height:75px;margin-right:10px;" ng-class="{'gray-border': (item.IskeyActive == true && item.IsAccepted == false), 'green-border': (item.IskeyActive == false && item.IsAccepted == true), 'red-border': (item.IskeyActive == false && item.IsRejected == true)}"> </div>

                                    <div ng-click="goToCompanyProfile(item.CompanyDetail.CompanyUserId)" class="images pull-left member-pic"
                                         style="margin:10px;">
                                        <img style="width:50px;" ng-src="{{imgURL}}{{item.CompanyDetail.CompanyProfilePic}}" alt="ng-bind=" item.CompanyDetail.CompanyName"">
                                    </div>
                                    <div class="pull-left" style="margin-top:5px;">
                                        <p style="margin: 0 0 2px ;font-size:medium">Company: &nbsp;&nbsp;<strong> <span ng-bind-html="item.CompanyDetail.CompanyName+' '|searchfilter:inputSearchInvitation"></span> </strong> </p>
                                        <label ng-if="item.ProjectName != null">On Project:&nbsp;&nbsp;<a style="font-size:13px;" title="Task Description : {{item.ProjectName == null ? 'no project' : item.ProjectName}}" ng-class="item.ProjectName == null ? 'no-project' : 'project'"> {{item.ProjectName == null ? 'no project' : item.ProjectName  }}   </a></label>
                                        <a ng-if="item.ProjectName == null" style="font-size:13px;" title="Organization's Invitation"> Organization's Invitation   </a>
                                    </div>
                                    <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                        <p style="margin: 0 0 2px;font-size:medium">Invited by:&nbsp;&nbsp;<strong> <span ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInvitation"></span> </strong></p>
                                        <label>On Role:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.Role}}"> {{item.Role}}  </a></label>
                                    </div>

                                    <a ng-click="toggle = ! toggle" class="pull-right right_arrwo_gary_1 label"
                                       style="font-size:30px;margin-right:5px;color:cornflowerblue">
                                        <i class="fa" ng-class="{'fa-angle-double-down':!toggle, 'fa-angle-double-up':toggle}"></i>
                                    </a>

                                    <div class="clearfix"></div>
                                </div>

                                <div ng-show="toggle" style="margin-top: 10px;">

                                    <div class="col-lg-1"></div>
                                    <div class="col-lg-11" style="margin-bottom: 10px;">
                                        <div class="col-lg-12">
                                            <div style="margin-top: 10px;">

                                                <div ng-click="showOtherUserProfile(item.SentBy)" class="online-member pull-left">
                                                    <div class="member-pic">
                                                        <img title="{{item.SenderProfilePic}}" ng-src="{{imgURL}}{{item.SenderProfilePic}}">
                                                    </div>
                                                </div>
                                                
                                                <div class="pull-left" style="margin-top:5px;margin-left:10px;">
                                                    <p style="margin: 0 0 2px;font-size:medium">Invited by:&nbsp;&nbsp;<strong> <span ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInvitation"></span> </strong></p>
                                                    <label>On Role:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.Role}}"> {{item.Role}}  </a></label>
                                                </div>
                                                <div class="pull-left" style="margin-top:5px;margin-left:80px;">
                                                    <p style="margin: 0 0 2px ;font-size:medium">Company: &nbsp;&nbsp;<strong> <span ng-bind-html="item.CompanyDetail.CompanyName+' '|searchfilter:inputSearchInvitation"></span> </strong> </p>
                                                    <label>On Project:&nbsp;&nbsp;<a style="font-size:13px;" title="Task Description : {{item.ProjectName == null ? 'no project' : item.ProjectName}}" ng-class="item.ProjectName == null ? 'no-project' : 'project'"> {{item.ProjectName == null ? 'no project' : item.ProjectName  }}   </a></label>
                                                </div>

                                                <div class="pull-right" style="margin-top:20px;">
                                                    <a class="edit-btn" ng-if="item.IskeyActive" style="width:auto;cursor:pointer;" ng-click="acceptFreelancerInvitation(item)">Accept</a>
                                                    <a class="edit-btn" ng-if="item.IskeyActive" style="width:auto;cursor:pointer;" ng-click="rejectFreelancerInvitation(item)">Reject</a>
                                                    <a href="" class="edit-btn" ng-click="getMessage(item)" > Message </a>
                                                </div>

                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-10">
                                            <div class="">
                                                <p style="margin: 0 0 2px 55px;font-size:medium">Responsibilities:&nbsp;&nbsp; <span ng-bind-html="item.Responsibilities"></span> </p>
                                            </div>

                                        </div>

                                    </div>

                                </div>

                            </div>-->


                            <div ng-repeat="item in invitationNotificationObject | filter:inputSearchInvitation" title="" class="repeated-item">
                                <div style="margin-top: 5px;margin-bottom: 5px; background-color:#f3f3f3;">
                                    <div class="pull-left" style="width:2px; padding:2px;height:50px;" ng-class="{'gray-border': (item.IskeyActive == true && item.IsAccepted == false), 'green-border': (item.IskeyActive == false && item.IsAccepted == true), 'red-border': (item.IskeyActive == false && item.IsRejected == true)}"></div>
                                    
                                    <div ng-click="goToCompanyProfile(item.CompanyDetail.CompanyUserId)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                        <img style="width:50px;" ng-src="{{imgURL}}{{item.CompanyDetail.CompanyProfilePic}}" alt="ng-bind=" item.CompanyDetail.CompanyName"">
                                    </div>

                                    <div class="pull-left">
                                        <p style="margin:0px ;font-weight:bold;font-size:medium" >  Company: &nbsp;&nbsp;<strong> <span ng-bind-html="item.CompanyDetail.CompanyName+' '|searchfilter:inputSearchInvitation"></span> </strong> </p>
                                        <label ng-if="item.ProjectName != null">On Project:&nbsp;&nbsp;<a style="font-size:13px;" title="Task Description : {{item.ProjectName == null ? 'no project' : item.ProjectName}}" ng-class="item.ProjectName == null ? 'no-project' : 'project'"> {{item.ProjectName == null ? 'no project' : item.ProjectName  }}   </a></label>
                                        <a ng-if="item.ProjectName == null" style="font-size:13px;font-style:italic" title="Organization's Invitation"> Organization's Invitation   </a>
                                    </div>

                                    <div class="pull-left" style="margin-top:5px; margin-left:80px;">
                                        <p style="margin:0px ;font-weight:bold;font-size:medium" >  Invited by:&nbsp;&nbsp;<strong> <span ng-bind-html="item.SenderName+' '|searchfilter:inputSearchInvitation"></span> </strong></p>
                                        <label>Allotted Role:&nbsp;&nbsp;<a style="font-size:13px;cursor:pointer" title="Task Description : {{item.Role}}"> {{item.Role}}  </a></label>
                                    </div>

                                   
                                    <a ng-click="rejectFreelancerInvitation(item)" ng-class="{'red-button': !item.IskeyActive}" title="Reject"
                                       class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px" ng-if="item.IskeyActive">
                                        <i class="fa fa-close"></i> 
                                    </a>
                                    <a ng-class="{'red-button': (!item.IskeyActive && item.IsRejected )}"
                                       class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px;cursor:default;"
                                       ng-if="!item.IskeyActive">
                                        <i class="fa fa-close"></i>
                                    </a>

                                    <a ng-click="acceptFreelancerInvitation(item)" ng-class="{'green-button': !item.IskeyActive}" title="Accept"
                                       class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px" ng-if="item.IskeyActive">
                                        <i class="fa fa-check-circle"></i>
                                    </a>
                                    <a ng-class="{'green-button': (!item.IskeyActive && item.IsAccepted )}"
                                       class="pull-right right_arrwo_gary_1 label gray-button" style="font-size:30px;margin-right:5px;cursor:default;" ng-if="!item.IskeyActive">
                                        <i class="fa fa-check-circle"></i>
                                    </a>

                                    <a ng-if="item.ProjectName != null" ng-click="viewJobOfferClicked(item)" class="pull-right" style="cursor:pointer; margin-right:5px;margin-top:10px;">
                                        View job offer
                                    </a>

                                    <div class="clearfix"></div>
                                </div>
                            </div>




                        </div>

                    </div>
                </div>

                <div class="info-box-space" ng-if="invitationNotificationObject.length==0">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                        <div class="info-head">No Record Found.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            </div>

        </div>


    </div>

</div>



<div ng-include="'views/Freelancer/InvitationDetailModal.html'"></div>

<div ng-include="'views/Freelancer/InvitationRejectionModal.html'"></div>

<div ng-include="'views/Freelancer/JobOfferModal.html'"></div>