﻿
<div class="modal fade" id="modalInvitationReject" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="invitationRejectForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Reject Invitation </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Reason</label>
                        <input name="Reason" class="form-control" ng-class="{inputError:invitationRejectForm.Reason.$dirty && invitationRejectForm.Reason.$invalid}" placeholder="Enter Reason For Rejecttion" ng-model="Reason" required>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <a ng-hide="projectButton" href="" ng-click="rejectInvitation(Reason,invitationRejectForm.Reason.$invalid, invitationRejectForm)" class="edit-btn">Reject</a>
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
