﻿

<div class="modal fade" id="modalInvitationDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:43%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Invitation Detail </h4>
            </div>
            <form name="invitationDetailForm" novalidate class="css-form">
                <!--<div ng-repeat="item in FreelancerInvitationDetailsObject" >-->
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="images pull-left member-pic"
                                 style="margin: 10px; height: 140px; width: 140px;">
                                <img style="height: 141px;" ng-src="{{imgURL}}{{FreelancerInvitationDetailsObject.CompanyDetail.CompanyProfilePic}}" alt="ng-bind='FreelancerInvitationDetailsObject.CompanyDetail.CompanyName'">
                            </div>
                        </div>
                        <div class="col-sm-8" style="margin-top:18px;">
                            <div>
                                <p style="margin:0px ;font-size:medium"> Sent By : <strong>{{FreelancerInvitationDetailsObject.SenderName}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;">
                                <p style="margin:0px ;font-size:medium"> Company Name : <strong>{{FreelancerInvitationDetailsObject.CompanyDetail.CompanyName}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;">
                                <p style="margin:0px ;font-size:medium"> Project Name : <strong>{{FreelancerInvitationDetailsObject.ProjectName}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;">
                                <p style="margin:0px ;font-size:medium"> Role: <strong>{{FreelancerInvitationDetailsObject.Role}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;">
                                <p style="margin:0px ;font-size:medium"> Rate: <strong> $ {{FreelancerInvitationDetailsObject.UserRate}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;">
                                <p style="margin:0px ;font-size:medium"> Weekly Limit: <strong>  {{FreelancerInvitationDetailsObject.WeeklyLimit}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;" ng-if="FreelancerInvitationDetailsObject.IsJobInvitation">
                                <p style="margin:0px ;font-size:medium"> Job Title: <strong>  {{FreelancerInvitationDetailsObject.JobTitle}}</strong> </p>
                            </div>
                            <div style="margin-right:10px;" ng-if="FreelancerInvitationDetailsObject.IsJobInvitation">
                                <p style="margin:0px ;font-size:medium"> Job Description: <strong> <span ng-bind-html="FreelancerInvitationDetailsObject.JobDescription"> </span> </strong> </p>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="acceptFreelancerInvitation(FreelancerInvitationDetailsObject)">Accept</a>
                    <a class="edit-btn " style="width:auto;cursor:pointer;" ng-click="rejectFreelancerInvitation(FreelancerInvitationDetailsObject)">Reject</a>
                    <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                </div>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
