﻿

<div class="modal fade" id="modalInvitationMessage" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:60%;">
        <div class="modal-content">
            <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Job Offer </h4>
            </div>
            <form name="invitationMessageForm" novalidate class="css-form">
                <!--<div ng-repeat="item in FreelancerInvitationDetailsObject" >-->
                <div class="modal-body">
                    <div class="form-group">

                        <div class="col-lg-12">
                            <div class="form-group">
                                <div class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;width:100px;height:100px;cursor:default;">
                                    <img style="width:100px;" ng-src="{{imgURL}}{{invitationFreelancerObject.FreelancerProfilePic}}" alt="{{invitationFreelancerObject.FreelancerName}}">
                                </div>

                                <div class="pull-left" style="margin-right:5px;margin-top:10px;color:black;font-size:20px;">
                                    {{invitationFreelancerObject.FreelancerName}}
                                </div>

                                <div class="pull-right" style="margin-right:5px;margin-top:10px; color:cornflowerblue;font-size:20px;">
                                    Profile Rate : $ {{invitationFreelancerObject.FreelancerProfileRate}}
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12" style="margin-top:20px;">

                            <div class="col-lg-4">
                                <div class="row" ng-if="invitationProjectObject != null">

                                    <div class="col-lg-12" style="margin:0px ;font-weight:bold;font-size:medium">
                                        Project Details :
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Name : &nbsp;&nbsp; <a style="cursor:default;" href="" ng-bind-html="invitationProjectObject.ProjectName"></a> </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Description : &nbsp;&nbsp; <a href="" style="cursor:default;" ng-bind-html="invitationProjectObject.ProjectDescription"></a>  </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Estimated Hours : &nbsp;&nbsp; <a href="" style="cursor:default;" ng-bind-html="invitationProjectObject.projectHours"></a>  </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Project Attachment :  </p>

                                        <p ng-if="invitationProjectObject.ActualFileName != null" for="txtEmail"> <i class="fa fa-circle" style="margin-right:10px;margin-left:10px;" aria-hidden="true"></i>  
                                            {{invitationProjectObject.ActualFileName}}  
                                            <!--<a ng-if="invitationMessageObject.isProjectExist" target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{invitationProjectObject.FileName}}" download="{{invitationProjectObject.FileName}}" title="Download this file"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a>--> 

                                            <a ng-if="invitationMessageObject.isProjectExist" ng-click="downloadFreelancerAttachments(invitationProjectObject)" title="Download this file"> <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i> </a> 
                                          </p>
                                        <p ng-if="invitationProjectObject.ActualFileName == null"> No Attachments Found </p>

                                    </div>

                                </div>

                                <div class="row" ng-if="invitationProjectObject != null" style="margin-top:30px;">

                                    <div class="col-lg-12" style="margin:0px ;font-weight:bold;font-size:medium">
                                        Freelancer Info :
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Role Offered : &nbsp;&nbsp; 
                                            <a href="" style="cursor:default;" ng-bind-html="invitationFreelancerObject.RoleName"></a> 
                                        </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Rate Offered : &nbsp;&nbsp; $ <a href="" style="cursor:default;"> {{invitationFreelancerObject.RateOffered}}</a>  </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Notes : &nbsp;&nbsp; <a href="" style="cursor:default;"> {{invitationFreelancerObject.Notes}}</a> <span ng-if="invitationFreelancerObject.Notes == '' ||invitationFreelancerObject.Notes == null"> No Notes Found </span>  </p>
                                    </div>

                                    <div class="col-lg-12">
                                        <p>   Attachments :  </p>

                                        <p ng-repeat="item in invitationFreelancerObject.Attachments" for="txtEmail"> <i class="fa fa-circle" style="margin-right:10px;margin-left:10px;" aria-hidden="true"></i> {{item.ActualFileName}} 
                                             <!--<a ng-if="invitationMessageObject.isProjectExist" target="_self" href="{{imgURL}}Uploads/Attachments/Mail_Attachments/{{item.FileName}}" download="{{item.FileName}}" title="Download this file">-->
                                            <a ng-if="invitationMessageObject.isProjectExist" ng-click="downloadFreelancerAttachments(item)" title="Download this file">
                                                <i class="fa fa-download" aria-hidden="true" style="margin-left:30px;cursor:pointer;"></i>
                                            </a>   
                                        </p>

                                        <p ng-if="invitationFreelancerObject.Attachments.length < 1 || invitationFreelancerObject.Attachments == null "> No Attachments Found </p>

                                    </div>

                                </div>


                                <div class="row" ng-if="invitationProjectObject == null">
                                    <a style="font-size:13px;font-style:italic" title="Organization's Invitation"> Organization's Invitation   </a>
                                </div>


                            </div>

                            <div class="col-lg-8">
                                <div class="msgDiv col-lg-12 table-bordered" style="overflow: auto;">
                                    <div ng-repeat="item in invitationMessageObject.Messages track by $index" class="col-lg-11" ng-class="UserId == item.UserId ? 'left' : 'right'" style="margin-top:5px;padding:0 !important">
                                        <div class="col-lg-12" style="padding:0 !important;">
                                            <div ng-click="showOtherUserProfile(item.SentBy)" class="images pull-left member-pic" style="margin-right:10px; margin-top:5px;">
                                                <img ng-src="{{imgURL}}{{item.SenderProfilePic}}" alt="ng-bind=" item.SenderName">
                                            </div>

                                            <div style="margin:0 10px 2px;" class="pull-right">{{item.CreatedDate }}</div>

                                        </div>

                                        <div class="col-lg-12">
                                            <p style="color:rgb(46,138,201);margin:0 !important;" ng-if="UserId == item.UserId">
                                                <strong>  {{item.SenderName}} </strong>
                                            </p>
                                            <p style="margin-right:10px;margin-top:10px; float:left;margin:0 !important;">{{item.Message}}</p>
                                        </div>



                                    </div>

                                    <div class="form-group" ng-if="invitationMessageObject.Messages.length == 0" style="height:400px;" >
                                        <label for="txtEmail"> No Messages Found </label>
                                    </div>
                                </div>

                                <div class="col-lg-12" style="margin-top : 10px;padding:0 !important;" ng-if="invitationMessageObject.isProjectExist">
                                    <div class="col-lg-10" style="padding:0 !important;">
                                        <input name="NewMessage" id="NewMessage" class="form-control" ng-keydown="TabKeyPressEvent($event)" placeholder="Enter Message Here " ng-model="invitationMessageObject.NewMsg" required />
                                    </div>
                                    <div class="col-lg-1" style="margin-top:10px !important;">
                                        <a href="" class="edit-btn" ng-click="sendMessgae(invitationMessageObject.NewMsg)"> Send  </a>
                                    </div>
                                </div>


                                <div class="col-lg-12" style="margin-top : 10px;padding:0 !important;" ng-if="!invitationMessageObject.isProjectExist">
                                    <div class="col-lg-10" style="padding:0 !important;">
                                        <input name="NewMessage2" disabled class="form-control" placeholder="Enter Message Here " />
                                    </div>
                                    <div class="col-lg-1" style="margin-top:10px !important;">
                                        <a style="cursor:default;" href="" class="edit-btn" disabled> Send  </a>
                                    </div>
                                </div>



                            </div>

                        </div>



                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div ng-if="currentFreelancerObject != undefined">
                        <a ng-if="currentFreelancerObject.IskeyActive" href="" ng-click="acceptFreelancerInvitation(currentFreelancerObject)" class="edit-btn">Accept</a>
                        <a ng-if="currentFreelancerObject.IskeyActive" href="" ng-click="rejectFreelancerInvitation(currentFreelancerObject)" class="edit-btn">Reject</a>
                        <a href="" data-dismiss="modal" class="edit-btn">Cancel</a>
                    </div>
                </div>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>
