﻿


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divNotificationManagementSection">


        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-bell"></i> Notifications</span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Notification" ng-model="inputSearchNotification" class="project-search form-control" />
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <a href="" class="pull-right" style="font-size:17px;"><i class="fa fa-cog"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="info-box-space" ng-class="{activeUserFeedback: item.Id==selectedNotification}" ng-repeat="item in filteredNotificationsObject=(NotificationsObject | filter:inputSearchNotification)">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                                    <div class="userfeedback-profile-pic pull-left" ng-click="goToCreatorProfile(item)"><img title="{{item.CreatorName}}" ng-src="{{imgURL}}{{item.CreatorProfilePhoto}}" style="cursor:pointer" /></div>

                                    <div class="info-head" style="color:grey;padding-top:14px;">
                                        Notification : <a href="" style="cursor:default">
                                            <span ng-bind-html="item.CreatorName+' '|searchfilter:inputSearchNotification"></span>
                                        </a>

                                        <span ng-bind-html="item.Name "></span>

                                        <i ng-if="item.Type==1" class="fa fa-users"></i>

                                        <a href="" ng-click="showNotificationDescriptionSection(item)" ng-if="item.Type!=4 && item.Type!=6"
                                           ng-bind-html="item.ConcernedSectionName|searchfilter:inputSearchNotification"></a>

                                        <i ng-if="item.Type==4" class="fa fa-file"></i>
                                        <a ng-if="item.Type==4" target="_blank" href="{{imgURL}}{{item.FilePath}}" ng-bind-html="item.ConcernedSectionName|searchfilter:inputSearchNotification"></a>
                                        <i ng-if="item.Type==6" class="fa fa-calendar"></i>
                                        <a ng-if="item.Type==6 && item.FilePath==null" href="#" ng-bind-html="item.ConcernedSectionName|searchfilter:inputSearchNotification"></a>
                                        <a ng-if="item.type==6 && item.FilePath!=null" target="_blank" href="{{imgURL}}{{item.FilePath}}"
                                           ng-bind-html="item.ConcernedSectionName|searchfilter:inputSearchNotification"></a>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="info-head" style="color:grey;padding-top:14px;">
                                        <span class="pull-right" style="color: #777;" ng-bind-html="item.CreatedDate|date:'MM-dd-yyyy'|searchfilter:inputSearchNotification"></span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="info-box-space" ng-if="!filteredNotificationsObject.length">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-box">
                        <div class="info-head">No Notifications Found.</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>

    <div id="hideRightWindow" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow" 
         style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>

        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>
        <div style="overflow:hidden;height:100%;padding-right:5px;" ng-include="'views/descriptionpanel/TeamDescriptionSection.html'"></div>
    </div>

    <div id="hideRightWindow_Project" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow_Project"
         style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>

        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>
        <div style="overflow:hidden;height:100%;padding-right:5px;" ng-include="'views/descriptionpanel/ProjectDescriptionSection.html'"></div>
    </div>

    <div id="hideRightWindow_Event" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow_Event"
         style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>

        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>
        <div style="overflow:hidden;height:100%;padding-right:5px;" ng-include="'views/descriptionpanel/EventDescriptionSection.html'"></div>
    </div>

    <div id="hideRightWindow_Todo" class="col-lg-4 right-bar-bg  fadeInDown" ng-hide="hideRightWindow_Todo"
         style="display:none; position:fixed;float:right;right:0px;width:33%;top:55px;height:100%;padding-right: 0;">

        <span class="glyphicon glyphicon-remove-circle hideRightWindow" ng-click="hideRightWindowFunction()"></span>

        <div id="divrightloader" style="display:none;" class="divrightLoader">
            <img class="divrightLoaderImage" src="../../assets/img/loaders/loader.png">
        </div>
        <div style="overflow:hidden;height:100%;padding-left:15px;" ng-include="'views/descriptionpanel/TodoDescriptionSectionForNotification.html'"></div>
    </div>

    

</div>





