﻿

<div class="modal fade" id="modalPendingtodosDetail" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="PendingtodosDetailForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel"> Pending Todos </h4>
                </div>
                <div class="modal-body">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Project" ng-model="inputSearchProject" class="project-search form-control" />
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                        <div ng-repeat="item in UsersPendingtodosObject | filter:inputSearchProject " class="list-group-item">
                            <div class="pull-left">
                                <h4 ng-bind-html="item.Name |searchfilter:inputSearchProject" class="list-group-item-heading">  </h4>
                                <p ng-bind-html="item.Description|searchfilter:inputSearchProject" class="list-group-item-text"> </p>

                            </div>

                            <div class="clearfix"></div>
                        </div>
                        <div ng-if="!completedTodoObject.length" class="list-group-item">
                            No Todo Found.
                        </div>


                    </div>

                </div>
                <div class="modal-footer" style="margin-top:50px;">
                    <a data-dismiss="modal" style="cursor:pointer;" class="edit-btn">Close</a>
                </div>
            </div>
        </form>
    </div>
</div>

