﻿<style class="ng-scope">
    .displaytablecell {
        display: table-cell;
    }

    ul {display:table}
li {display: table-row;}
li div {
    display:table-cell; 
    padding: 5px;
    border:1px solid #b6b1b1;
    width:16%
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }
</style>


<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divVendorInvitation" style="margin-left: 18px">
        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-sort-amount-desc"></i> Project Customization</span></h3>
            <div class="clearfix"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:5px;">

            <form name="form-group">

                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group" for="txtProjectStartDate">
                        <label>Field Name</label>
                        <input name="fieldName" placeholder="Enter Field Name" style="display: inline-block; display: inline-block; width: 100%;"
                               class="form-control" maxlength="100" ng-model="customControlModel.fieldName" required />
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group">
                        <label style="margin-left: 4px;margin-left: 16px" for="txtdescription">Description</label>

                        <textarea rows="2" cols="15" name="projectDescription"
                                  placeholder="Enter description" maxlength="1000" class="form-control" ng-model="customControlModel.description" required></textarea>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <div class="form-group">
                        <label for="txtcontrolName">Input control</label>

                        <select ng-model="customControlModel.controlName" ng-options="item.text for item in inputcontroldrop" ng-change="customControlChange(customControlModel.controlName)" style="height: 34px"></select>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                    <div class="form-group" ng-if="isDropRadio">
                        <label for="txtDropRadio">Enter Values Comma seperated </label>
                        <input name="LastName" placeholder="Enter value" style="display: inline-block;" class="form-control" maxlength="100" ng-model="customControlModel.controlValue" />
                    </div>

                    <div class="form-group" ng-if="isTextbox">
                        <label for="txtTextbox">Enter placeholder text</label>
                        <input name="LastName" placeholder="Enter place text" style="display: inline-block;" class="form-control" maxlength="100" ng-model="customControlModel.watermark" />
                    </div>


                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <!--<div class="form-group">
                        <label for="txtcontrolName">Set Priority for Render </label>
                        <input name="fieldName" placeholder="Enter priority" ng-model="customControlModel.priorityControlValue"/>
                    </div>-->
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                    <label for="txtPlaceholder"></label>
                    <div class="form-group">
                        <a ng-click="savecustomcontrol(customControlModel)" class="edit-btn pull-right" margin-top:23px;cursor:pointer">Add </a>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive" style="margin-top:50px;">
                <div>
                    <h2>Control List</h2>
                  
                   
                     <ul class="table table-striped table-hover table-bordered table-condensed">
                        <li>
                            <div >Field Name</div>
                            <div >Description</div>
                            <div >Control Type</div>
                            <div >Values</div>
                            <div >Action</div>
                            <div >Status</div>
                        </li>
                    </ul>
                    <ul class="table table-striped table-hover table-bordered table-condensed connected-sortable droppable-area1">
                        <li id="{{item}}" ng-repeat="item in ConpanyCustomControlList" class="draggable-item">
                            <div>{{item.FieldName}}</div>
                            <div>{{item.Description}}</div>
                            <div>{{item.ControlType}}</div>
                            <div>{{item.ControlValue}}</div>
                            <div>
                                <a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="deleteCustomControl(item.CustomControlId)">Delete</a>
                                <a class="edit-btn displaytablecell" style="width:auto;cursor:pointer;" ng-click="inactiveCustomControl(item)"> Active/Inactive</a>
                            </div>
                            <div >{{item.IsActive == 1 ? 'Active' : 'Inactive'}}</div>
                        </li>
                        <li ng-if="ConpanyCustomControlList.length == 0">
                            <div colspan="4">No Record Found</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


