﻿
<style>
    hr {
        border-bottom: 2px solid #fff;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
</style>


<!--THIS STYLE IS FOR Toggle Button  -->
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
    }

        .switch input {
            display: none;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 16px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 24px;
    }

        .slider.round:before {
            border-radius: 40%;
        }
</style>



<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">
    <div id="divSettings">
        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Settings </span></h3>
            <div class="clearfix"></div>
        </div>
        <!--------------------------------------------Vendor/Service Provider not in use---------------------------------------------------------------------->
        <!--  <div ng-if="!isFreelancer">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default dashboard-boxes">

                        <div class="panel-body">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div>
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li ng-class="active">
                                            <a href="#" aria-controls="" role="tab" data-toggle="tab">Vendor/Service Provider </a>
                                        </li>
                                    </ul>
                         
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;padding: 10px;height: 45px;">
                                        <span class="pull-left info-head">
                                            I am a Vendor
                                        </span>

                                        <a href="" title="Customize vendor Areas" ng-click="openSaveVendorAreas = !openSaveVendorAreas" style="margin-left:2%;"> <i class="fa fa-cog"></i> </a>
                                        <div class="pull-right;" style="float:right;">
                                            <label class="switch pull-right;">
                                                <input type="checkbox" ng-model="IsVendor" ng-click="changeAllVendorSetting(IsVendor)">
                                   
                                            </label>

                                        </div>
                                        <label>(click this radio button if you are a vendor and provide your services to other companies)</label>

                                    </div>


                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 TagVendorList">
                                <div ng-if="IsVendor">
                                    <div class="info-area businessTags">
                                        <div ng-include="'views/Settings/VendorAreaTags.html'"></div>
                                    </div>
                                </div>

                                <div ng-if="openSaveVendorAreas && IsVendor ">
                                    <div class="info-area">

                                        <div class="ngInputTag">

                                            <tags-input id="vendorId" ng-model="VendorAreaListModal"
                                                        display-property="ServiceName"
                                                        placeholder="Add a service"
                                                        replace-spaces-with-dashes="false"
                                                        min-length="1"
                                                        add-from-autocomplete-only="true"
                                                        ng-blur="saveVendorWorkingArea()"
                                                        template="vendor-template">
                                                <auto-complete source="allWrokingAreasObject"
                                                               min-length="0"
                                                               load-on-focus="true"
                                                               load-on-empty="true"
                                                               max-results-to-show="32"
                                                               template="vendor-autocomplete-template">
                                                </auto-complete>
                                            </tags-input>

                                            <script type="text/ng-template" id="vendor-template">
                                                <div class="tag-template">
                                                    <!--<div class="left-panel">
                                                        <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" ng-if="data.flag" />
                                                    </div>
                                                    <div class="right-panel">
                                                        <span>{{$getDisplayText()}}</span>
                                                        <a class="remove-button" ng-click="$removeTag()">&#10006;</a>
                                                    </div>
                                                </div>
                                            </script>


                                            <script type="text/ng-template" id="vendor-autocomplete-template">
                                                <div class="autocomplete-template">
                                                    <!--<div class="left-panel">
                                                        <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
                                                    </div>
                                                    <div class="right-panel">
                                                        <span ng-bind-html="$highlight($getDisplayText())"></span>
                                                        <span>({{data.ServiceName}})</span>
                                                    <span>{{data.ServiceName}}</span>
                                                    </div>
                                                </div>
                                            </script>

                                        </div>


                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
            <!--------------------------------------------------------------------------------------------------->

        <div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:1%;">
                <div class="col-lg-3" ng-if="isFreelancer">
                    <div class="sorting-span pull-left">Company</div>
                    <div class="sorting-selection">
                        <select ng-model="selectedCompanymodel" ng-change="selectedCompanyChanged(selectedCompanymodel)">
                            <option value="0"> --Select All-- </option>
                            <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompanymodel==item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                        </select>
                    </div>
                </div>
                <!--<div class="col-lg-3" ng-if="isFreelancer">
                    <div class="sorting-span pull-left">Project</div>
                    <div class="sorting-selection">
                        <select ng-model="selectedProject" ng-change="selectedProjectChanged(selectedProject)">
                            <option value="0"> "--Select All--" </option>
                            <option ng-repeat="item in ProjectsObjectForFreelancer" ng-selected="selectedProject==item.ProjectId" value="{{item.ProjectId}}">{{item.ProjectName}}</option>
                        </select>
                    </div>
                </div>-->

                <div class="clearfix"></div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-default dashboard-boxes">

                    <div class="panel-body">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <!--<li role="presentation" class="active"><a href="#Email" aria-controls="Email" role="tab" data-toggle="tab">Email</a></li>
                                    <li role="presentation"><a href="#Message" aria-controls="Message" role="tab" data-toggle="tab">Message</a></li>-->

                                    <li ng-class="$index == 0 ? 'active' : ''" ng-repeat="item in emailObject | unique:'SettingSectionId' | limitTo: 1" role="presentation">
                                        <a href="#{{item.SettingSectionName}}" aria-controls="{{item.SettingSectionName}}" role="tab" data-toggle="tab">{{item.SettingSectionName}}</a>
                                    </li>
                                </ul>
                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane" ng-class="$index == 0 ? 'active' : ''" id="{{item.SettingSectionName}}" ng-repeat="item in emailObject | unique:'SettingSectionId'">
                                        <div class="single-task-up" ng-repeat="item2 in emailObject | filter: { SettingSectionId: item.SettingSectionId} ">

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 Hoverbtn" style="background:#e5e5e5;color:#474747;margin-top:10px;padding: 10px;height: 45px;">
                                                <span class="pull-left info-head">  {{item2.NotificationText}}  </span>
                                                <a href="" title="{{item2.NotificationDescription}}" style="margin-left:2%;"> <i class="fa fa-question" aria-hidden="true"></i> </a>
                                                <a ng-if="item2.NotificationText=='Project Update'" href="" title="Customize settings on project level" ng-click="ProjectLevelSetting()" style="margin-left:2%;"> <i class="fa fa-cog"></i> </a>
                                                <a ng-if="item2.NotificationText=='Todo Update'" href="" title="Customize settings on todo level" ng-click="TodoLevelSetting()" style="margin-left:2%;"> <i class="fa fa-cog"></i> </a>

                                                <div class="pull-right;" style="float:right;">
                                                    <label class="switch pull-right;">
                                                        <input ng-if="item2.NotificationText!='Project Update' && item2.NotificationText!='Todo Update'" type="checkbox" ng-model="item2.IsUserNotificationActive" ng-click="changeEmailSetting(item2)">
                                                        <input ng-if="item2.NotificationText=='Project Update'" type="checkbox" ng-model="item2.IsUserNotificationActive" ng-click="changeAllProjectSetting(item2.IsUserNotificationActive)">
                                                        <input ng-if="item2.NotificationText=='Todo Update'" type="checkbox" ng-model="item2.IsUserNotificationActive" ng-click="changeAllTodoSetting(item2.IsUserNotificationActive)">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>

                                                <div ng-if="item2.NotificationText == 'Project Update' && customizeProject == true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:gray;z-index:999;">
                                                    <div class="form-group" style="padding-bottom:10px;padding-top:10px;">
                                                        <label for="txtFirstName">Projects</label>
                                                        <selectize options='projectSettingObject.AllProjects' class="selectized" config="projectConfig" ng-model="projectSettingObject.ActiveProjects" ng-disabled='disable'></selectize>
                                                    </div>
                                                </div>

                                                <div ng-if="item2.NotificationText == 'Todo Update' && customizeTodo == true" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="background:gray;z-index:999;">
                                                    <div class="form-group" style="padding-bottom:10px;padding-top:10px;">
                                                        <label for="txtFirstName">Todos</label>
                                                        <selectize options='todoSettingObject.AllTodos' class="selectized" config="todoConfig" ng-model="todoSettingObject.ActiveTodos" ng-disabled='disable'></selectize>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="clearfix"></div>
                                        </div>

                                    </div>

                                    <div ng-show="emailObject.length==0" class="centered-widget-upcoming">
                                        No Setting Options Found
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>


