﻿



<div class="row">

    <div class="col-lg-12" style="padding-right: 8px;padding-left: 8px;">
            <a href="" class="label label-primary" ng-repeat="item in VendorAreaList" uib-popover="{{item.ServiceName}}" popover-placement="top" popover-trigger="mouseenter" popover-popup-delay=600 style="color:white;margin:5px 5px 5px 5px;"> {{item.ServiceName}} </a>
    
        <div ng-if="VendorAreaList.length < 1" class="No-Records-Found">
            No Records Found
        </div>

    </div>
</div>





 

