﻿

<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divTodoManagementSection">
        
        <div class="heading-name">
            <h3 class="pull-left"><span> <i class="fa fa-cog"></i> Account Settings </span></h3>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form name="frmStripeAccountSetting">

                    <div class="form-group">
                        <label style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;" for="RoutingNumber">Routing Number</label>
                        <input ng-class="{inputError:frmStripeAccountSetting.RoutingNumber.$dirty && frmStripeAccountSetting.RoutingNumber.$invalid}"
                               required name="RoutingNumber" class="form-control" placeholder="Enter Routing Number" ng-model="stripeAccountSetting.RoutingNumber">
                    </div>


                    <div class="form-group">
                        <label style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;" for="AccountNumber">Account Number</label>
                        <input ng-class="{inputError:frmStripeAccountSetting.AccountNumber.$dirty && frmStripeAccountSetting.AccountNumber.$invalid}"  
                               required name="AccountNumber" class="form-control" placeholder="Enter Account Number" ng-model="stripeAccountSetting.AccountNumber">
                    </div>


                    <div class="form-group">
                        <label style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;" for="SocialSecurityNumber">Social Security Number (Last 4 digits)</label>
                        <input ng-class="{inputError:frmStripeAccountSetting.SocialSecurityNumber.$dirty && frmStripeAccountSetting.SocialSecurityNumber.$invalid}"
                               required name="SocialSecurityNumber" class="form-control" placeholder="Enter Social Security Number" ng-model="stripeAccountSetting.SocialSecurityNumber">
                    </div>


                    <div class="form-group">
                        <label for="Address" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">Address</label>
                        <div class="container lighter" style="width:100%;">
                            <textarea required ng-model="stripeAccountSetting.Address" style="height:80px;width:100%;" name="Address" 
                                      ng-class="{inputError:frmStripeAccountSetting.Address.$dirty && frmStripeAccountSetting.Address.$invalid}"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="AddressCity" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">City</label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="AddressCity" ng-model="stripeAccountSetting.AddressCity"  
                                           ng-class="{inputError:frmStripeAccountSetting.AddressCity.$dirty && frmStripeAccountSetting.AddressCity.$invalid}" required />
                                </div>                                                                                                  
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="AddressState" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;">State</label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="AddressState" ng-model="stripeAccountSetting.AddressState"
                                           ng-class="{inputError:frmStripeAccountSetting.AddressState.$dirty && frmStripeAccountSetting.AddressState.$invalid}" required />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="AddressPostalCode" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;"> Postal Code</label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="AddressPostalCode" ng-model="stripeAccountSetting.AddressPostalCode"
                                           ng-class="{inputError:frmStripeAccountSetting.AddressPostalCode.$dirty && frmStripeAccountSetting.AddressPostalCode.$invalid}" required />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="Country" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;"> Country </label>
                            <div class="row">
                                <div class="col-md-12" style="padding-bottom: 15px;">
                                    <input type="text" class="form-control" name="Country" ng-model="stripeAccountSetting.Country"
                                           ng-class="{inputError:frmStripeAccountSetting.Country.$dirty && frmStripeAccountSetting.Country.$invalid}" required />
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="AddressPostalCode" style="display:block;font-size:larger;font-weight:bold;margin-bottom:10px;"> Date Of Birth</label>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="input-group" style="margin:0 0 30px">
                                        <input id="todStartDate" type="text" init-date="init" class="form-control" uib-datepicker-popup="{{format}}" ng-click="open2()"
                                               ng-model="stripeAccountSetting.DOB" is-open="popup2.opened" min-date="minDate" max-date="''" datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close" alt-input-formats="altInputFormats" name="DOB"  placeholder="Enter Date Of Birth"
                                               ng-class="{inputError:frmStripeAccountSetting.DOB.$dirty && frmStripeAccountSetting.DOB.$invalid}" />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                     

                     
                    <div class="clear"></div>
                    <div class="form-group">
                        <a  style="cursor:pointer;" ng-click="UpdateStripeAccount(frmStripeAccountSetting,frmStripeAccountSetting.$invalid)" class="edit-btn">Save</a>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</div>


