﻿
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divPaymentDetail">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Payment Detail </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="user-designation">

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search Card" ng-model="inputSearchPaymentDetail" class="project-search form-control" />
                    </div>

                    <!--ng-if="Permission.CanAddNewPaymentDetail == true"-->

                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
                        <a class="edit-btn pull-right" style="width:auto;cursor:pointer;" ng-click="showPaymentDetailAddUpdateModal()">Add New Payment Detail</a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>

                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="list-group">



                            <div ng-repeat="card in paymentDetail | filter: inputSearchPaymentDetail" class="list-group-item">
                                <div class="pull-left">
                                    <h4 ng-bind-html="card.CardName |searchfilter:inputSearchPaymentDetail" class="list-group-item-heading"> </h4>

                                    <p ng-bind-html="card.CardDescription " class="list-group-item-text"> </p>

                                </div>

                                <div class="pull-right">
                                    <p class="label label-warning process-label" style="margin-right:10px" ng-model="card.CreditCardNumber">Credit Card Number: {{card.CreditCardNumber}} </p>

                                    <a class="edit-btn" ng-click="editPaymentDetail(card)" style="cursor:pointer;">Edit</a>
                                    <a class="edit-btn" ng-click="deletePaymentDetail(card.Id,$index)" style="cursor:pointer;">Delete</a>
                                    
                                    <!--<a class="edit-btn" ng-if="Permission.CanUpdatePaymentDetail == true" ng-click="editPaymentDetail(card)" style="cursor:pointer;">Edit</a>
                                    <a class="edit-btn" ng-if="Permission.CanAddNewPaymentDetail == true" ng-click="deletePaymentDetail(card.Id,$index)" style="cursor:pointer;">Delete</a>-->
                                </div>


                                <div class="clearfix"></div>
                            </div>



                            <div ng-if="!paymentDetail.length" class="list-group-item">
                                No Record Found.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>

</div>


<div ng-include="'views/payment/paymentDetailAddUpdateModal.html'"></div>