﻿
<div style="position:relative;margin-top:55px;" ng-cloak class="col-lg-10 col-md-10 col-sm-10 col-xs-10" ng-class="{'col-lg-10 mid-part': stretchCentreWindow==true,'col-lg-6 mid-part': stretchCentreWindow==false}">

    <div id="divPaymentHistory">

        <div class="heading-name">
            <h3 class="pull-left"><span><i class="fa fa-th-list"></i> Payment History </span></h3>
            <div class="clearfix"></div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">               
                <div class="user-designation">
                    <div class="col-lg-3" ng-if="isFreelancer">
                        <div class="sorting-span pull-left">Company</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedCompanymodel" ng-change="selectedCompanyChanged(selectedCompanymodel)">
                                <option value="0"> --Select All-- </option>
                                <option ng-repeat="item in CompaniesForFreelancer" ng-selected="selectedCompanymodel == item.CompanyId" value="{{item.CompanyId}}">{{item.CompanyName}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-3" ng-show="!isFreelancer">
                        <div class="sorting-span pull-left">Type</div>
                        <div class="sorting-selection">
                            <select ng-model="Type" ng-change="selectedTypeChanged(Type);">
                                <option value="All" ng-selected="Type==All"> All </option>
                                <option value="Subscription"> Subscription </option>
                                <option value="Invoice"> Invoice </option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="col-lg-3" ng-show="Type == 'Invoice'">
                        <div class="sorting-span pull-left">Team</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedTeam" ng-change="selectedTeamChanged(selectedTeam)">
                                <option value="0" ng-selected="selectedTeam==0" > "--Select All--" </option>
                                <option ng-repeat="item in TeamsObjectForFreelancer" ng-selected="selectedTeam==item.TeamId" value="{{item.TeamId}}">{{item.TeamName}}</option>
                            </select>
                        </div>
                    </div>
                   
                    <div class="col-lg-3" ng-show="Type == 'Invoice'">
                        <div class="sorting-span pull-left">Project</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedProject" ng-change="selectedProjectChanged(selectedProject)">
                                <option value="0"> "--Select All--" </option>
                                <option ng-repeat="item in ProjectsObject" ng-selected="selectedProject==item.ProjectId" value="{{item.ProjectId}}">{{item.ProjectName}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3" ng-show="Type == 'Invoice'">
                        <div class="sorting-span pull-left">Freelancer</div>
                        <div class="sorting-selection">
                            <select ng-model="selectedFreelancer" ng-change="selectedFreelancerChanged(selectedFreelancer)">
                                <option value="0"> "--Select All--" </option>
                                <option ng-repeat="item in FreelancersObject" ng-selected="selectedFreelancer==item.UserId" value="{{item.UserId}}">{{item.FreelancerName}}</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <input placeholder="Search " ng-model="inputSearchPaymentHistory" class="project-search form-control" />
                    </div>
                     
                    <div class="clearfix"></div>
                </div>

                <div class="info-box-space">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:0;">
                        <div class="list-group">
                            
                            <div ng-repeat="payment in paymentHistory" class="list-group-item">
                                <div class="pull-left" style="margin-left:20px;">
                                    <h4  class="list-group-item-heading">  <a href="" ng-bind-html="payment.TransactionType |searchfilter:inputSearchPaymentHistory"></a>  </h4>
                                    <p class="list-group-item-text">Paid Amount : $ {{payment.AmountPaid}} <span ng-if="payment.AmountPaid == 0 || payment.AmountPaid == null"> 0</span></p>
                                </div>
                                <div class="pull-left" style="margin-left:30px;">
                                    <h4 class="list-group-item-heading"> Paid By : <span ng-bind-html="payment.TransactionBy |searchfilter:inputSearchPaymentHistory"></span>  </h4>
                                    <p  class="list-group-item-text">Paid To : <a ng-if="payment.TransactionType != 'Subscription'" href=""  ng-bind-html="payment.TransactionMadeFor |searchfilter:inputSearchPaymentHistory" > </a>  <a href="" ng-if="payment.TransactionType == 'Subscription'">Tighten</a> </p>
                                </div>
                                <div class="pull-right">
                                    <p class="label label-warning process-label" style="margin-right:10px" >Transaction Date: {{payment.TransactionDate | date}} </p>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div ng-if="!paymentHistory.length" class="list-group-item">
                                No Record Found.
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
