﻿
<div class="modal fade" id="modalPaymentDetailAddUpdate" tabindex="-1" role="dialog" aria-labelledby="modalProjectLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form name="paymentDetailAddUpdateForm" novalidate>
            <div class="modal-content">
                <div class="modal-header" style='background: rgba(0, 0, 0, 0) url("../../assets/img/top-bar-bg.png") repeat scroll 0 0;'>
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" style="color:white;" id="modalProjectLabel">Payment Detail </h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txtEmail">Card Name</label>
                        <input name="CardName" class="form-control" ng-class="{inputError:paymentDetailAddUpdateForm.CardName.$dirty && paymentDetailAddUpdateForm.CardName.$invalid}" placeholder="Enter Card Name" ng-model="paymentDetailAddUpdateModel.CardName" required  tabindex="1" >
                    </div>
                    <div class="form-group">
                        <label for="txtFirstName">Card Description</label>
                        <textarea name="CardDescription"  placeholder="Enter Card description" class="form-control" ng-model="paymentDetailAddUpdateModel.CardDescription" tabindex="2" ></textarea>
                    </div>
                    
                    <div class="form-group">
                        <label for="txtEmail">Credit Card Number</label>
                        <input name="CreditCardNumber" ng-keypress="isNumber($event)" class="form-control" ng-class="{inputError:paymentDetailAddUpdateForm.CreditCardNumber.$dirty && paymentDetailAddUpdateForm.CreditCardNumber.$invalid}" placeholder="Enter Credit Card Number" ng-model="paymentDetailAddUpdateModel.CreditCardNumber" required tabindex="3">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Expiry Month</label>

                        <select class="form-control" style="margin-right:2%" name="ExpiryMonth" ng-model="paymentDetailAddUpdateModel.ExpiryMonth" tabindex="4"
                                data-stripe="exp_month" ng-class="{inputError:paymentDetailAddUpdateForm.ExpiryMonth.$dirty && paymentDetailAddUpdateForm.ExpiryMonth.$invalid}"
                                required>
                            <option value="">Expiry Month</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Expiry Year</label>
                        
                        <select class="form-control" style="border-radius: 4px;" name="ExpiryYear" ng-model="paymentDetailAddUpdateModel.ExpiryYear"
                                data-stripe="exp_year" required tabindex="5"
                                ng-class="{inputError:paymentDetailAddUpdateForm.ExpiryYear.$dirty && paymentDetailAddUpdateForm.ExpiryYear.$invalid}">
                            <option value="">Expiry Year</option>
                            <option ng-repeat="year in getYearsList(50)" value="{{year}}">{{year}}</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Cvv Number</label>
                        <input name="CvvNumber" ng-keypress="isNumber($event)" class="form-control" ng-class="{inputError:paymentDetailAddUpdateForm.CvvNumber.$dirty && paymentDetailAddUpdateForm.CvvNumber.$invalid}" placeholder="Enter Cvv Number" ng-model="paymentDetailAddUpdateModel.CvvNumber" required tabindex="6">
                    </div>

                    <div class="form-group">
                        <label for="txtEmail">Default</label>
                        <input name="IsDefault" style="visibility:visible;margin-left:10px;cursor:pointer;" type="checkbox" ng-model="paymentDetailAddUpdateModel.IsDefault" tabindex="7">
                    </div>

                </div>
                <div class="modal-footer">
                    <a ng-hide="paymentDetailButton" style="cursor:pointer;" ng-click="addNewPaymentDetail(paymentDetailAddUpdateForm.CardName.$invalid,paymentDetailAddUpdateForm.CreditCardNumber.$invalid,paymentDetailAddUpdateForm.ExpiryMonth.$invalid,paymentDetailAddUpdateForm.ExpiryYear.$invalid,paymentDetailAddUpdateForm.CvvNumber.$invalid,paymentDetailAddUpdateForm)" class="edit-btn" tabindex="8" >Add Payment Detail</a>
                    <a ng-show="paymentDetailButton" style="cursor:pointer;" ng-click="updatePaymentDetail(paymentDetailAddUpdateForm.CardName.$invalid,paymentDetailAddUpdateForm.CreditCardNumber.$invalid,paymentDetailAddUpdateForm.ExpiryMonth.$invalid,paymentDetailAddUpdateForm.ExpiryYear.$invalid,paymentDetailAddUpdateForm.CvvNumber.$invalid,paymentDetailAddUpdateForm)" class="edit-btn" tabindex="9" >Update Payment Detail</a>
                    <a href="" data-dismiss="modal" class="edit-btn" tabindex="10">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>
